
{% if 'lueinailabs' in request.get_host %}
    <script>console.warn('--server--')</script>
    <!--luein-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAKP7JVttPaRR2uDrTHecL_vSzQWXug1w&callback=sample"></script>
{% else %}
    <script>console.warn('--local--')</script>
    <!--developer mode-->
    <script src="https://maps.googleapis.com/maps/api/js?callback=sample"></script>
{% endif %}

    {% comment %}
    <!--stackoverflow-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=sample"></script>-->

    <!--w3school-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=sample"></script>-->
    {% endcomment %}
