<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Add Location
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form method="post" action="{% url 'app_root:geolocation_create' %}" class="js_geolocation_create_form" id="geolocation_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10 w100">
            {% include 'app_smart_attendance/module/geolocation/html/partial_geolocation_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="geolocation_crud_form">Create</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>
<script>{% include 'app_smart_attendance/module/geolocation/js/geolocation_list_submit.js' %}</script>
<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>


