<style>{% include 'app_smart_attendance/module/geolocation/css/partial_geolocation_form.css' %}</style>


{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx flxc partitioned_form">
    <div class="partitioned_form_field">
        {{ form.name.label_tag }}
        {{ form.name }}
        {% if form.name.errors %}
        <span class="errorspan">{{ form.name.errors }}</span>
        {% endif %}
    </div>
    <div class="partitioned_form_field">
        {{ form.coordinates_str.label_tag }}
        {{ form.coordinates_str }}
        {% if form.coordinates_str.errors %}
        <span class="errorspan">{{ form.coordinates_str.errors }}</span>
        {% endif %}
    </div>

    <div class="address_container">
        <div class="">Address</div>
        <div class="address_html"></div>
    </div>

    <div class="flx j-c-s-b">
        <div class="flx pt5 pb5">
            {{ form.radius.label_tag }}
        </div>
        <div class="flx">
            <div class="radius_info_fafa_div">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path  fill-rule="evenodd" clip-rule="evenodd" d="M8.00004 14.6663C11.6819 14.6663 14.6667 11.6816 14.6667 7.99967C14.6667 4.31778 11.6819 1.33301 8.00004 1.33301C4.31814 1.33301 1.33337 4.31778 1.33337 7.99967C1.33337 11.6816 4.31814 14.6663 8.00004 14.6663Z" stroke="#424B63" stroke-linecap="round" stroke-linejoin="round"/>
                  <path  d="M9.51511 11.4032H8.60602C8.27131 11.4032 7.99996 11.1318 7.99996 10.7971V6.85772C7.99996 6.69036 7.86429 6.55469 7.69693 6.55469H6.78784" stroke="#424B63" stroke-linecap="round" stroke-linejoin="round"/>
                  <path  d="M7.84561 4.2959C7.76193 4.2959 7.69409 4.36373 7.69409 4.44741C7.69409 4.53109 7.76193 4.59893 7.84561 4.59893C7.92929 4.59893 7.99712 4.53109 7.99712 4.44741C7.99712 4.36373 7.92929 4.2959 7.84561 4.2959" stroke="#424B63" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="partitioned_form_field dn">
        {{ form.radius }}
    </div>

    <div class="partitioned_form_field">
        {% if form.radius.errors %}
        <span class="errorspan">{{ form.radius.errors }}</span>
        {% endif %}
    </div>

    <div class="flx j-c-s-b mt5">
        <div class="radius_input_outer_div"></div>
        <div class="flx">
            {{ form.radius_unit }}
            {% if form.radius_unit.errors %}
            <span class="errorspan">{{ form.radius_unit.errors }}</span>
            {% endif %}
        </div>
    </div>



</div>


<script>{% include 'app_smart_attendance/module/geolocation/js/partial_geolocation_form.js' %}</script>

