{% load static %}
{% load notifications_tags %}

<style>{% include 'snippets/top_nav_bar/top_nav.css' %}</style>
<script type="text/javascript" src="{% static '/notifications/notify.js' %}"></script>


<div class="p10 bdr flx dn" id="top_nav_bar">
    <div class="top_nav_home_div mla mr5">
        <a class="top_nav_a" href="{% url 'app_smart_attendance:student_register' %}">Home</a>
    </div>

    {% if request.user.is_authenticated %}
    <div class="top_nav_dashboard_div ml5 mr5">
        <a class="top_nav_a" href="">Dashboard</a>
    </div>

    <div class="top_nav_profile_div ml5 mr5">
        <a class="top_nav_a" href="">Profile</a>
    </div>

    <div class="top_nav_logout_div ml5 mr5">
        <a class="top_nav_a" href="{% url 'logout' %}">Logout</a>
    </div>

    {% else %}
     <div class="top_nav_register_div ml5 mr5">
        <a class="top_nav_a" href="#">Register</a>
    </div>

<!--    <div class="top_nav_login_div ml5 mr5">-->
<!--        <a class="top_nav_a" href="#">Login</a>-->
<!--    </div>-->


    {% endif %}
</div>

{% load static %}
<!--Desktop nav-->
<div class="luein-top-nav-bar-container">

    <div class="menu_swap"></div>
    <div class="avtar_swap"></div>
    <header class="ltnb-header" id="ltnb-header">
        <div class="ltnb-hamburger-fafa-div ltnb-div">
            <a class="ltnb-a cp">
                    <span class="ltnb-span1">
                    <span class="ltnb-span2">
                    <svg height="24" style=" fill:#000000;" viewBox="0 0 172 172" width="24" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                        <g fill="none" fill-rule="nonzero" font-family="none" font-size="none" font-weight="none" stroke="none" stroke-dasharray="" stroke-dashoffset="0" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-width="1" style="mix-blend-mode: normal"
                           text-anchor="none">
                            <path d="M0,172v-172h172v172z" fill="none"> </path><g fill="#bababa">
                            <path d="M21.5,35.83333c-2.58456,-0.03655 -4.98858,1.32136 -6.29153,3.55376c-1.30295,2.2324 -1.30295,4.99342 0,7.22582c1.30295,2.2324 3.70697,3.59031 6.29153,3.55376h129c2.58456,0.03655 4.98858,-1.32136 6.29153,-3.55376c1.30295,-2.2324 1.30295,-4.99342 0,-7.22582c-1.30295,-2.2324 -3.70697,-3.59031 -6.29153,-3.55376zM21.5,78.83333c-2.58456,-0.03655 -4.98858,1.32136 -6.29153,3.55376c-1.30295,2.2324 -1.30295,4.99342 0,7.22582c1.30295,2.2324 3.70697,3.59031 6.29153,3.55376h129c2.58456,0.03655 4.98858,-1.32136 6.29153,-3.55376c1.30295,-2.2324 1.30295,-4.99342 0,-7.22582c-1.30295,-2.2324 -3.70697,-3.59031 -6.29153,-3.55376zM21.5,121.83333c-2.58456,-0.03655 -4.98858,1.32136 -6.29153,3.55376c-1.30295,2.2324 -1.30295,4.99342 0,7.22582c1.30295,2.2324 3.70697,3.59031 6.29153,3.55376h129c2.58456,0.03655 4.98858,-1.32136 6.29153,-3.55376c1.30295,-2.2324 1.30295,-4.99342 0,-7.22582c-1.30295,-2.2324 -3.70697,-3.59031 -6.29153,-3.55376z"></path></g></g> </svg>
                    </span>
                </span>
            </a>
        </div>
        <nav class="ltnb-nav">
            <a class="ltnb-a ltnb-logo-a dn" href="/">
                <img class="ltnb-logo-img" src="{% static 'website/favicon/lueinanalytics_favicon.jpg' %}">
            </a>
            {% if request.user.profile.school_id.school_logo %}
            {% with school_id=request.user.profile.school_id.school_id %}
            <a class="ltnb-a ltnb-logo-a  " href="{% url 'app_root:school_detail' school_id %}">
                <img class="ltnb-logo-img" src="{{request.user.profile.school_id.school_logo.url}}">
            </a>
            {% endwith %}
            {% else %}

            {% endif %}

            <div class="ltnb-primary-actions-div dnone" id="ltnb-primary-actions-div">

                <div class="ltnb-primary-actions-div-inner">

                    <div class="ltnb-home-div ltnb-div"><a class="ltnb-a" href="/"><span class="ltnb-span1"><span class="ltnb-span2">Home</span></span></a></div>

                    <div class="ltnb-more-div ltnb-div">
                        <div class="dnone">
                            <button class="ltnb-btn"><span class="ltnb-span1"><span class="ltnb-span2">More</span></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="ltnb-secondary-actions-div">
            {% if user.is_authenticated %}
            <div class="ltnb-notification-div ltnb-div">
                <div class="flx j-c-c">
                    <a class="t-d-n ltnb-a" href="{% url 'notifications:all' %}">
                        <div class="flx a-i-c cp" title="Notifications">
                            <div class="ppcontainer a-i-c j-c-c bell_fafa_nav"></div>
                            <div class="notification-counter-div dn">
                                <span class="notification_badge">{% live_notification_badge %}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <!--S E R C-->
            <div class="ltnb-logout-div ltnb-div">
                <div class="flx j-c-c">
                    <a class="t-d-n ltnb-a">
                        <div class="flx a-i-c cp" title="{{ request.user.username }} ({{ request.user.first_name }} {{ request.user.last_name }} - {{ request.user.profile.role }})">
                            <div class="ppcontainer a-i-c j-c-c">
                                {% if request.user.profile.profile_picture %}
                                <img class="bdr" src="{{request.user.profile.profile_picture.url}}">
                                {% else %}
                                <div class="ppint" id="ltnb-int"></div>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="google_translate_element_btn cp ">
                <svg width="28px" height="28px" id="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0, 0, 400,400"><g id="svgg"><path id="path0" d="M153.600 26.400 C 153.270 26.613,152.563 26.791,152.028 26.794 C 151.494 26.797,150.504 26.975,149.828 27.190 C 148.592 27.582,144.599 28.601,142.000 29.187 C 135.251 30.710,116.688 37.124,107.600 41.075 C 98.060 45.221,82.967 52.995,78.530 56.048 C 77.609 56.682,76.746 57.200,76.611 57.200 C 76.476 57.200,76.149 57.384,75.883 57.608 C 75.429 57.992,71.038 60.924,69.607 61.800 C 68.850 62.263,59.898 68.881,59.600 69.198 C 59.490 69.315,58.410 70.217,57.200 71.201 C 52.885 74.712,43.738 83.524,39.970 87.800 C 35.979 92.328,26.800 104.602,26.800 105.410 C 26.800 105.557,26.461 106.154,26.047 106.738 C 20.453 114.624,12.894 133.776,10.393 146.400 C 10.197 147.390,9.849 149.100,9.620 150.200 C 4.616 174.226,4.593 201.874,9.560 224.400 C 9.778 225.390,10.065 226.740,10.197 227.400 C 10.330 228.060,10.609 229.275,10.819 230.100 C 12.920 238.372,14.204 242.507,16.999 250.000 C 19.773 257.440,19.866 257.654,23.494 265.000 C 28.518 275.173,34.146 284.037,40.615 291.962 C 44.117 296.253,50.066 301.455,52.526 302.378 C 53.299 302.668,73.570 302.800,117.199 302.800 L 180.746 302.800 181.573 303.962 C 182.028 304.601,182.400 305.501,182.400 305.962 C 182.400 306.423,182.541 306.800,182.713 306.800 C 182.885 306.800,183.271 307.655,183.571 308.700 C 183.871 309.745,184.241 310.780,184.393 311.000 C 184.545 311.220,185.076 312.480,185.574 313.800 C 186.071 315.120,186.624 316.560,186.803 317.000 C 188.494 321.168,190.000 325.315,190.000 325.803 C 190.000 326.131,190.147 326.400,190.328 326.400 C 190.508 326.400,190.900 327.300,191.200 328.400 C 191.500 329.500,191.892 330.400,192.072 330.400 C 192.253 330.400,192.400 330.839,192.400 331.376 C 192.400 331.913,192.580 332.464,192.800 332.600 C 193.020 332.736,193.200 333.197,193.200 333.624 C 193.200 334.051,193.380 334.400,193.600 334.400 C 193.820 334.400,194.000 334.850,194.000 335.400 C 194.000 335.950,194.180 336.400,194.400 336.400 C 194.620 336.400,194.800 336.749,194.800 337.176 C 194.800 337.603,194.980 338.064,195.200 338.200 C 195.420 338.336,195.600 338.887,195.600 339.424 C 195.600 339.961,195.780 340.400,196.000 340.400 C 196.220 340.400,196.400 340.749,196.400 341.176 C 196.400 341.603,196.580 342.064,196.800 342.200 C 197.020 342.336,197.200 342.799,197.200 343.229 C 197.200 343.659,197.359 344.323,197.553 344.705 C 197.884 345.355,198.221 346.153,199.200 348.600 C 199.420 349.150,199.780 350.050,200.000 350.600 C 200.220 351.150,200.580 352.050,200.800 352.600 C 201.020 353.150,201.356 354.005,201.546 354.500 C 201.737 354.995,202.121 355.940,202.400 356.600 C 203.158 358.393,203.419 359.054,205.011 363.200 C 205.814 365.290,206.635 367.405,206.835 367.900 C 207.036 368.395,207.401 369.295,207.647 369.900 C 207.892 370.505,208.252 371.313,208.447 371.695 C 208.641 372.077,208.800 372.741,208.800 373.171 C 208.800 373.601,208.980 374.064,209.200 374.200 C 209.420 374.336,209.600 374.887,209.600 375.424 C 209.600 375.961,209.780 376.400,210.000 376.400 C 210.220 376.400,210.400 376.741,210.400 377.157 C 210.400 378.181,211.009 378.336,213.600 377.968 C 217.371 377.432,218.721 377.059,220.895 375.953 C 221.277 375.759,221.952 375.600,222.395 375.600 C 222.838 375.600,223.200 375.420,223.200 375.200 C 223.200 374.980,223.453 374.800,223.762 374.800 C 224.299 374.800,226.661 373.739,228.800 372.538 C 229.350 372.229,230.475 371.669,231.300 371.294 C 232.125 370.918,232.800 370.474,232.800 370.306 C 232.800 370.138,232.992 370.000,233.227 370.000 C 233.462 370.000,235.847 368.519,238.527 366.708 C 243.686 363.224,243.773 363.160,245.566 361.600 C 246.198 361.050,247.499 359.978,248.458 359.218 C 257.814 351.794,266.800 338.759,266.800 332.609 C 266.800 332.080,266.955 331.551,267.144 331.434 C 269.191 330.170,268.174 313.027,265.622 305.766 C 265.170 304.480,264.800 303.104,264.800 302.708 C 264.800 302.313,264.641 301.677,264.447 301.295 C 263.809 300.042,262.843 297.642,261.993 295.200 C 261.725 294.430,261.272 293.260,260.987 292.600 C 260.701 291.940,260.013 290.230,259.457 288.800 C 253.852 274.377,247.526 258.182,247.113 257.200 C 246.882 256.650,246.561 255.840,246.400 255.400 C 246.239 254.960,245.879 254.060,245.600 253.400 C 245.025 252.039,245.170 252.410,242.400 245.200 C 241.259 242.230,240.172 239.440,239.984 239.000 C 239.253 237.287,237.975 234.037,236.603 230.400 C 235.814 228.310,235.013 226.240,234.823 225.800 C 234.633 225.360,234.080 223.920,233.593 222.600 C 233.106 221.280,232.369 219.437,231.954 218.504 C 231.539 217.572,231.200 216.573,231.200 216.284 C 231.200 215.996,231.048 215.589,230.862 215.380 C 230.677 215.171,230.116 213.920,229.616 212.600 C 229.117 211.280,228.369 209.437,227.954 208.504 C 227.539 207.572,227.200 206.679,227.200 206.520 C 227.200 206.360,225.468 201.813,223.350 196.415 C 221.233 191.017,217.888 182.460,215.918 177.400 C 213.947 172.340,212.146 167.750,211.914 167.200 C 211.682 166.650,211.337 165.795,211.146 165.300 C 210.729 164.216,210.133 162.723,209.629 161.500 C 209.425 161.005,207.516 156.100,205.387 150.600 C 203.257 145.100,201.174 139.837,200.757 138.904 C 200.341 137.972,200.000 137.024,200.000 136.799 C 200.000 136.574,199.833 136.077,199.630 135.695 C 199.426 135.313,197.966 131.670,196.386 127.600 C 194.805 123.530,193.172 119.437,192.756 118.504 C 192.340 117.572,192.000 116.680,192.000 116.524 C 192.000 116.306,187.283 104.095,183.223 93.800 C 182.594 92.206,181.899 90.585,181.553 89.905 C 181.359 89.523,181.200 89.026,181.200 88.801 C 181.200 88.576,180.860 87.628,180.445 86.696 C 180.030 85.763,179.113 83.470,178.407 81.600 C 177.701 79.730,176.937 77.750,176.708 77.200 C 176.480 76.650,176.155 75.840,175.987 75.400 C 175.819 74.960,175.393 73.943,175.041 73.140 C 174.688 72.336,174.399 71.526,174.398 71.340 C 174.396 71.153,174.149 70.528,173.848 69.952 C 173.547 69.375,172.543 66.945,171.617 64.552 C 168.556 56.640,166.360 51.013,165.977 50.100 C 165.629 49.269,165.449 48.823,164.440 46.300 C 164.243 45.805,163.864 44.770,163.600 44.000 C 163.336 43.230,162.957 42.195,162.760 41.700 C 162.562 41.205,162.244 40.395,162.054 39.900 C 161.476 38.399,160.727 36.640,160.353 35.905 C 160.159 35.523,160.000 35.020,160.000 34.786 C 160.000 34.552,159.640 33.616,159.200 32.706 C 158.760 31.795,158.400 30.895,158.400 30.706 C 158.400 30.516,158.040 29.616,157.600 28.706 C 157.160 27.795,156.800 26.814,156.800 26.525 C 156.800 25.905,154.505 25.815,153.600 26.400 M122.306 109.300 C 122.549 109.795,122.976 110.920,123.255 111.800 C 123.535 112.680,123.907 113.571,124.082 113.780 C 124.257 113.989,124.400 114.563,124.400 115.056 C 124.400 115.549,124.580 116.064,124.800 116.200 C 125.020 116.336,125.200 116.799,125.200 117.229 C 125.200 117.984,125.344 118.374,126.338 120.295 C 126.592 120.787,126.800 121.464,126.800 121.800 C 126.800 122.136,126.975 122.723,127.190 123.105 C 127.404 123.487,128.499 126.500,129.624 129.800 C 130.748 133.100,132.921 139.400,134.453 143.800 C 135.985 148.200,137.506 152.610,137.832 153.600 C 138.158 154.590,138.600 155.713,138.813 156.095 C 139.026 156.477,139.200 157.141,139.200 157.571 C 139.200 158.001,139.380 158.464,139.600 158.600 C 139.820 158.736,140.000 159.199,140.000 159.629 C 140.000 160.059,140.159 160.723,140.353 161.105 C 140.877 162.134,141.429 163.601,141.971 165.400 C 142.236 166.280,142.609 167.360,142.800 167.800 C 142.991 168.240,143.531 169.770,144.000 171.200 C 144.469 172.630,145.006 174.160,145.194 174.600 C 145.382 175.040,145.803 176.210,146.129 177.200 C 146.455 178.190,148.099 182.960,149.782 187.800 C 151.465 192.640,153.290 197.950,153.838 199.600 C 154.385 201.250,154.982 202.960,155.163 203.400 C 156.005 205.443,156.323 206.314,156.771 207.800 C 157.036 208.680,157.411 209.760,157.605 210.200 C 158.069 211.254,160.400 218.221,160.400 218.554 C 160.400 218.696,155.234 218.765,148.919 218.706 L 137.439 218.600 135.075 211.200 C 133.775 207.130,131.957 201.550,131.036 198.800 L 129.361 193.800 112.149 193.696 L 94.938 193.592 94.028 196.496 C 93.527 198.093,92.956 199.713,92.759 200.095 C 92.562 200.477,92.400 201.064,92.400 201.400 C 92.400 201.736,92.239 202.323,92.041 202.705 C 91.844 203.087,91.099 205.290,90.386 207.600 C 88.657 213.197,87.634 216.366,87.124 217.700 L 86.703 218.800 75.351 218.800 C 69.108 218.800,64.000 218.686,64.000 218.547 C 64.000 218.197,66.360 211.181,66.808 210.200 C 67.009 209.760,67.705 207.780,68.354 205.800 C 70.841 198.216,74.043 188.971,74.413 188.305 C 74.626 187.923,74.800 187.259,74.800 186.829 C 74.800 186.399,74.980 185.936,75.200 185.800 C 75.420 185.664,75.600 185.201,75.600 184.771 C 75.600 184.341,75.780 183.632,76.000 183.195 C 76.220 182.758,76.580 182.042,76.800 181.605 C 77.020 181.168,77.200 180.536,77.200 180.200 C 77.200 179.864,77.374 179.277,77.586 178.895 C 77.798 178.513,78.528 176.490,79.208 174.400 C 79.887 172.310,80.606 170.240,80.806 169.800 C 81.006 169.360,81.794 167.110,82.558 164.800 C 83.321 162.490,85.143 157.180,86.607 153.000 C 88.070 148.820,89.357 145.040,89.467 144.600 C 89.577 144.160,89.856 143.350,90.087 142.800 C 90.913 140.834,91.154 140.178,91.629 138.600 C 91.894 137.720,92.254 136.640,92.429 136.200 C 92.604 135.760,93.128 134.230,93.593 132.800 C 94.057 131.370,94.609 129.887,94.819 129.505 C 95.029 129.123,95.200 128.459,95.200 128.029 C 95.200 127.599,95.380 127.136,95.600 127.000 C 95.820 126.864,96.000 126.324,96.000 125.800 C 96.000 125.276,96.159 124.749,96.352 124.630 C 96.546 124.510,96.795 124.004,96.906 123.506 C 97.288 121.792,101.689 109.399,102.094 108.900 C 102.945 107.847,121.776 108.220,122.306 109.300 M111.259 140.400 C 110.741 142.050,110.156 143.713,109.959 144.095 C 109.762 144.477,109.600 145.141,109.600 145.571 C 109.600 146.001,109.420 146.464,109.200 146.600 C 108.980 146.736,108.800 147.278,108.800 147.805 C 108.800 148.331,108.598 149.266,108.350 149.881 C 107.502 151.991,107.290 152.603,106.788 154.400 C 106.073 156.955,104.750 161.256,104.388 162.200 C 104.219 162.640,103.693 164.350,103.219 166.000 C 102.744 167.650,102.022 169.990,101.613 171.200 C 101.205 172.410,100.750 173.985,100.603 174.700 L 100.336 176.000 112.168 176.000 C 119.400 176.000,124.000 175.852,124.000 175.619 C 124.000 175.409,123.831 174.824,123.625 174.319 C 123.418 173.813,122.531 171.060,121.653 168.200 C 118.096 156.613,116.288 150.825,115.173 147.461 C 114.528 145.515,114.000 143.590,114.000 143.185 C 114.000 142.779,113.820 142.336,113.600 142.200 C 113.380 142.064,113.200 141.549,113.200 141.056 C 113.200 140.563,113.035 139.989,112.834 139.780 C 112.632 139.571,112.407 138.950,112.334 138.400 C 112.237 137.677,111.939 138.232,111.259 140.400 " stroke="none" fill="#3a6bd4" fill-rule="evenodd"></path><path id="path1" d="M0.000 200.000 L 0.000 400.000 200.000 400.000 L 400.000 400.000 400.000 200.000 L 400.000 0.000 200.000 0.000 L 0.000 0.000 0.000 200.000 M157.462 26.700 C 157.819 27.525,158.242 28.560,158.402 29.000 C 158.562 29.440,158.897 30.295,159.146 30.900 C 159.724 32.300,160.305 33.754,160.746 34.900 C 161.188 36.046,161.769 37.500,162.346 38.900 C 162.596 39.505,162.956 40.405,163.146 40.900 C 163.337 41.395,163.683 42.250,163.916 42.800 C 164.148 43.350,165.266 46.230,166.401 49.200 C 168.385 54.396,170.844 60.711,171.698 62.800 C 171.923 63.350,172.263 64.205,172.454 64.700 C 173.076 66.318,173.687 67.789,173.990 68.400 C 174.251 68.928,181.526 69.024,234.644 69.200 L 295.000 69.400 297.600 71.172 C 301.895 74.098,310.797 80.794,312.000 82.003 C 312.330 82.335,313.625 83.384,314.877 84.334 C 316.129 85.284,317.209 86.186,317.277 86.338 C 317.345 86.490,317.935 87.028,318.588 87.534 C 324.016 91.735,340.240 107.867,346.412 115.200 C 347.615 116.630,348.692 117.890,348.805 118.000 C 348.919 118.110,349.816 119.190,350.800 120.400 C 351.784 121.610,352.688 122.690,352.808 122.800 C 353.181 123.140,359.770 132.063,361.521 134.600 C 362.432 135.920,363.723 137.771,364.389 138.714 C 365.055 139.657,365.600 140.525,365.600 140.642 C 365.600 140.760,366.146 141.649,366.813 142.619 C 369.612 146.687,378.800 163.498,378.800 164.551 C 378.800 164.668,379.360 165.987,380.043 167.482 C 380.727 168.977,381.423 170.560,381.590 171.000 C 381.757 171.440,382.097 172.295,382.346 172.900 C 384.242 177.497,385.959 182.312,386.841 185.500 C 387.038 186.215,387.364 187.385,387.565 188.100 C 391.605 202.475,392.990 212.818,392.963 228.400 C 392.913 256.493,386.494 276.746,371.031 297.600 C 370.134 298.810,369.220 299.996,369.000 300.237 C 368.780 300.477,368.150 301.274,367.600 302.008 C 351.383 323.649,313.621 348.104,275.800 361.457 C 274.260 362.000,272.640 362.609,272.200 362.809 C 271.224 363.252,258.273 367.573,256.600 368.014 C 255.940 368.187,253.870 368.786,252.000 369.345 C 246.385 371.021,236.408 373.612,230.200 375.007 C 228.440 375.402,225.650 376.076,224.000 376.505 C 222.350 376.934,220.550 377.369,220.000 377.472 C 219.450 377.576,218.640 377.813,218.200 378.000 C 215.231 379.261,210.000 379.538,210.000 378.434 C 210.000 377.975,209.820 377.600,209.600 377.600 C 209.380 377.600,209.200 377.251,209.200 376.824 C 209.200 376.397,209.020 375.936,208.800 375.800 C 208.580 375.664,208.400 375.113,208.400 374.576 C 208.400 374.039,208.220 373.600,208.000 373.600 C 207.780 373.600,207.600 373.251,207.600 372.824 C 207.600 372.397,207.420 371.936,207.200 371.800 C 206.980 371.664,206.800 371.291,206.800 370.972 C 206.800 370.440,205.652 367.579,204.767 365.905 C 204.565 365.523,204.400 365.026,204.400 364.801 C 204.400 364.576,204.022 363.538,203.560 362.496 C 202.243 359.523,201.444 357.489,198.022 348.400 C 197.649 347.410,197.041 345.903,196.672 345.051 C 196.302 344.199,196.000 343.342,196.000 343.146 C 196.000 342.950,195.841 342.477,195.647 342.095 C 195.254 341.323,194.269 338.937,193.254 336.300 C 192.812 335.154,192.231 333.700,191.654 332.300 C 191.404 331.695,190.999 330.705,190.753 330.100 C 190.508 329.495,190.148 328.687,189.953 328.305 C 189.759 327.923,189.600 327.372,189.600 327.081 C 189.600 326.789,189.240 325.805,188.800 324.894 C 188.360 323.984,188.000 323.078,188.000 322.881 C 188.000 322.684,187.750 322.000,187.444 321.361 C 186.480 319.349,185.757 317.591,182.941 310.400 L 180.200 303.400 115.949 303.200 L 51.697 303.000 49.508 301.492 C 45.540 298.760,38.136 290.510,33.400 283.544 C 30.878 279.834,27.200 273.688,27.200 273.183 C 27.200 272.972,27.065 272.799,26.900 272.797 C 26.735 272.795,26.401 272.390,26.157 271.897 C 25.913 271.404,24.633 268.840,23.313 266.200 C 19.408 258.392,15.614 248.984,13.231 241.200 C 12.726 239.550,12.152 237.787,11.956 237.281 C 11.760 236.776,11.600 235.931,11.600 235.405 C 11.600 234.878,11.440 234.348,11.244 234.227 C 10.908 234.020,10.672 233.007,10.142 229.497 C 10.018 228.671,9.755 227.895,9.558 227.774 C 9.361 227.652,9.200 226.879,9.200 226.056 C 9.200 225.233,9.037 224.389,8.839 224.180 C 8.640 223.971,8.379 222.990,8.258 222.000 C 8.137 221.010,7.841 219.120,7.601 217.800 C 5.971 208.848,5.416 201.249,5.408 187.800 C 5.400 172.882,6.146 164.128,8.374 153.000 C 8.594 151.900,8.952 150.100,9.169 149.000 C 9.946 145.059,10.801 141.398,11.551 138.800 C 11.773 138.030,12.123 136.770,12.329 136.000 C 12.795 134.257,14.713 128.477,15.182 127.400 C 15.374 126.960,16.106 125.160,16.809 123.400 C 17.513 121.640,19.442 117.590,21.098 114.400 C 22.753 111.210,24.309 108.196,24.554 107.703 C 24.799 107.210,25.135 106.805,25.300 106.803 C 25.465 106.801,25.600 106.613,25.600 106.385 C 25.600 105.485,34.131 93.494,37.399 89.800 C 37.983 89.140,39.238 87.700,40.189 86.600 C 45.210 80.790,55.488 71.387,63.257 65.497 C 66.324 63.172,77.138 56.000,77.577 56.000 C 77.809 56.000,78.000 55.853,78.000 55.674 C 78.000 55.495,78.675 54.981,79.500 54.532 C 84.013 52.075,85.841 51.055,86.200 50.794 C 86.756 50.391,101.817 42.862,103.900 41.947 C 104.835 41.536,106.455 40.817,107.500 40.349 C 110.157 39.160,110.915 38.857,116.200 36.878 C 117.960 36.218,120.210 35.368,121.200 34.989 C 123.240 34.207,131.780 31.424,134.200 30.753 C 135.080 30.509,136.160 30.170,136.600 30.000 C 137.448 29.673,139.166 29.215,145.700 27.573 C 146.635 27.338,147.953 26.978,148.628 26.773 C 149.304 26.568,150.303 26.400,150.848 26.400 C 151.394 26.400,152.011 26.232,152.220 26.027 C 152.429 25.821,153.320 25.582,154.200 25.494 C 155.080 25.406,156.028 25.304,156.306 25.267 C 156.585 25.230,157.105 25.875,157.462 26.700 M102.093 110.300 C 101.713 111.709,99.868 117.234,99.189 119.000 C 99.019 119.440,98.664 120.430,98.400 121.200 C 98.136 121.970,97.767 122.960,97.581 123.400 C 97.395 123.840,96.684 125.910,96.000 128.000 C 95.316 130.090,94.599 132.160,94.405 132.600 C 94.211 133.040,93.672 134.570,93.207 136.000 C 92.743 137.430,92.191 138.913,91.981 139.295 C 91.771 139.677,91.600 140.264,91.600 140.600 C 91.600 140.936,91.426 141.523,91.214 141.905 C 91.002 142.287,90.272 144.310,89.592 146.400 C 88.913 148.490,88.193 150.560,87.992 151.000 C 87.791 151.440,87.094 153.420,86.443 155.400 C 84.417 161.558,80.783 172.161,80.409 173.000 C 80.213 173.440,79.836 174.520,79.571 175.400 C 79.029 177.199,78.477 178.666,77.953 179.695 C 77.759 180.077,77.600 180.716,77.600 181.115 C 77.600 181.514,77.452 182.011,77.272 182.220 C 77.092 182.429,76.519 183.950,76.000 185.600 C 75.481 187.250,74.908 188.771,74.728 188.980 C 74.548 189.189,74.400 189.686,74.400 190.085 C 74.400 190.484,74.241 191.123,74.047 191.505 C 73.467 192.645,72.923 194.082,72.271 196.200 C 71.933 197.300,70.114 202.700,68.230 208.200 C 66.345 213.700,64.803 218.245,64.802 218.300 C 64.801 218.355,69.630 218.400,75.532 218.400 L 86.265 218.400 87.192 215.500 C 87.702 213.905,88.473 211.430,88.906 210.000 C 89.338 208.570,89.851 207.087,90.046 206.705 C 90.241 206.323,90.400 205.736,90.400 205.400 C 90.400 205.064,90.562 204.477,90.759 204.095 C 90.956 203.713,91.529 202.050,92.031 200.400 C 92.533 198.750,93.092 197.229,93.272 197.020 C 93.452 196.811,93.600 196.220,93.600 195.706 C 93.600 195.192,93.891 194.328,94.246 193.786 L 94.892 192.800 112.160 192.800 L 129.428 192.800 130.114 193.962 C 130.491 194.601,130.800 195.413,130.800 195.767 C 130.800 196.121,130.958 196.723,131.151 197.105 C 131.344 197.487,131.716 198.520,131.977 199.400 C 132.239 200.280,132.596 201.360,132.771 201.800 C 132.946 202.240,133.280 203.230,133.512 204.000 C 133.745 204.770,134.871 208.325,136.014 211.900 L 138.092 218.400 149.146 218.368 C 155.226 218.351,159.975 218.246,159.700 218.135 C 159.425 218.024,159.200 217.509,159.200 216.990 C 159.200 216.472,159.020 215.936,158.800 215.800 C 158.580 215.664,158.400 215.149,158.400 214.656 C 158.400 214.163,158.252 213.589,158.072 213.380 C 157.892 213.171,157.319 211.650,156.800 210.000 C 156.281 208.350,155.708 206.829,155.528 206.620 C 155.348 206.411,155.200 205.862,155.200 205.400 C 155.200 204.938,155.057 204.389,154.882 204.180 C 154.707 203.971,154.335 203.080,154.055 202.200 C 153.776 201.320,153.386 200.240,153.189 199.800 C 152.781 198.887,149.065 188.012,148.132 185.000 C 147.475 182.876,146.930 181.439,146.353 180.305 C 146.159 179.923,146.000 179.284,146.000 178.885 C 146.000 178.486,145.852 177.989,145.672 177.780 C 145.492 177.571,144.919 176.050,144.400 174.400 C 143.881 172.750,143.308 171.229,143.128 171.020 C 142.948 170.811,142.800 170.237,142.800 169.744 C 142.800 169.251,142.656 168.758,142.479 168.649 C 142.303 168.540,141.907 167.528,141.600 166.400 C 141.293 165.272,140.897 164.260,140.721 164.151 C 140.544 164.042,140.400 163.601,140.400 163.171 C 140.400 162.741,140.226 162.077,140.014 161.695 C 139.802 161.313,139.072 159.290,138.392 157.200 C 137.713 155.110,136.999 153.040,136.805 152.600 C 136.320 151.498,134.210 145.452,132.547 140.400 C 131.786 138.090,130.992 135.887,130.782 135.505 C 130.572 135.123,130.400 134.478,130.400 134.072 C 130.400 133.666,130.282 133.216,130.138 133.072 C 129.781 132.714,127.567 126.463,127.313 125.095 C 127.200 124.487,126.949 123.892,126.754 123.771 C 126.559 123.651,126.400 123.201,126.400 122.771 C 126.400 122.341,126.220 121.632,126.000 121.195 C 125.780 120.758,125.420 120.042,125.200 119.605 C 124.980 119.168,124.800 118.459,124.800 118.029 C 124.800 117.599,124.656 117.158,124.479 117.049 C 124.303 116.940,123.907 115.928,123.600 114.800 C 123.293 113.672,122.897 112.660,122.721 112.551 C 122.544 112.442,122.400 112.039,122.400 111.656 C 122.400 111.273,122.175 110.475,121.900 109.883 L 121.400 108.806 111.949 108.803 L 102.497 108.800 102.093 110.300 M113.975 141.200 C 114.692 143.510,115.607 146.390,116.007 147.600 C 116.407 148.810,117.221 151.420,117.815 153.400 C 118.410 155.380,119.414 158.599,120.048 160.553 C 120.682 162.507,121.200 164.412,121.200 164.786 C 121.200 165.161,121.323 165.590,121.474 165.741 C 121.913 166.180,122.787 168.919,122.794 169.876 C 122.797 170.358,122.980 170.864,123.200 171.000 C 123.420 171.136,123.600 171.651,123.600 172.144 C 123.600 172.637,123.765 173.211,123.967 173.420 C 124.170 173.629,124.395 174.430,124.467 175.200 L 124.600 176.600 112.404 176.706 C 98.456 176.827,99.103 176.908,99.681 175.123 C 100.768 171.766,101.195 170.394,102.019 167.600 C 102.506 165.950,103.392 163.070,103.989 161.200 C 105.297 157.099,106.376 153.614,107.581 149.600 C 108.077 147.950,108.644 146.287,108.841 145.905 C 109.038 145.523,109.200 144.859,109.200 144.429 C 109.200 143.999,109.380 143.536,109.600 143.400 C 109.820 143.264,110.000 142.722,110.000 142.195 C 110.000 141.273,110.234 140.563,111.495 137.658 C 112.245 135.930,112.415 136.172,113.975 141.200 " stroke="none" fill="#fbfbfb" fill-rule="evenodd"></path><path id="path2" d="M152.200 26.000 C 151.908 26.473,152.299 26.473,153.400 26.000 C 154.171 25.669,154.169 25.655,153.324 25.628 C 152.842 25.613,152.336 25.780,152.200 26.000 M81.200 53.636 C 80.536 54.179,80.469 54.315,81.000 54.040 C 82.305 53.366,83.028 52.812,82.600 52.815 C 82.380 52.817,81.750 53.186,81.200 53.636 M64.703 64.500 C 64.185 64.995,64.040 65.200,64.380 64.956 C 64.721 64.712,65.360 64.312,65.800 64.068 C 66.240 63.824,66.385 63.619,66.122 63.612 C 65.860 63.605,65.221 64.005,64.703 64.500 M60.993 67.232 C 58.479 69.290,57.260 70.558,59.400 68.889 C 61.926 66.918,63.418 65.630,63.193 65.614 C 63.079 65.606,62.089 66.334,60.993 67.232 M174.395 69.896 C 174.838 70.812,175.200 71.752,175.200 71.986 C 175.200 72.220,175.359 72.723,175.553 73.105 C 175.903 73.792,176.473 75.151,177.146 76.900 C 177.337 77.395,177.697 78.295,177.946 78.900 C 178.196 79.505,178.580 80.450,178.800 81.000 C 179.020 81.550,179.363 82.405,179.562 82.900 C 179.761 83.395,180.501 85.330,181.207 87.200 C 181.912 89.070,182.718 91.140,182.998 91.800 C 183.277 92.460,184.443 95.430,185.588 98.400 C 186.733 101.370,187.859 104.250,188.089 104.800 C 188.651 106.145,189.025 107.130,189.607 108.800 C 189.875 109.570,190.433 110.963,190.847 111.896 C 191.261 112.828,191.600 113.776,191.600 114.001 C 191.600 114.226,191.759 114.723,191.953 115.105 C 192.148 115.487,192.508 116.295,192.753 116.900 C 192.999 117.505,193.404 118.495,193.654 119.100 C 193.903 119.705,194.284 120.650,194.500 121.200 C 194.716 121.750,195.052 122.513,195.247 122.895 C 195.441 123.277,195.600 123.774,195.600 123.999 C 195.600 124.224,195.978 125.262,196.440 126.304 C 197.908 129.619,203.204 143.246,203.202 143.704 C 203.201 143.872,203.578 144.862,204.040 145.904 C 205.023 148.124,205.594 149.490,206.000 150.600 C 206.437 151.794,207.247 153.708,207.647 154.495 C 207.841 154.877,208.000 155.374,208.000 155.599 C 208.000 155.824,208.339 156.772,208.753 157.704 C 209.167 158.637,209.725 160.030,209.993 160.800 C 210.261 161.570,210.667 162.650,210.894 163.200 C 211.121 163.750,211.463 164.605,211.654 165.100 C 211.844 165.595,212.180 166.450,212.400 167.000 C 212.620 167.550,212.956 168.405,213.146 168.900 C 213.337 169.395,213.683 170.250,213.915 170.800 C 214.460 172.093,217.452 179.781,219.595 185.400 C 220.519 187.820,221.618 190.563,222.037 191.496 C 222.457 192.428,222.800 193.376,222.800 193.601 C 222.800 193.826,222.980 194.368,223.200 194.805 C 224.084 196.562,224.288 197.076,224.820 198.900 C 225.125 199.945,225.515 200.800,225.687 200.800 C 225.859 200.800,226.000 201.072,226.000 201.405 C 226.000 201.738,226.159 202.323,226.353 202.705 C 226.896 203.772,227.372 204.961,229.592 210.800 C 231.698 216.338,231.985 217.073,232.717 218.800 C 232.949 219.350,233.892 221.780,234.810 224.200 C 235.729 226.620,236.711 229.140,236.993 229.800 C 237.275 230.460,237.725 231.630,237.993 232.400 C 238.261 233.170,238.667 234.250,238.894 234.800 C 239.424 236.083,240.015 237.561,240.454 238.700 C 240.644 239.195,240.956 240.005,241.146 240.500 C 241.337 240.995,241.673 241.850,241.893 242.400 C 242.113 242.950,242.473 243.850,242.693 244.400 C 242.913 244.950,243.273 245.850,243.493 246.400 C 243.713 246.950,244.079 247.850,244.306 248.400 C 244.533 248.950,244.939 250.030,245.207 250.800 C 245.475 251.570,245.938 252.757,246.236 253.438 C 246.711 254.521,249.758 262.378,253.667 272.600 C 254.340 274.360,255.230 276.563,255.645 277.496 C 256.060 278.428,256.400 279.427,256.400 279.716 C 256.400 280.004,256.552 280.411,256.738 280.620 C 256.923 280.829,257.481 282.080,257.977 283.400 C 259.170 286.576,259.410 287.198,259.946 288.500 C 260.196 289.105,260.580 290.050,260.800 290.600 C 261.020 291.150,261.380 292.050,261.600 292.600 C 261.820 293.150,262.163 294.005,262.363 294.500 C 268.289 309.201,268.886 311.633,268.920 321.200 C 268.955 331.016,267.095 338.433,263.134 344.272 C 262.510 345.192,262.000 346.137,262.000 346.372 C 262.000 346.607,261.859 346.800,261.686 346.800 C 261.514 346.800,261.080 347.295,260.721 347.900 C 260.120 348.916,259.698 349.462,257.966 351.466 C 257.137 352.425,249.576 359.622,248.574 360.406 C 248.148 360.739,246.990 361.639,246.000 362.406 C 245.010 363.172,244.110 363.890,244.000 364.000 C 241.206 366.794,230.124 373.236,222.800 376.324 C 221.337 376.941,222.716 376.895,225.027 376.249 C 226.112 375.946,228.440 375.381,230.200 374.993 C 236.069 373.700,246.241 371.064,252.000 369.345 C 253.870 368.786,255.940 368.187,256.600 368.014 C 258.273 367.573,271.224 363.252,272.200 362.809 C 272.640 362.609,274.260 362.000,275.800 361.457 C 313.621 348.104,351.383 323.649,367.600 302.008 C 368.150 301.274,368.780 300.477,369.000 300.237 C 377.029 291.472,386.339 272.680,389.775 258.301 C 394.050 240.418,394.260 219.283,390.357 199.844 C 389.285 194.510,388.840 192.637,387.565 188.100 C 387.364 187.385,387.038 186.215,386.841 185.500 C 385.959 182.312,384.242 177.497,382.346 172.900 C 382.097 172.295,381.757 171.440,381.590 171.000 C 381.423 170.560,380.727 168.977,380.043 167.482 C 379.360 165.987,378.800 164.668,378.800 164.551 C 378.800 163.498,369.612 146.687,366.813 142.619 C 366.146 141.649,365.600 140.760,365.600 140.642 C 365.600 140.525,365.055 139.657,364.389 138.714 C 363.723 137.771,362.432 135.920,361.521 134.600 C 359.770 132.063,353.181 123.140,352.808 122.800 C 352.688 122.690,351.784 121.610,350.800 120.400 C 349.816 119.190,348.919 118.110,348.805 118.000 C 348.692 117.890,347.615 116.630,346.412 115.200 C 340.240 107.867,324.016 91.735,318.588 87.534 C 317.935 87.028,317.345 86.490,317.277 86.338 C 317.209 86.186,316.129 85.284,314.877 84.334 C 313.625 83.384,312.330 82.335,312.000 82.003 C 310.727 80.724,302.767 74.739,298.140 71.582 L 294.650 69.200 234.605 69.200 C 188.123 69.200,174.451 69.091,174.075 68.715 C 173.809 68.449,173.953 68.980,174.395 69.896 M49.775 76.900 L 48.600 78.200 49.900 77.025 C 50.615 76.379,51.200 75.794,51.200 75.725 C 51.200 75.416,50.870 75.688,49.775 76.900 M41.375 85.300 L 40.200 86.600 41.500 85.425 C 42.215 84.779,42.800 84.194,42.800 84.125 C 42.800 83.816,42.470 84.088,41.375 85.300 M268.800 146.557 C 275.311 147.952,279.700 150.089,284.715 154.308 C 286.719 155.994,290.000 160.262,290.000 161.183 C 290.000 161.419,290.159 161.923,290.353 162.305 C 292.860 167.232,293.068 174.026,290.885 179.600 C 289.409 183.369,284.072 188.184,278.300 190.955 C 275.633 192.235,275.548 192.420,277.300 193.136 C 278.015 193.428,279.050 193.856,279.600 194.087 C 280.150 194.318,281.050 194.684,281.600 194.900 C 282.150 195.116,282.913 195.452,283.295 195.647 C 283.677 195.841,284.341 196.000,284.771 196.000 C 285.201 196.000,285.651 196.159,285.771 196.354 C 285.892 196.549,286.487 196.804,287.095 196.921 C 287.703 197.038,288.920 197.328,289.800 197.565 C 301.157 200.622,311.957 198.618,315.141 192.862 C 316.960 189.573,317.171 187.539,317.186 173.100 L 317.200 159.600 310.700 159.594 C 303.073 159.587,304.158 160.086,299.838 154.600 C 297.932 152.180,296.151 149.930,295.880 149.600 C 294.946 148.460,293.600 146.476,293.600 146.238 C 293.600 146.107,308.634 146.000,327.010 146.000 L 360.419 146.000 360.310 152.700 L 360.200 159.400 346.301 159.505 L 332.403 159.610 332.301 211.705 L 332.200 263.800 330.181 263.918 C 328.230 264.032,328.118 263.979,326.795 262.318 C 326.043 261.373,324.761 259.880,323.946 259.000 C 323.132 258.120,322.052 256.860,321.547 256.200 C 321.041 255.540,320.527 254.910,320.405 254.800 C 320.283 254.690,319.512 253.803,318.691 252.828 L 317.200 251.056 317.200 230.728 C 317.200 219.548,317.107 210.400,316.993 210.400 C 316.879 210.400,315.484 210.748,313.893 211.173 C 312.302 211.598,308.119 212.172,304.597 212.448 L 298.195 212.952 298.197 218.176 C 298.200 223.748,297.995 224.718,295.874 229.168 C 294.594 231.854,289.360 237.600,288.194 237.600 C 287.867 237.600,287.600 237.749,287.600 237.932 C 287.600 238.419,283.136 240.352,280.154 241.156 C 278.195 241.684,268.214 241.751,266.560 241.247 C 265.922 241.052,264.590 240.657,263.600 240.369 C 258.040 238.748,246.000 229.277,246.000 226.524 C 246.000 226.236,245.859 226.000,245.686 226.000 C 245.378 226.000,244.898 225.295,242.709 221.628 C 241.284 219.241,239.718 215.978,238.375 212.600 C 237.042 209.245,235.207 201.551,235.203 199.300 L 235.200 197.600 237.520 197.600 C 239.983 197.600,240.800 198.473,240.800 201.105 C 240.800 201.571,240.980 202.064,241.200 202.200 C 241.420 202.336,241.600 202.966,241.600 203.600 C 241.600 204.234,241.780 204.864,242.000 205.000 C 242.220 205.136,242.402 205.552,242.403 205.924 C 242.410 207.182,246.346 214.375,248.517 217.096 C 252.781 222.441,256.819 225.511,262.400 227.653 C 264.151 228.325,273.454 228.398,274.839 227.751 C 275.368 227.504,276.700 226.877,277.800 226.358 C 287.178 221.934,289.780 209.074,282.725 202.019 C 277.969 197.264,269.566 195.093,262.187 196.715 C 256.950 197.866,257.769 198.229,253.139 192.712 C 250.872 190.011,248.692 187.445,248.296 187.011 C 247.090 185.691,247.577 185.040,250.005 184.727 C 257.104 183.813,259.126 183.449,263.400 182.311 C 267.726 181.159,274.893 178.404,275.600 177.620 C 275.710 177.498,276.305 177.138,276.922 176.820 C 281.981 174.211,285.371 167.131,283.811 162.434 C 281.972 156.896,274.446 153.206,267.400 154.387 C 260.173 155.598,256.943 156.726,248.125 161.120 L 243.251 163.549 241.960 161.538 C 241.250 160.432,240.470 159.318,240.226 159.063 C 239.346 158.145,235.197 151.790,235.198 151.364 C 235.199 151.124,235.965 150.687,236.900 150.392 C 237.835 150.097,238.780 149.734,239.000 149.586 C 239.445 149.285,239.794 149.183,245.151 147.781 C 247.214 147.242,249.374 146.797,249.951 146.794 C 250.528 146.791,251.270 146.613,251.600 146.400 C 252.545 145.790,265.782 145.910,268.800 146.557 M9.473 146.953 C 9.323 147.345,9.211 147.966,9.225 148.333 C 9.242 148.775,9.381 148.674,9.637 148.034 C 9.849 147.503,9.961 146.882,9.885 146.654 C 9.809 146.427,9.624 146.561,9.473 146.953 M8.649 151.015 C 8.512 151.373,8.415 151.966,8.434 152.333 C 8.453 152.700,8.627 152.469,8.821 151.820 C 9.198 150.558,9.065 149.933,8.649 151.015 M7.849 155.015 C 7.712 155.373,7.618 156.146,7.640 156.733 C 7.673 157.591,7.752 157.495,8.046 156.240 C 8.422 154.639,8.295 153.853,7.849 155.015 M7.069 159.956 C 6.921 160.695,6.820 161.683,6.844 162.150 C 6.868 162.618,7.047 162.190,7.242 161.200 C 7.437 160.210,7.538 159.223,7.467 159.006 C 7.396 158.790,7.217 159.217,7.069 159.956 M103.049 163.815 C 102.912 164.173,102.815 164.766,102.834 165.133 C 102.853 165.500,103.027 165.269,103.221 164.620 C 103.598 163.358,103.465 162.733,103.049 163.815 M6.253 166.036 C 6.114 166.731,6.024 168.043,6.053 168.950 C 6.091 170.169,6.190 169.870,6.428 167.809 C 6.770 164.858,6.677 163.916,6.253 166.036 M5.693 173.600 C 5.693 174.370,5.775 174.685,5.876 174.300 C 5.976 173.915,5.976 173.285,5.876 172.900 C 5.775 172.515,5.693 172.830,5.693 173.600 M5.350 179.400 C 5.351 181.820,5.416 182.758,5.496 181.485 C 5.576 180.212,5.575 178.232,5.494 177.085 C 5.414 175.938,5.349 176.980,5.350 179.400 M99.487 175.716 C 99.349 176.078,99.419 176.488,99.644 176.627 C 100.222 176.984,100.344 176.724,100.020 175.829 C 99.774 175.152,99.709 175.138,99.487 175.716 M5.350 196.200 C 5.351 198.620,5.416 199.558,5.496 198.285 C 5.576 197.012,5.575 195.032,5.494 193.885 C 5.414 192.738,5.349 193.780,5.350 196.200 M94.661 193.100 C 94.493 193.373,107.791 193.367,123.600 193.088 C 127.010 193.027,121.936 192.938,112.324 192.889 C 102.712 192.840,94.764 192.935,94.661 193.100 M151.029 193.600 C 151.176 194.150,151.464 194.870,151.667 195.200 C 151.925 195.617,151.957 195.495,151.771 194.800 C 151.624 194.250,151.336 193.530,151.133 193.200 C 150.875 192.783,150.843 192.905,151.029 193.600 M152.706 198.618 C 152.810 199.165,153.028 199.694,153.190 199.794 C 153.352 199.894,153.399 199.529,153.294 198.982 C 153.190 198.435,152.972 197.906,152.810 197.806 C 152.648 197.706,152.601 198.071,152.706 198.618 M6.120 206.800 C 6.120 208.010,6.195 208.505,6.287 207.900 C 6.378 207.295,6.378 206.305,6.287 205.700 C 6.195 205.095,6.120 205.590,6.120 206.800 M65.644 214.644 C 65.148 216.091,64.812 217.345,64.897 217.431 C 64.983 217.516,65.459 216.402,65.956 214.956 C 66.452 213.509,66.788 212.255,66.703 212.169 C 66.617 212.084,66.141 213.198,65.644 214.644 M6.806 213.833 C 6.809 214.475,6.984 215.270,7.195 215.600 C 7.455 216.009,7.499 215.690,7.332 214.600 C 7.029 212.623,6.798 212.286,6.806 213.833 M86.400 217.746 C 86.400 218.371,85.526 218.416,75.438 218.312 C 69.409 218.251,64.559 218.335,64.661 218.500 C 65.068 219.156,86.406 218.849,86.662 218.183 C 86.792 217.843,86.787 217.453,86.649 217.316 C 86.512 217.179,86.400 217.372,86.400 217.746 M7.606 218.433 C 7.609 218.965,7.789 219.670,8.006 220.000 C 8.282 220.422,8.323 220.185,8.142 219.200 C 7.825 217.475,7.598 217.149,7.606 218.433 M143.700 218.699 C 146.725 218.767,151.675 218.767,154.700 218.699 C 157.725 218.631,155.250 218.575,149.200 218.575 C 143.150 218.575,140.675 218.631,143.700 218.699 M30.977 279.900 C 31.306 280.505,31.954 281.450,32.418 282.000 C 33.312 283.060,33.161 282.723,31.654 280.300 C 30.573 278.562,30.097 278.281,30.977 279.900 M35.535 286.600 C 35.774 287.040,36.626 288.120,37.430 289.000 L 38.891 290.600 37.377 288.600 C 35.528 286.157,34.963 285.544,35.535 286.600 M39.634 291.847 C 40.165 292.533,40.680 293.023,40.779 292.935 C 40.877 292.847,40.443 292.286,39.813 291.688 L 38.669 290.600 39.634 291.847 M44.600 297.142 C 45.700 298.309,47.320 299.821,48.200 300.501 C 50.052 301.932,49.703 301.567,45.600 297.785 C 43.172 295.546,42.981 295.423,44.600 297.142 M50.000 301.779 C 50.000 301.889,50.540 302.259,51.200 302.600 C 51.860 302.941,52.400 303.131,52.400 303.021 C 52.400 302.911,51.860 302.541,51.200 302.200 C 50.540 301.859,50.000 301.669,50.000 301.779 M182.951 310.200 C 183.869 312.836,185.351 316.382,185.480 316.253 C 185.651 316.083,183.259 309.912,182.902 309.600 C 182.776 309.490,182.798 309.760,182.951 310.200 M185.612 317.025 C 185.605 317.259,185.960 318.195,186.400 319.106 C 186.840 320.016,187.200 320.939,187.200 321.157 C 187.200 321.375,187.382 321.665,187.605 321.803 C 187.827 321.940,187.635 321.103,187.177 319.942 C 186.220 317.513,185.630 316.413,185.612 317.025 M197.628 347.292 C 197.582 347.765,198.886 350.848,199.058 350.675 C 199.145 350.588,198.866 349.725,198.437 348.758 C 198.008 347.791,197.644 347.131,197.628 347.292 M200.258 353.998 C 200.400 354.547,200.850 355.717,201.259 356.598 C 201.667 357.479,201.885 357.751,201.742 357.202 C 201.600 356.653,201.150 355.483,200.741 354.602 C 200.333 353.721,200.115 353.449,200.258 353.998 M202.816 360.629 C 202.807 360.864,203.166 361.764,203.614 362.629 C 204.090 363.547,204.319 363.784,204.164 363.200 C 203.835 361.952,202.838 360.050,202.816 360.629 M205.216 366.629 C 205.207 366.864,205.566 367.764,206.014 368.629 C 206.490 369.547,206.719 369.784,206.564 369.200 C 206.235 367.952,205.238 366.050,205.216 366.629 M220.000 377.200 C 219.467 377.545,219.467 377.588,220.000 377.588 C 220.330 377.588,220.870 377.413,221.200 377.200 C 221.733 376.855,221.733 376.812,221.200 376.812 C 220.870 376.812,220.330 376.987,220.000 377.200 M213.400 378.800 L 212.200 379.105 213.400 379.147 C 214.060 379.169,214.870 379.013,215.200 378.800 C 215.943 378.320,215.287 378.320,213.400 378.800 " stroke="none" fill="#dcdcdc" fill-rule="evenodd"></path><path id="path3" d="M153.200 25.970 C 152.650 26.150,151.210 26.507,150.000 26.765 C 146.034 27.609,138.992 29.478,134.800 30.798 C 134.250 30.971,132.218 31.606,130.285 32.208 C 128.352 32.811,126.843 33.376,126.930 33.464 C 127.018 33.552,130.130 32.696,133.845 31.562 C 137.560 30.429,141.230 29.356,142.000 29.177 C 142.770 28.999,144.120 28.659,145.000 28.421 C 152.354 26.434,156.800 25.703,156.800 26.483 C 156.800 26.795,157.160 27.795,157.600 28.706 C 158.040 29.616,158.400 30.516,158.400 30.706 C 158.400 30.895,158.760 31.795,159.200 32.706 C 159.640 33.616,160.000 34.552,160.000 34.786 C 160.000 35.020,160.159 35.523,160.353 35.905 C 160.800 36.783,161.454 38.374,161.773 39.357 C 161.908 39.774,162.113 40.021,162.227 39.906 C 162.342 39.792,161.187 36.571,159.662 32.749 L 156.889 25.800 155.545 25.722 C 154.805 25.679,153.750 25.791,153.200 25.970 M124.600 33.999 C 124.160 34.188,122.941 34.652,121.891 35.029 C 120.841 35.407,120.058 35.792,120.152 35.885 C 120.334 36.068,126.400 33.994,126.400 33.748 C 126.400 33.501,125.448 33.633,124.600 33.999 M112.200 38.740 C 106.463 41.046,102.991 42.599,94.800 46.520 C 94.250 46.783,93.710 47.089,93.600 47.199 C 93.490 47.310,92.344 47.904,91.052 48.519 C 89.761 49.134,88.779 49.712,88.869 49.803 C 88.960 49.893,91.835 48.580,95.259 46.884 C 100.762 44.158,103.417 42.910,107.800 40.992 C 108.460 40.703,111.340 39.535,114.200 38.397 C 117.060 37.259,119.475 36.254,119.567 36.164 C 120.072 35.667,118.323 36.278,112.200 38.740 M163.200 42.715 C 163.200 42.961,163.402 43.666,163.650 44.281 C 163.897 44.897,164.281 45.850,164.503 46.400 C 164.725 46.950,165.063 47.805,165.254 48.300 C 165.444 48.795,165.770 49.605,165.977 50.100 C 166.360 51.013,168.556 56.640,171.617 64.552 C 172.543 66.945,173.547 69.375,173.848 69.952 C 174.149 70.528,174.396 71.153,174.398 71.340 C 174.399 71.526,174.688 72.336,175.041 73.140 C 176.202 75.787,176.410 76.309,178.407 81.600 C 179.113 83.470,180.030 85.763,180.445 86.696 C 180.860 87.628,181.200 88.576,181.200 88.801 C 181.200 89.026,181.359 89.523,181.553 89.905 C 181.748 90.287,182.108 91.095,182.353 91.700 C 182.599 92.305,182.966 93.205,183.169 93.700 C 184.717 97.474,192.000 116.298,192.000 116.524 C 192.000 116.680,192.340 117.572,192.756 118.504 C 193.172 119.437,194.805 123.530,196.386 127.600 C 197.966 131.670,199.426 135.313,199.630 135.695 C 199.833 136.077,200.000 136.574,200.000 136.799 C 200.000 137.024,200.341 137.972,200.757 138.904 C 201.174 139.837,203.257 145.100,205.387 150.600 C 209.181 160.400,209.480 161.167,210.293 163.200 C 210.513 163.750,210.873 164.650,211.093 165.200 C 211.313 165.750,211.682 166.650,211.914 167.200 C 212.146 167.750,213.947 172.340,215.918 177.400 C 217.888 182.460,221.233 191.017,223.350 196.415 C 225.468 201.813,227.200 206.360,227.200 206.520 C 227.200 206.679,227.539 207.572,227.954 208.504 C 228.369 209.437,229.117 211.280,229.616 212.600 C 230.116 213.920,230.677 215.171,230.862 215.380 C 231.048 215.589,231.200 215.996,231.200 216.284 C 231.200 216.573,231.539 217.572,231.954 218.504 C 232.369 219.437,233.106 221.280,233.593 222.600 C 234.080 223.920,234.633 225.360,234.823 225.800 C 235.013 226.240,235.814 228.310,236.603 230.400 C 237.975 234.037,239.253 237.287,239.984 239.000 C 240.172 239.440,241.259 242.230,242.400 245.200 C 244.469 250.585,244.796 251.419,245.654 253.500 C 246.148 254.700,246.731 256.149,247.220 257.400 C 248.270 260.080,257.626 284.089,259.457 288.800 C 260.013 290.230,260.701 291.940,260.987 292.600 C 261.272 293.260,261.725 294.430,261.993 295.200 C 262.261 295.970,262.667 297.050,262.894 297.600 C 263.121 298.150,263.440 298.960,263.603 299.400 C 264.154 300.891,265.728 304.006,265.862 303.872 C 265.971 303.763,264.569 300.011,262.361 294.500 C 262.162 294.005,261.820 293.150,261.600 292.600 C 261.380 292.050,261.020 291.150,260.800 290.600 C 260.580 290.050,260.196 289.105,259.946 288.500 C 259.410 287.198,259.170 286.576,257.977 283.400 C 257.481 282.080,256.923 280.829,256.738 280.620 C 256.552 280.411,256.400 280.004,256.400 279.716 C 256.400 279.427,256.060 278.428,255.645 277.496 C 255.230 276.563,254.340 274.360,253.667 272.600 C 249.758 262.378,246.711 254.521,246.236 253.438 C 245.938 252.757,245.475 251.570,245.207 250.800 C 244.939 250.030,244.557 248.995,244.360 248.500 C 244.162 248.005,243.820 247.150,243.600 246.600 C 243.380 246.050,243.020 245.150,242.800 244.600 C 242.580 244.050,242.220 243.150,242.000 242.600 C 241.780 242.050,241.396 241.105,241.146 240.500 C 240.897 239.895,240.537 238.995,240.346 238.500 C 240.156 238.005,239.844 237.195,239.654 236.700 C 239.463 236.205,239.121 235.350,238.894 234.800 C 238.667 234.250,238.261 233.170,237.993 232.400 C 237.725 231.630,237.275 230.460,236.993 229.800 C 236.711 229.140,235.729 226.620,234.810 224.200 C 233.892 221.780,232.949 219.350,232.717 218.800 C 231.985 217.073,231.698 216.338,229.592 210.800 C 227.372 204.961,226.896 203.772,226.353 202.705 C 226.159 202.323,226.000 201.738,226.000 201.405 C 226.000 201.072,225.859 200.800,225.687 200.800 C 225.515 200.800,225.125 199.945,224.820 198.900 C 224.288 197.076,224.084 196.562,223.200 194.805 C 222.980 194.368,222.800 193.826,222.800 193.601 C 222.800 193.376,222.457 192.428,222.037 191.496 C 221.618 190.563,220.519 187.820,219.595 185.400 C 217.787 180.659,214.567 172.364,213.968 170.900 C 213.766 170.405,213.396 169.505,213.146 168.900 C 212.897 168.295,212.561 167.440,212.400 167.000 C 212.081 166.128,211.540 164.764,210.894 163.200 C 210.667 162.650,210.261 161.570,209.993 160.800 C 209.725 160.030,209.167 158.637,208.753 157.704 C 208.339 156.772,208.000 155.824,208.000 155.599 C 208.000 155.374,207.841 154.877,207.647 154.495 C 207.452 154.113,207.116 153.350,206.900 152.800 C 205.679 149.694,205.094 148.285,204.040 145.904 C 203.578 144.862,203.201 143.872,203.202 143.704 C 203.204 143.246,197.908 129.619,196.440 126.304 C 195.978 125.262,195.600 124.224,195.600 123.999 C 195.600 123.774,195.441 123.277,195.247 122.895 C 194.873 122.160,194.124 120.401,193.546 118.900 C 192.873 117.151,192.303 115.792,191.953 115.105 C 191.759 114.723,191.600 114.226,191.600 114.001 C 191.600 113.776,191.261 112.828,190.847 111.896 C 190.433 110.963,189.875 109.570,189.607 108.800 C 189.145 107.475,188.892 106.813,188.035 104.700 C 187.835 104.205,186.733 101.370,185.588 98.400 C 184.443 95.430,183.277 92.460,182.998 91.800 C 182.718 91.140,181.912 89.070,181.207 87.200 C 180.501 85.330,179.737 83.350,179.508 82.800 C 179.280 82.250,178.937 81.395,178.746 80.900 C 178.556 80.405,178.220 79.550,178.000 79.000 C 177.780 78.450,177.420 77.550,177.200 77.000 C 176.221 74.553,175.884 73.755,175.553 73.105 C 175.359 72.723,175.200 72.233,175.200 72.015 C 175.200 71.798,174.690 70.491,174.067 69.110 C 173.444 67.730,171.626 63.270,170.027 59.200 C 162.788 40.770,163.200 41.765,163.200 42.715 M84.671 51.874 C 82.950 52.865,81.641 53.774,81.762 53.895 C 81.882 54.015,82.210 53.926,82.490 53.695 C 82.771 53.465,84.080 52.695,85.400 51.984 C 87.895 50.641,88.850 49.972,88.180 50.036 C 87.971 50.057,86.392 50.884,84.671 51.874 M77.579 56.122 C 74.235 58.222,66.973 63.048,66.200 63.684 C 65.980 63.865,64.598 64.907,63.129 65.998 C 61.660 67.090,60.320 68.212,60.152 68.492 C 59.919 68.879,59.984 68.896,60.423 68.563 C 62.259 67.173,69.124 62.137,69.643 61.800 C 72.708 59.810,75.485 57.944,75.883 57.608 C 76.149 57.384,76.467 57.200,76.589 57.200 C 76.876 57.200,81.200 54.333,81.200 54.143 C 81.200 53.869,80.938 54.012,77.579 56.122 M55.385 72.181 C 48.344 78.089,37.938 88.807,34.823 93.357 C 34.506 93.821,34.137 94.290,34.004 94.400 C 33.871 94.510,33.329 95.230,32.800 96.000 C 32.271 96.770,31.724 97.490,31.584 97.600 C 31.230 97.879,25.600 106.326,25.600 106.579 C 25.600 106.692,24.970 107.769,24.200 108.973 C 23.430 110.177,22.804 111.305,22.809 111.481 C 22.820 111.889,24.379 109.910,24.391 109.472 C 24.396 109.292,24.940 108.359,25.600 107.400 C 26.260 106.441,26.800 105.541,26.800 105.400 C 26.800 104.601,36.008 92.295,39.970 87.800 C 44.597 82.549,55.662 72.114,59.567 69.319 C 59.658 69.254,59.652 69.118,59.552 69.019 C 59.452 68.919,57.577 70.342,55.385 72.181 M102.116 108.900 C 101.471 109.744,100.678 112.011,100.937 112.270 C 101.071 112.405,101.292 112.174,101.428 111.757 C 101.564 111.341,101.859 110.508,102.083 109.907 L 102.491 108.814 112.346 108.700 L 122.200 108.585 112.349 108.493 C 104.849 108.422,102.407 108.519,102.116 108.900 M122.827 111.432 C 122.801 111.851,124.505 116.989,125.204 118.600 C 125.534 119.360,127.040 123.674,129.602 131.200 C 130.238 133.070,131.681 137.210,132.808 140.400 C 133.935 143.590,135.038 146.802,135.258 147.538 C 135.478 148.273,135.754 148.779,135.871 148.663 C 135.988 148.546,134.343 143.444,132.215 137.325 C 130.088 131.206,128.142 125.570,127.892 124.800 C 127.642 124.030,127.293 123.229,127.118 123.020 C 126.943 122.811,126.800 122.314,126.800 121.915 C 126.800 121.516,126.592 120.787,126.338 120.295 C 125.344 118.374,125.200 117.984,125.200 117.229 C 125.200 116.799,125.020 116.336,124.800 116.200 C 124.580 116.064,124.400 115.601,124.400 115.171 C 124.400 114.741,124.239 114.077,124.041 113.695 C 123.844 113.313,123.496 112.550,123.268 112.000 C 123.040 111.450,122.842 111.194,122.827 111.432 M20.629 115.629 C 19.633 117.677,18.896 119.430,18.990 119.524 C 19.085 119.618,19.976 118.020,20.971 115.971 C 21.967 113.923,22.704 112.170,22.610 112.076 C 22.515 111.982,21.624 113.580,20.629 115.629 M100.200 113.600 C 100.050 114.073,100.017 114.550,100.127 114.660 C 100.237 114.770,100.450 114.473,100.600 114.000 C 100.750 113.527,100.783 113.050,100.673 112.940 C 100.563 112.830,100.350 113.127,100.200 113.600 M98.248 119.487 C 97.446 121.859,96.612 124.113,96.395 124.495 C 96.178 124.877,96.000 125.541,96.000 125.971 C 96.000 126.401,95.820 126.864,95.600 127.000 C 95.380 127.136,95.200 127.599,95.200 128.029 C 95.200 128.459,95.029 129.123,94.819 129.505 C 94.609 129.887,94.057 131.370,93.593 132.800 C 93.128 134.230,92.604 135.760,92.429 136.200 C 92.254 136.640,91.894 137.720,91.629 138.600 C 91.154 140.178,90.913 140.834,90.087 142.800 C 89.856 143.350,89.577 144.160,89.467 144.600 C 89.357 145.040,88.064 148.820,86.592 153.000 C 85.121 157.180,83.833 160.960,83.731 161.400 C 83.298 163.262,84.367 160.830,85.577 157.200 C 86.273 155.110,87.006 153.040,87.206 152.600 C 87.406 152.160,88.199 149.910,88.969 147.600 C 89.738 145.290,91.468 140.250,92.812 136.400 C 94.157 132.550,95.588 128.410,95.994 127.200 C 96.400 125.990,97.481 122.869,98.397 120.264 C 99.312 117.659,99.982 115.448,99.884 115.351 C 99.786 115.253,99.050 117.114,98.248 119.487 M18.167 120.643 C 18.028 121.059,17.678 121.940,17.388 122.600 C 15.889 126.020,13.295 133.277,12.384 136.600 C 11.269 140.667,10.321 144.464,9.987 146.200 C 9.775 147.300,9.428 149.010,9.216 150.000 C 7.834 156.435,5.974 170.098,6.552 169.562 C 6.693 169.432,6.992 167.632,7.215 165.562 C 7.768 160.444,8.621 154.999,9.620 150.200 C 9.849 149.100,10.197 147.390,10.393 146.400 C 11.656 140.024,14.571 130.565,17.275 124.070 C 18.136 122.000,18.746 120.212,18.630 120.096 C 18.514 119.980,18.305 120.226,18.167 120.643 M111.439 138.168 C 111.088 139.009,110.800 139.832,110.800 139.996 C 110.800 140.160,110.287 141.893,109.660 143.847 C 106.779 152.829,106.311 154.444,106.529 154.662 C 106.656 154.790,106.874 154.378,107.012 153.747 C 107.149 153.116,107.406 152.240,107.581 151.800 C 107.757 151.360,108.103 150.497,108.350 149.881 C 108.598 149.266,108.800 148.331,108.800 147.805 C 108.800 147.278,108.980 146.736,109.200 146.600 C 109.420 146.464,109.600 146.001,109.600 145.571 C 109.600 145.141,109.762 144.477,109.959 144.095 C 110.156 143.713,110.741 142.050,111.259 140.400 C 111.939 138.232,112.237 137.677,112.334 138.400 C 112.407 138.950,112.645 139.580,112.862 139.800 C 113.122 140.063,113.160 139.790,112.974 139.000 C 112.432 136.697,112.124 136.529,111.439 138.168 M113.228 141.076 C 113.213 141.558,113.380 142.064,113.600 142.200 C 114.073 142.492,114.073 142.101,113.600 141.000 C 113.269 140.229,113.255 140.231,113.228 141.076 M114.026 143.200 C 114.012 143.530,114.815 146.320,115.809 149.400 C 116.804 152.480,117.806 155.693,118.035 156.540 C 118.265 157.388,118.557 157.976,118.685 157.848 C 118.902 157.631,117.864 154.126,115.176 146.000 C 114.557 144.130,114.039 142.870,114.026 143.200 M251.621 146.379 C 251.246 146.616,251.670 146.665,252.821 146.518 C 253.799 146.392,254.675 146.225,254.767 146.145 C 255.142 145.819,252.155 146.040,251.621 146.379 M264.833 146.149 C 264.925 146.231,265.900 146.401,267.000 146.528 C 268.349 146.684,268.674 146.649,268.000 146.420 C 267.001 146.080,264.518 145.868,264.833 146.149 M247.400 147.200 C 246.896 147.417,246.822 147.544,247.200 147.544 C 247.530 147.544,248.160 147.389,248.600 147.200 C 249.104 146.983,249.178 146.856,248.800 146.856 C 248.470 146.856,247.840 147.011,247.400 147.200 M244.200 148.000 C 243.696 148.217,243.622 148.344,244.000 148.344 C 244.330 148.344,244.960 148.189,245.400 148.000 C 245.904 147.783,245.978 147.656,245.600 147.656 C 245.270 147.656,244.640 147.811,244.200 148.000 M136.012 149.327 C 136.005 149.506,136.825 152.026,137.833 154.927 C 138.841 157.827,140.380 162.270,141.253 164.800 C 142.125 167.330,143.001 169.760,143.198 170.200 C 143.396 170.640,144.116 172.710,144.800 174.800 C 145.484 176.890,146.204 178.960,146.400 179.400 C 146.596 179.840,147.327 181.910,148.023 184.000 C 149.244 187.662,149.962 189.368,149.988 188.665 C 150.000 188.326,145.826 176.080,145.194 174.600 C 145.006 174.160,144.469 172.630,144.000 171.200 C 143.531 169.770,142.991 168.240,142.800 167.800 C 142.609 167.360,142.236 166.280,141.971 165.400 C 141.429 163.601,140.877 162.134,140.353 161.105 C 140.159 160.723,140.000 160.059,140.000 159.629 C 140.000 159.199,139.820 158.736,139.600 158.600 C 139.380 158.464,139.200 158.001,139.200 157.571 C 139.200 157.141,139.029 156.477,138.819 156.095 C 138.609 155.713,138.047 154.230,137.569 152.800 C 136.699 150.195,136.035 148.714,136.012 149.327 M237.200 154.800 C 238.096 156.120,238.920 157.200,239.030 157.200 C 239.140 157.200,238.496 156.120,237.600 154.800 C 236.704 153.480,235.880 152.400,235.770 152.400 C 235.660 152.400,236.304 153.480,237.200 154.800 M265.600 154.400 L 264.600 154.720 265.600 154.720 C 266.150 154.720,267.050 154.576,267.600 154.400 L 268.600 154.080 267.600 154.080 C 267.050 154.080,266.150 154.224,265.600 154.400 M272.400 154.400 C 272.950 154.576,273.760 154.720,274.200 154.720 C 274.833 154.720,274.792 154.654,274.000 154.400 C 273.450 154.224,272.640 154.080,272.200 154.080 C 271.567 154.080,271.608 154.146,272.400 154.400 M285.800 155.600 C 286.659 156.480,287.452 157.200,287.562 157.200 C 287.672 157.200,287.059 156.480,286.200 155.600 C 285.341 154.720,284.548 154.000,284.438 154.000 C 284.328 154.000,284.941 154.720,285.800 155.600 M262.000 155.200 C 261.176 155.464,261.141 155.526,261.800 155.554 C 262.240 155.573,262.870 155.413,263.200 155.200 C 263.901 154.747,263.414 154.747,262.000 155.200 M105.061 158.661 C 104.471 160.564,104.076 162.210,104.185 162.318 C 104.293 162.426,104.453 162.264,104.541 161.957 C 104.630 161.651,105.114 160.095,105.618 158.501 C 106.122 156.906,106.444 155.511,106.334 155.401 C 106.224 155.291,105.651 156.758,105.061 158.661 M302.390 157.780 C 303.662 159.545,303.914 159.600,310.671 159.600 L 317.189 159.600 317.303 172.300 L 317.417 185.000 317.409 172.200 L 317.400 159.400 310.566 159.200 C 303.880 159.004,303.710 158.978,302.766 157.980 C 302.235 157.420,302.066 157.330,302.390 157.780 M280.400 157.325 C 280.400 157.394,280.985 157.979,281.700 158.625 L 283.000 159.800 281.825 158.500 C 280.730 157.288,280.400 157.016,280.400 157.325 M118.800 158.729 C 118.800 158.910,119.056 159.855,119.369 160.829 C 119.683 161.803,120.684 165.030,121.594 168.000 C 122.504 170.970,123.418 173.813,123.625 174.319 C 123.831 174.824,124.000 175.409,124.000 175.619 C 124.000 175.852,119.405 176.000,112.182 176.000 L 100.364 176.000 100.605 174.500 C 100.799 173.295,100.758 173.140,100.397 173.710 C 100.151 174.101,100.005 174.911,100.074 175.510 L 100.200 176.600 112.110 176.706 C 125.885 176.829,125.023 177.132,123.597 172.666 C 123.094 171.089,122.192 168.270,121.593 166.400 C 120.993 164.530,120.193 161.965,119.814 160.700 C 119.190 158.614,118.800 157.857,118.800 158.729 M360.000 158.728 C 360.000 159.066,356.274 159.218,346.100 159.295 L 332.200 159.400 332.000 211.662 C 331.890 240.406,331.935 263.840,332.100 263.738 C 332.265 263.636,332.400 240.163,332.400 211.576 L 332.400 159.600 346.176 159.600 C 359.193 159.600,361.179 159.446,360.240 158.507 C 360.108 158.375,360.000 158.474,360.000 158.728 M82.629 164.429 C 82.258 165.561,82.037 166.570,82.137 166.670 C 82.237 166.770,82.625 165.929,83.000 164.800 C 83.375 163.671,83.596 162.663,83.492 162.559 C 83.388 162.454,82.999 163.296,82.629 164.429 M103.429 163.829 C 103.281 164.415,103.251 164.984,103.361 165.094 C 103.471 165.204,103.681 164.815,103.829 164.229 C 103.976 163.642,104.006 163.073,103.896 162.963 C 103.786 162.853,103.576 163.242,103.429 163.829 M102.203 167.878 C 101.826 169.155,101.332 170.701,101.105 171.313 C 100.878 171.925,100.795 172.528,100.921 172.654 C 101.046 172.780,101.626 171.319,102.209 169.409 C 102.791 167.498,103.183 165.849,103.078 165.745 C 102.974 165.641,102.580 166.600,102.203 167.878 M283.850 167.650 C 283.517 169.317,283.840 169.640,284.200 168.000 C 284.352 167.309,284.393 166.659,284.291 166.558 C 284.189 166.456,283.991 166.947,283.850 167.650 M291.800 171.600 C 291.800 174.224,291.922 176.062,292.072 175.685 C 292.221 175.308,292.344 173.470,292.344 171.600 C 292.344 169.730,292.221 167.892,292.072 167.515 C 291.922 167.138,291.800 168.976,291.800 171.600 M81.400 168.000 C 81.250 168.473,81.217 168.950,81.327 169.060 C 81.437 169.170,81.650 168.873,81.800 168.400 C 81.950 167.927,81.983 167.450,81.873 167.340 C 81.763 167.230,81.550 167.527,81.400 168.000 M80.572 170.243 C 80.436 170.659,80.138 171.501,79.909 172.113 C 79.680 172.725,79.581 173.314,79.688 173.422 C 79.796 173.530,80.200 172.793,80.585 171.785 C 80.970 170.776,81.180 169.847,81.052 169.718 C 80.924 169.590,80.708 169.826,80.572 170.243 M283.001 170.396 C 282.852 170.867,282.167 171.916,281.479 172.726 C 280.307 174.109,280.299 174.138,281.353 173.200 C 282.525 172.156,283.799 170.066,283.466 169.733 C 283.360 169.627,283.151 169.925,283.001 170.396 M5.840 174.827 C 5.660 177.372,5.591 179.802,5.687 180.227 C 5.920 181.264,6.520 172.926,6.322 171.400 C 6.236 170.740,6.019 172.282,5.840 174.827 M78.579 176.278 C 78.188 177.555,77.703 178.816,77.501 179.081 C 77.299 179.345,77.195 179.877,77.269 180.263 C 77.343 180.649,77.921 179.480,78.552 177.666 C 79.184 175.852,79.608 174.275,79.495 174.161 C 79.381 174.048,78.969 175.000,78.579 176.278 M76.580 181.843 C 76.449 182.259,76.175 182.913,75.971 183.295 C 75.767 183.677,75.600 184.341,75.600 184.771 C 75.600 185.201,75.420 185.664,75.200 185.800 C 74.980 185.936,74.800 186.399,74.800 186.829 C 74.800 187.259,74.629 187.923,74.419 188.305 C 74.209 188.687,73.651 190.170,73.178 191.600 C 72.706 193.030,71.509 196.507,70.519 199.326 C 69.529 202.146,68.811 204.544,68.923 204.656 C 69.035 204.769,69.245 204.442,69.389 203.930 C 69.533 203.419,69.807 202.640,69.999 202.200 C 70.191 201.760,70.731 200.230,71.200 198.800 C 71.669 197.370,72.206 195.840,72.393 195.400 C 72.580 194.960,72.824 194.240,72.936 193.800 C 73.047 193.360,74.047 190.400,75.158 187.222 C 76.269 184.044,77.097 181.363,76.998 181.265 C 76.900 181.166,76.711 181.426,76.580 181.843 M259.800 183.200 C 259.296 183.417,259.222 183.544,259.600 183.544 C 259.930 183.544,260.560 183.389,261.000 183.200 C 261.504 182.983,261.578 182.856,261.200 182.856 C 260.870 182.856,260.240 183.011,259.800 183.200 M5.350 187.800 C 5.351 190.220,5.416 191.158,5.496 189.885 C 5.576 188.612,5.575 186.632,5.494 185.485 C 5.414 184.338,5.349 185.380,5.350 187.800 M255.400 184.000 C 254.322 184.274,254.302 184.306,255.200 184.313 C 255.750 184.317,256.650 184.176,257.200 184.000 C 258.544 183.569,257.092 183.569,255.400 184.000 M249.400 184.800 L 247.800 185.086 249.200 185.096 C 249.970 185.101,251.140 184.968,251.800 184.800 C 253.428 184.386,251.713 184.386,249.400 184.800 M316.650 188.450 C 316.317 190.117,316.640 190.440,317.000 188.800 C 317.152 188.109,317.193 187.459,317.091 187.358 C 316.989 187.256,316.791 187.747,316.650 188.450 M250.949 190.116 C 252.020 191.372,252.982 192.400,253.086 192.400 C 253.354 192.400,250.023 188.461,249.464 188.117 C 249.209 187.961,249.877 188.860,250.949 190.116 M150.012 189.600 C 150.012 189.930,150.187 190.470,150.400 190.800 C 150.745 191.333,150.788 191.333,150.788 190.800 C 150.788 190.470,150.613 189.930,150.400 189.600 C 150.055 189.067,150.012 189.067,150.012 189.600 M150.800 191.859 C 150.800 192.001,151.179 193.216,151.643 194.559 C 152.107 195.902,152.561 197.251,152.653 197.557 C 152.744 197.864,152.917 198.017,153.037 197.897 C 153.156 197.777,152.769 196.311,152.175 194.639 C 151.208 191.915,150.800 191.090,150.800 191.859 M255.197 195.100 C 256.342 196.475,257.576 197.586,257.940 197.568 C 258.482 197.542,258.493 197.500,258.000 197.330 C 257.670 197.215,256.436 196.105,255.258 194.861 L 253.115 192.600 255.197 195.100 M94.241 194.496 C 93.766 195.621,92.779 198.629,91.796 201.950 C 91.603 202.599,91.655 202.814,91.957 202.626 C 92.201 202.476,92.400 202.001,92.400 201.571 C 92.400 201.141,92.562 200.477,92.759 200.095 C 92.956 199.713,93.527 198.093,94.028 196.496 L 94.938 193.592 112.150 193.696 L 129.363 193.800 130.157 196.172 C 130.595 197.476,131.010 198.369,131.081 198.157 C 131.152 197.945,130.875 196.788,130.467 195.586 L 129.724 193.400 112.257 193.296 L 94.791 193.192 94.241 194.496 M5.700 197.600 C 5.693 199.030,5.821 201.280,5.985 202.600 L 6.282 205.000 6.302 202.200 C 6.312 200.660,6.184 198.410,6.017 197.200 L 5.713 195.000 5.700 197.600 M264.300 196.282 C 264.795 196.378,265.605 196.378,266.100 196.282 C 266.595 196.187,266.190 196.109,265.200 196.109 C 264.210 196.109,263.805 196.187,264.300 196.282 M269.900 196.282 C 270.395 196.378,271.205 196.378,271.700 196.282 C 272.195 196.187,271.790 196.109,270.800 196.109 C 269.810 196.109,269.405 196.187,269.900 196.282 M259.300 197.076 C 259.685 197.176,260.315 197.176,260.700 197.076 C 261.085 196.975,260.770 196.893,260.000 196.893 C 259.230 196.893,258.915 196.975,259.300 197.076 M236.300 197.889 C 237.015 197.978,238.185 197.978,238.900 197.889 C 239.615 197.801,239.030 197.728,237.600 197.728 C 236.170 197.728,235.585 197.801,236.300 197.889 M276.433 197.729 C 277.093 198.239,280.400 199.994,280.400 199.834 C 280.400 199.576,277.036 197.600,276.598 197.600 C 276.416 197.600,276.342 197.658,276.433 197.729 M290.400 197.982 C 290.730 198.205,291.345 198.391,291.767 198.394 C 292.790 198.402,292.471 198.173,291.000 197.844 C 290.124 197.648,289.962 197.685,290.400 197.982 M153.212 198.800 C 153.212 199.130,153.387 199.670,153.600 200.000 C 153.945 200.533,153.988 200.533,153.988 200.000 C 153.988 199.670,153.813 199.130,153.600 198.800 C 153.255 198.267,153.212 198.267,153.212 198.800 M294.600 198.797 C 295.364 199.128,298.314 199.355,297.967 199.056 C 297.875 198.977,296.900 198.809,295.800 198.682 C 294.513 198.533,294.085 198.574,294.600 198.797 M302.800 198.800 C 301.450 199.084,301.443 199.095,302.600 199.100 C 303.260 199.103,304.340 198.968,305.000 198.800 C 306.660 198.378,304.807 198.378,302.800 198.800 M131.212 199.200 C 131.212 199.530,131.387 200.070,131.600 200.400 C 131.945 200.933,131.988 200.933,131.988 200.400 C 131.988 200.070,131.813 199.530,131.600 199.200 C 131.255 198.667,131.212 198.667,131.212 199.200 M235.287 200.600 C 235.291 201.040,235.432 201.940,235.600 202.600 C 235.874 203.678,235.906 203.698,235.913 202.800 C 235.917 202.250,235.776 201.350,235.600 200.800 C 235.349 200.016,235.281 199.973,235.287 200.600 M154.012 201.200 C 154.012 201.530,154.187 202.070,154.400 202.400 C 154.745 202.933,154.788 202.933,154.788 202.400 C 154.788 202.070,154.613 201.530,154.400 201.200 C 154.055 200.667,154.012 200.667,154.012 201.200 M132.012 201.600 C 132.012 201.930,132.187 202.470,132.400 202.800 C 132.745 203.333,132.788 203.333,132.788 202.800 C 132.788 202.470,132.613 201.930,132.400 201.600 C 132.055 201.067,132.012 201.067,132.012 201.600 M240.828 202.276 C 240.918 203.315,241.544 204.196,241.572 203.324 C 241.587 202.842,241.420 202.336,241.200 202.200 C 240.980 202.064,240.813 202.098,240.828 202.276 M90.243 206.643 C 89.631 208.524,89.212 210.146,89.313 210.246 C 89.414 210.347,89.997 208.890,90.609 207.009 C 91.221 205.127,91.639 203.506,91.539 203.406 C 91.439 203.306,90.856 204.763,90.243 206.643 M154.863 203.634 C 154.973 203.945,156.206 207.483,157.603 211.495 C 159.000 215.508,160.214 218.719,160.302 218.631 C 160.454 218.479,158.339 211.869,157.605 210.200 C 157.411 209.760,157.039 208.680,156.777 207.800 C 156.516 206.920,156.144 205.887,155.951 205.505 C 155.758 205.123,155.600 204.549,155.600 204.229 C 155.600 203.909,155.389 203.517,155.132 203.358 C 154.837 203.175,154.738 203.277,154.863 203.634 M132.800 203.838 C 132.800 204.569,134.109 208.424,134.295 208.239 C 134.521 208.012,133.255 203.600,132.963 203.600 C 132.873 203.600,132.800 203.707,132.800 203.838 M68.200 206.000 C 68.050 206.473,68.017 206.950,68.127 207.060 C 68.237 207.170,68.450 206.873,68.600 206.400 C 68.750 205.927,68.783 205.450,68.673 205.340 C 68.563 205.230,68.350 205.527,68.200 206.000 M6.602 209.200 C 6.977 213.053,8.035 218.825,7.812 215.800 C 7.511 211.732,6.853 206.720,6.586 206.464 C 6.434 206.319,6.442 207.550,6.602 209.200 M236.856 207.600 C 236.856 207.930,237.011 208.560,237.200 209.000 C 237.417 209.504,237.544 209.578,237.544 209.200 C 237.544 208.870,237.389 208.240,237.200 207.800 C 236.983 207.296,236.856 207.222,236.856 207.600 M67.400 208.400 C 67.250 208.873,67.217 209.350,67.327 209.460 C 67.437 209.570,67.650 209.273,67.800 208.800 C 67.950 208.327,67.983 207.850,67.873 207.740 C 67.763 207.630,67.550 207.927,67.400 208.400 M134.412 209.200 C 134.412 209.530,134.587 210.070,134.800 210.400 C 135.145 210.933,135.188 210.933,135.188 210.400 C 135.188 210.070,135.013 209.530,134.800 209.200 C 134.455 208.667,134.412 208.667,134.412 209.200 M66.572 210.643 C 66.436 211.059,66.138 211.901,65.909 212.513 C 65.680 213.125,65.586 213.720,65.701 213.835 C 65.816 213.949,66.200 213.193,66.554 212.154 C 66.908 211.115,67.112 210.179,67.008 210.075 C 66.904 209.971,66.708 210.226,66.572 210.643 M316.790 210.263 C 317.062 210.398,317.200 217.316,317.200 230.810 C 317.200 241.998,317.335 251.236,317.500 251.338 C 317.665 251.440,317.710 242.241,317.600 230.895 C 317.442 214.624,317.292 210.245,316.890 210.163 C 316.610 210.106,316.565 210.151,316.790 210.263 M88.240 213.040 C 87.853 214.267,87.621 215.355,87.724 215.458 C 87.827 215.561,88.227 214.641,88.613 213.413 C 88.999 212.186,89.231 211.098,89.129 210.996 C 89.027 210.893,88.627 211.813,88.240 213.040 M286.909 212.400 C 286.909 213.390,286.987 213.795,287.082 213.300 C 287.178 212.805,287.178 211.995,287.082 211.500 C 286.987 211.005,286.909 211.410,286.909 212.400 M135.200 211.518 C 135.200 212.589,137.557 218.579,138.028 218.707 C 138.389 218.804,138.444 218.739,138.179 218.530 C 137.947 218.349,137.251 216.625,136.632 214.700 C 135.613 211.535,135.200 210.617,135.200 211.518 M310.200 211.600 L 308.600 211.886 310.000 211.915 C 310.770 211.931,311.760 211.789,312.200 211.600 C 313.143 211.195,312.462 211.195,310.200 211.600 M305.700 212.276 C 306.085 212.376,306.715 212.376,307.100 212.276 C 307.485 212.175,307.170 212.093,306.400 212.093 C 305.630 212.093,305.315 212.175,305.700 212.276 M297.750 212.987 C 297.626 213.310,297.617 213.805,297.731 214.087 C 297.844 214.369,297.951 214.203,297.968 213.718 C 297.997 212.914,298.237 212.824,300.700 212.697 L 303.400 212.557 300.687 212.478 C 298.620 212.419,297.921 212.539,297.750 212.987 M65.000 215.200 C 64.850 215.673,64.817 216.150,64.927 216.260 C 65.037 216.370,65.250 216.073,65.400 215.600 C 65.550 215.127,65.583 214.650,65.473 214.540 C 65.363 214.430,65.150 214.727,65.000 215.200 M286.454 215.467 C 286.425 215.944,286.296 216.664,286.170 217.067 C 285.952 217.761,285.964 217.762,286.396 217.088 C 286.647 216.697,286.775 215.977,286.681 215.488 C 286.509 214.601,286.509 214.601,286.454 215.467 M247.591 216.388 C 248.057 217.041,248.642 217.702,248.891 217.856 C 249.141 218.011,248.841 217.476,248.225 216.668 C 246.888 214.915,246.384 214.692,247.591 216.388 M87.000 216.800 C 86.850 217.273,86.817 217.750,86.927 217.860 C 87.037 217.970,87.250 217.673,87.400 217.200 C 87.550 216.727,87.583 216.250,87.473 216.140 C 87.363 216.030,87.150 216.327,87.000 216.800 M64.243 217.433 C 63.912 218.295,63.938 218.800,64.313 218.800 C 64.485 218.800,64.663 218.350,64.708 217.800 C 64.802 216.662,64.600 216.502,64.243 217.433 M8.173 219.600 C 8.500 221.828,9.118 224.948,9.599 226.800 C 9.798 227.570,10.348 229.820,10.821 231.800 C 11.293 233.780,11.840 235.940,12.037 236.600 C 12.851 239.324,15.664 247.858,15.993 248.600 C 16.188 249.040,16.584 250.120,16.874 251.000 C 17.512 252.940,18.762 255.555,18.784 254.997 C 18.793 254.776,18.178 253.009,17.417 251.071 C 15.288 245.650,13.022 238.664,11.587 233.100 C 10.692 229.630,10.425 228.537,10.197 227.400 C 10.065 226.740,9.779 225.390,9.562 224.400 C 9.345 223.410,9.008 221.638,8.813 220.463 C 8.381 217.857,7.802 217.077,8.173 219.600 M251.685 220.996 C 253.162 222.518,254.427 223.681,254.495 223.581 C 254.564 223.482,253.356 222.236,251.810 220.814 L 249.000 218.228 251.685 220.996 M282.200 223.114 C 281.100 224.157,279.750 225.331,279.200 225.723 C 278.237 226.408,278.248 226.409,279.500 225.731 C 280.633 225.118,284.881 221.186,284.385 221.209 C 284.283 221.213,283.300 222.071,282.200 223.114 M265.022 228.453 C 266.573 228.785,271.553 228.790,272.720 228.460 C 273.227 228.317,271.437 228.200,268.742 228.200 C 266.048 228.200,264.374 228.314,265.022 228.453 M251.000 232.400 C 252.528 233.940,253.869 235.200,253.979 235.200 C 254.089 235.200,252.928 233.940,251.400 232.400 C 249.872 230.860,248.531 229.600,248.421 229.600 C 248.311 229.600,249.472 230.860,251.000 232.400 M294.304 231.244 C 293.701 232.100,293.287 232.800,293.383 232.800 C 293.669 232.800,295.726 229.992,295.556 229.833 C 295.470 229.754,294.907 230.388,294.304 231.244 M291.578 234.700 L 290.200 236.200 291.700 234.822 C 293.096 233.538,293.384 233.200,293.078 233.200 C 293.012 233.200,292.337 233.875,291.578 234.700 M254.669 235.632 C 255.166 236.233,257.600 237.764,257.600 237.476 C 257.600 237.383,256.835 236.802,255.900 236.185 C 254.965 235.568,254.411 235.320,254.669 235.632 M266.600 241.200 C 267.040 241.389,267.760 241.538,268.200 241.532 C 268.843 241.523,268.804 241.457,268.000 241.200 C 266.632 240.762,265.581 240.762,266.600 241.200 M278.200 241.200 C 277.111 241.477,277.093 241.507,278.000 241.525 C 278.550 241.535,279.360 241.389,279.800 241.200 C 280.786 240.776,279.866 240.776,278.200 241.200 M321.922 256.700 C 322.577 257.525,323.528 258.560,324.036 259.000 C 324.544 259.440,324.079 258.765,323.003 257.500 C 320.813 254.924,320.090 254.389,321.922 256.700 M21.200 261.442 C 21.200 261.713,25.791 270.580,27.133 272.900 C 27.610 273.725,28.377 275.065,28.837 275.878 C 33.287 283.736,48.000 302.191,48.000 299.915 C 48.000 299.769,46.515 298.138,44.700 296.290 C 40.947 292.469,40.868 292.376,36.919 287.140 C 32.104 280.755,27.802 273.706,23.711 265.500 C 21.786 261.639,21.200 260.692,21.200 261.442 M48.738 300.492 C 49.035 300.867,50.092 301.630,51.089 302.187 L 52.901 303.200 116.631 303.200 C 176.887 303.200,180.385 303.238,180.810 303.900 C 181.231 304.554,181.245 304.552,181.030 303.867 C 180.904 303.464,180.800 303.059,180.800 302.967 C 180.800 302.875,152.135 302.796,117.100 302.791 C 46.762 302.782,52.684 302.980,49.200 300.517 C 48.296 299.877,48.252 299.875,48.738 300.492 M267.206 308.633 C 267.209 309.055,267.395 309.670,267.618 310.000 C 267.915 310.438,267.952 310.276,267.756 309.400 C 267.427 307.929,267.198 307.610,267.206 308.633 M268.087 312.000 C 268.083 312.550,268.224 313.450,268.400 314.000 C 268.831 315.344,268.831 313.892,268.400 312.200 C 268.126 311.122,268.094 311.102,268.087 312.000 M268.944 321.600 C 268.944 323.690,269.012 324.545,269.094 323.500 C 269.176 322.455,269.176 320.745,269.094 319.700 C 269.012 318.655,268.944 319.510,268.944 321.600 M267.449 333.015 C 267.312 333.373,267.215 333.966,267.234 334.333 C 267.253 334.700,267.427 334.469,267.621 333.820 C 267.998 332.558,267.865 331.933,267.449 333.015 M265.400 339.061 C 265.064 339.865,264.882 340.615,264.995 340.728 C 265.108 340.841,265.200 340.835,265.200 340.716 C 265.200 340.596,265.472 339.846,265.805 339.049 C 266.138 338.252,266.321 337.600,266.211 337.600 C 266.101 337.600,265.736 338.258,265.400 339.061 M263.625 342.900 C 262.837 344.467,262.832 344.522,263.564 343.600 C 264.271 342.709,264.924 341.200,264.603 341.200 C 264.536 341.200,264.096 341.965,263.625 342.900 M251.294 357.612 C 250.575 358.265,250.137 358.800,250.319 358.800 C 250.501 358.800,251.168 358.260,251.800 357.600 C 253.270 356.065,252.986 356.072,251.294 357.612 M245.600 362.449 C 244.206 363.671,244.205 363.672,245.488 362.819 C 246.196 362.348,246.882 361.791,247.012 361.581 C 247.397 360.957,247.077 361.154,245.600 362.449 M239.400 367.035 L 238.200 368.066 239.500 367.206 C 240.215 366.733,240.800 366.268,240.800 366.173 C 240.800 365.873,240.631 365.978,239.400 367.035 M234.818 369.850 C 234.058 370.389,233.338 370.938,233.218 371.070 C 232.824 371.502,234.980 370.297,235.954 369.540 C 237.356 368.452,236.432 368.704,234.818 369.850 " stroke="none" fill="#9db0d6" fill-rule="evenodd"></path><path id="path4" d="M252.000 146.586 C 247.602 147.305,243.427 148.351,239.771 149.652 C 237.995 150.283,236.330 150.800,236.071 150.800 C 235.812 150.800,235.600 151.057,235.600 151.371 C 235.600 152.028,243.080 163.007,243.513 162.986 C 243.671 162.978,246.410 161.691,249.600 160.124 C 266.605 151.776,279.377 152.105,283.558 161.000 C 288.208 170.893,276.985 180.606,257.000 183.985 C 255.460 184.245,253.225 184.625,252.033 184.829 C 250.842 185.033,249.357 185.200,248.733 185.200 C 247.380 185.200,247.345 185.465,248.514 186.844 C 249.001 187.418,251.169 189.983,253.332 192.544 C 255.495 195.105,257.475 197.194,257.732 197.186 C 257.989 197.178,259.640 196.912,261.400 196.594 C 268.711 195.273,274.829 196.139,279.537 199.159 C 291.964 207.134,288.378 224.702,273.600 228.244 C 259.916 231.524,245.381 219.666,240.712 201.413 L 239.839 198.000 237.520 198.000 C 234.912 198.000,234.954 197.928,235.633 201.269 C 241.389 229.584,260.572 246.256,280.932 240.637 C 292.173 237.535,299.870 226.369,298.034 215.826 C 297.443 212.430,297.469 212.401,301.124 212.392 C 304.677 212.383,311.607 211.501,314.794 210.653 C 316.000 210.331,317.125 210.154,317.294 210.258 C 317.462 210.362,317.600 219.603,317.600 230.793 L 317.600 251.139 318.697 252.469 C 319.301 253.201,319.976 253.994,320.197 254.231 C 320.419 254.468,322.393 256.771,324.585 259.350 C 328.555 264.020,328.576 264.037,330.185 263.919 L 331.800 263.800 332.000 211.600 L 332.200 159.400 346.094 159.295 L 359.987 159.190 360.209 158.295 C 360.330 157.803,360.378 154.880,360.315 151.800 L 360.200 146.200 327.100 146.098 C 307.610 146.037,294.000 146.144,294.000 146.356 C 294.000 146.727,296.683 150.301,300.938 155.600 C 302.263 157.250,303.419 158.690,303.506 158.800 C 303.593 158.910,306.755 159.090,310.532 159.200 L 317.400 159.400 317.394 173.600 C 317.387 188.495,317.339 188.970,315.488 192.739 C 312.511 198.801,300.715 200.989,289.100 197.633 C 288.275 197.395,287.015 197.044,286.300 196.854 C 285.271 196.580,280.812 194.860,276.100 192.920 C 275.125 192.519,275.634 192.015,278.444 190.605 C 288.284 185.667,291.805 180.651,291.784 171.600 C 291.744 154.027,274.152 142.966,252.000 146.586 M264.813 303.014 C 264.806 303.241,265.170 304.480,265.622 305.766 C 267.297 310.532,268.129 315.715,268.130 321.400 C 268.132 326.344,267.663 331.114,267.144 331.434 C 266.955 331.551,266.800 332.080,266.800 332.609 C 266.800 335.418,262.694 344.071,259.218 348.585 C 258.102 350.035,250.238 357.805,248.458 359.218 C 247.499 359.978,246.149 361.096,245.458 361.701 C 243.768 363.181,244.042 362.983,238.527 366.708 C 235.847 368.519,233.462 370.000,233.227 370.000 C 232.992 370.000,232.800 370.138,232.800 370.306 C 232.800 370.474,232.125 370.918,231.300 371.294 C 230.475 371.669,229.350 372.229,228.800 372.538 C 226.661 373.739,224.299 374.800,223.762 374.800 C 223.453 374.800,223.200 374.980,223.200 375.200 C 223.200 375.420,222.838 375.600,222.395 375.600 C 221.952 375.600,221.277 375.767,220.895 375.971 C 220.513 376.175,219.859 376.449,219.443 376.580 C 219.026 376.711,218.797 376.930,218.933 377.067 C 219.542 377.676,229.908 373.096,234.014 370.403 C 235.232 369.605,236.492 368.846,236.814 368.718 C 237.762 368.340,247.274 361.192,250.012 358.800 C 257.224 352.499,261.986 346.704,264.473 341.200 C 267.928 333.551,268.800 329.589,268.800 321.531 C 268.800 315.080,268.585 313.600,266.595 306.362 C 266.025 304.289,264.842 302.066,264.813 303.014 M181.209 304.200 C 181.442 304.860,182.235 306.930,182.971 308.800 C 183.708 310.670,184.899 313.730,185.617 315.600 C 186.335 317.470,187.075 319.171,187.261 319.380 C 187.448 319.589,187.600 319.996,187.600 320.284 C 187.600 320.573,187.935 321.572,188.345 322.504 C 188.755 323.437,189.283 324.650,189.518 325.200 C 189.753 325.750,189.958 325.976,189.973 325.703 C 189.995 325.297,188.466 321.101,186.803 317.000 C 186.624 316.560,186.071 315.120,185.574 313.800 C 185.076 312.480,184.545 311.220,184.393 311.000 C 184.241 310.780,183.871 309.745,183.571 308.700 C 183.271 307.655,182.885 306.800,182.713 306.800 C 182.541 306.800,182.396 306.395,182.391 305.900 C 182.386 305.405,182.023 304.550,181.584 304.000 L 180.787 303.000 181.209 304.200 M190.030 326.700 C 190.046 326.865,190.409 327.720,190.837 328.600 C 191.275 329.502,191.510 329.764,191.375 329.200 C 191.243 328.650,191.039 327.795,190.921 327.300 C 190.728 326.490,189.958 325.971,190.030 326.700 M191.600 330.595 C 191.600 330.755,197.562 346.014,198.830 349.100 C 199.034 349.595,199.404 350.495,199.654 351.100 C 199.903 351.705,200.239 352.560,200.400 353.000 C 200.743 353.938,201.324 355.396,201.912 356.800 C 202.143 357.350,203.736 361.371,205.454 365.736 C 207.171 370.100,208.647 373.458,208.735 373.196 C 208.822 372.935,208.668 372.244,208.393 371.661 C 208.118 371.077,207.761 370.240,207.600 369.800 C 207.439 369.360,207.119 368.550,206.889 368.000 C 206.659 367.450,205.814 365.290,205.011 363.200 C 204.209 361.110,203.359 358.950,203.122 358.400 C 202.587 357.153,201.983 355.645,201.600 354.600 C 201.439 354.160,201.079 353.260,200.800 352.600 C 200.243 351.282,199.679 349.884,199.146 348.500 C 198.473 346.751,197.903 345.392,197.553 344.705 C 197.359 344.323,197.200 343.659,197.200 343.229 C 197.200 342.799,197.020 342.336,196.800 342.200 C 196.580 342.064,196.400 341.603,196.400 341.176 C 196.400 340.749,196.220 340.400,196.000 340.400 C 195.780 340.400,195.600 339.961,195.600 339.424 C 195.600 338.887,195.420 338.336,195.200 338.200 C 194.980 338.064,194.800 337.603,194.800 337.176 C 194.800 336.749,194.620 336.400,194.400 336.400 C 194.180 336.400,194.000 335.950,194.000 335.400 C 194.000 334.850,193.820 334.400,193.600 334.400 C 193.380 334.400,193.200 334.051,193.200 333.624 C 193.200 333.197,193.020 332.736,192.800 332.600 C 192.580 332.464,192.400 331.913,192.400 331.376 C 192.400 330.839,192.220 330.400,192.000 330.400 C 191.780 330.400,191.600 330.488,191.600 330.595 M216.000 377.600 C 215.213 378.109,216.616 378.109,217.800 377.600 C 218.533 377.285,218.516 377.254,217.600 377.234 C 217.050 377.222,216.330 377.387,216.000 377.600 M210.400 378.484 C 210.400 378.886,213.083 378.824,214.400 378.393 C 215.116 378.158,214.691 378.080,212.900 378.117 C 211.525 378.145,210.400 378.311,210.400 378.484 " stroke="none" fill="#8994a4" fill-rule="evenodd"></path></g></svg>
<!--                <svg width="24px" height="24px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0,0,256,256"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="none" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(6.4,6.4)"><path d="M1.5,1.5h25v25h-25z" fill-opacity="0.94902" fill="#f2faff" stroke="none" stroke-width="1"></path><path d="M26,2v24h-24v-24h24M27,1h-26v26h26v-26z" fill="#788b9c" stroke="none" stroke-width="1"></path><path d="M13.5,38.5v-12.293l12.707,-12.707h12.293v25z" fill="#8bb7f0" stroke="none" stroke-width="1"></path><path d="M38,14v24h-24v-11.586l12.414,-12.414h11.586M39,13h-13l-13,13v13h26v-26z" fill="#4e7ab5" stroke="none" stroke-width="1"></path><path d="M22.679,28h7.5v3h-7.5z" fill="#ffffff" stroke="none" stroke-width="1"></path><path d="M28.383,20h-3.79l-5.164,14h3.325l3.61,-11.329h0.128l3.612,11.329h3.325z" fill="#ffffff" stroke="none" stroke-width="1"></path><path d="M7,10h14M14,6v4M19,10c0,0 -2.376,10 -12,10M9,13c0,0 3.451,5 9,5" fill="none" stroke="#788b9c" stroke-width="2"></path></g></g></svg>-->
            </div>

            <div class="google_translate_element dn" id="google_translate_element" style="display:inline;float:right;"></div>


            <!--Avtar window-->
            {% if user.is_authenticated %}
            <div class="ltnb-logout-div-container ltnb-div ">
                <div class="ltnb-logout-div-container-inner">
                    <div class="ltnb-logout-div-container-wrapper">
                        <div class="flx p5">
                            {% if request.user.profile.role == 'admin' %}
                            <div class="ltnb-role-for adm" title="Admin">A</div>
                            {% elif request.user.profile.role == 'school_admin' %}
                            <div class="ltnb-role-for emp" title="School admin">SA</div>
                            {% elif request.user.profile.role == 'staff' %}
                            <div class="ltnb-role-for rec" title="Staff">S</div>
                            {% elif request.user.profile.role == 'teacher' %}
                            <div class="ltnb-role-for rec" title="Teacher">T</div>
                            {% elif request.user.profile.role == 'non_teacher' %}
                            <div class="ltnb-role-for rec" title="Non teacher">NT</div>
                            {% elif request.user.profile.role == 'student' %}
                            <div class="ltnb-role-for cnd" title="Student">S</div>
                            {% elif request.user.is_superuser %}
                            <div class="ltnb-role-for adm" title="Admin">A</div>
                            {% endif %}
                        </div>
                        <div class="">
                            <div class="flx flxc bdrb pt5 pb5">
                                <div class="ltnb-name pl10 pr10">{{request.user.first_name}} {{request.user.last_name}}</div>
                                <div class="ltnb-email pl10 pr10">{{request.user.email}}</div>
                            </div>
                            <div class="flx flxc bdrb pt5 pb5">
                                 <div class="flx p5">
                                    {% if request.organisation_type == 'school' %}
                                    <div class="ltnb-og-type school" title="School">S</div>
                                    {% elif request.organisation_type == 'company' %}
                                    <div class="ltnb-og-type company" title="Company">C</div>
                                    {% elif request.organisation_type == 'anganwadi' %}
                                    <div class="ltnb-og-type anganwadi" title="Teacher">A</div>
                                    {% endif %}
                                     <div class="ltnb-og-name pl10 pr10 pt5 pb5" title="{{request.user.profile.school_id.name}}">{{request.user.profile.school_id.name}}</div>
                                 </div>
                            </div>

                            <div class="flx flxc bdrb pt5 pb5">
                                <div class="flx flxc ltnb-profile">
<!--                                    {% if request.user.profile.role == 'employer' or request.user.profile.role == 'recruiter' %}-->
<!--                                    {% if 'SELF_PROFILE_VIEW_PERMISSION' in request.permission %}-->
<!--                                    <a class="ltnb-a p10" href=""><span class="lmnb-icon profile-a-fafa-nav"></span><span class="ltnb-span1"><span class="ltnb-span2">Profile</span></span></a>-->
<!--                                    {% endif %}-->
<!--                                    {% elif request.user.profile.role == 'candidate' %}-->
<!--                                    <a class="ltnb-a p10" href=""><span class="lmnb-icon profile-a-fafa-nav"></span><span class="ltnb-span1"><span class="ltnb-span2">Profile</span></span></a>-->
<!--                                    {% endif %}-->
                                    <a class="ltnb-a p10" href="{% url 'app_root:profile_view' request.user.profile.profile_id %}"><span class="lmnb-icon profile-a-fafa-nav"></span><span class="ltnb-span1"><span class="ltnb-span2">Profile</span></span></a>

                                </div>
<!--                                <div class="flx flxc ltnb-faq">-->
<!--                                    <a class="ltnb-a p10" href=""><span class="lmnb-icon faq_fafa_nav"></span><span class="ltnb-span1"><span class="ltnb-span2">FAQs</span></span></a>-->
<!--                                </div>-->
                                <div class="flx flxc ltnb-setting">
                                    {% if request.user.is_superuser %}
                                    {% elif request.user.profile.role in 'employer,recruiter' %}
                                    {% if 'SETTING_VIEW_PERMISSION' in request.permission %}
                                    <a class="ltnb-a p10" href="{% url 'setting' %}"><span class="lmnb-icon setting-a-fafa-nav"></span><span class="ltnb-span1"><span class="ltnb-span2">Setting</span></span></a>
                                    {% endif %}
                                    {% elif request.user.profile.role in 'candidate' %}
                                    <a class="ltnb-a p10" href="{% url 'setting' %}"><span class="lmnb-icon setting-a-fafa-nav"></span><span class="ltnb-span1"><span class="ltnb-span2">Setting</span></span></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <a class="ltnb-a p10 mt5 mb5 logout" href="{% url 'logout' %}"><span class="lmnb-icon logout_fafa_nav"></span><span class="ltnb-span1"><span class="ltnb-span2">Logout</span></span></a>
                    </div>
                </div>
            </div>

            {% endif %}

            {% else %}

            <div class="ltnb-login-div ltnb-div">
                <a class="ltnb-a" href="{% url 'login' %}"><span class="ltnb-span1"><span class="ltnb-span2">Login</span></span></a>
            </div>

            {% endif %}
        </div>
    </header>
    <!--    <div>{{request.session_company_id}}</div>-->
    {% load template_tags %}
    {% for item in request.all_company%}
    <div class="companies bdr" data-id="{{item.company_id}}">
        <div class="p5">{{item.company_id}}</div>
        <div class="p5">{{item.company_id}}</div>
        <div class="p5">{{item.group.group_name}}</div>
    </div>
    {% endfor %}

</div>


<!--Mobile nav-->
<div class="luein-mobile-nav-bar-container">
    <div class="lmnb-inner-container">
        <div class="lmnb-close">×</div>

        {% if user.is_authenticated %}
        <div class="lmnb-tnb-div lmnb-tnb-home-div"><a class="lmnb-tnb-a" href="/"><span class="lmnb-icon home_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">Dashboard</span></span></a></div>
        {% else %}
        <div class="lmnb-tnb-div lmnb-tnb-home-div"><a class="lmnb-tnb-a" href="/"><span class="lmnb-icon home_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">Home</span></span></a></div>
        {% endif %}

        {% if user.is_authenticated %}
        <div class="lmnb-snb-container">

<!--            <div class="lmnb-snb-div lmnb-snb-questionbank-div"><a class="lmnb-snb-a" href="{% url 'app_root:school_list' %}"><span class="lmnb-icon school_fafa_nav"></span><span class="lmnb-snb-span1"><span class="lmnb-snb-span2">School</span></span></a></div>-->

        </div>
        {% endif %}

        <div class="lmnb-tnb-container">

            {% with role=request.user.profile.role %}

            {% if request.user.is_superuser %}
            <div class="lmnb-tnb-div lmnb-tnb-school-div"><a class="lmnb-tnb-a" href="{% url 'app_root:school_list' %}"><span class="lmnb-icon school_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">Schools</span></span></a></div>
            <div class="lmnb-tnb-div lmnb-tnb-media-div"><a class="lmnb-tnb-a" href="{% url 'app_file_manager:old_folder_list' %}"><span class="lmnb-icon media_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">Media</span></span></a></div>
            {% endif %}

            {% if role == "admin" or role == "staff" or role == "school_admin" or role == "teacher" %}
            <div class="lmnb-tnb-div lmnb-tnb-mark_attendance-div"><a class="lmnb-tnb-a" href="{% url 'app_smart_attendance:take_attendance' %}"><span class="lmnb-icon mark_attendance_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">Mark attendance</span></span></a></div>
            <div class="lmnb-tnb-div lmnb-tnb-attendance-div"><a class="lmnb-tnb-a" href="{% url 'app_smart_attendance:attendance' %}"><span class="lmnb-icon attendance_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">Timesheet</span></span></a></div>
            <div class="lmnb-tnb-div lmnb-tnb-register-div"><a class="lmnb-tnb-a" href="{% url 'app_smart_attendance:student_register' %}"><span class="lmnb-icon register_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">Registration</span></span></a></div>
            <div class="lmnb-tnb-div lmnb-tnb-people-div"><a class="lmnb-tnb-a" href="{% url 'app_smart_attendance:people' %}"><span class="lmnb-icon user_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">People</span></span></a></div>
            {% endif %}

            {% if role == "admin" or role == "staff" or role == "teacher" or role == "school_admin" or role == "student" %}
            <div class="lmnb-tnb-div lmnb-tnb-report-div"><a class="lmnb-tnb-a" href="{% url 'app_smart_attendance:report' %}"><span class="lmnb-icon report_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">Reports</span></span></a></div>
            <div class="lmnb-tnb-div lmnb-tnb-announcements-div"><a class="lmnb-tnb-a" href="{% url 'app_smart_attendance:announcement_view' %}"><span class="lmnb-icon announcements_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">Announcements</span></span></a></div>
            {% endif %}

            {% if user.is_authenticated %}
            <div class="lmnb-tnb-div lmnb-tnb-setting-div"><a class="lmnb-tnb-a" href="{% url 'app_smart_attendance:settings' %}"><span class="lmnb-icon setting_fafa_nav"></span><span class="lmnb-tnb-span1"><span class="lmnb-tnb-span2">Setting</span></span></a></div>
            {% endif %}

            {% endwith %}
        </div>
    </div>
</div>




<script>{% include 'snippets/top_nav_bar/top_nav.js' %}</script>

