<style>{% include 'app_smart_attendance/module/take_attendance_cctv/css/partial_take_attendance_cctv_form.css' %}</style>

<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Take CCTV Attendance
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form action="{% url 'app_smart_attendance:take_attendance_cctv' %}" method="post"  class="js_take_attendance_cctv_create_form" id="take_attendance_cctv_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10 w100">
            {% include 'app_smart_attendance/module/take_attendance_cctv/html/partial_take_attendance_cctv_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="take_attendance_cctv_crud_form">Submit Request</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>

<script>{% include 'app_smart_attendance/module/take_attendance_cctv/js/take_attendance_cctv_list_submit.js' %}</script>
<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>


