
{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx partitioned_form flxc">
    <div class="partitioned_form_field">
        {{ form.camera_id.label_tag }}
        {{ form.camera_id }}
        {% if form.camera_id.errors %}
        <span class="errorspan">{{ form.camera_id.errors }}</span>
        {% endif %}
    </div>
    <div class="partitioned_form_field">
        {{ form.role.label_tag }}
        {{ form.role }}
        {% if form.role.errors %}
        <span class="errorspan">{{ form.role.errors }}</span>
        {% endif %}
    </div>

</div>
<script>{% include 'app_smart_attendance/module/take_attendance_cctv/js/partial_take_attendance_cctv_form.js' %}</script>


