{% extends 'base.html' %}
{% block title %}User Login Page - {{block.super}}{% endblock %}

{% load static %}
{% block head %}
<style> {% include 'registration/css/login.css' %} </style>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% ifequal user.groups.all.0.name "student" %}
<meta content="0;url={% url 'app_root:home' %}" http-equiv="REFRESH">
{% else %}
<meta http-equiv="REFRESH" content="0;url={% url 'app_root:home' %}">
{% endifequal %}

{% else %}
<div class="pr">
    <div class="login_head">SMART<span class="fwb ml5 mr5">AMS</span></div>
</div>

<div class="flx login_container" id="login_container">

    <div class="flx flxc w60 p-i-c login_image_container">
        <div class="p-p-container" id="login_image"></div>
        <div class="flx">
            <div class="arrow_div left_arrow">
            <span class="resize-svg-span">
                <svg focusable="false" height="28" role="presentation" viewBox="0 0 24 24" width="28">
                    <path d="M13.706 9.698a.988.988 0 0 0 0-1.407 1.01 1.01 0 0 0-1.419 0l-2.965 2.94a1.09 1.09 0 0 0 0 1.548l2.955 2.93a1.01 1.01 0 0 0 1.42 0 .988.988 0 0 0 0-1.407l-2.318-2.297 2.327-2.307z"
                          fill="currentColor" fill-rule="evenodd"></path>
                </svg>
            </span>
            </div>
            <div class="image_slide_dot_container"></div>
            <div class="arrow_div right_arrow">
            <span class="resize-svg-span">
                <svg focusable="false" height="28" role="presentation" viewBox="0 0 24 24" width="28">
                    <path d="M10.294 9.698a.988.988 0 0 1 0-1.407 1.01 1.01 0 0 1 1.419 0l2.965 2.94a1.09 1.09 0 0 1 0 1.548l-2.955 2.93a1.01 1.01 0 0 1-1.42 0 .988.988 0 0 1 0-1.407l2.318-2.297-2.327-2.307z"
                          fill="currentColor" fill-rule="evenodd"></path>
                </svg>
            </span>
            </div>
        </div>

    </div>


    <!-- The Modal -->
    <div class="modal w40 " id="myModal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <!--            <span class="close-modal">&times;</span>-->
                <h2>Login</h2>
            </div>
            <div class="modal-body">
                <form id="loginform" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>

                    <div class="form-group">
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>

                    <div class="form-group">
                        {{ form.captcha.label_tag }}
                        <svg id="captch-refresh" class="cp" x="0px" y="0px"
                             width="15" height="15"
                             viewBox="0 0 226 226"
                             style=" fill:#000000;">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <path d="M0,226v-226h226v226z" fill="none"></path>
                                <g fill="#440055">
                                    <path d="M120.0625,0c-51.57662,0 -84.58023,37.31581 -85.29327,86.92308h-30.42308c-1.73167,0 -3.53125,0.98467 -3.53125,2.71635c-0.88281,1.73167 -0.88281,3.46335 0,4.34615l52.15385,66.82212c0.88282,0.88282 1.79958,1.62981 3.53125,1.62981c1.73167,0 2.64844,-0.74699 3.53125,-1.62981l52.15385,-66.82212c0.88282,-0.88281 0.88282,-2.61448 0,-4.34615c-0.88281,-1.73167 -2.64843,-2.71635 -3.53125,-2.71635h-30.42308c0.57722,-65.49789 34.09014,-80.0643 41.83173,-86.10817c1.73167,-0.88281 1.73167,-0.8149 0,-0.8149zM169.5,63.83413c-1.29026,0 -2.64843,0.47536 -3.53125,1.35817l-52.15385,66.82212c-0.88281,1.73167 -0.8149,3.46335 -0.8149,4.34615c0.88282,1.73167 2.64844,2.71635 3.53125,2.71635h31.23798c-0.57722,65.49789 -34.09014,80.06431 -41.83173,86.10817c-1.73167,0.88282 -1.73167,0.8149 0,0.8149c51.57662,0 84.58023,-37.31581 85.29327,-86.92308h29.60817c1.73167,0 3.53125,-0.98467 3.53125,-2.71635c1.73167,-1.73167 1.69772,-3.46334 0.8149,-4.34615l-52.15385,-66.82212c-0.88281,-0.88281 -2.24098,-1.35817 -3.53125,-1.35817z"></path>
                                </g>
                            </g>
                        </svg>
                        {{ form.captcha }}
                        {{ form.captcha.errors }}
                    </div>
                </form>

                <div class="flx mt10 dn">
                    <div class="w50">
                        <div class="lpl-div">
                            <a class="loginPageLink" href="/accounts/password_reset/" id="forgot-password">Forgot
                                Password ?</a>
                        </div>
                    </div>
                    <div class="w50">
                        <div class="lpl-div create-account"><span class="loginPageLink"
                                                                  id="create-account">Register ?</span></div>
                        <div class="dn" id="create-account-options-div">
                            <div class="ca-op-div"><a class="ca-op cac" href="">Register as a candidate</a></div>
                            <div class="ca-op-div"><a class="ca-op cae" href="">Register as an employer</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="button" form="loginform" name="login" type="submit" value="LOGIN">Login</button>
                <button class="button" data-dismiss="modal" id="modalcancel" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>


{% endif %}
{% endblock %}

{% block javascript %}
<script>{% include 'snippets/js_files/captcha.js' %}</script>
<script>{% include 'snippets/js_files/load_modal.js' %}</script>
<script>{% include 'registration/js/login.js' %}</script>
{% endblock %}