{% extends 'base.html' %}

{% block title %}
Change Password Confirmation - {{block.super}}
{% endblock %}

{% block head %}
<style>{% include 'app_root/css/lh-msg.css' %}</style>
{% endblock %}


{% block content %}
{% load static %}
<div class="mh100vh">
    <div class="lh-msg-container" id="password_reset_complete">
        <div class="lh-msg-div">
            <div class="lh-msg-logo">
                <img src="{% static 'website/logo/LueinHire.gif' %}" width="100px">
            </div>
            <div class="lh-msg-content">
                <h2 class="lh-msg-head">Your password reset was successful.</h2>
                <p>You may go ahead and <a href="{% url 'login' %}">Login</a> now.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}