{% extends 'base.html' %}

{% block content %}
{% if validlink %}
<div class="mh100vh">
    <div class="modal-content" id="change-password">
        <div class="modal-header">
            <span class="close-modal">&times;</span>
            <h2>Change Password</h2>
        </div>
        <div class="modal-body">
            <form id="change-password-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>
        <div class="modal-footer">
            <button class="button" form="change-password-form" name="login" type="submit" value="LOGIN">Submit</button>
        </div>
    </div>
</div>
{% else %}
{% load static %}
<div class="mh100vh" id="password_reset_link_invalid">
    <div class="t-a-c p30 w90 ma mb50 bdr mt50 br5px c6">
        <div class="mb20 c405 t-a-c">
            <h1>Invalid Password Reset Link</h1>
            <img src="{% static 'images/error.png' %}">
        </div>

        <h2 class="p10">The password reset <b>link was invalid</b>, possibly because <b>it has already been used.</b></h2>
        <div class="p10">Please request a new password reset.</div>
        <div class="p10">
            <div>If you require assistance, please <a class="h-t-d-n" href="{%url 'root:contact-us'%}">Contact us</a></div>
        </div>
        <div class="p10">
            <div>Go to <a class="h-t-d-n" href="{%url 'root:home'%}">Home</a></div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}