{% extends 'base.html' %}

{% block title %}
User Credential Management - {{block.super}}
{% endblock %}

{% block head %}
<style> {% include 'registration/css/login.css' %} </style>
{% endblock %}

{% block content %}

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close-modal">&times;</span>
            <h2>Forgot Password</h2>
        </div>
        <div class="modal-body">
            <form method="post" id="password-reset">
                {% csrf_token %}
                {{ form.as_p }}
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" form="password-reset" class="button" name="login" value="LOGIN">Submit</button>
        </div>
    </div>
</div>
<script>{% include 'snippets/js_files/load_modal.js' %}</script>

{% endblock %}