{% extends 'base.html' %}

{% block title %}
Change User Password Confirmation - {{block.super}}
{% endblock %}

{% block head %}
<style>{% include 'app_root/css/lh-msg.css' %}</style>
{% endblock %}


{% block content %}
{% load static %}
<div class="mh100vh">
    <div class="lh-msg-container" id="password_reset_done">
        <div class="lh-msg-div">
            <div class="lh-msg-logo">
                <img src="{% static 'website/logo/LueinHire.gif' %}" width="100px">
            </div>
            <div class="lh-msg-content">
                <h1 class="lh-msg-head">Password Reset Mail Sent</h1>
                <div class="p5"><b>We've emailed you </b> instructions for setting your password, if an account exists with the email you entered.
                    You should receive them shortly.
                </div>
                <p class="p5">If you don't receive an email, please make sure you've entered the email id you registered with,
                    and <b>check your spam folder.</b></p>
                <p class="p5">Else drop an enquiry email at <a href="mailto:contact@lueinanalytics.com">contact@lueinanalytics.com</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}