{% extends 'base_file_manager.html' %}

{% block css %}
<style>{% include 'app_file_manager/app_folder/css/list.css' %}</style>
{% endblock %}

{% block content %}

<div class="all-container">
    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Media</li>
        </ul>
    </div>

    <div class="ml20 mt-3">
        <p class="text-muted">Folders</p>
        <div class="row flxw">
            {% for folder in new_list.Folders %}

            <div class="flx flxc">

                <div class="action_container pr flx">
                    <div class="action_btn_div mla flx">...</div>
                    <div class="action_dropdown dn">

                        <div class="action_btn delete js_delete_folder cp flx" data-action_type="delete"
                             data-url="{% url 'app_file_manager:folder_delete' folder.folder_name %}?parent={{folder.parent_name}}/"
                             title="Delete">
                            <div class="folder-delete-fafa-div flx mr10">
                                <svg height="20" style=" fill:#000000;" viewBox="0 0 172 172" width="20" x="0px"
                                     y="0px">
                                    <g transform="translate(-25.8,-25.8) scale(1.3,1.3)">
                                        <g fill="none" fill-rule="nonzero" font-family="none" font-size="none"
                                           font-weight="none"
                                           stroke="none" stroke-dasharray="" stroke-dashoffset="0" stroke-linecap="butt"
                                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-width="1"
                                           style="mix-blend-mode: normal"
                                           text-anchor="none">
                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                            <g fill="#bababa">
                                                <path d="M79.12,22.36c-2.82935,0 -5.16,2.33065 -5.16,5.16v3.44h-18.46312c-3.01809,0 -5.82411,1.58723 -7.37719,4.1757l-2.6539,4.4243h-5.90578c-3.77941,0 -6.88,3.10059 -6.88,6.88c0,3.77941 3.10059,6.88 6.88,6.88h1.84766l6.14766,79.90945c0.41158,5.36088 4.91248,9.53055 10.28976,9.53055h56.30985c5.37729,0 9.87818,-4.16967 10.28976,-9.53055l6.14766,-79.90945h1.84766c3.77941,0 6.88,-3.10059 6.88,-6.88c0,-3.77941 -3.10059,-6.88 -6.88,-6.88h-5.90578l-2.6539,-4.4243c-1.55309,-2.58847 -4.3591,-4.1757 -7.37719,-4.1757h-18.46313v-3.44c0,-2.82935 -2.33065,-5.16 -5.16,-5.16zM79.12,25.8h13.76c0.97185,0 1.72,0.74815 1.72,1.72v3.44h-17.2v-3.44c0,-0.97185 0.74815,-1.72 1.72,-1.72zM55.49688,34.4h19.89422c0.18575,0.0307 0.37527,0.0307 0.56102,0h20.07898c0.18575,0.0307 0.37527,0.0307 0.56102,0h19.91102c1.81511,0 3.49026,0.94936 4.4243,2.50609l2.62703,4.37391h-5.73445c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h8.6h6.02c1.92067,0 3.44,1.51933 3.44,3.44c0,1.92067 -1.51933,3.44 -3.44,3.44h-92.88c-1.92067,0 -3.44,-1.51933 -3.44,-3.44c0,-1.92067 1.51933,-3.44 3.44,-3.44h6.88h59.34c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645h-57.33445l2.62703,-4.37391c0.93404,-1.55673 2.60919,-2.50609 4.4243,-2.50609zM110.94,41.28c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h3.44c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645zM44.85438,53.32h82.29125l-6.13086,79.64742c-0.27642,3.60032 -3.24841,6.35258 -6.85984,6.35258h-56.30985c-3.61143,0 -6.58343,-2.75226 -6.85984,-6.35258zM65.36,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v60.2c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-60.2c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM86,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v60.2c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-6.02c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v6.02c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-60.2c0,-1.91076 1.52924,-3.44 3.44,-3.44c1.91076,0 3.44,1.52924 3.44,3.44v43.86c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-43.86c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM106.64,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v2.58c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-2.58c0,-1.91076 1.52924,-3.44 3.44,-3.44c1.91076,0 3.44,1.52924 3.44,3.44v60.2c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-43.86c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v43.86c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-60.2c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM65.36,61.92c1.91076,0 3.44,1.52924 3.44,3.44v60.2c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-60.2c0,-1.91076 1.52924,-3.44 3.44,-3.44zM102.32656,72.22656c-0.22809,0.00356 -0.44542,0.09758 -0.60418,0.26138c-0.15876,0.1638 -0.24595,0.38397 -0.24238,0.61205v3.44c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-3.44c0.00364,-0.23275 -0.08721,-0.45703 -0.25181,-0.62163c-0.1646,-0.1646 -0.38888,-0.25545 -0.62163,-0.25181z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx">Delete</div>
                        </div>

                        <div class="action_btn update js_update_folder cp flx" data-action_type="update"
                             data-url="{% url 'app_file_manager:folder_update' folder.folder_name %}?parent={{parent_name}}"
                             title="Update">
                            <div class="folder-update-fafa-div flx mr10">
                                <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                       text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g fill="#bababa">
                                            <path d="M112.445,6.88c-2.76812,0 -5.53625,1.02125 -7.6325,3.1175l-80.9475,80.9475c-4.1925,4.20594 -4.20594,11.18 0,15.3725l1.6125,1.6125l-18.1675,45.6875c-0.04031,0.1075 -0.08062,0.215 -0.1075,0.3225c-0.90031,3.09063 -0.01344,6.42313 2.2575,8.7075c2.15,2.15 4.66281,2.74125 7.4175,2.4725c0.04031,0 0.06719,0 0.1075,0c0.28219,0.04031 0.57781,0.04031 0.86,0h140.395c1.23625,0.01344 2.39188,-0.63156 3.02344,-1.70656c0.61813,-1.075 0.61813,-2.39187 0,-3.46687c-0.63156,-1.075 -1.78719,-1.72 -3.02344,-1.70656h-123.0875l29.1325,-11.5025l1.3975,1.3975c2.10969,2.10969 4.86438,3.225 7.6325,3.225c2.76813,0 5.64375,-1.11531 7.74,-3.225l80.9475,-80.9475c4.16563,-4.1925 4.03125,-10.95156 -0.1075,-15.1575c-0.02687,-0.02687 0.02688,-0.08062 0,-0.1075l-41.8175,-41.925c-2.09625,-2.09625 -4.86437,-3.1175 -7.6325,-3.1175zM112.445,13.76c1.02125,0 2.01563,0.40313 2.795,1.1825l41.8175,41.8175c1.54531,1.54531 1.57219,4.01781 0,5.59l-55.04,55.04l-47.4075,-47.4075l55.04,-55.04c0.77938,-0.77937 1.77375,-1.1825 2.795,-1.1825zM49.7725,74.82l47.4075,47.4075l-7.525,7.525l-47.4075,-47.4075zM37.41,87.1825l47.4075,47.4075l-8.7075,8.7075c-0.77937,0.77938 -1.77375,1.1825 -2.795,1.1825c-1.02125,0 -2.01562,-0.40312 -2.795,-1.1825l-38.27,-38.1625c-0.13437,-0.16125 -0.26875,-0.29562 -0.43,-0.43l-3.1175,-3.225c-1.54531,-1.54531 -1.55875,-4.03125 0,-5.59zM30.745,113.1975l28.165,28.165l-42.2475,16.8775c-0.02687,0 -0.06719,0 -0.1075,0c-0.81969,0.04031 -2.58,-0.73906 -2.2575,-0.43c-0.51062,-0.51062 -0.63156,-1.24969 -0.43,-1.935z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx">Rename</div>
                        </div>

                        <div class="action_btn link js_link_folder cp flx" data-action_type="link"
                             data-url="{% url 'app_file_manager:folder_link' folder.folder_name %}?parent={{parent_name}}"
                             title="Link">
                            <div class="folder-link-fafa-div flx mr10">
                                <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                       text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g fill="#bababa">
                                            <path d="M127.28,13.77344c-7.92834,-0.00043 -15.8592,3.0214 -21.8964,9.05688l-17.2,17.2c-8.57248,8.57248 -11.02262,20.95153 -7.4175,31.73937l12.35578,-12.35578c0.516,-3.53288 2.07631,-6.94068 4.79047,-9.65484l17.2,-17.2c3.354,-3.35056 7.76445,-5.03234 12.16765,-5.03234c4.4032,0 8.81038,1.67834 12.16094,5.03234c6.70456,6.708 6.70456,17.61731 0,24.32187l-17.2,17.2c-2.71416,2.71416 -6.11852,4.27103 -9.65484,4.79047l-12.3625,12.3625c3.19232,1.0664 6.51633,1.63266 9.84969,1.63266c7.9292,0 15.8592,-3.01968 21.8964,-9.05688l17.2,-17.2c12.0744,-12.07096 12.07096,-31.70841 0,-43.77937c-6.0372,-6.03376 -13.96135,-9.05644 -21.88969,-9.05688zM106.50563,58.41281c-1.78741,0.05326 -3.48388,0.80028 -4.73,2.08281l-41.28,41.28c-1.79734,1.72562 -2.52135,4.28808 -1.89282,6.69912c0.62853,2.41104 2.5114,4.29391 4.92245,4.92245c2.41104,0.62853 4.9735,-0.09548 6.69912,-1.89282l41.28,-41.28c2.03483,-1.97794 2.64666,-5.00221 1.54067,-7.61556c-1.10599,-2.61334 -3.7029,-4.27965 -6.53941,-4.196zM63.46531,79.20063c-8.43515,-0.42925 -17.00306,2.55361 -23.435,8.98297l-17.2,17.2c-12.07096,12.07096 -12.07096,31.71513 0,43.78609c6.0372,6.03376 13.96393,9.05016 21.88969,9.05016c7.92576,0 15.85249,-3.01968 21.88969,-9.05688l17.2,-17.2c8.57248,-8.57248 11.02934,-20.95153 7.42422,-31.73937l-12.3625,12.3625c-0.516,3.53288 -2.07631,6.94068 -4.79047,9.65484l-17.2,17.2c-6.70456,6.708 -17.61731,6.708 -24.32187,0c-6.70456,-6.708 -6.70456,-17.61731 0,-24.32187l17.2,-17.2c2.71416,-2.71416 6.12196,-4.27775 9.65484,-4.79719l12.35578,-12.35578c-2.69696,-0.90128 -5.49266,-1.42239 -8.30437,-1.56547z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx">Get link</div>
                        </div>


                        <div class="action_btn move js_move_folder cp flx" data-action_type="move"
                             data-url="{% url 'app_file_manager:file_move' folder.folder_name %}?parent={{parent_name}}"
                             title="Move">
                            <div class="folder-move-fafa-div flx mr10 ">
                                <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                    <defs>
                                        <linearGradient x1="82.41667" y1="24.09792" x2="82.41667" y2="51.987"
                                                        gradientUnits="userSpaceOnUse" id="color-1">
                                            <stop offset="0" stop-color="#eba600"></stop>
                                            <stop offset="1" stop-color="#c28200"></stop>
                                        </linearGradient>
                                        <linearGradient x1="86" y1="38.8935" x2="86" y2="146.85575"
                                                        gradientUnits="userSpaceOnUse" id="color-2">
                                            <stop offset="0" stop-color="#ffd869"></stop>
                                            <stop offset="1" stop-color="#fec52b"></stop>
                                        </linearGradient>
                                        <linearGradient x1="171.49833" y1="122.1415" x2="103.54042" y2="159.92775"
                                                        gradientUnits="userSpaceOnUse" id="color-3">
                                            <stop offset="0" stop-color="#007ad9"></stop>
                                            <stop offset="1" stop-color="#2aa4f4"></stop>
                                        </linearGradient>
                                    </defs>
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                       text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g>
                                            <path d="M87.4835,37.31683l-9.08733,-9.08733c-2.01383,-2.01383 -4.74792,-3.14617 -7.60025,-3.14617h-49.29592c-3.95958,0 -7.16667,3.20708 -7.16667,7.16667v23.29167l7.16667,77.04167c0,3.95958 3.20708,7.16667 7.16667,7.16667h114.66667c3.95958,0 7.16667,-3.20708 7.16667,-7.16667v-82.41667c0,-3.95958 -3.20708,-7.16667 -7.16667,-7.16667l-50.783,-3.58333c-1.89917,0 -3.72308,-0.75608 -5.06683,-2.09983z"
                                                  fill="url(#color-1)" style="
    fill: #a9a9a9;
"></path>
                                            <path d="M77.34983,51.65017l11.71033,-11.71033c0.33325,-0.33325 0.78833,-0.52317 1.26492,-0.52317h60.17492c3.95958,0 7.16667,3.20708 7.16667,7.16667v93.16667c0,3.95958 -3.20708,7.16667 -7.16667,7.16667h-129c-3.95958,0 -7.16667,-3.20708 -7.16667,-7.16667v-84.20833c0,-0.989 0.80267,-1.79167 1.79167,-1.79167h56.158c1.89917,0 3.72308,-0.75608 5.06683,-2.09983z"
                                                  fill="url(#color-2)" style="
    fill: #cccccc;
"></path>
                                            <path d="M157.66667,129v17.91667h-60.3075c-0.43,-1.14667 -0.645,-2.365 -0.645,-3.58333c0,-3.04583 1.29,-5.94833 3.5475,-7.99083l23.93667,-21.53583c1.32583,-1.1825 3.04583,-1.86333 4.76583,-1.86333c3.9775,0 7.2025,3.225 7.2025,7.2025v9.85417z"
                                                  fill="#000000" opacity="0.05" style="
"></path>
                                            <path d="M157.66667,130.79167v16.125h-58.40833c-0.50167,-1.11083 -0.7525,-2.32917 -0.7525,-3.58333c0,-2.54417 1.075,-4.98083 2.97417,-6.665l23.93667,-21.53583c0.9675,-0.89583 2.2575,-1.3975 3.5475,-1.3975c2.97417,0 5.41083,2.43667 5.41083,5.41083v11.64583z"
                                                  fill="#000000" opacity="0.07"></path>
                                            <path d="M132.58333,167.53875v-13.45542h35.83333c1.978,0 3.58333,-1.60533 3.58333,-3.58333v-14.33333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333h-35.83333v-13.45542c0,-3.10317 -3.67292,-4.73717 -5.98058,-2.66242l-23.93308,21.53942c-3.16408,2.84517 -3.16408,7.80808 0,10.65325l23.93308,21.53942c2.30767,2.07833 5.98058,0.44075 5.98058,-2.65883z"
                                                  fill="url(#color-3)" style="
    fill: #a5a5a5;
"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx">Move</div>
                        </div>

                    </div>
                </div>

                <a href="{{ folder.get_list_url }}?parent={{ folder.folder_path }}" class="">
                    <div class="card card-style">
                        <div class="card-body">
                            <h6 class="card-title"><i class="fas fa-folder"></i>
                                <span style="color:{{ folder.text_color }};" class="ml20">
                                    {{ folder.folder_name|truncatechars:18 }}
                                </span>
                            </h6>
                        </div>
                    </div>
                </a>

            </div>
            {% empty %}
            <p class="text-muted ml40">Sorry, no folders here.</p>
            {% endfor %}
        </div>
    </div>

    <div class="ml20 mt-3">
        <p class="text-muted">Files</p>
        <div class="row flxw">
            {% for file in new_list.Files %}
            <div class="flx flxc">

                <div class="action_container pr flx">
                    <div class="action_btn_div mla flx">...</div>
                    <div class="action_dropdown dn">
                        <div class="action_btn delete js_delete_file cp flx" data-action_type="delete"
                             data-url="{% url 'app_file_manager:file_delete' file.file_name %}?parent={{parent_name}}"
                             title="Delete">
                            <div class="file-delete-fafa-div flx mr10">
                                <svg height="20" style=" fill:#000000;" viewBox="0 0 172 172" width="20" x="0px"
                                     y="0px">
                                    <g transform="translate(-25.8,-25.8) scale(1.3,1.3)">
                                        <g fill="none" fill-rule="nonzero" font-family="none" font-size="none"
                                           font-weight="none"
                                           stroke="none" stroke-dasharray="" stroke-dashoffset="0" stroke-linecap="butt"
                                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-width="1"
                                           style="mix-blend-mode: normal"
                                           text-anchor="none">
                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                            <g fill="#bababa">
                                                <path d="M79.12,22.36c-2.82935,0 -5.16,2.33065 -5.16,5.16v3.44h-18.46312c-3.01809,0 -5.82411,1.58723 -7.37719,4.1757l-2.6539,4.4243h-5.90578c-3.77941,0 -6.88,3.10059 -6.88,6.88c0,3.77941 3.10059,6.88 6.88,6.88h1.84766l6.14766,79.90945c0.41158,5.36088 4.91248,9.53055 10.28976,9.53055h56.30985c5.37729,0 9.87818,-4.16967 10.28976,-9.53055l6.14766,-79.90945h1.84766c3.77941,0 6.88,-3.10059 6.88,-6.88c0,-3.77941 -3.10059,-6.88 -6.88,-6.88h-5.90578l-2.6539,-4.4243c-1.55309,-2.58847 -4.3591,-4.1757 -7.37719,-4.1757h-18.46313v-3.44c0,-2.82935 -2.33065,-5.16 -5.16,-5.16zM79.12,25.8h13.76c0.97185,0 1.72,0.74815 1.72,1.72v3.44h-17.2v-3.44c0,-0.97185 0.74815,-1.72 1.72,-1.72zM55.49688,34.4h19.89422c0.18575,0.0307 0.37527,0.0307 0.56102,0h20.07898c0.18575,0.0307 0.37527,0.0307 0.56102,0h19.91102c1.81511,0 3.49026,0.94936 4.4243,2.50609l2.62703,4.37391h-5.73445c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h8.6h6.02c1.92067,0 3.44,1.51933 3.44,3.44c0,1.92067 -1.51933,3.44 -3.44,3.44h-92.88c-1.92067,0 -3.44,-1.51933 -3.44,-3.44c0,-1.92067 1.51933,-3.44 3.44,-3.44h6.88h59.34c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645h-57.33445l2.62703,-4.37391c0.93404,-1.55673 2.60919,-2.50609 4.4243,-2.50609zM110.94,41.28c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h3.44c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645zM44.85438,53.32h82.29125l-6.13086,79.64742c-0.27642,3.60032 -3.24841,6.35258 -6.85984,6.35258h-56.30985c-3.61143,0 -6.58343,-2.75226 -6.85984,-6.35258zM65.36,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v60.2c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-60.2c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM86,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v60.2c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-6.02c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v6.02c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-60.2c0,-1.91076 1.52924,-3.44 3.44,-3.44c1.91076,0 3.44,1.52924 3.44,3.44v43.86c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-43.86c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM106.64,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v2.58c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-2.58c0,-1.91076 1.52924,-3.44 3.44,-3.44c1.91076,0 3.44,1.52924 3.44,3.44v60.2c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-43.86c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v43.86c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-60.2c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM65.36,61.92c1.91076,0 3.44,1.52924 3.44,3.44v60.2c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-60.2c0,-1.91076 1.52924,-3.44 3.44,-3.44zM102.32656,72.22656c-0.22809,0.00356 -0.44542,0.09758 -0.60418,0.26138c-0.15876,0.1638 -0.24595,0.38397 -0.24238,0.61205v3.44c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-3.44c0.00364,-0.23275 -0.08721,-0.45703 -0.25181,-0.62163c-0.1646,-0.1646 -0.38888,-0.25545 -0.62163,-0.25181z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx">Delete</div>
                        </div>
                        <div class="action_btn update js_update_file cp flx" data-action_type="update"
                             data-url="{% url 'app_file_manager:file_update' file.file_name %}?parent={{parent_name}}"
                             title="Update">
                            <div class="file-update-fafa-div flx mr10">
                                <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                       text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g fill="#bababa">
                                            <path d="M112.445,6.88c-2.76812,0 -5.53625,1.02125 -7.6325,3.1175l-80.9475,80.9475c-4.1925,4.20594 -4.20594,11.18 0,15.3725l1.6125,1.6125l-18.1675,45.6875c-0.04031,0.1075 -0.08062,0.215 -0.1075,0.3225c-0.90031,3.09063 -0.01344,6.42313 2.2575,8.7075c2.15,2.15 4.66281,2.74125 7.4175,2.4725c0.04031,0 0.06719,0 0.1075,0c0.28219,0.04031 0.57781,0.04031 0.86,0h140.395c1.23625,0.01344 2.39188,-0.63156 3.02344,-1.70656c0.61813,-1.075 0.61813,-2.39187 0,-3.46687c-0.63156,-1.075 -1.78719,-1.72 -3.02344,-1.70656h-123.0875l29.1325,-11.5025l1.3975,1.3975c2.10969,2.10969 4.86438,3.225 7.6325,3.225c2.76813,0 5.64375,-1.11531 7.74,-3.225l80.9475,-80.9475c4.16563,-4.1925 4.03125,-10.95156 -0.1075,-15.1575c-0.02687,-0.02687 0.02688,-0.08062 0,-0.1075l-41.8175,-41.925c-2.09625,-2.09625 -4.86437,-3.1175 -7.6325,-3.1175zM112.445,13.76c1.02125,0 2.01563,0.40313 2.795,1.1825l41.8175,41.8175c1.54531,1.54531 1.57219,4.01781 0,5.59l-55.04,55.04l-47.4075,-47.4075l55.04,-55.04c0.77938,-0.77937 1.77375,-1.1825 2.795,-1.1825zM49.7725,74.82l47.4075,47.4075l-7.525,7.525l-47.4075,-47.4075zM37.41,87.1825l47.4075,47.4075l-8.7075,8.7075c-0.77937,0.77938 -1.77375,1.1825 -2.795,1.1825c-1.02125,0 -2.01562,-0.40312 -2.795,-1.1825l-38.27,-38.1625c-0.13437,-0.16125 -0.26875,-0.29562 -0.43,-0.43l-3.1175,-3.225c-1.54531,-1.54531 -1.55875,-4.03125 0,-5.59zM30.745,113.1975l28.165,28.165l-42.2475,16.8775c-0.02687,0 -0.06719,0 -0.1075,0c-0.81969,0.04031 -2.58,-0.73906 -2.2575,-0.43c-0.51062,-0.51062 -0.63156,-1.24969 -0.43,-1.935z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx">Rename</div>
                        </div>
                        <div class="action_btn link js_link_file cp flx" data-action_type="link"
                             data-url="{% url 'app_file_manager:file_link' file.file_name %}?parent={{parent_name}}"
                             title="Update">
                            <div class="file-link-fafa-div flx mr10">
                                <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                       text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g fill="#bababa">
                                            <path d="M127.28,13.77344c-7.92834,-0.00043 -15.8592,3.0214 -21.8964,9.05688l-17.2,17.2c-8.57248,8.57248 -11.02262,20.95153 -7.4175,31.73937l12.35578,-12.35578c0.516,-3.53288 2.07631,-6.94068 4.79047,-9.65484l17.2,-17.2c3.354,-3.35056 7.76445,-5.03234 12.16765,-5.03234c4.4032,0 8.81038,1.67834 12.16094,5.03234c6.70456,6.708 6.70456,17.61731 0,24.32187l-17.2,17.2c-2.71416,2.71416 -6.11852,4.27103 -9.65484,4.79047l-12.3625,12.3625c3.19232,1.0664 6.51633,1.63266 9.84969,1.63266c7.9292,0 15.8592,-3.01968 21.8964,-9.05688l17.2,-17.2c12.0744,-12.07096 12.07096,-31.70841 0,-43.77937c-6.0372,-6.03376 -13.96135,-9.05644 -21.88969,-9.05688zM106.50563,58.41281c-1.78741,0.05326 -3.48388,0.80028 -4.73,2.08281l-41.28,41.28c-1.79734,1.72562 -2.52135,4.28808 -1.89282,6.69912c0.62853,2.41104 2.5114,4.29391 4.92245,4.92245c2.41104,0.62853 4.9735,-0.09548 6.69912,-1.89282l41.28,-41.28c2.03483,-1.97794 2.64666,-5.00221 1.54067,-7.61556c-1.10599,-2.61334 -3.7029,-4.27965 -6.53941,-4.196zM63.46531,79.20063c-8.43515,-0.42925 -17.00306,2.55361 -23.435,8.98297l-17.2,17.2c-12.07096,12.07096 -12.07096,31.71513 0,43.78609c6.0372,6.03376 13.96393,9.05016 21.88969,9.05016c7.92576,0 15.85249,-3.01968 21.88969,-9.05688l17.2,-17.2c8.57248,-8.57248 11.02934,-20.95153 7.42422,-31.73937l-12.3625,12.3625c-0.516,3.53288 -2.07631,6.94068 -4.79047,9.65484l-17.2,17.2c-6.70456,6.708 -17.61731,6.708 -24.32187,0c-6.70456,-6.708 -6.70456,-17.61731 0,-24.32187l17.2,-17.2c2.71416,-2.71416 6.12196,-4.27775 9.65484,-4.79719l12.35578,-12.35578c-2.69696,-0.90128 -5.49266,-1.42239 -8.30437,-1.56547z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx">Get link</div>
                        </div>
                        <div class="action_btn move js_move_file cp flx" data-action_type="move"
                             data-url="{% url 'app_file_manager:file_move' file.file_name %}?parent={{parent_name}}"
                             title="Update">
                            <div class="file-move-fafa-div flx mr10">
                                <svg version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                    <defs>
                                        <linearGradient x1="82.41667" y1="24.09792" x2="82.41667" y2="51.987"
                                                        gradientUnits="userSpaceOnUse" id="color-1">
                                            <stop offset="0" stop-color="#eba600"></stop>
                                            <stop offset="1" stop-color="#c28200"></stop>
                                        </linearGradient>
                                        <linearGradient x1="86" y1="38.8935" x2="86" y2="146.85575"
                                                        gradientUnits="userSpaceOnUse" id="color-2">
                                            <stop offset="0" stop-color="#ffd869"></stop>
                                            <stop offset="1" stop-color="#fec52b"></stop>
                                        </linearGradient>
                                        <linearGradient x1="171.49833" y1="122.1415" x2="103.54042" y2="159.92775"
                                                        gradientUnits="userSpaceOnUse" id="color-3">
                                            <stop offset="0" stop-color="#007ad9"></stop>
                                            <stop offset="1" stop-color="#2aa4f4"></stop>
                                        </linearGradient>
                                    </defs>
                                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                       text-anchor="none" style="mix-blend-mode: normal">
                                        <path d="M0,172v-172h172v172z" fill="none"></path>
                                        <g>
                                            <path d="M87.4835,37.31683l-9.08733,-9.08733c-2.01383,-2.01383 -4.74792,-3.14617 -7.60025,-3.14617h-49.29592c-3.95958,0 -7.16667,3.20708 -7.16667,7.16667v23.29167l7.16667,77.04167c0,3.95958 3.20708,7.16667 7.16667,7.16667h114.66667c3.95958,0 7.16667,-3.20708 7.16667,-7.16667v-82.41667c0,-3.95958 -3.20708,-7.16667 -7.16667,-7.16667l-50.783,-3.58333c-1.89917,0 -3.72308,-0.75608 -5.06683,-2.09983z"
                                                  fill="url(#color-1)" style="
    fill: #a9a9a9;
"></path>
                                            <path d="M77.34983,51.65017l11.71033,-11.71033c0.33325,-0.33325 0.78833,-0.52317 1.26492,-0.52317h60.17492c3.95958,0 7.16667,3.20708 7.16667,7.16667v93.16667c0,3.95958 -3.20708,7.16667 -7.16667,7.16667h-129c-3.95958,0 -7.16667,-3.20708 -7.16667,-7.16667v-84.20833c0,-0.989 0.80267,-1.79167 1.79167,-1.79167h56.158c1.89917,0 3.72308,-0.75608 5.06683,-2.09983z"
                                                  fill="url(#color-2)" style="
    fill: #cccccc;
"></path>
                                            <path d="M157.66667,129v17.91667h-60.3075c-0.43,-1.14667 -0.645,-2.365 -0.645,-3.58333c0,-3.04583 1.29,-5.94833 3.5475,-7.99083l23.93667,-21.53583c1.32583,-1.1825 3.04583,-1.86333 4.76583,-1.86333c3.9775,0 7.2025,3.225 7.2025,7.2025v9.85417z"
                                                  fill="#000000" opacity="0.05" style="
"></path>
                                            <path d="M157.66667,130.79167v16.125h-58.40833c-0.50167,-1.11083 -0.7525,-2.32917 -0.7525,-3.58333c0,-2.54417 1.075,-4.98083 2.97417,-6.665l23.93667,-21.53583c0.9675,-0.89583 2.2575,-1.3975 3.5475,-1.3975c2.97417,0 5.41083,2.43667 5.41083,5.41083v11.64583z"
                                                  fill="#000000" opacity="0.07"></path>
                                            <path d="M132.58333,167.53875v-13.45542h35.83333c1.978,0 3.58333,-1.60533 3.58333,-3.58333v-14.33333c0,-1.978 -1.60533,-3.58333 -3.58333,-3.58333h-35.83333v-13.45542c0,-3.10317 -3.67292,-4.73717 -5.98058,-2.66242l-23.93308,21.53942c-3.16408,2.84517 -3.16408,7.80808 0,10.65325l23.93308,21.53942c2.30767,2.07833 5.98058,0.44075 5.98058,-2.65883z"
                                                  fill="url(#color-3)" style="
    fill: #a5a5a5;
"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx">Move</div>
                        </div>
                    </div>
                </div>

                <div class="card card-style {{file.is_modified}}">
                    <div class="card-body">

                        <i class="fas fa-file{{ file.icon }}"></i>
                        <span class="ml5 mr15">{{ file.file_name|truncatechars:17 }}</span>

                        <p class="card-text cp" data-src="{{file.link}}" data-icon="{{file.icon}}"></p>

                        <h6 class="card-title">
                            <div class="small" data-id="{{file.modified}}">C: {{file.mmodified}}</div>
                            <div class="small" data-id="{{file.created}}">M: {{file.ccreated}}</div>
                            <span class="float-right">
                            <a href="{{file.link}}" download="" target="_blank"><i class="fas fa-download"></i></a>
                        </span>
                        </h6>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-muted ml40">Sorry, no files in this folder.</p>

            {% endfor %}


        </div>
    </div>


    <div class="ml20 mt-3 dn">
        <p class="text-muted">Folders</p>
        <div class="row">
            {% for folder in folder_list %}
            <div class="flx flxc">
                <div class="action_container pr flx">
                    <div class="action_btn_div mla flx">...</div>
                    <div class="action_dropdown dn">

                        <div class="action_btn delete js_delete_folder cp flx" data-action_type="delete"
                             data-url="{% url 'app_file_manager:folder_delete' folder.id %}" title="Delete">
                            <div class="folder-delete-fafa-div flx mr10">
                                <svg height="20" style=" fill:#000000;" viewBox="0 0 172 172" width="20" x="0px"
                                     y="0px">
                                    <g transform="translate(-25.8,-25.8) scale(1.3,1.3)">
                                        <g fill="none" fill-rule="nonzero" font-family="none" font-size="none"
                                           font-weight="none"
                                           stroke="none" stroke-dasharray="" stroke-dashoffset="0" stroke-linecap="butt"
                                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-width="1"
                                           style="mix-blend-mode: normal"
                                           text-anchor="none">
                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                            <g fill="#bababa">
                                                <path d="M79.12,22.36c-2.82935,0 -5.16,2.33065 -5.16,5.16v3.44h-18.46312c-3.01809,0 -5.82411,1.58723 -7.37719,4.1757l-2.6539,4.4243h-5.90578c-3.77941,0 -6.88,3.10059 -6.88,6.88c0,3.77941 3.10059,6.88 6.88,6.88h1.84766l6.14766,79.90945c0.41158,5.36088 4.91248,9.53055 10.28976,9.53055h56.30985c5.37729,0 9.87818,-4.16967 10.28976,-9.53055l6.14766,-79.90945h1.84766c3.77941,0 6.88,-3.10059 6.88,-6.88c0,-3.77941 -3.10059,-6.88 -6.88,-6.88h-5.90578l-2.6539,-4.4243c-1.55309,-2.58847 -4.3591,-4.1757 -7.37719,-4.1757h-18.46313v-3.44c0,-2.82935 -2.33065,-5.16 -5.16,-5.16zM79.12,25.8h13.76c0.97185,0 1.72,0.74815 1.72,1.72v3.44h-17.2v-3.44c0,-0.97185 0.74815,-1.72 1.72,-1.72zM55.49688,34.4h19.89422c0.18575,0.0307 0.37527,0.0307 0.56102,0h20.07898c0.18575,0.0307 0.37527,0.0307 0.56102,0h19.91102c1.81511,0 3.49026,0.94936 4.4243,2.50609l2.62703,4.37391h-5.73445c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h8.6h6.02c1.92067,0 3.44,1.51933 3.44,3.44c0,1.92067 -1.51933,3.44 -3.44,3.44h-92.88c-1.92067,0 -3.44,-1.51933 -3.44,-3.44c0,-1.92067 1.51933,-3.44 3.44,-3.44h6.88h59.34c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645h-57.33445l2.62703,-4.37391c0.93404,-1.55673 2.60919,-2.50609 4.4243,-2.50609zM110.94,41.28c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h3.44c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645zM44.85438,53.32h82.29125l-6.13086,79.64742c-0.27642,3.60032 -3.24841,6.35258 -6.85984,6.35258h-56.30985c-3.61143,0 -6.58343,-2.75226 -6.85984,-6.35258zM65.36,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v60.2c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-60.2c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM86,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v60.2c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-6.02c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v6.02c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-60.2c0,-1.91076 1.52924,-3.44 3.44,-3.44c1.91076,0 3.44,1.52924 3.44,3.44v43.86c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-43.86c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM106.64,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v2.58c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-2.58c0,-1.91076 1.52924,-3.44 3.44,-3.44c1.91076,0 3.44,1.52924 3.44,3.44v60.2c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-43.86c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v43.86c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-60.2c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM65.36,61.92c1.91076,0 3.44,1.52924 3.44,3.44v60.2c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-60.2c0,-1.91076 1.52924,-3.44 3.44,-3.44zM102.32656,72.22656c-0.22809,0.00356 -0.44542,0.09758 -0.60418,0.26138c-0.15876,0.1638 -0.24595,0.38397 -0.24238,0.61205v3.44c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-3.44c0.00364,-0.23275 -0.08721,-0.45703 -0.25181,-0.62163c-0.1646,-0.1646 -0.38888,-0.25545 -0.62163,-0.25181z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx">Delete</div>
                        </div>

                        <div class="action_btn rename">Rename</div>
                        <div class="action_btn get_link">Get link</div>
                    </div>
                </div>
                <a href="{{ folder.get_list_url }}?id={{ folder.pk }}&parent={{ folder.name|truncatechars:18 }}"
                   class="">
                    <div class="card card-style">
                        <div class="card-body">
                            <h6 class="card-title"><i class="fas fa-folder"></i>
                                <span style="color:{{ folder.text_color }};" class="ml20">
                                    {{ folder.name|truncatechars:18 }}
                                </span>
                            </h6>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <p class="text-muted ml40">Sorry, no folders here.</p>
            {% endfor %}
        </div>
    </div>

    <div class="ml20 mt-3 dn">
        <p class="text-muted">Files</p>
        <div class="row">

            {% for file in file_list %}
            <div class="flx flxc w-f-c">

                <div class="action_container pr flx">
                    <div class="action_btn_div mla flx">...</div>
                    <div class="action_dropdown dn">

                        <div class="action_btn delete js_delete_file cp flx" data-action_type="delete"
                             data-url="{% url 'app_file_manager:file_delete' file.id %}" title="Delete">
                            <div class="file-delete-fafa-div flx mr10">
                                <svg height="20" style=" fill:#000000;" viewBox="0 0 172 172" width="20" x="0px"
                                     y="0px">
                                    <g transform="translate(-25.8,-25.8) scale(1.3,1.3)">
                                        <g fill="none" fill-rule="nonzero" font-family="none" font-size="none"
                                           font-weight="none"
                                           stroke="none" stroke-dasharray="" stroke-dashoffset="0" stroke-linecap="butt"
                                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-width="1"
                                           style="mix-blend-mode: normal"
                                           text-anchor="none">
                                            <path d="M0,172v-172h172v172z" fill="none"></path>
                                            <g fill="#bababa">
                                                <path d="M79.12,22.36c-2.82935,0 -5.16,2.33065 -5.16,5.16v3.44h-18.46312c-3.01809,0 -5.82411,1.58723 -7.37719,4.1757l-2.6539,4.4243h-5.90578c-3.77941,0 -6.88,3.10059 -6.88,6.88c0,3.77941 3.10059,6.88 6.88,6.88h1.84766l6.14766,79.90945c0.41158,5.36088 4.91248,9.53055 10.28976,9.53055h56.30985c5.37729,0 9.87818,-4.16967 10.28976,-9.53055l6.14766,-79.90945h1.84766c3.77941,0 6.88,-3.10059 6.88,-6.88c0,-3.77941 -3.10059,-6.88 -6.88,-6.88h-5.90578l-2.6539,-4.4243c-1.55309,-2.58847 -4.3591,-4.1757 -7.37719,-4.1757h-18.46313v-3.44c0,-2.82935 -2.33065,-5.16 -5.16,-5.16zM79.12,25.8h13.76c0.97185,0 1.72,0.74815 1.72,1.72v3.44h-17.2v-3.44c0,-0.97185 0.74815,-1.72 1.72,-1.72zM55.49688,34.4h19.89422c0.18575,0.0307 0.37527,0.0307 0.56102,0h20.07898c0.18575,0.0307 0.37527,0.0307 0.56102,0h19.91102c1.81511,0 3.49026,0.94936 4.4243,2.50609l2.62703,4.37391h-5.73445c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h8.6h6.02c1.92067,0 3.44,1.51933 3.44,3.44c0,1.92067 -1.51933,3.44 -3.44,3.44h-92.88c-1.92067,0 -3.44,-1.51933 -3.44,-3.44c0,-1.92067 1.51933,-3.44 3.44,-3.44h6.88h59.34c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645h-57.33445l2.62703,-4.37391c0.93404,-1.55673 2.60919,-2.50609 4.4243,-2.50609zM110.94,41.28c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h3.44c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645zM44.85438,53.32h82.29125l-6.13086,79.64742c-0.27642,3.60032 -3.24841,6.35258 -6.85984,6.35258h-56.30985c-3.61143,0 -6.58343,-2.75226 -6.85984,-6.35258zM65.36,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v60.2c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-60.2c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM86,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v60.2c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-6.02c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v6.02c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-60.2c0,-1.91076 1.52924,-3.44 3.44,-3.44c1.91076,0 3.44,1.52924 3.44,3.44v43.86c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-43.86c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM106.64,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v2.58c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-2.58c0,-1.91076 1.52924,-3.44 3.44,-3.44c1.91076,0 3.44,1.52924 3.44,3.44v60.2c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-43.86c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v43.86c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-60.2c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM65.36,61.92c1.91076,0 3.44,1.52924 3.44,3.44v60.2c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-60.2c0,-1.91076 1.52924,-3.44 3.44,-3.44zM102.32656,72.22656c-0.22809,0.00356 -0.44542,0.09758 -0.60418,0.26138c-0.15876,0.1638 -0.24595,0.38397 -0.24238,0.61205v3.44c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-3.44c0.00364,-0.23275 -0.08721,-0.45703 -0.25181,-0.62163c-0.1646,-0.1646 -0.38888,-0.25545 -0.62163,-0.25181z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx">Delete</div>
                        </div>

                        <div class="action_btn rename">Rename</div>
                        <div class="action_btn get_link">Get link</div>
                    </div>
                </div>

                <div class="card card-style">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                        </small></p>
                        <h6 class="card-title"><i class="fas fa-file{{ file.icon }}"></i>
                            <span class="ml5 mr15">{{ file.name|truncatechars:17 }}</span>
                            <span class="float-right">
                            <a href="{{ file.get_download_url }}"><i class="fas fa-download"></i></a>
                        </span>
                        </h6>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-muted ml40">Sorry, no files in this folder.</p>

            {% endfor %}


        </div>
    </div>

</div>

{% endblock %}

{% block js %}
<script>{% include 'app_file_manager/app_folder/js/list.js' %}</script>
<script>{% include 'app_file_manager/app_folder/js/folder_list_fill_modal.js' %}</script>
<script>{% include 'app_file_manager/app_file/js/file_list_fill_modal.js' %}</script>

{% endblock %}
