
<form method="post" action="{% url 'app_file_manager:folder_delete' folder.folder_name %}?parent={{folder.parent_name}}" class="js_folder_delete_form" id="folder_crud_form" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="">Are you sure you want to Delete this folder <strong>{{ folder.folder_name }}</strong> ?</p>
</form>

