
<div class="flx partitioned_form w100">
    <div class="partitioned_form_field w100">
        <input type="text" name="full_link" maxlength="50" autocomplete="off" value="{{ request.build_absolute_uri }}" readonly="" required="" id="id_full_link">
    </div>
</div>
