{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block head %}
<style> {% include 'accounts/css/change_password.css' %} </style>
{% endblock %}


{% block content %}
<div class="all-container">
    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'app_smart_attendance:settings' %}">Settings</a></li>
            <li>Change password</li>
        </ul>
    </div>


    <div class="w90 ma mt20">
        <h1 class="fs18 pb10 c405">Change password</h1>
        <div class="oa">
            <form method="post" id="change_password_crud_form">
                {% csrf_token %}

                <div class="display_message">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                    </li>
                    {% endfor %}
                </div>

                {% if form.non_field_errors %}
                <div class="flx non_field_errors">
                    <div class="non_field_errors_div">
                        {{ form.non_field_errors }}
                    </div>
                </div>
                {% endif %}

                <div class="flx flxc partitioned_form">
                    <div class="partitioned_form_field">
                        {{ form }}
                    </div>
                </div>

                <button type="submit"
                        class="luein-modal-button submit"
                        form="change_password_crud_form">
                    Save changes
                </button>
                <a class="luein-modal-button cancel" href="{% url 'app_smart_attendance:settings' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}