{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx flxc partitioned_form">
    <div class="partitioned_form_field">
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
        {% if form.old_password.errors %}
        <span class="errorspan">{{ form.old_password.errors }}</span>
        {% endif %}
    </div>
    <div class="partitioned_form_field">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
        <span class="errorspan">{{ form.new_password1.errors }}</span>
        {% endif %}
    </div>
    <div class="partitioned_form_field">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
        <span class="errorspan">{{ form.new_password2.errors }}</span>
        {% endif %}
    </div>
</div>



