<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Change password
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form method="post" action="{% url 'app_root:change_password' %}" class="js_change_password_create_form" id="change_password_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10 w100">
            {% include 'accounts/html/partial_change_password_form_v2.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="change_password_crud_form">Save changes</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>
<script>{% include 'accounts/js/change_password_list_submit_v2.js' %}</script>
<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>


