{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/module/camera/css/camera_list.css' %}</style>
{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'app_smart_attendance:settings' %}">Settings</a></li>
            <li>Camera list</li>
        </ul>
    </div>
    {% with role=request.user.profile.role %}
    {% if role == "school_admin" %}
    <div class="w90 ma mb10 flx">
        <button class="button js_create_camera pt5 pr10 pb5 pl10 mr2 mla"
                data-url="{% url 'app_smart_attendance:camera_create' %}" data-action_type="create"
                type="button">Add Camera
        </button>
    </div>
    {% endif %}
    {% endwith %}

    <div class="w90 ma oa bsj br5">
        <table class="table405 camera_list_table" id="camera_list_table">
            <thead>
            <tr>
                <th>#</th>
                <th>camera_id</th>
                <th>school_id</th>
                <th>added_by</th>
                <th>title</th>
                <th>url</th>
                <th>ip_address</th>
                <th>port</th>
                <th>user</th>
                <th>password</th>
                <th>extra</th>
                <th>is_active</th>
                <th>status</th>
                <th>type</th>
                <th>mac_address</th>
                <th>resolution</th>
                <th>date_time</th>
                <th>updated_at</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% include 'app_smart_attendance/module/camera/html/partial_camera_list.html' %}
            </tbody>
        </table>

    </div>

</div>

<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>

{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/module/camera/js/camera_list.js' %}</script>
<script>{% include 'app_smart_attendance/module/camera/js/camera_list_fill_modal.js' %}</script>

{% endblock %}



