{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/module/camera/css/camera_detail.css' %}</style>

{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'app_smart_attendance:settings' %}">Settings</a></li>
            <li><a href="{% url 'app_smart_attendance:camera_list' %}">Camera list</a></li>
            <li>Camera Details</li>
        </ul>
    </div>

    <div class="w90 ma fwb p10">Camera details</div>
    <div class="oa w90 ma bsj">
        <table class="table405">
            {% with object as item %}
            <tbody>
            {% if item %}
            <tr>
                <th>Camera</th>
                <td>
                    <img
                            id="img"
                            src="{{item.url}}"
                            class="camera_feed">

                </td>
            </tr>


            <tr>
                <th>Camera ID</th>
                <td>{{item.camera_id}}</td>
            </tr>

            <tr>
                <th>Added by</th>
                <td>
                    {{item.added_by}}
                </td>
            </tr>
            <tr>
                <th>Title</th>
                <td>
                    <div class="fwb t-t-c">{{item.title}}</div>
                </td>
            </tr>
            <tr>
                <th>Url</th>
                <td>
                    {% if item.url %}
                    {{item.url}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>IP Address</th>
                <td>{{item.ip_address}}</td>
            </tr>
            <tr>
                <th>Port</th>
                <td>{{item.port}}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>
                    {% if item.user %}
                    {{item.user}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Password</th>
                <td>
                    {% if item.password %}
                    {{item.password}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Extra</th>
                <td>{% if item.extra %}
                    {{item.extra}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Is active</th>
                <td>{{item.is_active}}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if item.status %}
                    {{item.status}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{% if item.type %}
                    {{item.type}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>MAC address</th>
                <td>{% if item.mac_address %}
                    {{item.mac_address}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Resolution</th>
                <td>{% if item.resolution %}
                    {{item.resolution}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Added on</th>
                <td>{% if item.date_time %}
                    {{item.date_time}}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Updated on</th>
                <td>{{object.update_time}}</td>
            </tr>
            {% else %}
            "No data found"
            {% endif %}
            </tbody>
            {% endwith %}
        </table>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/module/camera/js/camera_detail.js' %}</script>
{% endblock %}



