{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx partitioned_form">
    <div class="form-left">
        <div class="partitioned_form_field">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% if form.title.errors %}
            <span class="errorspan">{{ form.title.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.url.label_tag }}
            {{ form.url }}
            {% if form.url.errors %}
            <span class="errorspan">{{ form.url.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.ip_address.label_tag }}
            {{ form.ip_address }}
            {% if form.ip_address.errors %}
            <span class="errorspan">{{ form.ip_address.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.port.label_tag }}
            {{ form.port }}
            {% if form.port.errors %}
            <span class="errorspan">{{ form.port.errors }}</span>
            {% endif %}
        </div>
    </div>


    <div class="form-right">
        <div class="partitioned_form_field">
            {{ form.user.label_tag }}
            {{ form.user }}
            {% if form.user.errors %}
            <span class="errorspan">{{ form.user.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.password.errors %}
            <span class="errorspan">{{ form.password.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.type.label_tag }}
            {{ form.type }}
            {% if form.type.errors %}
            <span class="errorspan">{{ form.type.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.mac_address.label_tag }}
            {{ form.mac_address }}
            {% if form.mac_address.errors %}
            <span class="errorspan">{{ form.mac_address.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.resolution.label_tag }}
            {{ form.resolution }}
            {% if form.resolution.errors %}
            <span class="errorspan">{{ form.resolution.errors }}</span>
            {% endif %}
        </div>
    </div>

</div>



