{% load template_tags %}

{% if camera_filter_qs %}
{% for item in camera_filter_qs %}
<tr class="wsn">
    <td>#{{forloop.counter}}</td>
    <td>{{item.camera_id}}</td>
    <td>{{item.school_id.school_id}}</td>
    <td>{{item.added_by}}</td>
    <td><div class="fwb t-t-c">{{item.title}}</div></td>
    <td>
        {% if item.url %}
        {{item.url}}
        {% endif %}
    </td>
    <td>{{item.ip_address}}</td>
    <td>{{item.port}}</td>
    <td>
        {% if item.user %}
        {{item.user}}
        {% endif %}
    </td>
    <td>
        {% if item.password %}
        {{item.password}}
        {% endif %}
    </td>
    <td>
    {% if item.extra %}
    {{item.extra}}
    {% endif %}
    </td>
    <td>{{item.is_active}}</td>
    <td>
    {% if item.status %}
    {{item.status}}
    {% endif %}
    </td>
    <td>
        {% if item.type %}
        {{item.type}}
        {% endif %}
    </td>
    <td>
        {% if item.mac_address %}
        {{item.mac_address}}
        {% endif %}
    </td>

    <td>
        {% if item.resolution %}
        {{item.resolution}}
        {% endif %}
    </td>
    <td>{{item.date_time}}</td>
    <td>{{item.updated_at}}</td>
    <td class="flx">
        <!--view-->
        <a title="Detail" class="flx wfc mr10" href="{% url 'app_smart_attendance:camera_detail' item.camera_id %}">
            <svg class="detail" version="1.1" width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#bababa"><path d="M86,28.66667c-57.33333,0 -78.83333,57.33333 -78.83333,57.33333c0,0 21.5,57.33333 78.83333,57.33333c57.33333,0 78.83333,-57.33333 78.83333,-57.33333c0,0 -21.5,-57.33333 -78.83333,-57.33333zM86,43c37.81133,0 56.93626,30.58084 63.12826,42.97201c-6.19917,12.30517 -25.46742,43.02799 -63.12826,43.02799c-37.81133,0 -56.93626,-30.58084 -63.12826,-42.97201c6.20633,-12.30517 25.46742,-43.02799 63.12826,-43.02799zM86,57.33333c-15.83117,0 -28.66667,12.8355 -28.66667,28.66667c0,15.83117 12.8355,28.66667 28.66667,28.66667c15.83117,0 28.66667,-12.8355 28.66667,-28.66667c0,-15.83117 -12.8355,-28.66667 -28.66667,-28.66667zM86,71.66667c7.91917,0 14.33333,6.41417 14.33333,14.33333c0,7.91917 -6.41417,14.33333 -14.33333,14.33333c-7.91917,0 -14.33333,-6.41417 -14.33333,-14.33333c0,-7.91917 6.41417,-14.33333 14.33333,-14.33333z"></path></g></g></svg>
        </a>

        <!--edit-->
        <div class="js_update_camera" data-action_type="update"
             data-url="{% url 'app_smart_attendance:camera_update' item.camera_id %}" title="Update">
            <div class="cp job-edit-fafa-div flx">
                <svg height="20" style=" fill:#000000;" viewBox="0 0 172 172" width="20" x="0px"
                     y="0px">
                    <g transform="translate(3.44,3.44) scale(0.96,0.96)">
                        <g fill="none" fill-rule="nonzero" font-family="none" font-size="none"
                           font-weight="none" stroke="none" stroke-dasharray=""
                           stroke-dashoffset="0" stroke-linecap="butt" stroke-linejoin="miter"
                           stroke-miterlimit="10" stroke-width="1"
                           style="mix-blend-mode: normal"
                           text-anchor="none">
                            <path d="M0,172v-172h172v172z" fill="none" stroke="none"></path>
                            <g fill="#bababa" stroke="none">
                                <path d="M13.76,0v165.12h58.48c1.23625,0.01344 2.39188,-0.63156 3.02344,-1.70656c0.61813,-1.075 0.61813,-2.39187 0,-3.46687c-0.63156,-1.075 -1.78719,-1.72 -3.02344,-1.70656h-51.6v-151.36h61.92v48.16h48.16v37.84c-0.01344,1.23625 0.63156,2.39188 1.70656,3.02344c1.075,0.61813 2.39187,0.61813 3.46687,0c1.075,-0.63156 1.72,-1.78719 1.70656,-3.02344v-42.6775l-0.9675,-1.075l-48.16,-48.16l-1.075,-0.9675zM89.44,11.825l36.335,36.335h-36.335zM157.9175,85.6775c-3.61469,0 -7.24281,1.33031 -9.9975,4.085l-2.365,2.4725l0.1075,0.1075l-53.105,53.105c-0.44344,0.40313 -0.77937,0.92719 -0.9675,1.505l-5.805,20.64c-0.34937,1.19594 -0.04031,2.48594 0.83313,3.38625c0.87344,0.88688 2.15,1.23625 3.35937,0.91375l20.64,-5.4825c0.57781,-0.18812 1.10188,-0.52406 1.505,-0.9675l54.395,-53.965c0.43,-0.37625 0.76594,-0.86 0.9675,-1.3975l0.43,-0.3225c5.50938,-5.50937 5.50938,-14.48562 0,-19.995c-2.75469,-2.75469 -6.38281,-4.085 -9.9975,-4.085zM150.5,97.18l10.32,10.32l-52.7825,52.46l-10.105,-9.7825l0.1075,-0.43z"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        
       <!--delete-->
        {% if request.user.profile.role == "school_admin" or request.user.profile.role == "admin" %}
        <div class="mr10"></div>
        <div class="js_delete_camera cp" data-action_type="delete"
             data-url="{% url 'app_smart_attendance:camera_delete' item.camera_id %}" title="Delete">
            <div class="job-delete-fafa-div flx">
                <svg height="20" style=" fill:#000000;" viewBox="0 0 172 172" width="20" x="0px" y="0px">
                    <g transform="translate(-25.8,-25.8) scale(1.3,1.3)">
                        <g fill="none" fill-rule="nonzero" font-family="none" font-size="none" font-weight="none"
                           stroke="none" stroke-dasharray="" stroke-dashoffset="0" stroke-linecap="butt"
                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-width="1"
                           style="mix-blend-mode: normal"
                           text-anchor="none">
                            <path d="M0,172v-172h172v172z" fill="none"></path>
                            <g fill="#bababa">
                                <path d="M79.12,22.36c-2.82935,0 -5.16,2.33065 -5.16,5.16v3.44h-18.46312c-3.01809,0 -5.82411,1.58723 -7.37719,4.1757l-2.6539,4.4243h-5.90578c-3.77941,0 -6.88,3.10059 -6.88,6.88c0,3.77941 3.10059,6.88 6.88,6.88h1.84766l6.14766,79.90945c0.41158,5.36088 4.91248,9.53055 10.28976,9.53055h56.30985c5.37729,0 9.87818,-4.16967 10.28976,-9.53055l6.14766,-79.90945h1.84766c3.77941,0 6.88,-3.10059 6.88,-6.88c0,-3.77941 -3.10059,-6.88 -6.88,-6.88h-5.90578l-2.6539,-4.4243c-1.55309,-2.58847 -4.3591,-4.1757 -7.37719,-4.1757h-18.46313v-3.44c0,-2.82935 -2.33065,-5.16 -5.16,-5.16zM79.12,25.8h13.76c0.97185,0 1.72,0.74815 1.72,1.72v3.44h-17.2v-3.44c0,-0.97185 0.74815,-1.72 1.72,-1.72zM55.49688,34.4h19.89422c0.18575,0.0307 0.37527,0.0307 0.56102,0h20.07898c0.18575,0.0307 0.37527,0.0307 0.56102,0h19.91102c1.81511,0 3.49026,0.94936 4.4243,2.50609l2.62703,4.37391h-5.73445c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h8.6h6.02c1.92067,0 3.44,1.51933 3.44,3.44c0,1.92067 -1.51933,3.44 -3.44,3.44h-92.88c-1.92067,0 -3.44,-1.51933 -3.44,-3.44c0,-1.92067 1.51933,-3.44 3.44,-3.44h6.88h59.34c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645h-57.33445l2.62703,-4.37391c0.93404,-1.55673 2.60919,-2.50609 4.4243,-2.50609zM110.94,41.28c-0.31015,-0.00439 -0.59863,0.15856 -0.75498,0.42645c-0.15635,0.26789 -0.15635,0.59921 0,0.8671c0.15635,0.26789 0.44484,0.43084 0.75498,0.42645h3.44c0.31015,0.00439 0.59863,-0.15856 0.75498,-0.42645c0.15635,-0.26789 0.15635,-0.59921 0,-0.8671c-0.15635,-0.26789 -0.44484,-0.43084 -0.75498,-0.42645zM44.85438,53.32h82.29125l-6.13086,79.64742c-0.27642,3.60032 -3.24841,6.35258 -6.85984,6.35258h-56.30985c-3.61143,0 -6.58343,-2.75226 -6.85984,-6.35258zM65.36,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v60.2c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-60.2c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM86,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v60.2c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-6.02c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v6.02c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-60.2c0,-1.91076 1.52924,-3.44 3.44,-3.44c1.91076,0 3.44,1.52924 3.44,3.44v43.86c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-43.86c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM106.64,60.2c-2.83988,0 -5.16,2.32012 -5.16,5.16v2.58c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-2.58c0,-1.91076 1.52924,-3.44 3.44,-3.44c1.91076,0 3.44,1.52924 3.44,3.44v60.2c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-43.86c0.00439,-0.31015 -0.15856,-0.59863 -0.42645,-0.75498c-0.26789,-0.15635 -0.59921,-0.15635 -0.8671,0c-0.26789,0.15635 -0.43084,0.44484 -0.42645,0.75498v43.86c0,2.83988 2.32012,5.16 5.16,5.16c2.83988,0 5.16,-2.32012 5.16,-5.16v-60.2c0,-2.83988 -2.32012,-5.16 -5.16,-5.16zM65.36,61.92c1.91076,0 3.44,1.52924 3.44,3.44v60.2c0,1.91076 -1.52924,3.44 -3.44,3.44c-1.91076,0 -3.44,-1.52924 -3.44,-3.44v-60.2c0,-1.91076 1.52924,-3.44 3.44,-3.44zM102.32656,72.22656c-0.22809,0.00356 -0.44542,0.09758 -0.60418,0.26138c-0.15876,0.1638 -0.24595,0.38397 -0.24238,0.61205v3.44c-0.00439,0.31015 0.15856,0.59863 0.42645,0.75498c0.26789,0.15635 0.59921,0.15635 0.8671,0c0.26789,-0.15635 0.43084,-0.44484 0.42645,-0.75498v-3.44c0.00364,-0.23275 -0.08721,-0.45703 -0.25181,-0.62163c-0.1646,-0.1646 -0.38888,-0.25545 -0.62163,-0.25181z"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        {% endif %}

    </td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td class="no_data_to_show">
        <div class="red p10">No camera added yet...!!!</div>
    </td>
</tr>

{% endif %}