<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Update camera
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body">
    <form method="post" action="{% url 'app_smart_attendance:camera_update' form.instance.camera_id %}" class="js_camera_update_form" id="camera_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10">
            {% include 'app_smart_attendance/module/camera/html/partial_camera_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <!-- Use buttons as per need-->
    <button type="submit" class="luein-modal-button submit" form="camera_crud_form">Update</button>
    <button class="luein-modal-button cancel">Close</button>
</div>
<script>{% include 'app_smart_attendance/module/camera/js/camera_list_submit.js' %}</script>
<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>