{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}
{% load template_tags %}

{% block head %}
<style>{% include 'app_smart_attendance/module/announcement/css/announcement.css' %}</style>
{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Announcement</li>
        </ul>
    </div>

    {% with role=request.user.profile.role %}

    {% if role == "admin" or role == "staff" or role == "school_admin" or role == "teacher" or role == "non_teacher" %}
    <div class="flx w90 ma mb10">
        <button class="button js_create_announcement pt5 pr10 pb5 pl10 mla"
                data-url="{% url 'app_smart_attendance:announcement_create' %}" data-action_type="create"
                type="button">Add
        </button>
    </div>
    {% endif %}

    <div class="announcement_list_table w90 ma" id="announcement_list_table">
        {% include 'app_smart_attendance/module/announcement/html/partial_announcement_list.html' %}
    </div>

    {% endwith %}

</div>


<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>


{% endblock %}

{% block javascript %}

<script>{% include 'app_smart_attendance/module/announcement/js/announcement_list_fill_modal.js' %}</script>
<script>{% include 'app_smart_attendance/module/announcement/js/announcement.js' %}</script>
{% endblock %}




