<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Create Announcement
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form method="post" action="{% url 'app_smart_attendance:announcement_create' %}" class="js_announcement_create_form" id="announcement_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10 w100">
            {% include 'app_smart_attendance/module/announcement/html/partial_announcement_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="announcement_crud_form">Create</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>

<script>{% include 'app_smart_attendance/module/announcement/js/announcement_list_submit.js' %}</script>
<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>


