<div class="flx flxc">
    {% if announcement_qs %}
        {% for item in announcement_qs %}
        {% if item.is_active or request.user.profile == item.created_by %}
            {% include 'app_smart_attendance/module/announcement/html/partial_announcement_card.html' %}
        {% else %}
             <div class="flx bdr p10 red">No announcements.</div>
        {% endif %}
        {% endfor %}
    {% else %}
        <div class="flx bdr p10 red">No announcements.</div>
    {% endif %}
</div>



