{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx flxc partitioned_form">

    <div class="partitioned_form_field">
        {{ form.title.label_tag }}
        {{ form.title }}
        {% if form.title.errors %}
        <span class="errorspan">{{ form.title.errors }}</span>
        {% endif %}
    </div>

    <div class="partitioned_form_field">
        {{ form.content.label_tag }}
        {{ form.content }}
        {% if form.content.errors %}
        <span class="errorspan">{{ form.content.errors }}</span>
        {% endif %}
    </div>

    <div class="partitioned_form_field">
            {{ form.expire_date.label_tag }}
            {{ form.expire_date }}
            {% if form.expire_date.errors %}
            <span class="errorspan">{{ form.expire_date.errors }}</span>
            {% endif %}
        </div>

    <div class="partitioned_form_field checkbox_toggle_btn_div" data-on="green" data-off="red">
        <label>{{ form.is_active.label }}:</label>
        <div class="checkbox_toggle_btn">
            {{ form.is_active }}
            <label for="{{form.is_active.auto_id}}"></label>
        </div>
        {% if form.is_active.errors %}
        <span class="errorspan">{{ form.is_active.errors }}</span>
        {% endif %}
    </div>

</div>



