<style>{% include 'app_smart_attendance/css/partial_teacher_form.css' %}</style>


{% if user_form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ user_form.non_field_errors }}
    </div>
</div>
{% endif %}

{% if profile_form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ profile_form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx partitioned_form">
    <div class="form-left">
        <div class="partitioned_form_field">
            {{ user_form.first_name.label_tag }}
            {{ user_form.first_name }}
            {% if user_form.first_name.errors %}
            <span class="errorspan">{{ user_form.first_name.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ user_form.last_name.label_tag }}
            {{ user_form.last_name }}
            {% if user_form.last_name.errors %}
            <span class="errorspan">{{ user_form.last_name.errors }}</span>
            {% endif %}
        </div>
         <div class="partitioned_form_field">
            {{ profile_form.profile_picture.label_tag }}
            {{ profile_form.profile_picture }}
            {% if profile_form.profile_picture.errors %}
            <span class="errorspan">{{ profile_form.profile_picture.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ profile_form.gender.label_tag }}
            {{ profile_form.gender }}
            {% if profile_form.gender.errors %}
            <span class="errorspan">{{ profile_form.gender.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ profile_form.blood_group.label_tag }}
            {{ profile_form.blood_group }}
            {% if profile_form.blood_group.errors %}
            <span class="errorspan">{{ profile_form.blood_group.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ profile_form.contact_number.label_tag }}
            {{ profile_form.contact_number }}
            {% if profile_form.contact_number.errors %}
            <span class="errorspan">{{ profile_form.contact_number.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ profile_form.father_name.label_tag }}
            {{ profile_form.father_name }}
            {% if profile_form.father_name.errors %}
            <span class="errorspan">{{ profile_form.father_name.errors }}</span>
            {% endif %}
        </div>
    </div>
    <div class="form-right">




        <div class="partitioned_form_field">
            {{ profile_form.address.label_tag }}
            {{ profile_form.address }}
            {% if profile_form.address.errors %}
            <span class="errorspan">{{ profile_form.address.errors }}</span>
            {% endif %}
        </div>


        <div class="partitioned_form_field">
            {{ profile_form.city.label_tag }}
            {{ profile_form.city }}
            {% if profile_form.city.errors %}
            <span class="errorspan">{{ profile_form.city.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ profile_form.state.label_tag }}
            {{ profile_form.state }}
            {% if profile_form.state.errors %}
            <span class="errorspan">{{ profile_form.state.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ profile_form.country.label_tag }}
            {{ profile_form.country }}
            {% if profile_form.country.errors %}
            <span class="errorspan">{{ profile_form.country.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ profile_form.postal_code.label_tag }}
            {{ profile_form.postal_code }}
            {% if profile_form.postal_code.errors %}
            <span class="errorspan">{{ profile_form.postal_code.errors }}</span>
            {% endif %}
        </div>
    </div>

</div>


<script>{% include 'app_smart_attendance/js/get_profiles_by_role_ajax.js' %}</script>

