{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/profile.css' %}</style>
{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Profile</li>
            <li>{{object.user.first_name}} {{object.user.last_name}}</li>
        </ul>
    </div>

    <div class="w90 ma">
        <div class="profile_details" id="profile_list_table">
            {% if object.profile_id == request.user.profile.profile_id %}
            <div class="js_update_profile edit_profile" data-action_type="update"
                 data-url="{% url 'app_smart_attendance:profile_update' object.profile_id %}" title="Update">
                <div class="cp job-edit-fafa-div flx">
                    <svg class="edit_fafa_cls" x="0px" y="0px" width="16" height="16" viewBox="0 0 172 172"
                     style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                       font-family="none" font-weight="none" font-size="none" text-anchor="none"
                       style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#bababa">
                            <path d="M132.92788,1.65385c-3.92788,-0.02584 -7.77824,1.36959 -10.75,4.34135l-6.61538,6.82212l43.62019,43.82692l6.61538,-6.82212c5.96935,-5.96935 6.02103,-15.65985 0,-21.70673l-21.91346,-21.91346c-3.02344,-3.02344 -7.02885,-4.52224 -10.95673,-4.54808zM108.12019,18.8125l-10.33654,9.92308l45.48077,45.48077l10.54327,-9.71635zM91.16827,35.97115l-71.52885,70.90865c-1.65385,0.85276 -2.84254,2.35156 -3.30769,4.13462l-15.29808,51.88942c-0.69772,2.27404 -0.07753,4.78065 1.60217,6.46034c1.67969,1.67969 4.18629,2.29988 6.46033,1.60216l51.88942,-15.29808c2.40324,-0.36178 4.39303,-2.04147 5.16827,-4.34135l70.49519,-69.875l-9.71635,-9.71635l-72.35577,72.5625l-29.14904,8.47596l-6.20192,-6.20192l8.88942,-30.38942l71.73558,-71.52885zM106.87981,51.88942l-72.5625,72.76923l10.54327,2.27404l1.44712,9.71635l72.76923,-72.5625z"></path>
                        </g>
                    </g>
                </svg>
                </div>
            </div>
            {% endif %}
            <div class="flx a-i-c  wfc bcw p20">
                <div class="flx mr5">
                    {% if object.profile_picture %}
                    <div class="at_img_div">
                        <img class="at_img" src="{{object.profile_picture.url}}">
                    </div>
                    {% else %}
                    <div class="at_fafa_div">
                        <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                            <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <g transform="scale(2,2)">
                                    <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% endif %}
                </div>
                <div class="flx flxc p5 lh22">
                    <div class="flx t-t-c fwb">
                        <div class="flx">
                            <div class="mr5">
                                {{object.user.first_name}} {{object.user.last_name}}
                            </div>
                            {% if object.gender == "male" %}
                                <div class="" title="Male">(M)</div>
                            {% elif object.gender == "female" %}
                                <div class="" title="Female">(F)</div>
                            {% elif object.gender == "other" %}
                                <div class="" title="Other">(O)</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="oa w90 ma bsj mt20">
        <table class="table405">
            <tbody>
            {% if object %}

            <tr>
                <th>Username</th>
                <td>{{object.user.username}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{object.user.email}}</td>
            </tr>
            {% if object.role == "student" %}
            <tr>
                <th>Class</th>
                <td>{{object.class_name}}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{object.section}}</td>
            </tr>
            <tr>
                <th>Roll number</th>
                <td>{{object.unique_id}}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Blood group</th>
                <td class="t-t-u">{{object.blood_group}}</td>
            </tr>

            <tr>
                <th>Contact Number</th>
                <td>{{object.contact_number}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{object.address}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{object.city}}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{object.state}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{object.country}}</td>
            </tr>
            <tr>
                <th>Postal Code</th>
                <td>{{object.postal_code}}</td>
            </tr>
             <tr>
                <th>Organisation</th>
                <td>
                    <a class="flx wfc" href="{% url 'app_root:school_detail' object.school_id.school_id %}">
                        <div class="bdr t-a-c wfc p5">{{object.school_id.name}}, {{object.school_id.branch}}</div>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Registered on</th>
                <td>{{object.date_time}}</td>
            </tr>
            <tr>
                <th>Updated on</th>
                <td>{{object.updated_at}}</td>
            </tr>
            {% else %}
            "No data found"
            {% endif %}
            </tbody>
        </table>
    </div>


</div>


<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>


{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/module/profile/js/profile.js' %}</script>



<script>{% include 'app_smart_attendance/module/profile/js/profile_list.js' %}</script>
<script>{% include 'app_smart_attendance/module/profile/js/profile_list_fill_modal.js' %}</script>

{% endblock %}



