{% extends 'base.html' %}

{% block title %}Add recruiter and hiring person - {{block.super}}{% endblock %}

{% block head %}
<style> {% include 'app_smart_attendance/css/add_teacher.css' %} </style>
{% endblock %}


{% block content %}

<!-- The Modal -->
<div class="flx flxc">
    {% if request.user.profile.role == 'school_admin' %}
        <div class="modal" id="myModal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close-modal">&times;</span>
                    <h2>Add Recruiter</h2>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" id="emp-add-recruiter" method="post">
                        {% csrf_token %}

                        <!--Username-->
                        {{ employer_user_form.username.label_tag }}
                        {{ employer_user_form.username }}
                        <ul class="errorlist usernamecheck uierror dnone" id="username-check-ul">
                            <li class="username-len dnone"></li>
                            <li class="username-spcl dnone"></li>
                            <li class="username-valid-avl dnone"></li>
                        </ul>
                        {% if employer_user_form.username.errors %}
                        <span class="errorspan usererror">{{ employer_user_form.username.errors }}</span>
                        {% endif %}

                        <!--First Name-->
                        {{ employer_user_form.first_name.label_tag }}
                        {{ employer_user_form.first_name }}
                        {% if employer_user_form.first_name.errors %}
                        <span class="errorspan fnameerror">{{ employer_user_form.first_name.errors }}</span>
                        {% endif %}

                        <!--Last Name-->
                        {{ employer_user_form.last_name.label_tag }}
                        {{ employer_user_form.last_name }}
                        {% if employer_user_form.last_name.errors %}
                        <span class="errorspan lnameerror">{{ employer_user_form.last_name.errors }}</span>
                        {% endif %}

                        <!--Email-->
                        {{ employer_user_form.email.label_tag }}
                        {{ employer_user_form.email }}
                        <ul class="errorlist emailcheck uierror dnone" id="email-check-ul">
                            <li class="email-val dnone"></li>
                            <li class="email-valid-avl dnone"></li>
                        </ul>
                        {% if employer_user_form.email.errors %}
                        <span class="errorspan emailerror">{{ employer_user_form.email.errors }}</span>
                        {% endif %}

                        <!--Contact Number-->
                        {{ employer_profile_form.contact_number.label_tag }}
                        {{ employer_profile_form.contact_number }}
                        {% if employer_profile_form.contact_number.errors %}
                        <span class="errorspan contacterror">{{ employer_profile_form.contact_number.errors }}</span>
                        {% endif %}

                        <!--Password-->
                        {{ employer_user_form.password1.label_tag }}
                        {{ employer_user_form.password1 }}
                        {% if employer_user_form.password1.errors %}
                        <span class="errorspan pswerror1">{{ employer_user_form.password1.errors }}</span>
                        {% endif %}

                        <!--Password2-->
                        {{ employer_user_form.password2.label_tag }}
                        {{ employer_user_form.password2 }}
                        {% if employer_user_form.password2.errors %}
                        <span class="errorspan pswerror2">{{ employer_user_form.password2.errors }}</span>
                        {% endif %}

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="button" form="emp-add-recruiter" name="employer_signup" type="submit" value="Signup">Add</button>
                    <button class="button" data-dismiss="modal" id="modalcancel" type="button">Cancel</button>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'snippets/access-denied.html' %}
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
{% if request.user.profile.role == 'school_admin' %}
<script>{% include 'snippets/js_files/load_modal.js' %}</script>
<script>{% include 'snippets/js_files/add-rec-check.js' %}</script>
{% endif %}
{% endblock %}