<form class="w100 p10" action="javascript:void(0);" id="attendance_frm_class">
    <div class="flx partitioned_form ">

        <div class="partitioned_form_field w100 m2">
            <label class="required" for="id_class">Class:</label>
            <select name="class_name" id="id_class" required="">
                <option value="">---Select---</option>
            </select>
        </div>

        <div class="partitioned_form_field w100 m2">
            <label class="required" for="id_section">Section:</label>
            <select name="section" id="id_section" required="">
                <option value="">---Select---</option>
            </select>
        </div>

         <div class="partitioned_form_field w100 m2">
            <label class="required" for="id_date">Date:</label>
            <input name="date" type="date" id="id_date" required="">
        </div>

         <div class="partitioned_form_field w100 m2">
            <label class="" for="id_period">Period:</label>
            <select name="period" id="id_period">
                <option value="">---Select---</option>
            </select>
        </div>

        <div class="flx mt20 w100 m2">
                <button type="reset" class="button cancel disable mla flx a-i-c " form="attendance_frm_class">Clear
                </button>
                <button type="submit" class="button submit ml5 flx  a-i-c" form="attendance_frm_class">View</button>
            </div>
    </div>
</form>