<form class="w100 p10" action="javascript:void(0);" id="attendance_frm_cctv">
    <div class="flx partitioned_form ">
         <div class="partitioned_form_field w100 m2">
            <label class="required" for="id_date">Date:</label>
            <input name="date" type="date" id="id_date" required="">
        </div>

        <div class="flx mt20 w100 m2">
                <button type="reset" class="button cancel disable mla flx a-i-c " form="attendance_frm_cctv">Clear
                </button>
                <button type="submit" class="button submit ml5 flx  a-i-c" form="attendance_frm_cctv">View</button>
            </div>
    </div>
</form>