{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/classes.css' %}</style>

{% endblock %}

{% block content %}
<div class="all_container">




</div>


{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/js/classes.js' %}</script>
{% endblock %}



