{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/dashboard_school_admin.css' %}</style>
{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Dashboard</li>
        </ul>
    </div>

    <div class="user_details ">
        <div class="flx a-i-c  wfc bcw p20">
            <div class="flx mr5">
                {% if request.user.profile.profile_picture %}
                <div class="at_img_div">
                    <img class="at_img" src="{{request.user.profile.profile_picture.url}}">
                </div>
                {% else %}
                <div class="at_fafa_div">
                    <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                        <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                           font-family="none" font-weight="none" font-size="none" text-anchor="none"
                           style="mix-blend-mode: normal">
                            <g transform="scale(2,2)">
                                <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                {% endif %}
            </div>
            <div class="flx flxc p5 lh22">
                <div class="flx c6">Welcome Back</div>
                <div class="flx t-t-c fwb">
                    <div class="flx mr5">{{request.user.first_name}}</div>
                    <div class="flx mr5">{{request.user.last_name}}</div>
                </div>
            </div>
        </div>

        <div class="clock_div  wfc bcw p20 flx flxc">
            <div class="flx">
                <div class="time_div" id="time_div">
                    <div class="flx">
                        <div class="time_inner_div">00:00</div>
                        <div class="time_ampm_div">am</div>
                    </div>
                </div>
                <div class="date_div" id="date_div"></div>
            </div>
            <div class="flx">
                <div class="last_entry">
                    {% if last_entry %}
                        {% if last_entry.attendance_type == 'in' %}
                            <div>Last in {{last_entry_attendance_date|timesince }} ago</div>
                        {% elif last_entry.attendance_type == 'out' %}
                            <div>Last out {{last_entry_attendance_date|timesince }} ago</div>
                        {% endif %}
                        <div class="flx pt5"><a href="#">Complete log</a></div>
                    {% else %}
                        <div>Yet to check in</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="next_btn_outer_div">

            <div class="next_btn_div flxc">
                {% if request.user.profile.is_attendance_under_process %}
                <a class="flx flxc a-i-c" href="{% url 'app_root:dashboard_view' %}">
                    <div class="flx flxc a-i-c">
                        <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="next_btn_text">Under processing</div>
                    </div>
                </a>
                {% else %}
                <a class="flx flxc a-i-c" href="{% url 'app_smart_attendance:take_attendance' %}">
                    {% comment %}
                    {% if request.user.profile.attendance_status == 'in' %}
                    {% endcomment %}

                    {% if last_entry and last_entry.attendance_type == 'in' %}
                    <div class="next_btn bg_red">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path class="icon-jibble" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.5 4.5C3.5 3.94772 3.94772 3.5 4.5 3.5H19.5C20.0523 3.5 20.5 3.94772 20.5 4.5V19.5C20.5 20.0523 20.0523 20.5 19.5 20.5H4.5C3.94772 20.5 3.5 20.0523 3.5 19.5V4.5Z"
                                  fill="#fff"/>
                        </svg>
                    </div>
                    <div class="next_btn_text">Check out</div>
                    {% else %}
                    <div class="next_btn pulse bg_green">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none">
                            <path class="icon-jibble" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M3.13943 13.2659C2.96684 13.3647 2.76177 13.3543 2.59752 13.2384C2.43326 13.1225 2.33326 12.9177 2.33325 12.6971V3.30292C2.33326 3.0823 2.43326 2.87743 2.59752 2.76153C2.76177 2.64563 2.96684 2.63525 3.13943 2.73408L11.3593 7.43115C11.5477 7.53904 11.6666 7.7592 11.6666 7.99999C11.6666 8.24078 11.5477 8.46094 11.3593 8.56883L3.13943 13.2659Z"
                                  fill="#fff"/>
                        </svg>
                    </div>
                    <div class="next_btn_text">Check in</div>
                    {% endif %}
                </a>
                {% endif %}
            </div>

        </div>

    </div>
    <!--    <img class="cam_" style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 25%);" src="http://192.168.1.5:6677/videofeed?username=CCJDLKGMF&amp;password=">-->

    <div class="flx w90 ma lsa_schedule_container">

        <div class="flx flxc w100 lsa_container">
            <div class="lsa_card_container">


                <div class="lsa_card">
                    <div class="fafa_div">
                        <svg width="44" height="44" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <g>
                                    <path d="M170.652,19.099v190.971c0,5.769 -4.674,10.432 -10.432,10.432h-37.253v16.389c0,6.969 -6.708,11.987 -13.395,10.005l-81.851,-24.182c-4.599,-1.39 -7.48,-5.511 -7.48,-10.005v-193.62c0,-3.797 2.024,-7.104 5.06,-8.93c1.565,-0.949 3.411,-1.492 5.372,-1.492h129.547c5.758,0 10.432,4.673 10.432,10.432z"
                                          fill="#efefef"></path>
                                    <path d="M130.269,46.817v173.685h-7.303v16.389c0,6.969 -6.708,11.987 -13.395,10.005l-81.851,-24.182c-4.599,-1.39 -7.48,-5.511 -7.48,-10.005v-193.62c0,-3.797 2.024,-7.104 5.06,-8.93c1.565,-0.949 3.411,-1.492 5.372,-1.492h15.335l71.544,21.146c7.492,2.201 12.718,9.191 12.718,17.004z"
                                          fill="#afafaf"></path>
                                    <path d="M170.652,90.518v64.137l-31.234,-23.754c-5.487,-4.183 -5.498,-12.425 0,-16.608z"
                                          fill="#878787"></path>
                                    <path d="M122.967,46.818v190.074c0,6.969 -6.708,11.987 -13.395,10.005l-81.851,-24.182c-4.599,-1.39 -7.48,-5.511 -7.48,-10.005v-193.621c0,-3.797 2.024,-7.104 5.06,-8.93l90.186,26.654c4.433,1.305 7.48,5.384 7.48,10.005z"
                                          fill="#bababa"></path>
                                    <path d="M86.316,158.851v-42.589c0,-2.788 2.682,-4.792 5.355,-4.002l13.002,3.841c1.773,0.524 2.99,2.153 2.99,4.002v42.589c0,2.788 -2.682,4.792 -5.355,4.002l-13.002,-3.841c-1.773,-0.524 -2.99,-2.153 -2.99,-4.002z"
                                          fill="#efefef"></path>
                                    <path d="M100.293,147.218v0.008c0,4.586 -4.41,7.882 -8.809,6.583l-24.16,-7.135c-1.774,-0.524 -2.991,-2.153 -2.991,-4.002v-5.621c0,-2.788 2.681,-4.792 5.355,-4.002l25.685,7.585c2.917,0.862 4.92,3.542 4.92,6.584z"
                                          fill="#efefef"></path>
                                    <path d="M182.555,107.658v-10.703c0,-2.589 -2.965,-4.058 -5.025,-2.49l-33.692,25.64c-1.646,1.253 -1.646,3.729 0,4.981l33.692,25.633c2.06,1.568 5.025,0.098 5.025,-2.491v-10.698h46.945c3.457,0 6.259,-2.802 6.259,-6.259v-17.354c0,-3.457 -2.802,-6.259 -6.259,-6.259z"
                                          fill="#bababa"></path>
                                    <path d="M217.209,70.823c-3.729,-1.228 -6.641,-2.022 -8.591,-10.421c-0.635,-2.737 -4.548,-2.729 -5.181,0c-1.907,8.213 -4.566,9.092 -8.591,10.422c-2.424,0.801 -2.43,4.248 0,5.051c6.686,2.209 7.444,5.476 8.591,10.421c0.637,2.743 4.545,2.742 5.182,0c1.905,-8.212 4.709,-9.139 8.591,-10.421c2.423,-0.802 2.429,-4.249 -0.001,-5.052z"
                                          fill="#000000"></path>
                                    <path d="M210.078,73.432c-1.47,1.04 -2.79,2.42 -3.93,4.44c-0.95,-1.59 -2.25,-3.09 -4.17,-4.4c1.55,-1.06 2.94,-2.51 4.12,-4.64c1.2,2.16 2.57,3.59 3.98,4.6z"
                                          fill="#bababa"></path>
                                    <path d="M217.209,169.303c-3.729,-1.228 -6.641,-2.022 -8.591,-10.421c-0.635,-2.737 -4.548,-2.729 -5.181,0c-1.907,8.213 -4.566,9.092 -8.591,10.422c-2.424,0.801 -2.43,4.248 0,5.051c6.686,2.209 7.444,5.476 8.591,10.421c0.637,2.743 4.545,2.742 5.182,0c1.905,-8.212 4.709,-9.139 8.591,-10.421c2.423,-0.802 2.429,-4.25 -0.001,-5.052z"
                                          fill="#000000"></path>
                                    <path d="M210.078,171.912c-1.47,1.04 -2.79,2.42 -3.93,4.44c-0.95,-1.59 -2.25,-3.09 -4.17,-4.4c1.55,-1.06 2.94,-2.51 4.12,-4.64c1.2,2.16 2.57,3.59 3.98,4.6z"
                                          fill="#bababa"></path>
                                    <g fill="#333333">
                                        <path d="M30.678,215.211c-1.381,0 -2.5,-1.119 -2.5,-2.5v-3c0,-1.381 1.119,-2.5 2.5,-2.5c1.381,0 2.5,1.119 2.5,2.5v3c0,1.381 -1.119,2.5 -2.5,2.5zM30.678,202.211c-1.381,0 -2.5,-1.119 -2.5,-2.5v-177.078c0,-1.381 1.119,-2.5 2.5,-2.5c1.381,0 2.5,1.119 2.5,2.5v177.078c0,1.381 -1.119,2.5 -2.5,2.5z"></path>
                                    </g>
                                    <g fill="#000000">
                                        <path d="M102.249,130.761c0.392,-1.324 -0.365,-2.715 -1.689,-3.105l-5.532,-1.634c-1.322,-0.395 -2.714,0.365 -3.105,1.689c-0.391,1.324 0.365,2.715 1.689,3.105l5.532,1.634c1.314,0.391 2.712,-0.359 3.105,-1.689z"></path>
                                    </g>
                                    <g fill="#000000">
                                        <path d="M88.594,165.253l13.005,3.838c4.271,1.27 8.563,-1.926 8.563,-6.402v-42.584c0,-2.927 -1.964,-5.559 -4.785,-6.403l-12.996,-3.839c-4.269,-1.271 -8.563,1.929 -8.563,6.402v18.351l-13.423,-3.964c-4.297,-1.266 -8.563,1.954 -8.563,6.399v5.621c0,2.937 1.967,5.568 4.783,6.4l17.202,5.08v4.697c0.001,2.944 1.966,5.578 4.777,6.404zM88.818,116.265c0,-1.128 1.073,-1.927 2.144,-1.608l12.989,3.837c0.713,0.214 1.211,0.876 1.211,1.611v42.584c0,1.114 -1.059,1.931 -2.144,1.608l-13.012,-3.84c-0.699,-0.206 -1.188,-0.867 -1.188,-1.607v-3.221l1.958,0.578c6.003,1.774 12.017,-2.719 12.017,-8.98v-0.009c0,-4.121 -2.76,-7.813 -6.712,-8.98l-7.263,-2.145zM66.833,142.672v-5.621c0,-1.124 1.081,-1.92 2.146,-1.604l25.686,7.586c1.842,0.544 3.128,2.265 3.128,4.186v0.009c0,2.924 -2.812,5.013 -5.601,4.186l-24.159,-7.135c-0.707,-0.211 -1.2,-0.871 -1.2,-1.607z"></path>
                                    </g>
                                    <g fill="#000000">
                                        <circle cx="170.649" cy="57.7" r="2.5"></circle>
                                    </g>
                                    <g fill="#000000">
                                        <circle cx="20.24" cy="152.71" r="2.5"></circle>
                                    </g>
                                    <g fill="#000000">
                                        <path d="M17.74,212.71c0,0.007 0.002,0.013 0.002,0.02c0.008,5.528 3.524,10.648 9.271,12.382l81.848,24.181c8.275,2.455 16.606,-3.734 16.606,-12.4v-0.001v-13.889h34.753c7.131,0 12.933,-5.802 12.933,-12.933c0,-0.007 -0.002,-0.013 -0.002,-0.02v-59.521l2.866,2.181c3.707,2.817 9.038,0.172 9.038,-4.481v-8.198h10.495c1.38,0 2.5,-1.12 2.5,-2.5c0,-1.381 -1.12,-2.5 -2.5,-2.5h-13c-1.284,0 -2.495,1.061 -2.495,2.5v10.698c0,0.522 -0.589,0.821 -1.011,0.502l-33.691,-25.635c-0.332,-0.251 -0.334,-0.747 0,-1.002l33.691,-25.64c0.418,-0.317 1.011,-0.026 1.011,0.501v10.703c0,1.381 1.119,2.5 2.5,2.5h46.945c2.072,0 3.759,1.687 3.759,3.759v17.354c0,2.073 -1.687,3.76 -3.759,3.76h-13.95c-1.37,0 -2.5,1.119 -2.5,2.5c0,1.38 1.13,2.5 2.5,2.5h13.95c4.83,0 8.759,-3.93 8.759,-8.76v-17.354c0,-4.83 -3.929,-8.759 -8.759,-8.759h-44.445v-8.203c0,-4.656 -5.336,-7.299 -9.038,-4.479l-2.867,2.182v-26.958c0,-1.381 -1.119,-2.5 -2.5,-2.5c-1.38,0 -2.5,1.119 -2.5,2.5v30.762l-25.824,19.653c-2.971,2.26 -2.955,6.715 0,8.96l25.825,19.65v63.345c0,0.004 0.001,0.009 0.001,0.013c-0.007,4.368 -3.562,7.92 -7.932,7.92h-34.753v-171.185c0,-5.697 -3.814,-10.798 -9.271,-12.402l-78.664,-23.249h122.688c4.368,0 7.921,3.549 7.932,7.913c0,0.007 -0.002,0.013 -0.002,0.02v28.6c0,1.38 1.12,2.5 2.5,2.5c1.381,0 2.5,-1.12 2.5,-2.5v-28.572c0,-0.01 0.003,-0.019 0.003,-0.029c0,-7.131 -5.802,-12.932 -12.933,-12.932h-129.547c-6.949,0 -12.916,5.567 -12.93,12.898c0,0.009 -0.002,0.016 -0.002,0.025v123.62c0,1.38 1.119,2.5 2.5,2.5c1.38,0 2.5,-1.12 2.5,-2.5v-123.611c0,-0.003 0.001,-0.006 0.001,-0.01c0,-2.463 1.17,-4.753 2.993,-6.195l89.047,26.318c3.348,0.984 5.686,4.112 5.686,7.606c0,10.749 0,179.508 0,190.073c0,5.297 -5.091,9.118 -10.188,7.606l-81.837,-24.177c-3.389,-1.024 -5.702,-4.046 -5.702,-7.61c0,-0.003 -0.001,-0.006 -0.001,-0.01v-49.99c0,-1.38 -1.12,-2.5 -2.5,-2.5c-1.381,0 -2.5,1.12 -2.5,2.5z"></path>
                                    </g>
                                    <g fill="#000000">
                                        <circle cx="205.55" cy="137.53" r="2.5"></circle>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="content_div">
                        <div class="counter">{{inside}}</div>
                        <div class="flx flxc">
                            <span class="">In</span>
                            <span class="content_note"><span class="">(within premises)</span></span>
                        </div>
                    </div>
                </div>

                <div class="lsa_card">
                    <div class="fafa_div">
                        <svg width="44" height="44" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <g>
                                    <path d="M170.65,19.1v190.97c0,5.77 -4.67,10.43 -10.43,10.43h-37.25v16.39c0,6.97 -6.71,11.99 -13.4,10.01l-81.85,-24.19c-4.32,-1.25 -7.48,-5.27 -7.48,-10v-193.62c0,-3.44 1.64,-6.77 5.06,-8.93c1.57,-0.95 3.41,-1.49 5.37,-1.49h129.55c5.76,0 10.43,4.67 10.43,10.43z"
                                          fill="#efefef"></path>
                                    <path d="M130.27,46.82v173.68h-7.3v16.39c0,6.97 -6.71,11.99 -13.4,10.01l-81.85,-24.19c-4.32,-1.25 -7.48,-5.27 -7.48,-10v-193.62c0,-3.44 1.64,-6.77 5.06,-8.93c1.57,-0.95 3.41,-1.49 5.37,-1.49h15.34l71.54,21.14c7.49,2.2 12.72,9.19 12.72,17.01z"
                                          fill="#afafaf"></path>
                                    <path d="M122.97,46.82v190.07c0,6.97 -6.71,11.99 -13.4,10.01l-81.85,-24.19c-4.32,-1.25 -7.48,-5.27 -7.48,-10v-193.62c0,-3.44 1.64,-6.77 5.06,-8.93l90.19,26.65c4.43,1.31 7.48,5.39 7.48,10.01z"
                                          fill="#bababa"></path>
                                    <path d="M86.316,158.851v-42.589c0,-2.788 2.682,-4.792 5.355,-4.002l13.002,3.841c1.773,0.524 2.99,2.153 2.99,4.002v42.589c0,2.788 -2.682,4.792 -5.355,4.002l-13.002,-3.841c-1.773,-0.524 -2.99,-2.153 -2.99,-4.002z"
                                          fill="#efefef"></path>
                                    <path d="M100.293,147.218v0.008c0,4.586 -4.41,7.882 -8.809,6.583l-24.16,-7.135c-1.774,-0.524 -2.991,-2.153 -2.991,-4.002v-5.621c0,-2.788 2.681,-4.792 5.355,-4.002l25.685,7.585c2.917,0.862 4.92,3.542 4.92,6.584z"
                                          fill="#efefef"></path>
                                    <path d="M170.65,100.65v43.88h-21.79c-7.31,0 -13.26,-5.95 -13.26,-13.26v-17.36c0,-7.31 5.95,-13.26 13.26,-13.26z"
                                          fill="#afafaf"></path>
                                    <path d="M195.808,137.526v10.703c0,2.589 2.965,4.058 5.025,2.49l33.692,-25.64c1.646,-1.253 1.646,-3.729 0,-4.981l-33.692,-25.633c-2.06,-1.568 -5.025,-0.098 -5.025,2.491v10.699h-46.945c-3.457,0 -6.259,2.802 -6.259,6.259v17.354c0,3.457 2.802,6.259 6.259,6.259h46.945z"
                                          fill="#bababa"></path>
                                    <path d="M217.209,70.823c-3.729,-1.228 -6.641,-2.022 -8.591,-10.421c-0.635,-2.737 -4.548,-2.729 -5.181,0c-1.907,8.213 -4.566,9.092 -8.591,10.422c-2.424,0.801 -2.43,4.248 0,5.051c6.686,2.209 7.444,5.476 8.591,10.421c0.637,2.743 4.545,2.742 5.182,0c1.905,-8.212 4.709,-9.139 8.591,-10.421c2.423,-0.802 2.429,-4.249 -0.001,-5.052z"
                                          fill="#000000"></path>
                                    <path d="M210.078,73.432c-1.47,1.04 -2.79,2.42 -3.93,4.44c-0.95,-1.59 -2.25,-3.09 -4.17,-4.4c1.55,-1.06 2.94,-2.51 4.12,-4.64c1.2,2.16 2.57,3.59 3.98,4.6z"
                                          fill="#bababa"></path>
                                    <path d="M217.209,169.303c-3.729,-1.228 -6.641,-2.022 -8.591,-10.421c-0.635,-2.737 -4.548,-2.729 -5.181,0c-1.907,8.213 -4.566,9.092 -8.591,10.422c-2.424,0.801 -2.43,4.248 0,5.051c6.686,2.209 7.444,5.476 8.591,10.421c0.637,2.743 4.545,2.742 5.182,0c1.905,-8.212 4.709,-9.139 8.591,-10.421c2.423,-0.802 2.429,-4.25 -0.001,-5.052z"
                                          fill="#000000"></path>
                                    <path d="M210.078,171.912c-1.47,1.04 -2.79,2.42 -3.93,4.44c-0.95,-1.59 -2.25,-3.09 -4.17,-4.4c1.55,-1.06 2.94,-2.51 4.12,-4.64c1.2,2.16 2.57,3.59 3.98,4.6z"
                                          fill="#bababa"></path>
                                    <path d="M30.678,215.211c-1.381,0 -2.5,-1.119 -2.5,-2.5v-3c0,-1.381 1.119,-2.5 2.5,-2.5c1.381,0 2.5,1.119 2.5,2.5v3c0,1.381 -1.119,2.5 -2.5,2.5zM30.678,202.211c-1.381,0 -2.5,-1.119 -2.5,-2.5v-177.078c0,-1.381 1.119,-2.5 2.5,-2.5c1.381,0 2.5,1.119 2.5,2.5v177.078c0,1.381 -1.119,2.5 -2.5,2.5z"
                                          fill="#333333"></path>
                                    <path d="M102.249,130.761c0.392,-1.324 -0.365,-2.715 -1.689,-3.105l-5.532,-1.634c-1.324,-0.395 -2.714,0.365 -3.105,1.689c-0.391,1.324 0.365,2.715 1.689,3.105l5.532,1.634c1.314,0.391 2.712,-0.359 3.105,-1.689z"
                                          fill="#000000"></path>
                                    <path d="M88.594,165.253l13.005,3.838c4.277,1.272 8.563,-1.934 8.563,-6.402v-42.584c0,-2.927 -1.964,-5.559 -4.785,-6.403l-12.996,-3.839c-4.268,-1.271 -8.563,1.928 -8.563,6.402v18.351l-13.423,-3.964c-4.297,-1.266 -8.563,1.954 -8.563,6.399v5.621c0,2.937 1.967,5.568 4.783,6.4l17.202,5.08v4.697c0.001,2.944 1.966,5.578 4.777,6.404zM88.818,116.265c0,-1.12 1.065,-1.929 2.144,-1.608l12.989,3.837c0.713,0.214 1.211,0.876 1.211,1.611v42.584c0,1.114 -1.059,1.931 -2.144,1.608l-13.012,-3.84c-0.699,-0.206 -1.188,-0.867 -1.188,-1.607v-3.221l1.958,0.578c5.999,1.772 12.017,-2.716 12.017,-8.98v-0.009c0,-4.121 -2.76,-7.813 -6.712,-8.98l-7.263,-2.145zM66.833,142.672v-5.621c0,-1.124 1.081,-1.92 2.146,-1.604l25.686,7.586c1.842,0.544 3.128,2.265 3.128,4.186v0.009c0,2.917 -2.805,5.014 -5.601,4.186l-24.159,-7.135c-0.707,-0.211 -1.2,-0.871 -1.2,-1.607z"
                                          fill="#000000"></path>
                                    <g fill="#000000">
                                        <path d="M236.038,118.108l-33.691,-25.635c-3.707,-2.816 -9.038,-0.172 -9.038,4.481v8.198h-20.159v-29.503c0,-1.38 -1.119,-2.5 -2.5,-2.5c-1.38,0 -2.5,1.12 -2.5,2.5v29.504h-19.286c-4.83,0 -8.759,3.929 -8.759,8.759v17.354c0,4.83 3.929,8.759 8.759,8.759h19.287v70.045c0,0.004 0.001,0.009 0.001,0.013c-0.007,4.368 -3.562,7.92 -7.932,7.92h-34.753v-171.185c0,-5.697 -3.814,-10.798 -9.271,-12.402l-78.664,-23.249h122.688c4.368,0 7.921,3.549 7.932,7.913c0,0.007 -0.002,0.013 -0.002,0.02v36.55c0,1.381 1.12,2.5 2.5,2.5c1.381,0 2.5,-1.119 2.5,-2.5v-36.522c0,-0.01 0.003,-0.019 0.003,-0.029c0,-7.131 -5.802,-12.932 -12.933,-12.932h-129.547c-6.949,0 -12.916,5.567 -12.93,12.898c0,0.009 -0.002,0.016 -0.002,0.025v123.62c0,1.38 1.119,2.5 2.5,2.5c1.38,0 2.5,-1.12 2.5,-2.5v-123.611c0,-0.003 0.001,-0.006 0.001,-0.01c0,-2.342 1.081,-4.683 2.993,-6.195l89.047,26.318c3.348,0.984 5.686,4.112 5.686,7.606c0,10.749 0,179.508 0,190.073c0,5.297 -5.091,9.118 -10.188,7.606l-81.837,-24.177c-3.523,-1.064 -5.702,-4.186 -5.702,-7.61c0,-0.003 -0.001,-0.006 -0.001,-0.01v-49.99c0,-1.38 -1.12,-2.5 -2.5,-2.5c-1.381,0 -2.5,1.12 -2.5,2.5v50c0,0.007 0.002,0.013 0.002,0.02c0.009,5.615 3.611,10.674 9.271,12.382l81.848,24.181c8.275,2.455 16.606,-3.734 16.606,-12.4v-0.001v-13.889h34.753c7.131,0 12.933,-5.802 12.933,-12.933c0,-0.007 -0.002,-0.013 -0.002,-0.02v-70.025h20.158v8.203c0,4.661 5.34,7.296 9.038,4.479l33.693,-25.64c2.96,-2.252 2.963,-6.704 -0.002,-8.959zM233.012,123.09l-33.693,25.64c-0.421,0.32 -1.01,0.021 -1.01,-0.501v-10.703c0,-1.381 -1.119,-2.5 -2.5,-2.5h-46.945c-2.072,0 -3.759,-1.687 -3.759,-3.759v-17.354c0,-2.072 1.687,-3.759 3.759,-3.759h46.945c1.381,0 2.5,-1.119 2.5,-2.5v-10.699c0,-0.528 0.593,-0.817 1.011,-0.502l33.691,25.634v0.001c0.335,0.253 0.332,0.749 0.001,1.002z"></path>
                                    </g>
                                    <g fill="#000000">
                                        <circle cx="170.649" cy="65.649" r="2.5"></circle>
                                    </g>
                                    <g fill="#000000">
                                        <circle cx="20.24" cy="152.71" r="2.5"></circle>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="content_div">
                        <div class="counter">{{outside}}</div>
                        <div class="flx flxc">
                            <span class="">Out</span>
                            <span class="content_note"><span class="">(outside premises)</span></span>
                        </div>
                    </div>
                </div>

                <div class="lsa_card dn">
                    <div class="fafa_div">
                        <svg width="44" height="44" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                            <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <g transform="scale(10.66667,10.66667)">
                                    <path d="M12,2c-3.01163,0 -5.69628,1.35567 -7.5293,3.4707l-2.4707,-2.4707v6h6l-2.12305,-2.12305c1.4681,-1.75241 3.66266,-2.87695 6.12305,-2.87695c4.411,0 8,3.589 8,8c0,4.411 -3.589,8 -8,8c-4.411,0 -8,-3.589 -8,-8h-2c0,5.514 4.486,10 10,10c5.514,0 10,-4.486 10,-10c0,-5.514 -4.486,-10 -10,-10zM11,6v6.41406l3.29297,3.29297l1.41406,-1.41406l-2.70703,-2.70703v-5.58594z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="content_div">
                        <div class="counter">{{total_pending}}</div>
                        <div class="flx flxc">
                            <span class="">Pending</span>
                        </div>
                    </div>
                </div>

                <div class="lsa_card">
                    <div class="fafa_div">
                        <svg width="44" height="44" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                            <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <g transform="scale(10.66667,10.66667)">
                                    <path d="M6,1v2h-1c-1.1,0 -2,0.9 -2,2v14c0,1.1 0.9,2 2,2h4v-2h-4v-10h14v10h-4v2h4c1.1,0 2,-0.9 2,-2v-14c0,-1.1 -0.9,-2 -2,-2h-1v-2h-2v2h-8v-2zM5,5h1h2h8h2h1v2h-14zM11,11v6h2v-6zM11,19v2h2v-2z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="content_div">
                        <div class="counter">0</div>
                        <div class="flx flxc">
                            <span class="">On leave</span>
                        </div>
                    </div>
                </div>

                <div class="lsa_card">
                    <div class="fafa_div">
                        <svg width="44" height="44" x="0px" y="0px" viewBox="0 0 226 226" style=" fill:#000000;">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <path d="M0,226v-226h226v226z" fill="none"></path>
                                <g fill="#bababa">
                                    <path d="M113,47.67188c-22.42344,0 -40.60937,18.18594 -40.60937,40.60938c0,22.42344 18.18594,40.60938 40.60938,40.60938c22.42344,0 40.60938,-18.18594 40.60938,-40.60937c0,-22.42344 -18.18594,-40.60937 -40.60937,-40.60937zM113,58.26563c16.59688,0 30.01563,13.41875 30.01563,30.01563c0,16.59687 -13.41875,30.01563 -30.01562,30.01563c-16.59687,0 -30.01562,-13.41875 -30.01562,-30.01562c0,-16.59687 13.41875,-30.01562 30.01563,-30.01562zM60.91406,65.504c-18.71563,1.05938 -33.54687,16.95069 -33.54687,36.01944c0,19.95156 16.24375,36.19531 36.19531,36.19531c6.53281,0 12.88975,-1.76632 18.36319,-5.121c2.47187,-1.4125 3.35469,-4.7665 1.76563,-7.23837c-1.4125,-2.47188 -4.7665,-3.35469 -7.23837,-1.76562c-3.88438,2.29531 -8.47569,3.53125 -13.06631,3.53125c-14.125,0 -25.60156,-11.47656 -25.60156,-25.60156c0,-13.41875 10.41719,-24.54288 23.83594,-25.42569c3.00156,-0.17656 5.11824,-2.64706 4.94168,-5.64862c-0.17656,-3.00156 -2.64706,-5.12169 -5.64862,-4.94513zM164.91007,65.504c-2.825,-0.17656 -5.47551,1.94357 -5.65207,4.94513c-0.17656,3.00156 1.94357,5.47206 4.94513,5.64862c13.41875,0.88281 23.83594,12.00694 23.83594,25.42569c0,14.125 -11.47656,25.60156 -25.60156,25.60156c-4.59062,0 -9.18194,-1.23594 -13.06632,-3.53125c-2.47188,-1.4125 -5.82587,-0.70625 -7.23837,1.76563c-1.4125,2.47188 -0.70625,5.82587 1.76563,7.23837c5.47344,3.35469 12.00694,5.121 18.36319,5.121c20.12812,-0.17656 36.37118,-16.24375 36.37118,-36.19531c0,-18.89219 -14.83056,-34.7835 -33.72275,-36.01944zM113,143.72257c-28.95625,0 -55.79237,15.71337 -70.09393,40.78525c-1.4125,2.64844 -0.53107,5.82587 2.11737,7.23837c0.88281,0.52969 1.76563,0.70694 2.64844,0.70694c1.76563,0 3.70712,-0.88281 4.58993,-2.64844c12.35938,-21.89375 35.66562,-35.48837 60.91406,-35.48837c25.07187,0 48.37813,13.59462 60.91406,35.48837c1.4125,2.47188 4.58994,3.354 7.23838,1.9415c2.47187,-1.4125 3.35744,-4.58994 1.94494,-7.23837c-14.47812,-25.07188 -41.317,-40.78525 -70.27325,-40.78525zM45.55795,150.97818c-0.35381,0.01862 -0.71246,0.07035 -1.06558,0.15863c-18.00937,5.12031 -33.5455,17.30382 -42.72675,33.371c-1.4125,2.64844 -0.53038,5.82587 1.9415,7.23837c0.88281,0.52969 1.76562,0.70694 2.64844,0.70694c1.76563,0 3.70712,-0.88281 4.58994,-2.64844c7.76875,-13.77187 21.0137,-24.18837 36.37463,-28.42587c2.825,-0.70625 4.41337,-3.70988 3.70712,-6.53488c-0.61797,-2.47188 -2.9926,-3.99611 -5.4693,-3.86575zM180.44205,150.97818c-2.47671,-0.13035 -4.85134,1.39388 -5.46931,3.86575c-0.70625,2.825 0.88212,5.82863 3.70713,6.53488c15.18437,4.2375 28.42932,14.654 36.37463,28.42587c1.05938,1.76563 2.82431,2.64844 4.58994,2.64844c0.88281,0 1.76563,-0.17725 2.64844,-0.70694c2.47187,-1.4125 3.354,-4.58994 1.9415,-7.23837c-9.18125,-16.06719 -24.71737,-28.25069 -42.72675,-33.371c-0.35312,-0.08828 -0.71176,-0.14001 -1.06557,-0.15863z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="content_div">
                        <div class="counter">{{total_staff}}</div>
                        <div class="flx flxc">
                            <span class="">Total</span>
                        </div>
                    </div>
                </div>


            </div>

            <div class="flx">
                <div></div>
                <div></div>
            </div>

        </div>

        <div class="flx w50 flxc p10 mt20 dn sdl_container">
            <div class="flx">
                <div class="flx p5">Schedules</div>
                <div class="flx p5 mla">See all</div>
            </div>
            <div class="sdl_card_container">
                <div class="sdl_card"></div>
                <div class="sdl_card"></div>
                <div class="sdl_card"></div>
                <div class="sdl_card"></div>
                <div class="sdl_card"></div>
            </div>
        </div>
    </div>

    <div class="flx w90 ma request_approval_container dn">
        <div class="flx w50 flxc p10 mt20 request_container">
            <div class="flx">
                <div class="flx p5">Requests</div>
                <div class="flx p5 mla">See all</div>
            </div>
            <div class="request_card_container">
                <div class="request_card"></div>
                <div class="request_card"></div>
                <div class="request_card"></div>
                <div class="request_card"></div>
                <div class="request_card"></div>
            </div>
        </div>
        <div class="flx w50 flxc p10 mt20 approval_container">
            <div class="flx">
                <div class="flx p5">Approvals</div>
                <div class="flx p5 mla">See all</div>
            </div>
            <div class="approval_card_container">
                <div class="approval_card"></div>
                <div class="approval_card"></div>
                <div class="approval_card"></div>
                <div class="approval_card"></div>
                <div class="approval_card"></div>
            </div>
        </div>
    </div>


</div>


<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>


{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/js/dashboard_school_admin.js' %}</script>
{% endblock %}



