{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/location_manage.css' %}</style>


{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'app_smart_attendance:settings' %}">settings</a></li>
            <li>locations manage</li>
        </ul>
    </div>


    <!--&lt;!&ndash;    logic 1 start &ndash;&gt;-->
    <!--<input id="searchTextField" type="text" size="50">-->
    <!--&lt;!&ndash;    logic 1 end &ndash;&gt;-->

    <!--    logic 2 start -->
    <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on" runat="server"/>
    <input type="hidden" id="city2" name="city2"/>
    <input type="hidden" id="cityLat" name="cityLat"/>
    <input type="hidden" id="cityLng" name="cityLng"/>
    <!--    logic 2 end -->

    <div id="next_btn_outer"></div>
    <div class="flx j-c-c map_div ">
        <div class="map_div_inner" id="m1" style=" height: 100%;width: 100%; min-height:200px;"></div>
    </div>

    <button class="button js_create_geolocation pt5 pr10 pb5 pl10 mr2"
            data-url="{% url 'app_root:geolocation_create' %}" data-action_type="create"
            type="button">Add Location
    </button>

</div>




<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>

{% endblock %}

{% block javascript %}

<!--geolocation start-->
<style>{% include 'snippets/js_files/geo_location_sample.css' %}</style>
<script>{% include 'app_smart_attendance/js/show_map.js' %}</script>

<script>{% include 'app_smart_attendance/js/location_manage.js' %}</script>
<script>{% include 'app_smart_attendance/module/geolocation/js/geolocation_list_fill_modal.js' %}</script>

{% include 'app_smart_attendance/module/geolocation/html/google_geolocation.html' %}

{% endblock %}



