
<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Update Student
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form method="post" action="{% url 'app_smart_attendance:student_update' profile_qs.profile_id %}" class="js_student_update_form" id="student_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10 w100">
            {% include 'app_smart_attendance/html/partial_student_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="student_crud_form">Update</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>
<script>{% include 'app_smart_attendance/js/student_list_submit.js' %}</script>
<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>


