
<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Take Class Attendance preselected
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form action="javascript:void(0);" method="post"  class="js_take_attendance_class_create_form" id="take_attendance_class_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10 w100">
            {% include 'app_smart_attendance/html/partial_take_attendance_class_form_preselected.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="take_attendance_class_crud_form">Next</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>
<script>{% include 'app_smart_attendance/js/take_attendance_class_list_submit_preselected.js' %}</script>

<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>


