
<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Register Face
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form action="javascript:void(0);" method="post"  class="js_register_face_create_form" id="register_face_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10 w100">
            {% include 'app_smart_attendance/html/partial_register_face_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="register_face_crud_form">Next</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>
<script>{% include 'app_smart_attendance/js/register_face_list_submit.js' %}</script>

<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>


