<style>{% include 'app_smart_attendance/css/partial_teacher_form.css' %}</style>


{% if user_form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ user_form.non_field_errors }}
    </div>
</div>
{% endif %}

{% if profile_form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ profile_form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx partitioned_form">
    <div class="form-left">

        <div class="partitioned_form_field">
            <label class="" for="id_username">Username:</label>
            <div class="fwb pt5 pb10" id="id_username">{{profile_qs.user.username}}</div>
        </div>

        <div class="partitioned_form_field">
            <label class="" for="id_email">Email:</label>
            <div class="fwb pt5 pb10" id="id_email">{{profile_qs.user.email}}</div>
        </div>

        <div class="partitioned_form_field">
            {{ profile_form.role.label_tag }}
            {{ profile_form.role }}
            {% if profile_form.role.errors %}
            <span class="errorspan">{{ profile_form.role.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ user_form.first_name.label_tag }}
            {{ user_form.first_name }}
            {% if user_form.first_name.errors %}
            <span class="errorspan">{{ user_form.first_name.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ user_form.last_name.label_tag }}
            {{ user_form.last_name }}
            {% if user_form.last_name.errors %}
            <span class="errorspan">{{ user_form.last_name.errors }}</span>
            {% endif %}
        </div>

        {% if is_ask_password %}
        <div class="partitioned_form_field">
            {{ user_form.password1.label_tag }}
            {{ user_form.password1 }}
            {% if user_form.password1.errors %}
            <span class="errorspan">{{ user_form.password1.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ user_form.password2.label_tag }}
            {{ user_form.password2 }}
            {% if user_form.password2.errors %}
            <span class="errorspan">{{ user_form.password2.errors }}</span>
            {% endif %}
        </div>
        {% endif %}

    </div>
    <div class="form-right">




        <div class="partitioned_form_field">
            {{ profile_form.contact_number.label_tag }}
            {{ profile_form.contact_number }}
            {% if profile_form.contact_number.errors %}
            <span class="errorspan">{{ profile_form.contact_number.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ profile_form.gender.label_tag }}
            {{ profile_form.gender }}
            {% if profile_form.gender.errors %}
            <span class="errorspan">{{ profile_form.gender.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ profile_form.blood_group.label_tag }}
            {{ profile_form.blood_group }}
            {% if profile_form.blood_group.errors %}
            <span class="errorspan">{{ profile_form.blood_group.errors }}</span>
            {% endif %}
        </div>

         <div class="partitioned_form_field">
            {{ profile_form.father_name.label_tag }}
            {{ profile_form.father_name }}
            {% if profile_form.father_name.errors %}
            <span class="errorspan">{{ profile_form.father_name.errors }}</span>
            {% endif %}
        </div>

    </div>

</div>

<script>{% include 'app_smart_attendance/js/get_profiles_by_role_ajax.js' %}</script>
<script>{% include 'app_smart_attendance/js/partial_register_user_form.js' %}</script>

