<style>{% include 'app_smart_attendance/css/partial_take_attendance_other_form.css' %}</style>


{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<!--role, person-->
<div class="flx flxc partitioned_form ">
    <div class="partitioned_form_field">
        {{ form.role.label_tag }}
        {{ form.role }}
        {% if form.role.errors %}
        <span class="errorspan">{{ form.role.errors }}</span>
        {% endif %}
    </div>
    <div class="person dn">
        <div class="partitioned_form_field">
            {{ form.person.label_tag }}
            {{ form.person }}
            {% if form.person.errors %}
            <span class="errorspan">{{ form.person.errors }}</span>
            {% endif %}
        </div>
    </div>
    <div class="display_person_data"></div>
</div>

<!--show time-->
<div class="time_div dn" id="time_div"></div>
<div class="date_div dn" id="date_div"></div>

<div class="location_required_div t-a-c"></div>

<div class="distance_div"></div>

<div class="flx j-c-c map_div dn">
    {% include 'snippets/js_files/geo_location_sample_form.html' %}
</div>

<!--check-in, check-out-->
<div class="flx partitioned_form flxc mt20 dn check_in_out_div_outer" >

    <div class="flx p5 c3 j-c-c w100 ">
        Please select your preferred action:
    </div>

    <!--button-->
    <div class="flx check_in_out_div dn">
        <div class="partitioned_form_field w50 a-i-c">
            {{ form.check_in.label_tag }}
            {{ form.check_in }}
            {% if form.check_in.errors %}
            <span class="errorspan">{{ form.check_in.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field w50 a-i-c">
            {{ form.check_out.label_tag }}
            {{ form.check_out }}
            {% if form.check_out.errors %}
            <span class="errorspan">{{ form.check_out.errors }}</span>
            {% endif %}
        </div>
    </div>

    <!--logs-->
    <div class="flx w100 check_in_out_log_div ">
        <!--IN-->
        <div class="flx flxc pt10 w50 a-i-c check_in_log_div">
            {% if staff_at_success_in_qs or staff_at_failure_in_qs %}
            <div class="small c3 pb5">Check in log:</div>
            {% endif %}
            {% if staff_at_success_in_qs %}
            <!--Success-->
            <div class="flx flxc">
                {% for item in staff_at_success_in_qs %}
                {% if item.attendance_type == 'in' %}
                <div class="check_in flx c3 small j-c-c">
                    <div class="flx mr5">
                        <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#70bf2b"
                                  d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
                        </svg>
                    </div>
                    <div class="flx t-t-c">
                        {{item.attendance_date}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% if staff_at_failure_in_qs %}
            <!--Failure-->
            <div class="flx flxc">
                {% for item in staff_at_failure_in_qs %}
                {% if item.attendance_type == 'in' %}
                <div class="check_in flx c3 small j-c-c a-i-c">
                    <div class="flx mr5 red fs14">
                        ×
                    </div>
                    <div class="flx">
                        {{item.attendance_date}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!--OUT-->
        <div class="flx flxc pt10 w50 a-i-c check_out_log_div">
            {% if staff_at_success_out_qs or staff_at_failure_out_qs %}
            <div class="small c3 pb5">Check out log:</div>
            {% endif %}

            {% if staff_at_success_out_qs %}
            <!--Success-->
            <div class="flx flxc">
                {% for item in staff_at_success_out_qs %}
                {% if item.attendance_type == 'out' %}
                <div class="check_out flx c3 small j-c-c">
                    <div class="flx mr5">
                        <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#70bf2b"
                                  d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
                        </svg>
                    </div>
                    <div class="flx">
                        {{item.attendance_date}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% if staff_at_failure_out_qs %}
            <!--Failure-->
            <div class="flx flxc">
                {% for item in staff_at_failure_out_qs %}
                {% if item.attendance_type == 'out' %}
                <div class="check_out flx c3 small j-c-c a-i-c">
                    <div class="flx mr5 red fs14">
                        ×
                    </div>
                    <div class="flx">
                        {{item.attendance_date}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

</div>

<script>{% include 'app_smart_attendance/js/get_profiles_by_role_take_attendance_other_ajax.js' %}</script>
<script>{% include 'app_smart_attendance/js/partial_take_attendance_other_form.js' %}</script>

