
<div class="flx tab oa mt10">
    <button class="toggle-profile-button" data-id="all">All</button>
    {% if object.organisation_type == "company" or object.organisation_type == "anganwadi" %}
    <button class="toggle-profile-button" data-id="admin">Admin</button>
    <button class="toggle-profile-button" data-id="staff">Staff</button>
    {% elif object.organisation_type == "school" %}
    <button class="toggle-profile-button" data-id="school_admin">School admin</button>
    <button class="toggle-profile-button" data-id="teacher">Teacher</button>
    <button class="toggle-profile-button" data-id="non_teacher">Non Teacher</button>
    <button class="toggle-profile-button" data-id="student">Student</button>
    {% endif %}
</div>
<div class="mt10">
    <div class="oa tab_div all_div bsj">
        <table class="table405" id="all_table">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>role</th>
                <th>is_registered</th>
                <th>user</th>
                <th>profile_id</th>
                <th>media_id</th>
                <th>contact_number</th>
                <th>blood_group</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>postal_code</th>
                <th>view_count</th>
                <th>date_time</th>
                <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
            {% if all_user %}
            {% for item in all_user %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <div class="display_person_data">
                        <div class="flx">
                            <div class="flx mr10">
                                {% if item.profile_picture %}
                                <div class="flx mr10">
                                    <div class="at_img_div">
                                        <img class="at_img" src="{{item.profile_picture.url}}">
                                    </div>
                                </div>
                                {% else %}
                                <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                                    <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0"
                                       font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                       style="mix-blend-mode: normal">
                                        <g transform="scale(2,2)">
                                            <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                        </g>
                                    </g>
                                </svg>
                                {% endif %}
                            </div>
                            <div class="flx flxc a-s-f-e">
                                <div class="flx t-t-c">
                                    {{item.user.first_name}}
                                    {{item.user.last_name}}

                                    {% if item.gender == 'male' %}
                                    (M)
                                    {% elif item.gender == 'female' %}
                                    (F)
                                    {% endif %}
                                </div>
                                <div class="flx c6">{{item.user.email}}</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {% if item.role == "teacher" %}
                    <div class="flx staff" title="Teacher">
                        <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                               stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g fill="#bababa">
                                    <path d="M13.76,17.2v6.88h141.04v110.08h-89.44v6.88h92.88c1.9437,0 3.44,1.4963 3.44,3.44v3.44h-96.32v6.88h99.76c1.89978,-0.00019 3.43981,-1.54022 3.44,-3.44v-6.88c0,-4.32278 -3.07297,-7.3636 -6.88,-8.8889v-114.9511c-0.00019,-1.89978 -1.54022,-3.43981 -3.44,-3.44zM30.96,37.84c-13.25828,0 -24.08,10.82173 -24.08,24.08c0,13.25827 10.82172,24.08 24.08,24.08c13.25828,0 24.08,-10.82173 24.08,-24.08c0,-13.25827 -10.82172,-24.08 -24.08,-24.08zM68.8,37.84v6.88h3.44h34.4h3.44v-6.88h-3.44h-34.4zM120.4,37.84v6.88h3.44h17.2h3.44v-6.88h-3.44h-17.2zM30.96,44.72c9.54005,0 17.2,7.65995 17.2,17.2c0,9.54005 -7.65995,17.2 -17.2,17.2c-9.54005,0 -17.2,-7.65995 -17.2,-17.2c0,-9.54005 7.65995,-17.2 17.2,-17.2zM68.8,55.04v6.88h3.44h68.8h3.44v-6.88h-3.44h-68.8zM97.56297,74.79313c-0.76668,-0.01314 -1.53116,0.04872 -2.28437,0.1814c-3.01286,0.53075 -5.82575,2.21465 -7.68625,4.9114l-13.27625,19.23578l-12.49016,-4.16562c-4.12584,-1.37654 -8.44686,-2.0761 -12.7925,-2.0761h-24.95344c-11.35759,0 -20.64,9.28241 -20.64,20.64v41.28h6.88v-41.28c0,-7.63809 6.12191,-13.76 13.76,-13.76h24.95344c3.60764,0 7.19411,0.57845 10.61563,1.72l14.9425,4.98531c1.45175,0.48282 3.04791,-0.05106 3.91703,-1.31016l14.74765,-21.36562c1.59037,-2.30521 4.64885,-2.8445 6.92703,-1.22281c0,0.00224 0,0.00448 0,0.00672c2.22509,1.58201 2.75714,4.56675 1.20937,6.81953l-19.51125,28.40688c-0.84764,1.22806 -2.35408,1.77148 -3.78937,1.35719l-22.09797,-6.38281c-1.03877,-0.29971 -2.158,-0.09369 -3.02196,0.55626c-0.86396,0.64995 -1.37214,1.66822 -1.3721,2.74936v38.72015h6.88v-34.14469l17.7039,5.11297c4.25909,1.22937 8.85758,-0.41893 11.36813,-4.07156c0.00224,0 0.00448,0 0.00672,0l19.50453,-28.40687v-0.00672c3.62837,-5.28729 2.33514,-12.6055 -2.88906,-16.31985c-2.00174,-1.42491 -4.31122,-2.13074 -6.61125,-2.17015z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% elif item.role == "non_teacher" %}
                    <div class="flx staff" title="Non Teacher">
                        <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                               stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                               font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g fill="#bababa">
                                    <path d="M115.5625,104.8125h-1.87391l-7.38525,-4.9235c-0.44356,-0.28732 -0.9624,-0.43658 -1.49084,-0.42887v-6.79894c4.65998,-3.85951 8.02603,-9.05373 9.64525,-14.88378c6.74256,-0.78741 11.83329,-6.48906 11.85475,-13.27741v-2.6875c-0.00958,-3.07715 -1.77308,-5.87945 -4.54319,-7.21938c1.22553,-3.74246 1.85182,-7.65511 1.85569,-11.59312v-5.375c-0.01989,-17.80294 -14.44706,-32.23011 -32.25,-32.25h-10.75c-17.80294,0.01989 -32.23011,14.44706 -32.25,32.25v5.375c0.00387,3.93801 0.63017,7.85066 1.85569,11.59312c-2.77011,1.33993 -4.53362,4.14223 -4.54319,7.21938v2.6875c0.02146,6.78835 5.11219,12.49 11.85475,13.27741c1.61922,5.83004 4.98527,11.02427 9.64525,14.88378v6.79937c-0.52822,-0.00682 -1.04674,0.14221 -1.49073,0.42847l-7.38536,4.92347h-1.87391c-22.2539,0.02431 -40.28819,18.0586 -40.3125,40.3125v18.8125c-0.00041,0.71289 0.28261,1.39671 0.7867,1.9008c0.50409,0.50409 1.1879,0.78711 1.9008,0.7867h134.375c0.71289,0.00041 1.39671,-0.28261 1.9008,-0.7867c0.50409,-0.50409 0.78711,-1.1879 0.7867,-1.9008v-18.8125c-0.02431,-22.2539 -18.0586,-40.28819 -40.3125,-40.3125zM109.88569,108.73878l-4.1835,20.92786l-15.40849,-11.55574l14.72089,-12.62114zM85.24858,134.375h1.50285l8.95851,26.875h-19.41987zM89.85277,129h-7.70555l-1.86308,-3.10514l5.71586,-4.2868l5.71586,4.2868zM120.9375,64.5c-0.01151,3.44819 -2.21868,6.50581 -5.48788,7.6024c0.05544,-0.73783 0.11288,-1.47565 0.11288,-2.2274v-10.75h2.6875c1.48365,0.00148 2.68602,1.20385 2.6875,2.6875zM53.75,37.625c0.01697,-14.83562 12.03938,-26.85803 26.875,-26.875h10.75c14.83562,0.01697 26.85803,12.03938 26.875,26.875v5.375c-0.00799,3.66477 -0.64528,7.30095 -1.88407,10.75h-2.68667c-3.29876,-2.99721 -5.50216,-7.01018 -6.26061,-11.4022c-0.17256,-0.69123 -0.61268,-1.28559 -1.22351,-1.65228c-0.61083,-0.36669 -1.34233,-0.47567 -2.03352,-0.30296c-5.95339,1.4643 -12.03673,2.33768 -18.16161,2.60744c-6.12489,-0.26976 -12.20822,-1.14314 -18.16161,-2.60744c-1.43903,-0.3575 -2.89595,0.5171 -3.25704,1.95524c-0.75772,4.39031 -2.95769,8.40263 -6.25185,11.4022h-2.69543c-1.23879,-3.44905 -1.87608,-7.08523 -1.88407,-10.75zM51.0625,64.5v-2.6875c0.00148,-1.48365 1.20385,-2.68602 2.6875,-2.6875h2.6875v10.75c0,0.75175 0.05741,1.48957 0.11288,2.2274c-3.26923,-1.09655 -5.47642,-4.15419 -5.48788,-7.6024zM61.8125,69.875v-12.01896c3.52569,-3.08047 6.05386,-7.14135 7.26203,-11.66464c5.55836,1.27109 11.2265,2.00235 16.92547,2.18359c5.69897,-0.18124 11.36711,-0.9125 16.92547,-2.18359c1.20817,4.52329 3.73634,8.58417 7.26203,11.66464v12.01896c0,13.35839 -10.82911,24.1875 -24.1875,24.1875c-13.35839,0 -24.1875,-10.82911 -24.1875,-24.1875zM86,99.4375c4.67518,-0.00183 9.28225,-1.12069 13.4375,-3.2634v7.02053l-13.4375,11.51785l-13.4375,-11.51785v-7.02056c4.15525,2.14272 8.76232,3.26159 13.4375,3.26343zM66.9854,105.48975l14.72089,12.62128l-15.40835,11.55561l-4.18363,-20.92786zM21.5,145.125c0.02229,-19.28621 15.65129,-34.91521 34.9375,-34.9375h0.48456l4.94293,24.71503c0.18067,0.90503 0.81336,1.6539 1.6755,1.9832c0.86214,0.32929 1.83296,0.19288 2.57096,-0.36126l9.84969,-7.38716l2.35963,3.93332c0.31008,0.50395 0.77876,0.89065 1.33244,1.09935l-9.02678,27.08003h-27.62642v-13.4375c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875v13.4375h-16.125zM150.5,161.25h-16.125v-13.4375c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875v13.4375h-27.62643l-9.02669,-27.08003c0.55368,-0.2087 1.02236,-0.59539 1.33244,-1.09935l2.35962,-3.93332l9.84969,7.38716c0.73795,0.55434 1.70886,0.69087 2.57107,0.36155c0.86221,-0.32932 1.49489,-1.07834 1.67539,-1.98348l4.94285,-24.71503h0.48456c19.28621,0.02229 34.91521,15.65129 34.9375,34.9375z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% elif item.role == "school_admin"%}
                    <div class="flx staff" title="School admin">
                        <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                               stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                               font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g fill="#bababa">
                                    <path d="M85.79844,0.33594c-1.02125,0.05375 -1.97531,0.57781 -2.59344,1.41094l-15.25156,21.07l-17.88531,-11.91906c-1.1825,-0.77938 -2.72781,-0.76594 -3.88344,0.05375c-1.16906,0.81969 -1.70656,2.27094 -1.35719,3.64156l6.16781,24.48312l1.14219,9.31219c-0.01344,0.20156 -0.01344,0.40313 0,0.61813c0.34938,4.48812 1.30344,9.20469 2.45906,13.975c-1.6125,1.90812 -2.9025,4.48812 -2.44563,8.33125v0.01344c0.51063,4.21938 1.65281,7.22938 3.31906,9.33906c0.90031,1.15562 2.05594,1.26312 3.15781,1.8275c0.60469,3.60125 1.67969,7.21594 3.18469,10.22594c0.86,1.72 1.78719,3.26531 2.74125,4.55531c0.43,0.57781 1.04813,0.92719 1.505,1.41094c0.02688,4.25969 0.1075,7.78031 -0.26875,12.26844c-1.11531,2.6875 -3.7625,4.90469 -7.98187,7.01438c-4.36719,2.17687 -10.05125,4.11187 -15.78906,6.57094c-5.75125,2.4725 -11.62344,5.49594 -16.29969,10.22594c-4.66281,4.74344 -7.99531,11.27406 -8.51938,19.82031l-0.215,3.655h138.03l-0.215,-3.655c-0.52406,-8.54625 -3.82969,-15.07687 -8.4925,-19.80687c-4.66281,-4.73 -10.50812,-7.76688 -16.2325,-10.23938c-5.71094,-2.45906 -11.36812,-4.39406 -15.72187,-6.57094c-4.20594,-2.10969 -6.83969,-4.31344 -7.96844,-7.01438c-0.36281,-4.50156 -0.28219,-8.02219 -0.25531,-12.28187c0.44344,-0.49719 1.06156,-0.84656 1.47812,-1.42438c0.94063,-1.30344 1.84094,-2.84875 2.6875,-4.56875c1.46469,-3.01 2.49938,-6.61125 3.10406,-10.19906c1.08844,-0.56438 2.24406,-0.67188 3.13094,-1.81406c1.66625,-2.10969 2.80844,-5.11969 3.31906,-9.33906c0.45687,-3.81625 -0.80625,-6.39625 -2.40531,-8.31781c1.08844,-3.5475 2.37844,-8.18344 2.95625,-13.8675c0.02688,-0.22844 0.04031,-0.47031 0.01344,-0.71219l1.30344,-9.31219l5.4825,-24.60406c0.30906,-1.38406 -0.25531,-2.795 -1.41094,-3.58781c-1.16906,-0.79281 -2.6875,-0.80625 -3.85656,-0.02687l-17.88531,11.91906l-15.25156,-21.07c-0.69875,-0.95406 -1.81406,-1.47813 -2.99656,-1.41094zM86,9.62125l14.405,19.91438c1.08844,1.505 3.17125,1.86781 4.70313,0.84656l13.51812,-9.01656l-3.62812,16.25937c-0.01344,0.02688 -0.01344,0.05375 -0.02688,0.09406c-0.01344,0.09406 -0.02687,0.17469 -0.04031,0.26875c0,0.04031 -0.01344,0.08062 -0.01344,0.12094l-0.92719,6.61125h-55.3625l-0.79281,-6.43656c-0.01344,-0.17469 -0.04031,-0.36281 -0.08062,-0.55094c0,0 0,-0.01344 -0.01344,-0.02687c0,-0.02688 0,-0.05375 -0.01344,-0.08063l-4.04469,-16.04437l13.20906,8.80156c1.53187,1.02125 3.61469,0.65844 4.70312,-0.84656zM59.32656,51.6h53.80375c-0.69875,4.54188 -1.78719,8.62688 -2.62031,11.12625l-0.86,2.59344l2.35156,1.42438c-0.16125,-0.09406 1.35719,0.88687 1.02125,3.74906c-0.41656,3.37281 -1.27656,5.13312 -1.90813,5.92594c-0.61812,0.79281 -0.94062,0.7525 -0.9675,0.7525l-2.83531,0.22844l-0.29563,2.83531c-0.3225,2.96969 -1.51844,6.58437 -2.9025,9.43312c-0.69875,1.42438 -1.43781,2.67406 -2.06937,3.53406c-0.63156,0.87344 -1.31688,1.34375 -0.99438,1.16906l-1.8275,0.9675v2.06937c0,4.98531 -0.20156,9.03 0.3225,14.80813l0.04031,0.44344l0.16125,0.43c1.96187,5.28094 6.53062,8.51938 11.51594,11.01875c4.99875,2.51281 10.70969,4.43438 16.09813,6.75906c5.38844,2.32469 10.38719,5.02562 14.04219,8.73437c2.9025,2.95625 4.73,6.86656 5.6975,11.75781h-122.18719c0.9675,-4.87781 2.795,-8.80156 5.71094,-11.75781c3.66844,-3.70875 8.69406,-6.40969 14.09594,-8.73437c5.41531,-2.32469 11.15313,-4.24625 16.16531,-6.74563c4.99875,-2.49937 9.58094,-5.73781 11.55625,-11.03219l0.16125,-0.43l0.02687,-0.44344c0.52406,-5.77813 0.33594,-9.82281 0.33594,-14.80813v-2.06937l-1.85438,-0.9675c0.3225,0.16125 -0.37625,-0.3225 -1.02125,-1.19594c-0.65844,-0.87344 -1.41094,-2.12313 -2.13656,-3.5475c-1.42437,-2.84875 -2.64719,-6.45 -2.96969,-9.39281l-0.29562,-2.83531l-2.83531,-0.22844c-0.02688,0 -0.34938,0.04031 -0.9675,-0.7525c-0.61813,-0.79281 -1.49156,-2.55313 -1.90813,-5.9125v-0.01344c-0.3225,-2.84875 1.1825,-3.84313 1.03469,-3.74906l2.17687,-1.33031l-0.645,-2.4725c-1.00781,-3.92375 -1.76031,-7.72656 -2.21719,-11.34125z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% elif item.role == "admin" %}
                    <div class="flx staff" title="Admin">
                        <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                               stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                               font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g fill="#bababa">
                                    <path d="M85.79844,0.33594c-1.02125,0.05375 -1.97531,0.57781 -2.59344,1.41094l-15.25156,21.07l-17.88531,-11.91906c-1.1825,-0.77938 -2.72781,-0.76594 -3.88344,0.05375c-1.16906,0.81969 -1.70656,2.27094 -1.35719,3.64156l6.16781,24.48312l1.14219,9.31219c-0.01344,0.20156 -0.01344,0.40313 0,0.61813c0.34938,4.48812 1.30344,9.20469 2.45906,13.975c-1.6125,1.90812 -2.9025,4.48812 -2.44563,8.33125v0.01344c0.51063,4.21938 1.65281,7.22938 3.31906,9.33906c0.90031,1.15562 2.05594,1.26312 3.15781,1.8275c0.60469,3.60125 1.67969,7.21594 3.18469,10.22594c0.86,1.72 1.78719,3.26531 2.74125,4.55531c0.43,0.57781 1.04813,0.92719 1.505,1.41094c0.02688,4.25969 0.1075,7.78031 -0.26875,12.26844c-1.11531,2.6875 -3.7625,4.90469 -7.98187,7.01438c-4.36719,2.17687 -10.05125,4.11187 -15.78906,6.57094c-5.75125,2.4725 -11.62344,5.49594 -16.29969,10.22594c-4.66281,4.74344 -7.99531,11.27406 -8.51938,19.82031l-0.215,3.655h138.03l-0.215,-3.655c-0.52406,-8.54625 -3.82969,-15.07687 -8.4925,-19.80687c-4.66281,-4.73 -10.50812,-7.76688 -16.2325,-10.23938c-5.71094,-2.45906 -11.36812,-4.39406 -15.72187,-6.57094c-4.20594,-2.10969 -6.83969,-4.31344 -7.96844,-7.01438c-0.36281,-4.50156 -0.28219,-8.02219 -0.25531,-12.28187c0.44344,-0.49719 1.06156,-0.84656 1.47812,-1.42438c0.94063,-1.30344 1.84094,-2.84875 2.6875,-4.56875c1.46469,-3.01 2.49938,-6.61125 3.10406,-10.19906c1.08844,-0.56438 2.24406,-0.67188 3.13094,-1.81406c1.66625,-2.10969 2.80844,-5.11969 3.31906,-9.33906c0.45687,-3.81625 -0.80625,-6.39625 -2.40531,-8.31781c1.08844,-3.5475 2.37844,-8.18344 2.95625,-13.8675c0.02688,-0.22844 0.04031,-0.47031 0.01344,-0.71219l1.30344,-9.31219l5.4825,-24.60406c0.30906,-1.38406 -0.25531,-2.795 -1.41094,-3.58781c-1.16906,-0.79281 -2.6875,-0.80625 -3.85656,-0.02687l-17.88531,11.91906l-15.25156,-21.07c-0.69875,-0.95406 -1.81406,-1.47813 -2.99656,-1.41094zM86,9.62125l14.405,19.91438c1.08844,1.505 3.17125,1.86781 4.70313,0.84656l13.51812,-9.01656l-3.62812,16.25937c-0.01344,0.02688 -0.01344,0.05375 -0.02688,0.09406c-0.01344,0.09406 -0.02687,0.17469 -0.04031,0.26875c0,0.04031 -0.01344,0.08062 -0.01344,0.12094l-0.92719,6.61125h-55.3625l-0.79281,-6.43656c-0.01344,-0.17469 -0.04031,-0.36281 -0.08062,-0.55094c0,0 0,-0.01344 -0.01344,-0.02687c0,-0.02688 0,-0.05375 -0.01344,-0.08063l-4.04469,-16.04437l13.20906,8.80156c1.53187,1.02125 3.61469,0.65844 4.70312,-0.84656zM59.32656,51.6h53.80375c-0.69875,4.54188 -1.78719,8.62688 -2.62031,11.12625l-0.86,2.59344l2.35156,1.42438c-0.16125,-0.09406 1.35719,0.88687 1.02125,3.74906c-0.41656,3.37281 -1.27656,5.13312 -1.90813,5.92594c-0.61812,0.79281 -0.94062,0.7525 -0.9675,0.7525l-2.83531,0.22844l-0.29563,2.83531c-0.3225,2.96969 -1.51844,6.58437 -2.9025,9.43312c-0.69875,1.42438 -1.43781,2.67406 -2.06937,3.53406c-0.63156,0.87344 -1.31688,1.34375 -0.99438,1.16906l-1.8275,0.9675v2.06937c0,4.98531 -0.20156,9.03 0.3225,14.80813l0.04031,0.44344l0.16125,0.43c1.96187,5.28094 6.53062,8.51938 11.51594,11.01875c4.99875,2.51281 10.70969,4.43438 16.09813,6.75906c5.38844,2.32469 10.38719,5.02562 14.04219,8.73437c2.9025,2.95625 4.73,6.86656 5.6975,11.75781h-122.18719c0.9675,-4.87781 2.795,-8.80156 5.71094,-11.75781c3.66844,-3.70875 8.69406,-6.40969 14.09594,-8.73437c5.41531,-2.32469 11.15313,-4.24625 16.16531,-6.74563c4.99875,-2.49937 9.58094,-5.73781 11.55625,-11.03219l0.16125,-0.43l0.02687,-0.44344c0.52406,-5.77813 0.33594,-9.82281 0.33594,-14.80813v-2.06937l-1.85438,-0.9675c0.3225,0.16125 -0.37625,-0.3225 -1.02125,-1.19594c-0.65844,-0.87344 -1.41094,-2.12313 -2.13656,-3.5475c-1.42437,-2.84875 -2.64719,-6.45 -2.96969,-9.39281l-0.29562,-2.83531l-2.83531,-0.22844c-0.02688,0 -0.34938,0.04031 -0.9675,-0.7525c-0.61813,-0.79281 -1.49156,-2.55313 -1.90813,-5.9125v-0.01344c-0.3225,-2.84875 1.1825,-3.84313 1.03469,-3.74906l2.17687,-1.33031l-0.645,-2.4725c-1.00781,-3.92375 -1.76031,-7.72656 -2.21719,-11.34125z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% elif item.role == "staff" %}
                    <div class="flx staff" title="Staff">
                        <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                            <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                               stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none"
                               font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                <g transform="scale(5.12,5.12)">
                                    <path d="M25,6c-2.19729,0 -4,1.80271 -4,4c0,2.19729 1.80271,4 4,4c2.19729,0 4,-1.80271 4,-4c0,-2.19729 -1.80271,-4 -4,-4zM25,8c1.11641,0 2,0.88359 2,2c0,1.11641 -0.88359,2 -2,2c-1.11641,0 -2,-0.88359 -2,-2c0,-1.11641 0.88359,-2 2,-2zM8,9c-2.19729,0 -4,1.80271 -4,4c0,2.19729 1.80271,4 4,4c2.19729,0 4,-1.80271 4,-4c0,-2.19729 -1.80271,-4 -4,-4zM42,9c-2.19729,0 -4,1.80271 -4,4c0,2.19729 1.80271,4 4,4c2.19729,0 4,-1.80271 4,-4c0,-2.19729 -1.80271,-4 -4,-4zM8,11c1.11641,0 2,0.88359 2,2c0,1.11641 -0.88359,2 -2,2c-1.11641,0 -2,-0.88359 -2,-2c0,-1.11641 0.88359,-2 2,-2zM42,11c1.11641,0 2,0.88359 2,2c0,1.11641 -0.88359,2 -2,2c-1.11641,0 -2,-0.88359 -2,-2c0,-1.11641 0.88359,-2 2,-2zM24,15c-3.30163,0 -6,2.69837 -6,6v4h-3c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h3h14h3c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-3v-4c0,-3.30163 -2.69837,-6 -6,-6zM24,17h2c2.22038,0 4,1.77962 4,4v4h-10v-4c0,-2.22038 1.77962,-4 4,-4zM8,18c-2.19733,0 -4,1.80267 -4,4c0,0.00065 0,0.0013 0,0.00195l0.00977,9.24805c0.00018,0.02739 0.00148,0.05475 0.00391,0.08203c0.17256,2.06413 1.91522,3.66797 3.98633,3.66797h5v6c0,1.64506 1.35494,3 3,3c1.64506,0 3,-1.35494 3,-3v-8c0,-2.19652 -1.80348,-4 -4,-4h-3v-7c0.00012,-0.03719 -0.00184,-0.07436 -0.00586,-0.11133c-0.23152,-2.07915 -1.80928,-3.88867 -3.99414,-3.88867zM42,18c-2.18486,0 -3.76258,1.80952 -3.99414,3.88867c-0.00402,0.03697 -0.00598,0.07414 -0.00586,0.11133v7h-3c-2.19652,0 -4,1.80348 -4,4v8c0,1.64506 1.35494,3 3,3c1.64506,0 3,-1.35494 3,-3v-6h5c2.07111,0 3.81376,-1.60384 3.98633,-3.66797c0.00242,-0.02728 0.00373,-0.05465 0.00391,-0.08203l0.00977,-9.24805c0,-0.00065 0,-0.0013 0,-0.00195c0,-2.19733 -1.80267,-4 -4,-4zM8,20c1.1241,0 1.85099,0.81088 2,2.09766v7.90234c0.00006,0.55226 0.44774,0.99994 1,1h4c1.11148,0 2,0.88852 2,2v8c0,0.56294 -0.43706,1 -1,1c-0.56294,0 -1,-0.43706 -1,-1v-7c-0.00006,-0.55226 -0.44774,-0.99994 -1,-1h-6c-1.04574,0 -1.89846,-0.78498 -1.99023,-1.82617l-0.00977,-9.17578c0.00104,-1.11573 0.88399,-1.99805 2,-1.99805zM42,20c1.11667,0 2,0.88333 2,2l-0.00977,9.17383c-0.09174,1.04119 -0.94449,1.82617 -1.99023,1.82617h-6c-0.55226,0.00006 -0.99994,0.44774 -1,1v7c0,0.56294 -0.43706,1 -1,1c-0.56294,0 -1,-0.43706 -1,-1v-8c0,-1.11148 0.88852,-2 2,-2h4c0.55226,-0.00006 0.99994,-0.44774 1,-1v-7.90234c0.14901,-1.28677 0.8759,-2.09766 2,-2.09766zM0.98438,22.98633c-0.55152,0.00862 -0.99193,0.46214 -0.98437,1.01367v8c0,3.85433 3.14567,7 7,7h3c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-3c-2.77367,0 -5,-2.22633 -5,-5v-8c0.0037,-0.2703 -0.10218,-0.53059 -0.29351,-0.72155c-0.19133,-0.19097 -0.45182,-0.29634 -0.72212,-0.29212zM48.98438,22.98633c-0.55152,0.00862 -0.99193,0.46214 -0.98437,1.01367v8c0,2.77367 -2.22633,5 -5,5h-3c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h3c3.85433,0 7,-3.14567 7,-7v-8c0.0037,-0.2703 -0.10218,-0.53059 -0.29351,-0.72155c-0.19133,-0.19097 -0.45182,-0.29634 -0.72212,-0.29212z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% else %}
                    -
                    {% endif %}
                    {% if item.profile_id == request.user.profile.profile_id %}
                    <div class="small staff flx">(You)</div>
                    {% endif %}
                </td>

                <td>
                    {% if item.is_registered %}
                    <div class="flx" title="Verified">
                        <svg height="24" width="24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                               stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g>
                                    <path d="M86,7.16667l16.125,17.91667l23.29167,-7.16667l5.375,23.29167l23.29167,5.375l-7.16667,23.29167l17.91667,16.125l-17.91667,16.125l7.16667,23.29167l-23.29167,5.375l-5.375,23.29167l-23.29167,-7.16667l-16.125,17.91667l-16.125,-17.91667l-23.29167,7.16667l-5.375,-23.29167l-23.29167,-5.375l7.16667,-23.29167l-17.91667,-16.125l17.91667,-16.125l-7.16667,-23.29167l23.29167,-5.375l5.375,-23.29167l23.29167,7.16667z"
                                          fill="#42a5f5"></path>
                                    <path d="M123.98333,52.31667l-48.73333,48.73333l-20.06667,-20.06667l-10.03333,10.03333l30.1,30.1l58.76667,-58.76667z"
                                          fill="#ffffff"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% endif %}
                </td>
                <td>{{item.user}}</td>
                <td>{{item.profile_id}}</td>
                <td>{{item.media_id}}</td>
                <td>{{item.contact_number}}</td>
                <td>{{item.blood_group}}</td>
                <td>{{item.address}}</td>
                <td>{{item.city}}</td>
                <td>{{item.state}}</td>
                <td>{{item.country}}</td>
                <td>{{item.postal_code}}</td>
                <td>{{item.view_count}}</td>
                <td>{{item.date_time}}</td>
                <td>{{item.updated_at}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="no_data_to_show">
                    <div class="red p15 t-a-l">No data to show.</div>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% if object.organisation_type == "company" or object.organisation_type == "anganwadi" %}
    <div class="oa tab_div admin_div bsj">
        <table class="table405" id="admin_table">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>is_registered</th>
                <th>user</th>
                <th>profile_id</th>
                <th>media_id</th>
                <th>contact_number</th>
                <th>blood_group</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>postal_code</th>
                <th>view_count</th>
                <th>date_time</th>
                <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
            {% if admin %}
            {% for item in admin %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <div class="display_person_data">
                        <div class="flx">
                            <div class="flx mr10">
                                {% if item.profile_picture %}
                                <div class="flx mr10">
                                    <div class="at_img_div">
                                        <img class="at_img" src="{{item.profile_picture.url}}">
                                    </div>
                                </div>
                                {% else %}
                                <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                                    <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0"
                                       font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                       style="mix-blend-mode: normal">
                                        <g transform="scale(2,2)">
                                            <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                        </g>
                                    </g>
                                </svg>
                                {% endif %}
                            </div>
                            <div class="flx flxc a-s-f-e">
                                <div class="flx t-t-c">
                                    {{item.user.first_name}}
                                    {{item.user.last_name}}

                                    {% if item.gender == 'male' %}
                                    (M)
                                    {% elif item.gender == 'female' %}
                                    (F)
                                    {% endif %}
                                </div>
                                <div class="flx c6">{{item.user.email}}</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {% if item.is_registered %}
                    <div class="flx" title="Verified">
                        <svg height="24" width="24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                               stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g>
                                    <path d="M86,7.16667l16.125,17.91667l23.29167,-7.16667l5.375,23.29167l23.29167,5.375l-7.16667,23.29167l17.91667,16.125l-17.91667,16.125l7.16667,23.29167l-23.29167,5.375l-5.375,23.29167l-23.29167,-7.16667l-16.125,17.91667l-16.125,-17.91667l-23.29167,7.16667l-5.375,-23.29167l-23.29167,-5.375l7.16667,-23.29167l-17.91667,-16.125l17.91667,-16.125l-7.16667,-23.29167l23.29167,-5.375l5.375,-23.29167l23.29167,7.16667z"
                                          fill="#42a5f5"></path>
                                    <path d="M123.98333,52.31667l-48.73333,48.73333l-20.06667,-20.06667l-10.03333,10.03333l30.1,30.1l58.76667,-58.76667z"
                                          fill="#ffffff"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% endif %}
                </td>
                <td>{{item.user}}</td>
                <td>{{item.profile_id}}</td>
                <td>{{item.media_id}}</td>
                <td>{{item.contact_number}}</td>
                <td>{{item.blood_group}}</td>
                <td>{{item.address}}</td>
                <td>{{item.city}}</td>
                <td>{{item.state}}</td>
                <td>{{item.country}}</td>
                <td>{{item.postal_code}}</td>
                <td>{{item.view_count}}</td>
                <td>{{item.date_time}}</td>
                <td>{{item.updated_at}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="no_data_to_show">
                    <div class="red p15 t-a-l">No data to show.</div>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="oa tab_div staff_div bsj">
        <table class="table405" id="staff_table">

            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>is_registered</th>
                <th>user</th>
                <th>profile_id</th>
                <th>media_id</th>
                <th>contact_number</th>
                <th>blood_group</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>postal_code</th>
                <th>view_count</th>
                <th>date_time</th>
                <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
            {% if staff %}
            {% for item in staff %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <div class="display_person_data">
                        <div class="flx">
                            <div class="flx mr10">
                                <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                                    <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0"
                                       font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                       style="mix-blend-mode: normal">
                                        <g transform="scale(2,2)">
                                            <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx flxc a-s-f-e">
                                <div class="flx t-t-c">
                                    {{item.user.first_name}}
                                    {{item.user.last_name}}

                                    {% if item.gender == 'male' %}
                                    (M)
                                    {% elif item.gender == 'female' %}
                                    (F)
                                    {% endif %}
                                </div>
                                <div class="flx c6">{{item.user.email}}</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {% if item.is_registered %}
                    <div class="flx" title="Verified">
                        <svg height="24" width="24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                               stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g>
                                    <path d="M86,7.16667l16.125,17.91667l23.29167,-7.16667l5.375,23.29167l23.29167,5.375l-7.16667,23.29167l17.91667,16.125l-17.91667,16.125l7.16667,23.29167l-23.29167,5.375l-5.375,23.29167l-23.29167,-7.16667l-16.125,17.91667l-16.125,-17.91667l-23.29167,7.16667l-5.375,-23.29167l-23.29167,-5.375l7.16667,-23.29167l-17.91667,-16.125l17.91667,-16.125l-7.16667,-23.29167l23.29167,-5.375l5.375,-23.29167l23.29167,7.16667z"
                                          fill="#42a5f5"></path>
                                    <path d="M123.98333,52.31667l-48.73333,48.73333l-20.06667,-20.06667l-10.03333,10.03333l30.1,30.1l58.76667,-58.76667z"
                                          fill="#ffffff"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% endif %}
                </td>
                <td>{{item.user}}</td>
                <td>{{item.profile_id}}</td>
                <td>{{item.media_id}}</td>
                <td>{{item.contact_number}}</td>
                <td>{{item.blood_group}}</td>
                <td>{{item.address}}</td>
                <td>{{item.city}}</td>
                <td>{{item.state}}</td>
                <td>{{item.country}}</td>
                <td>{{item.postal_code}}</td>
                <td>{{item.view_count}}</td>
                <td>{{item.date_time}}</td>
                <td>{{item.updated_at}}</td>

            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="no_data_to_show">
                    <div class="red p15 t-a-l">No data to show.</div>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% elif object.organisation_type == "school" %}
    <div class="oa tab_div school_admin_div bsj">
        <table class="table405" id="school_admin_table">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>is_registered</th>
                <th>user</th>
                <th>profile_id</th>
                <th>media_id</th>
                <th>contact_number</th>
                <th>blood_group</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>postal_code</th>
                <th>view_count</th>
                <th>date_time</th>
                <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
            {% if school_admins %}
            {% for item in school_admins %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <div class="display_person_data">
                        <div class="flx">
                            <div class="flx mr10">
                                {% if item.profile_picture %}
                                <div class="flx mr10">
                                    <div class="at_img_div">
                                        <img class="at_img" src="{{item.profile_picture.url}}">
                                    </div>
                                </div>
                                {% else %}
                                <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                                    <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0"
                                       font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                       style="mix-blend-mode: normal">
                                        <g transform="scale(2,2)">
                                            <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                        </g>
                                    </g>
                                </svg>
                                {% endif %}
                            </div>
                            <div class="flx flxc a-s-f-e">
                                <div class="flx t-t-c">
                                    {{item.user.first_name}}
                                    {{item.user.last_name}}

                                    {% if item.gender == 'male' %}
                                    (M)
                                    {% elif item.gender == 'female' %}
                                    (F)
                                    {% endif %}
                                </div>
                                <div class="flx c6">{{item.user.email}}</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {% if item.is_registered %}
                    <div class="flx" title="Verified">
                        <svg height="24" width="24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                               stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g>
                                    <path d="M86,7.16667l16.125,17.91667l23.29167,-7.16667l5.375,23.29167l23.29167,5.375l-7.16667,23.29167l17.91667,16.125l-17.91667,16.125l7.16667,23.29167l-23.29167,5.375l-5.375,23.29167l-23.29167,-7.16667l-16.125,17.91667l-16.125,-17.91667l-23.29167,7.16667l-5.375,-23.29167l-23.29167,-5.375l7.16667,-23.29167l-17.91667,-16.125l17.91667,-16.125l-7.16667,-23.29167l23.29167,-5.375l5.375,-23.29167l23.29167,7.16667z"
                                          fill="#42a5f5"></path>
                                    <path d="M123.98333,52.31667l-48.73333,48.73333l-20.06667,-20.06667l-10.03333,10.03333l30.1,30.1l58.76667,-58.76667z"
                                          fill="#ffffff"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% endif %}
                </td>
                <td>{{item.user}}</td>
                <td>{{item.profile_id}}</td>
                <td>{{item.media_id}}</td>
                <td>{{item.contact_number}}</td>
                <td>{{item.blood_group}}</td>
                <td>{{item.address}}</td>
                <td>{{item.city}}</td>
                <td>{{item.state}}</td>
                <td>{{item.country}}</td>
                <td>{{item.postal_code}}</td>
                <td>{{item.view_count}}</td>
                <td>{{item.date_time}}</td>
                <td>{{item.updated_at}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="no_data_to_show">
                    <div class="red p15 t-a-l">No data to show.</div>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="oa tab_div teacher_div bsj">
        <table class="table405" id="teacher_table">

            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>is_registered</th>
                <th>user</th>
                <th>profile_id</th>
                <th>media_id</th>
                <th>contact_number</th>
                <th>blood_group</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>postal_code</th>
                <th>view_count</th>
                <th>date_time</th>
                <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
            {% if teachers %}
            {% for item in teachers %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <div class="display_person_data">
                        <div class="flx">
                            <div class="flx mr10">
                                <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                                    <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0"
                                       font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                       style="mix-blend-mode: normal">
                                        <g transform="scale(2,2)">
                                            <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx flxc a-s-f-e">
                                <div class="flx t-t-c">
                                    {{item.user.first_name}}
                                    {{item.user.last_name}}

                                    {% if item.gender == 'male' %}
                                    (M)
                                    {% elif item.gender == 'female' %}
                                    (F)
                                    {% endif %}
                                </div>
                                <div class="flx c6">{{item.user.email}}</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {% if item.is_registered %}
                    <div class="flx" title="Verified">
                        <svg height="24" width="24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                               stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g>
                                    <path d="M86,7.16667l16.125,17.91667l23.29167,-7.16667l5.375,23.29167l23.29167,5.375l-7.16667,23.29167l17.91667,16.125l-17.91667,16.125l7.16667,23.29167l-23.29167,5.375l-5.375,23.29167l-23.29167,-7.16667l-16.125,17.91667l-16.125,-17.91667l-23.29167,7.16667l-5.375,-23.29167l-23.29167,-5.375l7.16667,-23.29167l-17.91667,-16.125l17.91667,-16.125l-7.16667,-23.29167l23.29167,-5.375l5.375,-23.29167l23.29167,7.16667z"
                                          fill="#42a5f5"></path>
                                    <path d="M123.98333,52.31667l-48.73333,48.73333l-20.06667,-20.06667l-10.03333,10.03333l30.1,30.1l58.76667,-58.76667z"
                                          fill="#ffffff"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% endif %}
                </td>
                <td>{{item.user}}</td>
                <td>{{item.profile_id}}</td>
                <td>{{item.media_id}}</td>
                <td>{{item.contact_number}}</td>
                <td>{{item.blood_group}}</td>
                <td>{{item.address}}</td>
                <td>{{item.city}}</td>
                <td>{{item.state}}</td>
                <td>{{item.country}}</td>
                <td>{{item.postal_code}}</td>
                <td>{{item.view_count}}</td>
                <td>{{item.date_time}}</td>
                <td>{{item.updated_at}}</td>

            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="no_data_to_show">
                    <div class="red p15 t-a-l">No data to show.</div>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="oa tab_div non_teacher_div bsj">
        <table class="table405" id="non_teacher_table">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>is_registered</th>
                <th>user</th>
                <th>profile_id</th>
                <th>media_id</th>
                <th>contact_number</th>
                <th>blood_group</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>postal_code</th>
                <th>view_count</th>
                <th>date_time</th>
                <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
            {% if non_teachers %}
            {% for item in non_teachers %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <div class="display_person_data">
                        <div class="flx">
                            <div class="flx mr10">
                                <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                                    <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0"
                                       font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                       style="mix-blend-mode: normal">
                                        <g transform="scale(2,2)">
                                            <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx flxc a-s-f-e">
                                <div class="flx t-t-c">
                                    {{item.user.first_name}}
                                    {{item.user.last_name}}

                                    {% if item.gender == 'male' %}
                                    (M)
                                    {% elif item.gender == 'female' %}
                                    (F)
                                    {% endif %}
                                </div>
                                <div class="flx c6">{{item.user.email}}</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    {% if item.is_registered %}
                    <div class="flx" title="Verified">
                        <svg height="24" width="24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                               stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g>
                                    <path d="M86,7.16667l16.125,17.91667l23.29167,-7.16667l5.375,23.29167l23.29167,5.375l-7.16667,23.29167l17.91667,16.125l-17.91667,16.125l7.16667,23.29167l-23.29167,5.375l-5.375,23.29167l-23.29167,-7.16667l-16.125,17.91667l-16.125,-17.91667l-23.29167,7.16667l-5.375,-23.29167l-23.29167,-5.375l7.16667,-23.29167l-17.91667,-16.125l17.91667,-16.125l-7.16667,-23.29167l23.29167,-5.375l5.375,-23.29167l23.29167,7.16667z"
                                          fill="#42a5f5"></path>
                                    <path d="M123.98333,52.31667l-48.73333,48.73333l-20.06667,-20.06667l-10.03333,10.03333l30.1,30.1l58.76667,-58.76667z"
                                          fill="#ffffff"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% endif %}
                </td>
                <td>{{item.user}}</td>
                <td>{{item.profile_id}}</td>
                <td>{{item.media_id}}</td>
                <td>{{item.contact_number}}</td>
                <td>{{item.blood_group}}</td>
                <td>{{item.address}}</td>
                <td>{{item.city}}</td>
                <td>{{item.state}}</td>
                <td>{{item.country}}</td>
                <td>{{item.postal_code}}</td>
                <td>{{item.view_count}}</td>
                <td>{{item.date_time}}</td>
                <td>{{item.updated_at}}</td>

            </tr>

            {% endfor %}
            {% else %}
            <tr>
                <td class="no_data_to_show">
                    <div class="red p15 t-a-l">No data to show.</div>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="oa tab_div student_div bsj">
        <table class="table405" id="student_table">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>class_name</th>
                <th>section</th>
                <th>is_registered</th>
                <th>user</th>
                <th>profile_id</th>
                <th>media_id</th>
                <th>contact_number</th>
                <th>blood_group</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>postal_code</th>
                <th>view_count</th>
                <th>date_time</th>
                <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
            {% if students %}
            {% for item in students %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>
                    <div class="display_person_data">
                        <div class="flx">
                            <div class="flx mr10">
                                <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                                    <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1"
                                       stroke-linecap="butt"
                                       stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                       stroke-dashoffset="0"
                                       font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                       style="mix-blend-mode: normal">
                                        <g transform="scale(2,2)">
                                            <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="flx flxc a-s-f-e">
                                <div class="flx t-t-c">
                                    {{item.user.first_name}}
                                    {{item.user.last_name}}

                                    {% if item.gender == 'male' %}
                                    (M)
                                    {% elif item.gender == 'female' %}
                                    (F)
                                    {% endif %}
                                </div>
                                <div class="flx c6">{{item.user.email}}</div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{item.class_name}}</td>
                <td>{{item.section}}</td>
                <td>
                    {% if item.is_registered %}
                    <div class="flx" title="Verified">
                        <svg height="24" width="24" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                               stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g>
                                    <path d="M86,7.16667l16.125,17.91667l23.29167,-7.16667l5.375,23.29167l23.29167,5.375l-7.16667,23.29167l17.91667,16.125l-17.91667,16.125l7.16667,23.29167l-23.29167,5.375l-5.375,23.29167l-23.29167,-7.16667l-16.125,17.91667l-16.125,-17.91667l-23.29167,7.16667l-5.375,-23.29167l-23.29167,-5.375l7.16667,-23.29167l-17.91667,-16.125l17.91667,-16.125l-7.16667,-23.29167l23.29167,-5.375l5.375,-23.29167l23.29167,7.16667z"
                                          fill="#42a5f5"></path>
                                    <path d="M123.98333,52.31667l-48.73333,48.73333l-20.06667,-20.06667l-10.03333,10.03333l30.1,30.1l58.76667,-58.76667z"
                                          fill="#ffffff"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% endif %}
                </td>
                <td>{{item.user}}</td>
                <td>{{item.profile_id}}</td>
                <td>{{item.media_id}}</td>
                <td>{{item.contact_number}}</td>
                <td>{{item.blood_group}}</td>
                <td>{{item.address}}</td>
                <td>{{item.city}}</td>
                <td>{{item.state}}</td>
                <td>{{item.country}}</td>
                <td>{{item.postal_code}}</td>
                <td>{{item.view_count}}</td>
                <td>{{item.date_time}}</td>
                <td>{{item.updated_at}}</td>

            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td class="no_data_to_show">
                    <div class="red p15 t-a-l">No data to show.</div>
                </td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% if request.user.is_superuser %}
<script>{% include 'app_smart_attendance/js/school_detail.js' %}</script>
{% endif %}

