{% load template_tags %}

{% if profile_filter_qs %}
{% for item in profile_filter_qs %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>
        <a title="" class="flx wfc mr10" href="{% url 'app_smart_attendance:teacher_detail' item.profile_id %}">
            <div class="table_user_detail" data-id="{{p.profile_id}}">
                <div class="table_user_avatar">
                    {% if item.profile_picture %}
                    <div class="at_img_div">
                        <img class="at_img" src="{{item.profile_picture.url}}">
                    </div>
                    {% else %}
                    <div class="at_fafa_div">
                        <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                            <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1"
                               stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                               stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                               font-weight="none"
                               font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                <g transform="scale(2,2)">
                                    <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% endif %}
                    {% if item.profile_id == request.user.profile.profile_id %}
                    <div class="small flx t-a-l">(You)</div>
                    {% endif %}
                </div>
                <div class="table_user_info">
                    <div class="table_user_name t-t-c">
                        <span class="fwb">
                            {{item.user.first_name}} {{item.user.last_name}}
                        </span>
                        {% if item.gender == 'male' %}
                        <span class="c9" title="Gender: Male">(M)</span>
                        {% elif item.gender == 'female' %}
                        <span class="c9" title="Gender: Female">(F)</span>
                        {% elif item.gender == 'other' %}
                        <span class="c9" title="Gender: Other">(O)</span>
                        {% endif %}
                    </div>
                    <div class="c9">{{item.user.username}}</div>
                    <div class="table_user_name_caption t-t-c mt5" title="Father name: {{item.father_name}}">
                        {% if item.father_name %}
                        {{item.father_name}}
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
    </td>
    <td>
        {% if item.is_registered %}
        <div class="flx  j-c-c" title="Verified">
            <img src="/static/admin/img/icon-yes.svg" alt="True">
        </div>
        {% else %}
        <div class="flx  j-c-c" title="Not Verified">
            <img src="/static/admin/img/icon-no.svg" alt="False">
        </div>
        {% endif %}
    </td>

    <td>
        <div class="">
            {{item.class_name|get_class_name_by_number}}
        </div>
    </td>
    <td class="t-t-u">{{item.section}}</td>
    <td>
        <div class="t-t-u">
        {% if item.blood_group %}
        {{item.blood_group}}
        {% endif %}
        </div>
    </td>

    <td>
        {% if item.contact_number %}
        {{item.contact_number}}
        {% endif %}
    </td>

    <td class="">{{item.date_time|date:"M d, Y"}}</td>
    <td>
        <div class="flx actions pl5 pr5 a-i-c j-c-c">
        <a title="Detail" class="flx wfc mr10 p5 detail"
           href="{% url 'app_smart_attendance:students_detail' item.profile_id %}">
            <svg version="1.1" width="24px" height="24px" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                   stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                   font-family="none" font-weight="none" font-size="none" text-anchor="none"
                   style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#bababa">
                        <path d="M86,28.66667c-57.33333,0 -78.83333,57.33333 -78.83333,57.33333c0,0 21.5,57.33333 78.83333,57.33333c57.33333,0 78.83333,-57.33333 78.83333,-57.33333c0,0 -21.5,-57.33333 -78.83333,-57.33333zM86,43c37.81133,0 56.93626,30.58084 63.12826,42.97201c-6.19917,12.30517 -25.46742,43.02799 -63.12826,43.02799c-37.81133,0 -56.93626,-30.58084 -63.12826,-42.97201c6.20633,-12.30517 25.46742,-43.02799 63.12826,-43.02799zM86,57.33333c-15.83117,0 -28.66667,12.8355 -28.66667,28.66667c0,15.83117 12.8355,28.66667 28.66667,28.66667c15.83117,0 28.66667,-12.8355 28.66667,-28.66667c0,-15.83117 -12.8355,-28.66667 -28.66667,-28.66667zM86,71.66667c7.91917,0 14.33333,6.41417 14.33333,14.33333c0,7.91917 -6.41417,14.33333 -14.33333,14.33333c-7.91917,0 -14.33333,-6.41417 -14.33333,-14.33333c0,-7.91917 6.41417,-14.33333 14.33333,-14.33333z"></path>
                    </g>
                </g>
            </svg>
        </a>

        {% with role=request.user.profile.role %}
        {% if role == "school_admin" or role == "teacher" or role == "non_teacher" %}
        <div class="js_update_student p5 cp" data-action_type="update"
             data-url="{% url 'app_smart_attendance:student_update' item.profile_id %}" title="Update">
            <div class="job-edit-fafa-div flx">
                <svg height="20" style=" fill:#000000;" viewBox="0 0 172 172" width="20" x="0px"
                     y="0px">
                    <g transform="translate(3.44,3.44) scale(0.96,0.96)">
                        <g fill="none" fill-rule="nonzero" font-family="none" font-size="none"
                           font-weight="none" stroke="none" stroke-dasharray=""
                           stroke-dashoffset="0" stroke-linecap="butt" stroke-linejoin="miter"
                           stroke-miterlimit="10" stroke-width="1"
                           style="mix-blend-mode: normal"
                           text-anchor="none">
                            <path d="M0,172v-172h172v172z" fill="none" stroke="none"></path>
                            <g fill="#bababa" stroke="none">
                                <path d="M13.76,0v165.12h58.48c1.23625,0.01344 2.39188,-0.63156 3.02344,-1.70656c0.61813,-1.075 0.61813,-2.39187 0,-3.46687c-0.63156,-1.075 -1.78719,-1.72 -3.02344,-1.70656h-51.6v-151.36h61.92v48.16h48.16v37.84c-0.01344,1.23625 0.63156,2.39188 1.70656,3.02344c1.075,0.61813 2.39187,0.61813 3.46687,0c1.075,-0.63156 1.72,-1.78719 1.70656,-3.02344v-42.6775l-0.9675,-1.075l-48.16,-48.16l-1.075,-0.9675zM89.44,11.825l36.335,36.335h-36.335zM157.9175,85.6775c-3.61469,0 -7.24281,1.33031 -9.9975,4.085l-2.365,2.4725l0.1075,0.1075l-53.105,53.105c-0.44344,0.40313 -0.77937,0.92719 -0.9675,1.505l-5.805,20.64c-0.34937,1.19594 -0.04031,2.48594 0.83313,3.38625c0.87344,0.88688 2.15,1.23625 3.35937,0.91375l20.64,-5.4825c0.57781,-0.18812 1.10188,-0.52406 1.505,-0.9675l54.395,-53.965c0.43,-0.37625 0.76594,-0.86 0.9675,-1.3975l0.43,-0.3225c5.50938,-5.50937 5.50938,-14.48562 0,-19.995c-2.75469,-2.75469 -6.38281,-4.085 -9.9975,-4.085zM150.5,97.18l10.32,10.32l-52.7825,52.46l-10.105,-9.7825l0.1075,-0.43z"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        {% endif %}
        {% endwith %}

        </div>
    </td>

</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="2">
        <div class="red  p10">No Student registered yet...!!!</div>
    </td>
</tr>
{% endif %}

