
<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Register User
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form method="post" action="{% url 'app_smart_attendance:register_user_view' %}" class="js_register_user_create_form" id="register_user_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10 w100">
            {% include 'app_smart_attendance/html/partial_register_user_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="register_user_crud_form">Create</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>
<script>{% include 'app_smart_attendance/js/register_user_list_submit.js' %}</script>
<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>


