<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Take Self Attendance
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">

    <form action="javascript:void(0);"
          method="post"
          class="js_take_attendance_create_form h100"
          id="take_attendance_crud_form"
          enctype="multipart/form-data"
    >
        {% csrf_token %}
        <div class="ma w100 flx flxc h100">
            {% if is_attendance_under_process %}
                <div class="flx flxc a-i-c j-c-c h100">
                    <div class="flx flxc a-i-c">
                        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        <div class="next_btn_text p5">Your Attendance is under processing</div>
                    </div>
                    <div class="flx p5">
                        Please wait for sometimes, you will receive an update notification.
                    </div>
                </div>
            {% else %}
                {% include 'app_smart_attendance/html/partial_take_attendance_self_form.html' %}
            {% endif %}
        </div>
    </form>

</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    {% if is_attendance_under_process %}
        <button class="luein-modal-button cancel">Ok</button>
    {% else %}
    <div class="distance_div"></div>
    <div class="your_location_cls" id="your_location_id"></div>
    <button type="submit" class="luein-modal-button submit" form="take_attendance_crud_form" id="next_btn_outer">
        <div class="next_btn_div">
            {% if last_entry and last_entry.attendance_type == 'in' %}
                <div class="next_btn bg_red">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"> <path class="icon-jibble" fill-rule="evenodd" clip-rule="evenodd" d="M3.5 4.5C3.5 3.94772 3.94772 3.5 4.5 3.5H19.5C20.0523 3.5 20.5 3.94772 20.5 4.5V19.5C20.5 20.0523 20.0523 20.5 19.5 20.5H4.5C3.94772 20.5 3.5 20.0523 3.5 19.5V4.5Z" fill="#fff"/> </svg>
                </div>
            {% else %}
                <div class="next_btn pulse bg_green">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" viewBox="0 0 14 16" fill="none">
                        <path class="icon-jibble" fill-rule="evenodd" clip-rule="evenodd"
                              d="M3.13943 13.2659C2.96684 13.3647 2.76177 13.3543 2.59752 13.2384C2.43326 13.1225 2.33326 12.9177 2.33325 12.6971V3.30292C2.33326 3.0823 2.43326 2.87743 2.59752 2.76153C2.76177 2.64563 2.96684 2.63525 3.13943 2.73408L11.3593 7.43115C11.5477 7.53904 11.6666 7.7592 11.6666 7.99999C11.6666 8.24078 11.5477 8.46094 11.3593 8.56883L3.13943 13.2659Z"
                              fill="#fff"/>
                    </svg>
                </div>
            {% endif %}
        </div>
    </button>
    <button class="luein-modal-button cancel dn">Cancel</button>
    {% endif %}
</div>

<script>{% include 'app_smart_attendance/js/take_attendance_self_list_submit.js' %}</script>

<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>


