<!--Modal header-->
<!--<div class="luein-modal-header">-->
<!--    <div class="luein-modal-header-text">-->
<!--        Delete Question-->
<!--    </div>-->
<!--    <span class="luein-modal-close">&times;</span>-->
<!--</div>-->

<!--Modal body-->
<!--<div class="luein-modal-body">-->
<form action="{% url 'app_smart_attendance:period_delete' period_get_qs.period_id %}" class="js_emp_questions_delete_form" enctype="multipart/form-data" id="period_crud_form" method="post">
    {% csrf_token %}
    <p class="lead">Are you sure you want to delete this period</p>
    <div class="flx">
        <p><span>"</span><b>{{ period_get_qs.period_id|safe }}</b><span>"</span></p>
    </div>
</form>
<!--</div>-->
<!--&lt;!&ndash;Modal footer&ndash;&gt;-->
<!--<div class="luein-modal-footer">-->
<!--    <button type="submit" class="luein-modal-button submit" form="emp_questions_crud_form">Delete</button>-->
<!--    <button class="luein-modal-button cancel">Close</button>-->
<!--</div>-->

<!--<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>-->