<style>{% include 'app_smart_attendance/css/partial_take_attendance_other_form_preselected.css' %}</style>
<style>{% include 'app_smart_attendance/css/partial_take_attendance_form_preselected.css' %}</style>


{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="user_time_div">
    <div class="user_time_inner_div">
        <div class="take_attendance_self_user_details">
            <div class="flx a-i-c">
                <div class="flx mr5">

                    {% if attendance_for_profile_qs.profile_picture %}
                    <div class="at_img_div">
                        <img class="at_img" src="{{attendance_for_profile_qs.profile_picture.url}}">
                    </div>
                    {% else %}
                    <div class="at_fafa_div">
                        <svg width="28" height="28" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                            <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <g transform="scale(2,2)">
                                    <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    {% endif %}
                </div>
                <div class="flx flxc p5">
                    <div class="flx ">
                        <div class="flx mr5">{{attendance_for_profile_qs.user.first_name}}</div>
                        <div class="flx mr5">{{attendance_for_profile_qs.user.last_name}}</div>
                        <div class="flx">
                            {% if attendance_for_profile_qs.gender %}
                            {% if attendance_for_profile_qs.gender == 'male' %}
                            (M)
                            {% elif attendance_for_profile_qs.gender == 'female' %}
                            (F)
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="flx c3 small">
                        {{attendance_for_profile_qs.user.email}}
                    </div>
                </div>
            </div>
        </div>
        <div class="last_entry">
            {% if last_entry %}
                {% if last_entry.attendance_type == 'in' %}
                    Last in {{last_entry_attendance_date|timesince }}
                {% elif last_entry.attendance_type == 'out' %}
                    Last out {{last_entry_attendance_date|timesince }}
                {% endif %}
            {% else %}
                No previous entry
            {% endif %}
        </div>
        <div class="attendance_clock_div">
            <!--show time-->
            <div class="time_div" id="time_div"></div>
            <div class="date_div" id="date_div"></div>
        </div>
    </div>
</div>
<div class="location_required_div t-a-c"></div>
<div class="flx j-c-c map_div dn">
    {% include 'snippets/js_files/geo_location_sample_form.html' %}
</div>
<!--check-in, check-out-->
<div class="flx partitioned_form flxc mt20 check_in_out_div_outer dn" style="display:none">

    <div class="flx p5 c3 j-c-c w100 ">
        Please select your preferred action:
    </div>

    <!--button-->
    <div class="flx check_in_out_div">
        <div class="partitioned_form_field w50 a-i-c">
            {{ form.check_in.label_tag }}
            {{ form.check_in }}
            {% if form.check_in.errors %}
            <span class="errorspan">{{ form.check_in.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field w50 a-i-c">
            {{ form.check_out.label_tag }}
            {{ form.check_out }}
            {% if form.check_out.errors %}
            <span class="errorspan">{{ form.check_out.errors }}</span>
            {% endif %}
        </div>
    </div>

    <!--logs-->
    <div class="flx w100 check_in_out_log_div ">
        <!--IN-->
        <div class="flx flxc pt10 w50 a-i-c check_in_log_div">
            {% if staff_at_success_in_qs or staff_at_failure_in_qs %}
            <div class="small c3 pb5">Check in log:</div>
            {% endif %}
            {% if staff_at_success_in_qs %}
            <!--Success-->
            <div class="flx flxc">
                {% for item in staff_at_success_in_qs %}
                {% if item.attendance_type == 'in' %}
                <div class="check_in flx c3 small j-c-c">
                    <div class="flx mr5">
                        <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#70bf2b"
                                  d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
                        </svg>
                    </div>
                    <div class="flx t-t-c">
                        {{item.attendance_date}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% if staff_at_failure_in_qs %}
            <!--Failure-->
            <div class="flx flxc">
                {% for item in staff_at_failure_in_qs %}
                {% if item.attendance_type == 'in' %}
                <div class="check_in flx c3 small j-c-c a-i-c">
                    <div class="flx mr5 red fs14">
                        ×
                    </div>
                    <div class="flx">
                        {{item.attendance_date}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <!--OUT-->
        <div class="flx flxc pt10 w50 a-i-c check_out_log_div">
            {% if staff_at_success_out_qs or staff_at_failure_out_qs %}
            <div class="small c3 pb5">Check out log:</div>
            {% endif %}

            {% if staff_at_success_out_qs %}
            <!--Success-->
            <div class="flx flxc">
                {% for item in staff_at_success_out_qs %}
                {% if item.attendance_type == 'out' %}
                <div class="check_out flx c3 small j-c-c">
                    <div class="flx mr5">
                        <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#70bf2b"
                                  d="M1412 734q0-28-18-46l-91-90q-19-19-45-19t-45 19l-408 407-226-226q-19-19-45-19t-45 19l-91 90q-18 18-18 46 0 27 18 45l362 362q19 19 45 19 27 0 46-19l543-543q18-18 18-45zm252 162q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/>
                        </svg>
                    </div>
                    <div class="flx">
                        {{item.attendance_date}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {% if staff_at_failure_out_qs %}
            <!--Failure-->
            <div class="flx flxc">
                {% for item in staff_at_failure_out_qs %}
                {% if item.attendance_type == 'out' %}
                <div class="check_out flx c3 small j-c-c a-i-c">
                    <div class="flx mr5 red fs14">
                        ×
                    </div>
                    <div class="flx">
                        {{item.attendance_date}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

</div>

<script>{% include 'app_smart_attendance/js/get_profiles_by_role_take_attendance_other_ajax.js' %}</script>
<script>{% include 'app_smart_attendance/js/partial_take_attendance_other_form_preselected.js' %}</script>

