{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx partitioned_form">
    <div class="form-left">

        <div class="partitioned_form_field">
            {{ form.day.label_tag }}
            {{ form.day }}
            {% if form.day.errors %}
            <span class="errorspan">{{ form.day.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ form.class_name.label_tag }}
            {{ form.class_name }}
            {% if form.class_name.errors %}
            <span class="errorspan">{{ form.class_name.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ form.section.label_tag }}
            {{ form.section }}
            {% if form.section.errors %}
            <span class="errorspan">{{ form.section.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.period_number.label_tag }}
            {{ form.period_number }}
            {% if form.period_number.errors %}
            <span class="errorspan">{{ form.period_number.errors }}</span>
            {% endif %}
        </div>

    </div>
    <div class="form-right">
        <div class="partitioned_form_field">
            {{ form.subject.label_tag }}
            {{ form.subject }}
            {% if form.subject.errors %}
            <span class="errorspan">{{ form.subject.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ form.teacher_id.label_tag }}
            {{ form.teacher_id }}
            {% if form.teacher_id.errors %}
            <span class="errorspan">{{ form.teacher_id.errors }}</span>
            {% endif %}
        </div>

    </div>

</div>



