<style>{% include 'app_smart_attendance/css/partial_take_attendance_class_form.css' %}</style>


{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx partitioned_form ">
    <div class="form-left">


        <div class="partitioned_form_field">
            {{ form.role.label_tag }}
            {{ form.role }}
            {% if form.role.errors %}
            <span class="errorspan">{{ form.role.errors }}</span>
            {% endif %}
        </div>
        <div class="person dn">
            <div class="partitioned_form_field">
                {{ form.person.label_tag }}
                {{ form.person }}
                {% if form.person.errors %}
                <span class="errorspan">{{ form.person.errors }}</span>
                {% endif %}
            </div>
        </div>
        <div class="display_person_data"></div>
    </div>
    <div class="form-right">
        <div class="partitioned_form_field">
            {{ form.class_name.label_tag }}
            {{ form.class_name }}
            {% if form.class_name.errors %}
            <span class="errorspan">{{ form.class_name.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.section.label_tag }}
            {{ form.section }}
            {% if form.section.errors %}
            <span class="errorspan">{{ form.section.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.attendance_date.label_tag }}
            {{ form.attendance_date }}
            {% if form.attendance_date.errors %}
            <span class="errorspan">{{ form.attendance_date.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.period_id.label_tag }}
            {{ form.period_id }}
            {% if form.period_id.errors %}
            <span class="errorspan">{{ form.period_id.errors }}</span>
            {% endif %}
        </div>
    </div>

</div>

<script>{% include 'app_smart_attendance/js/get_profiles_by_role_take_attendance_class_ajax.js' %}</script>
<script>{% include 'app_smart_attendance/js/partial_take_attendance_class_form.js' %}</script>

