<style>{% include 'app_smart_attendance/css/partial_take_attendance_class_form.css' %}</style>


{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}


<div class="take_attendance_self_user_details flx flxc p10">
    <div class="flx a-i-c">
        <div class="flx mr10">
            {% if attendance_taker_profile_qs.profile_picture %}
            <div class="at_img_div">
                <img class="at_img" src="{{attendance_taker_profile_qs.profile_picture.url}}">
            </div>
            {% else %}
                <div class="flx mr10">
                    <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0,0,256,256"><g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(2,2)"><path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path></g></g></svg>
               </div>
            {% endif %}
        </div>
        <div class="flx flxc p5">
            <div class=" flx fwb fs16 pb5">
                Welcome.!
            </div>
            <div class="flx ">
                <div class="flx mr5">{{attendance_taker_profile_qs.user.first_name}}</div>
                <div class="flx mr5">{{attendance_taker_profile_qs.user.last_name}}</div>
                <div class="flx">
                    {% if attendance_taker_profile_qs.gender %}
                    {% if attendance_taker_profile_qs.gender == 'male' %}
                    (M)
                    {% elif attendance_taker_profile_qs.gender == 'female' %}
                    (F)
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="flx c3 small">
                {{attendance_taker_profile_qs.user.email}}
            </div>
        </div>
    </div>
</div>


<div class="flx flxc">
    <!--show time-->
    <div class="time_div" id="time_div"></div>
    <div class="date_div" id="date_div"></div>
</div>

<div class="flx partitioned_form flxc">
    <div class="partitioned_form_field">
        {{ form.class_name.label_tag }}
        {{ form.class_name }}
        {% if form.class_name.errors %}
        <span class="errorspan">{{ form.class_name.errors }}</span>
        {% endif %}
    </div>
    <div class="partitioned_form_field">
        {{ form.section.label_tag }}
        {{ form.section }}
        {% if form.section.errors %}
        <span class="errorspan">{{ form.section.errors }}</span>
        {% endif %}
    </div>
    <div class="partitioned_form_field">
        {{ form.attendance_date.label_tag }}
        {{ form.attendance_date }}
        {% if form.attendance_date.errors %}
        <span class="errorspan">{{ form.attendance_date.errors }}</span>
        {% endif %}
    </div>
    <div class="partitioned_form_field">
        {{ form.period_id.label_tag }}
        {{ form.period_id }}
        {% if form.period_id.errors %}
        <span class="errorspan">{{ form.period_id.errors }}</span>
        {% endif %}
    </div>

    <div class="partitioned_form_field">
        {{ form.attendance_choice.label_tag }}
        {{ form.attendance_choice }}
        {% if form.attendance_choice.errors %}
        <span class="errorspan">{{ form.attendance_choice.errors }}</span>
        {% endif %}
    </div>


</div>

<script>{% include 'app_smart_attendance/js/get_profiles_by_role_take_attendance_class_ajax.js' %}</script>
<script>{% include 'app_smart_attendance/js/partial_take_attendance_class_form_preselected.js' %}</script>
<script>{% include 'app_smart_attendance/js/class_attendance_manual_entry_form_with_ajax.js' %}</script>

