{% if user_form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ user_form.non_field_errors }}
    </div>
</div>
{% endif %}

{% if profile_form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ profile_form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx partitioned_form">
    <div class="form-left">

        <div class="partitioned_form_field">
            <label class="" for="id_username">Username:</label>
            <div class="fwb pt5 pb10" id="id_username">{{profile_qs.user.username}}</div>
        </div>

        <div class="partitioned_form_field">
            <label class="" for="id_email">Email:</label>
            <div class="fwb pt5 pb10" id="id_email">{{profile_qs.user.email}}</div>
        </div>



        <div class="partitioned_form_field">
            {{ user_form.first_name.label_tag }}
            {{ user_form.first_name }}
            {% if user_form.first_name.errors %}
            <span class="errorspan">{{ user_form.first_name.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ user_form.last_name.label_tag }}
            {{ user_form.last_name }}
            {% if user_form.last_name.errors %}
            <span class="errorspan">{{ user_form.last_name.errors }}</span>
            {% endif %}
        </div>


    </div>
    <div class="form-right">

        <div class="partitioned_form_field">
            {{ profile_form.contact_number.label_tag }}
            {{ profile_form.contact_number }}
            {% if profile_form.contact_number.errors %}
            <span class="errorspan">{{ profile_form.contact_number.errors }}</span>
            {% endif %}
        </div>

         <div class="partitioned_form_field">
            {{ profile_form.class_name.label_tag }}
            {{ profile_form.class_name }}
            {% if profile_form.class_name.errors %}
            <span class="errorspan">{{ profile_form.class_name.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ profile_form.section.label_tag }}
            {{ profile_form.section }}
            {% if profile_form.section.errors %}
            <span class="errorspan">{{ profile_form.section.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ profile_form.gender.label_tag }}
            {{ profile_form.gender }}
            {% if profile_form.gender.errors %}
            <span class="errorspan">{{ profile_form.gender.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ profile_form.blood_group.label_tag }}
            {{ profile_form.blood_group }}
            {% if profile_form.blood_group.errors %}
            <span class="errorspan">{{ profile_form.blood_group.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ profile_form.father_name.label_tag }}
            {{ profile_form.father_name }}
            {% if profile_form.father_name.errors %}
            <span class="errorspan">{{ profile_form.father_name.errors }}</span>
            {% endif %}
        </div>
    </div>

</div>



