{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/period_list.css' %}</style>

{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'app_smart_attendance:settings' %}">Settings</a></li>
            <li>Period list</li>
        </ul>
    </div>

    {% if role == "school_admin" %}
    <div class="w90 ma mb10 flx">
        <button class="button js_create_period pt5 pr10 pb5 pl10 mr2 mla"
                data-url="{% url 'app_smart_attendance:period_create' %}" data-action_type="create"
                type="button">Create Period
        </button>
    </div>
    {% endif %}

    <div class="w90 ma oa bsj">
        <table class="table405 period_list_table" id="period_list_table">
            <thead>
            <tr>
                <th>#</th>
                <th>Day</th>
                <th>Class name</th>
                <th>Section</th>
                <th>Period number</th>
                <th>Subject</th>
                <th>Teacher ID</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% include 'app_smart_attendance/html/partial_period_list.html' %}
            </tbody>
        </table>

    </div>

</div>

<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>

{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/js/period_list.js' %}</script>
<script>{% include 'app_smart_attendance/js/period_list_fill_modal.js' %}</script>

{% endblock %}



