{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'snippets/js_files/luein-datepicker/dist/css/datepicker.min.css' %}</style>
<!--Include to fix datepicker css-->
<style>{% include 'snippets/js_files/luein-datepicker/luein-datepicker-sam-fix.css' %}</style>

<script type="text/javascript" src="{% static 'chartjs/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'chartjs/fusioncharts.theme.fusion.js' %}"></script>

<style>{% include 'app_smart_attendance/css/report.css' %}</style>
{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Anganwadi Reports</li>
        </ul>
    </div>

    <div class="flx ma w90 content_container">

        <div class="flx flxc ma w80 card_container">
            <div class="count_card_container mr10">

                <div class="count_card">
                    <div class="count_card_no">{{total_student_count}}</div>
                    <div class="count_card_name">TOTAL STUDENTS</div>
                </div>

                <div class="count_card">
                    <div class="count_card_no">{{total_teacher_count}}</div>
                    <div class="count_card_name">TOTAL TEACHERS</div>
                </div>

                <div class="count_card dn">
                    <div class="count_card_no">{{total_school_admin_count}}</div>
                    <div class="count_card_name">TOTAL ADMIN</div>
                </div>

                <div class="count_card">
                    <div class="count_card_no">{{total_class_count}}</div>
                    <div class="count_card_name">TOTAL CLASSES</div>
                </div>


            </div>


            <div class="flx w90 ma oa mt20" id="chart-container">Charts will load here!</div>
        </div>

        <div class="flx flxc r_container">
            <div class="flx  flxc announcement_outer_container">
                <div class="flx p10 fwb bdrb j-c-c">Announcement</div>
<!--                <div class="flx a-s-c p10 cp view_announcement">View</div>-->
                <a class="button pt5 pr10 pb5 pl10 mr10" href="{% url 'app_smart_attendance:announcement_view' %}">View</a>

                <div class="announcement_container dn">
                    <div class="flx flxc ">
                        {% if announcement_qs %}
                        {% for item in announcement_qs %}
                        <div class="announcement_card">
                            <div class="announcement_date small mla">
                                {{item.date_time}}
                            </div>
                            <div class="announcement_title mt5">
                                {{item.title}}
                            </div>

                            <div class="announcement_content">
                                {{item.content}}
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="flx bdr p10 red">No announcements.</div>
                        {% endif %}
                    </div>

                </div>
            </div>
            <div class="flx ma ">
                <div class="mt20" id="custom-cells"></div>
                <div class="p10 bdr dn" id="custom-cells-events"></div>

            </div>

        </div>

    </div>


</div>


{% endblock %}

{% block javascript %}

{% comment %}
<script>{% include 'snippets/js_files/luein-datepicker/dist/js/datepicker.min.b.js' %}</script>
<!-- Include English language -->
<script>{% include 'snippets/js_files/luein-datepicker/dist/js/i18n/datepicker.en.js' %}</script>
<!--Include to fix datepicker js-->
<script>{% include 'snippets/js_files/luein-datepicker/luein-datepicker-sam-fix.js' %}</script>

<script>{% include 'app_smart_attendance/js/report_anganwadi.js' %}</script>
{% endcomment %}



{% endblock %}



