{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/settings.css' %}</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<!--W3school-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback&libraries=places" type="text/javascript"></script>-->

<!--stackoverflow-->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback&libraries=places" type="text/javascript"></script>-->

<!--free-->
<!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->

{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Settings</li>
        </ul>
    </div>

    <div class="w90 ma oa bsj br5">
        <table class="table405 setting_table bcw">
            <thead>
            <tr>
                <th class="t-a-l">
                    <div>Description</div>
                </th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            {% with role=request.user.profile.role %}

            {% if role == "school_admin" or role == "admin" %}
            <!--Camera-->
            <tr class="">
                <td>
                    <div class="flx a-i-c">
                        <div class="flx mr10">
                            <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0,0,256,256"><g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(4,4)"><path d="M17.64844,0.00781c-2.18763,-0.09608 -4.18412,1.23993 -4.92969,3.29883c-1.7531,4.8683 -0.59922,1.66339 -5.41992,15.05469c-0.44925,1.24786 -0.38432,2.62308 0.1805,3.82306c0.56482,1.19998 1.58326,2.12639 2.83122,2.57538l14.54883,5.23633l-1.24023,3.83594c-0.16582,0.51278 0.10454,1.06473 0.61133,1.24805l0.9707,0.34961l-5.37891,16.57031h-7.82227v-1c0,-0.55228 -0.44772,-1 -1,-1h-4v-3c0,-0.55228 -0.44772,-1 -1,-1h-5c-0.55228,0 -1,0.44772 -1,1v16c0,0.55228 0.44772,1 1,1h5c0.55228,0 1,-0.44772 1,-1v-3h4c0.55228,0 1,-0.44772 1,-1v-1h11.44922c0.43333,-0.00017 0.8173,-0.27927 0.95117,-0.69141l6.45117,-19.8457l0.9082,0.32617c0.25468,0.09211 0.53583,0.07699 0.77916,-0.04191c0.24333,-0.1189 0.42803,-0.33142 0.51185,-0.58895l1.22266,-3.77148l15.55469,5.59961c0.2494,0.09021 0.52445,0.07749 0.76445,-0.03537c0.24,-0.11286 0.42524,-0.31657 0.51485,-0.56619l1.01563,-2.82227l4.70508,1.69336c0.10833,0.03918 0.2227,0.05901 0.33789,0.05859c0.42149,0.00009 0.79789,-0.26385 0.94141,-0.66016l2.70898,-7.52734c0.08993,-0.24941 0.07707,-0.52434 -0.03575,-0.76427c-0.11282,-0.23993 -0.31636,-0.4252 -0.56581,-0.51502l-4.70508,-1.69531l0.91992,-2.55273l7.18945,-5.65625c0.28486,-0.22476 0.42553,-0.58625 0.36752,-0.94444c-0.05801,-0.35819 -0.30558,-0.6568 -0.64682,-0.78017l-44.22266,-15.92187c-0.47234,-0.16938 -0.96745,-0.26682 -1.46875,-0.28906zM17.35547,2.00195c0.36906,-0.00848 0.73652,0.05111 1.08398,0.17578l42.52344,15.31055l-5.56055,4.37305l-41.81641,-15.05469l1.01562,-2.82031c0.42082,-1.16615 1.51452,-1.95424 2.75391,-1.98437zM12.90625,8.68945l41.40039,14.9043c-2.5557,7.0998 -2.18159,6.05807 -4.74219,13.17188l-38.57812,-13.88867c-1.5577,-0.56196 -2.36546,-2.27977 -1.80469,-3.83789zM14.66211,11.51953c-0.48582,0.01285 -0.89206,0.37313 -0.96288,0.85393c-0.07082,0.4808 0.21429,0.94291 0.67577,1.09529l7.52734,2.71094c0.10832,0.03919 0.2227,0.05903 0.33789,0.05859c0.48463,-0.00137 0.89852,-0.35004 0.98217,-0.8274c0.08365,-0.47736 -0.18704,-0.94599 -0.64233,-1.11205l-7.52734,-2.71094c-0.12434,-0.04863 -0.25716,-0.07188 -0.39062,-0.06836zM25.01172,15.24414c-0.48582,0.01286 -0.89205,0.37313 -0.96287,0.85393c-0.07082,0.4808 0.21429,0.9429 0.67576,1.09529l1.88086,0.67969c0.10894,0.0394 0.22399,0.05924 0.33984,0.05859c0.48463,-0.00137 0.89852,-0.35004 0.98217,-0.8274c0.08365,-0.47736 -0.18704,-0.94599 -0.64233,-1.11205v-0.00195l-1.88281,-0.67578c-0.1242,-0.0493 -0.25703,-0.07321 -0.39062,-0.07031zM54.83203,28.03516l3.76367,1.35547l-2.03125,5.64453l-3.76367,-1.35547zM26.74219,30.67383c3.9622,1.4266 2.70624,0.97491 5.64844,2.03711l-0.92187,2.8457l-5.65039,-2.0293zM27.08398,36.10938c1.4075,0.5036 0.88477,0.31588 1.88477,0.67578l-6.24609,19.21484h-10.72266v-2h8.55078c0.43333,-0.00017 0.8173,-0.27927 0.95117,-0.69141zM2,48h3v14h-3zM7,52h3v6h-3z"></path></g></g></svg>
<!--                            <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0,0,256,256"><g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(4,4)"><path d="M61.87012,37.50635l-2.88412,-2.55719l0.61652,-2.30121c0.14286,-0.53339 -0.17364,-1.08162 -0.707,-1.22461l-3.9184,-1.0498l1.645,-2.30176c0.1908,-0.26679 0.23861,-0.6102 0.12793,-0.91896c-0.11068,-0.30876 -0.36577,-0.54359 -0.68262,-0.62841l-40.56843,-10.87011c-0.5332,-0.1414 -1.08045,0.17454 -1.22461,0.707l-3.10639,11.59085c-0.06882,0.25615 -0.03297,0.52916 0.09965,0.75886c0.13261,0.2297 0.35111,0.39726 0.60735,0.46575l2.89838,0.77667l-1.29389,4.82977c-0.14271,0.53337 0.17374,1.0815 0.707,1.22461l13.52256,3.62329l-0.77643,2.89771c-0.14258,0.53335 0.17382,1.08139 0.707,1.22461l2.89819,0.77661l-1.2973,4.83887c-0.83772,0.34296 -1.56676,0.90666 -2.10951,1.6311h-19.02553v-4c0.00007,-0.26524 -0.10527,-0.51963 -0.29282,-0.70718c-0.18755,-0.18755 -0.44195,-0.29289 -0.70718,-0.29282h-4c-0.26524,-0.00007 -0.51963,0.10526 -0.70719,0.29281c-0.18755,0.18755 -0.29289,0.44195 -0.29281,0.70719v14c-0.00007,0.26524 0.10526,0.51963 0.29281,0.70719c0.18755,0.18755 0.44195,0.29289 0.70719,0.29281h4c0.26524,0.00007 0.51963,-0.10527 0.70718,-0.29282c0.18755,-0.18755 0.29289,-0.44195 0.29282,-0.70718v-4h19.02553c1.07173,1.44195 2.83721,2.19463 4.61967,1.96951c1.78245,-0.22512 3.30536,-1.39312 3.98492,-3.05626c0.67956,-1.66314 0.41035,-3.5634 -0.70443,-4.97233l1.3017,-4.858l2.89758,0.77643c0.08438,0.02274 0.1714,0.03423 0.25879,0.03417c0.45268,0.00026 0.84897,-0.30387 0.96582,-0.74121l0.77643,-2.898l13.52337,3.62354c0.08438,0.02275 0.1714,0.03424 0.25879,0.03418c0.45268,0.00025 0.84896,-0.30388 0.96582,-0.74121l0.6164,-2.30072l3.77618,-0.773c0.37119,-0.07569 0.66766,-0.35477 0.76563,-0.72071l1.03515,-3.86328c0.09863,-0.36584 -0.01867,-0.75597 -0.30269,-1.00676zM6.10547,60h-2v-12h2zM15.94727,17.84473l38.209,10.23779l-3.72561,5.21338l-13.82031,-3.70264c-0.36577,-0.09821 -0.75563,0.01882 -1.00683,0.30225l-2.55664,2.88379l-19.68848,-5.27539zM8.10547,55v-2h18.10107c-0.13476,0.65986 -0.13476,1.34014 0,2zM31.10547,57c-1.65685,0 -3,-1.34315 -3,-3c0,-1.65685 1.34315,-3 3,-3c1.65685,0 3,1.34315 3,3c-0.00181,1.6561 -1.3439,2.99819 -3,3zM33.33405,49.5481c-0.60198,-0.30277 -1.25956,-0.47909 -1.93226,-0.5181l1.06769,-3.9823l1.93177,0.51764zM38.78223,44.669l-9.65918,-2.58838l0.51764,-1.93189l9.65918,2.58814zM54.30664,44.68755l-38.63672,-10.35255l1.03516,-3.864l16.42092,4.40009c0.36576,0.09798 0.7555,-0.01902 1.00683,-0.30224l2.55664,-2.88379l13.89253,3.72217c0.40259,0.10811 0.82999,-0.04504 1.0723,-0.38423l2.081,-2.91187l3.67682,0.98511zM59.36621,41.26177l-2.19171,0.44891l1.233,-4.60217l1.67358,1.48431zM36.10547,17c0,1.65685 1.34315,3 3,3c1.65685,0 3,-1.34315 3,-3c0,-1.65685 -1.34315,-3 -3,-3c-1.6561,0.00181 -2.99819,1.3439 -3,3zM40.10547,17c0,0.55228 -0.44772,1 -1,1c-0.55228,0 -1,-0.44772 -1,-1c0,-0.55228 0.44772,-1 1,-1c0.55206,0.00055 0.99945,0.44794 1,1zM42.6416,13.46436c-0.93775,-0.9377 -2.2096,-1.46445 -3.53574,-1.46436c-1.32614,0.00009 -2.59793,0.52701 -3.53555,1.46484c-0.39048,0.39048 -1.02358,0.39048 -1.41406,0c-0.39048,-0.39048 -0.39048,-1.02358 0,-1.41406c2.73335,-2.7338 7.16526,-2.73445 9.89941,-0.00146c0.38696,0.39113 0.38537,1.02134 -0.00354,1.41052c-0.38892,0.38918 -1.01913,0.39118 -1.41052,0.00448zM45.46973,10.63574c-1.69152,-1.68184 -3.97795,-2.62891 -6.36328,-2.63574c-2.38838,-0.0066 -4.68012,0.94269 -6.36426,2.63623c-0.39048,0.39048 -1.02358,0.39049 -1.41406,0c-0.39048,-0.39048 -0.39049,-1.02358 -0.00001,-1.41406c2.06267,-2.06302 4.86043,-3.22208 7.77773,-3.22217c2.9173,-0.00009 5.71514,1.15879 7.77794,3.22168c0.39048,0.39048 0.39048,1.02358 0,1.41406c-0.39048,0.39048 -1.02358,0.39048 -1.41406,0zM28.499,7.80762c-0.18758,-0.18749 -0.29297,-0.44183 -0.29297,-0.70703c0,-0.26521 0.10539,-0.51955 0.29297,-0.70704c5.85766,-5.85788 15.35497,-5.8581 21.21289,-0.00048c0.39048,0.39048 0.39048,1.02358 0,1.41406c-0.39048,0.39048 -1.02358,0.39048 -1.41406,0c-5.07708,-5.07637 -13.30796,-5.07615 -18.38476,0.00049c-0.18748,0.18758 -0.44182,0.29297 -0.70703,0.29297c-0.26521,0 -0.51955,-0.10539 -0.70704,-0.29297zM32.10577,54c0,0.55228 -0.44772,1 -1,1c-0.55228,0 -1,-0.44772 -1,-1c0,-0.55228 0.44772,-1 1,-1c0.55228,0 1,0.44772 1,1z"></path></g></g></svg>-->
                        </div>
                        <div class="">Manage <strong>Cameras</strong></div>
                    </div>

                </td>
                <td>
                    <a class="button pt5 pr10 pb5 pl10 mr10 mt10"
                       href="{% url 'app_smart_attendance:camera_list' %}">View</a>
                    <button class="button js_create_camera pt5 pr10 pb5 pl10 mr10 mt10 mla"
                            data-url="{% url 'app_smart_attendance:camera_create' %}"
                            data-action_type="create"
                            type="button">
                        Add Camera
                    </button>
                </td>
            </tr>

            {% comment %}
            <!--Location-->
            <tr class="dn">
                <td>
                    <div class="flx a-i-c">
                        <div class="flx mr10">
                            <svg width="32" height="32" style=" fill:#000000;" viewBox="0 0 172 172" x="0px" y="0px"> <g fill="none" fill-rule="nonzero" font-family="none" font-size="none" font-weight="none" stroke="none" stroke-dasharray="" stroke-dashoffset="0" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-width="1" style="mix-blend-mode: normal" text-anchor="none"> <path d="M0,172v-172h172v172z" fill="none"></path> <g fill="#bababa"> <path d="M86,3.44c-30.40906,0 -55.04,24.63094 -55.04,55.04c0,25.14156 13.27625,52.16438 26.3375,73.1c13.06125,20.93563 26.1225,35.7975 26.1225,35.7975c0.65844,0.73906 1.59906,1.16906 2.58,1.16906c0.98094,0 1.92156,-0.43 2.58,-1.16906c0,0 13.07469,-15.17094 26.1225,-36.2275c13.04781,-21.05656 26.3375,-48.01219 26.3375,-72.67c0,-30.40906 -24.63094,-55.04 -55.04,-55.04zM86,10.32c26.70031,0 48.16,21.45969 48.16,48.16c0,22.13156 -12.51031,48.44219 -25.2625,69.015c-10.68281,17.24031 -19.72625,28.33969 -22.8975,32.1425c-3.19812,-3.77594 -12.24156,-14.63344 -22.8975,-31.7125c-12.73875,-20.425 -25.2625,-46.77594 -25.2625,-69.445c0,-26.70031 21.45969,-48.16 48.16,-48.16zM86,37.84c-13.26281,0 -24.08,10.81719 -24.08,24.08c0,13.26281 10.81719,24.08 24.08,24.08c13.26281,0 24.08,-10.81719 24.08,-24.08c0,-13.26281 -10.81719,-24.08 -24.08,-24.08zM86,44.72c9.54063,0 17.2,7.65938 17.2,17.2c0,9.54063 -7.65937,17.2 -17.2,17.2c-9.54062,0 -17.2,-7.65937 -17.2,-17.2c0,-9.54062 7.65938,-17.2 17.2,-17.2z"></path> </g> </g> </svg>
                        </div>
                        <div class="">Manage <strong>Locations</strong></div>
                    </div>

                </td>
                <td>
                    <a class="button pt5 pr10 pb5 pl10 mr10 mt10"
                       href="{% url 'app_smart_attendance:location_manage_view' %}">View</a>
                    <button class="button js_create_camera pt5 pr10 pb5 pl10 mr2 mla dn"
                            data-url="{% url 'app_smart_attendance:camera_create' %}"
                            data-action_type="create"
                            type="button">Add Camera
                    </button>
                </td>
            </tr>
            {% endcomment %}

            {% endif %}


            {% if role == "school_admin" or role == "teacher" %}
            <!--Period-->
            <tr>
                <td>
                    <div class="flx a-i-c">
                        <div class="flx mr10">
                            <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                   stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                   stroke-dashoffset="0"
                                   font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                   style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#bababa">
                                        <path d="M41.28,0c-3.76424,0 -6.88,3.11576 -6.88,6.88v6.88h-20.64c-1.79354,0 -3.63212,0.649 -4.93156,1.94844c-1.29944,1.29944 -1.94844,3.13803 -1.94844,4.93156v137.6c0,1.79354 0.649,3.63212 1.94844,4.93156c1.29944,1.29944 3.13803,1.94844 4.93156,1.94844h144.48c1.79354,0 3.63212,-0.649 4.93156,-1.94844c1.29944,-1.29944 1.94844,-3.13803 1.94844,-4.93156v-137.6c0,-1.79354 -0.649,-3.63212 -1.94844,-4.93156c-1.29944,-1.29944 -3.13803,-1.94844 -4.93156,-1.94844h-20.64v-6.88c0,-3.76424 -3.11576,-6.88 -6.88,-6.88h-6.88c-3.76424,0 -6.88,3.11576 -6.88,6.88v6.88h-61.92v-6.88c0,-3.76424 -3.11576,-6.88 -6.88,-6.88zM41.28,6.88h6.88v20.64h-6.88zM123.84,6.88h6.88v20.64h-6.88zM13.76,20.64h20.64v6.88c0,3.76424 3.11576,6.88 6.88,6.88h6.88c3.76424,0 6.88,-3.11576 6.88,-6.88v-6.88h61.92v6.88c0,3.76424 3.11576,6.88 6.88,6.88h6.88c3.76424,0 6.88,-3.11576 6.88,-6.88v-6.88h20.64v24.08h-144.48zM13.76,51.6h144.48v106.64h-144.48zM34.4,65.36v3.44v75.68h103.2v-79.12zM41.28,72.24h41.28v29.24h-41.28zM41.28,108.36h41.28v29.24h-41.28zM89.44,108.36h41.28v29.24h-41.28z"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="">Manage <strong>Periods</strong></div>
                    </div>

                </td>
                <td>
                    <a class="button pt5 pr10 pb5 pl10 mr10 mt10"
                       href="{% url 'app_smart_attendance:period_list' %}">View</a>

                    {% if role == "school_admin" %}
                    <button class="button js_create_period pt5 pr10 pb5 pl10 mr2 mt10"
                            data-url="{% url 'app_smart_attendance:period_create' %}" data-action_type="create"
                            type="button">Create Period
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endif %}


            {% if role == "school_admin" or role == "admin" or role == "staff" or role == "teacher" or role == "student" %}
            <!--School-->
            <tr>
                <td>
                    <div class="flx a-i-c">
                        <div class="flx mr10">
                            <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                   stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                   stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                   text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#bababa">
                                        <path d="M65.84375,1.34375c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125v161.25c0,2.28438 1.74687,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74687 4.03125,-4.03125v-157.21875h86v157.21875c0,2.28438 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74687 4.03125,-4.03125v-161.25c0,-2.28438 -1.74687,-4.03125 -4.03125,-4.03125zM90.03125,25.53125c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM112.875,25.53125c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM135.71875,25.53125c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74687,-4.03125 -4.03125,-4.03125zM48.50885,44.34637c-0.5291,-0.0189 -1.07395,0.06351 -1.61145,0.26508l-34.9375,13.4375c-1.47813,0.5375 -2.55365,2.15105 -2.55365,3.76355v104.8125c0,2.28438 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74687 4.03125,-4.03125v-101.99115l32.38385,-12.4953c2.01563,-0.80625 3.0922,-3.09115 2.28595,-5.24115c-0.60469,-1.51172 -2.0424,-2.49434 -3.6297,-2.55103zM90.03125,52.40625c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM112.875,52.40625c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM135.71875,52.40625c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74687,-4.03125 -4.03125,-4.03125zM40.3125,79.28125c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM90.03125,79.28125c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM112.875,79.28125c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM135.71875,79.28125c-2.28438,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74687,-4.03125 -4.03125,-4.03125zM40.3125,106.15625c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM90.03125,106.15625c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM112.875,106.15625c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM135.71875,106.15625c-2.28438,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74687,-4.03125 -4.03125,-4.03125zM36.28125,138.40625c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v24.1875c0,2.28438 1.74688,4.03125 4.03125,4.03125h8.0625c2.28438,0 4.03125,-1.74687 4.03125,-4.03125v-24.1875c0,-2.28438 -1.74687,-4.03125 -4.03125,-4.03125zM108.84375,138.40625c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v24.1875c0,2.28438 1.74688,4.03125 4.03125,4.03125h8.0625c2.28437,0 4.03125,-1.74687 4.03125,-4.03125v-24.1875c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125z"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="">My <strong>Organisation</strong></div>
                    </div>

                </td>
                <td>
                    <a class="button pt5 pr10 pb5 pl10 mr10"
                       href="{% url 'app_root:school_detail' request.user.profile.school_id.school_id %}">
                        View
                    </a>
                    {% if request.user.is_superuser %}
                    <button class="button js_create_school pt5 pr10 pb5 pl10 mr2"
                            data-url="{% url 'app_root:school_create' %}" data-action_type="create"
                            type="button">Add
                    </button>
                    {% endif %}

                </td>
            </tr>

            <!--Announcement-->
            <tr>
                <td>
                    <div class="flx a-i-c">
                        <div class="flx mr10">
                            <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                   stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                   stroke-dashoffset="0"
                                   font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                   style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#bababa">
                                        <path d="M121.23801,24.34169c-4.4782,0.09622 -8.12999,3.61888 -8.38728,8.09071l-59.13681,24.34103h-28.00288c-4.28465,0.05617 -7.91723,3.16586 -8.63333,7.39063h-0.69878c-7.03957,0 -12.68361,5.88485 -12.68361,12.92375v2.97882c-0.01054,3.36401 1.32321,6.59284 3.70477,8.96873c2.38156,2.37589 5.61356,3.70194 8.97753,3.68339h0.69878c0.53994,4.26903 4.15199,7.48193 8.45486,7.52054v41.37149c0,3.33418 2.65036,6.20172 5.98454,6.20172h16.00558c3.33418,0 5.89269,-2.86754 5.89269,-6.20172v-41.36165l59.45044,24.47291c0.26671,4.64782 4.19168,8.23469 8.84467,8.08278c4.65298,-0.15191 8.33565,-3.98714 8.29864,-8.64246v-30.36494c8.26183,-0.20028 14.85507,-6.95529 14.85507,-15.21954c0,-8.26425 -6.59324,-15.01926 -14.85507,-15.21954v-30.3656c0.01815,-2.32063 -0.90389,-4.54976 -2.55601,-6.17952c-1.65213,-1.62976 -3.89363,-2.52131 -6.21379,-2.47153zM121.32658,28.37491c1.23566,-0.02675 2.42908,0.45011 3.30605,1.32102c0.87697,0.87091 1.36211,2.06099 1.34393,3.29681v91.16963c0.01818,1.23581 -0.46696,2.42589 -1.34393,3.2968c-0.87697,0.87091 -2.07039,1.34777 -3.30605,1.32102c-2.48941,-0.10555 -4.4458,-2.16765 -4.42033,-4.65916v-58.27728c0,-1.1132 -0.90243,-2.01562 -2.01562,-2.01562c-1.1132,0 -2.01562,0.90243 -2.01562,2.01563v54.51045l-57.10937,-23.47429v-36.60603l57.10938,-23.47363v14.93413c0,1.1132 0.90243,2.01563 2.01563,2.01563c1.1132,0 2.01563,-0.90243 2.01563,-2.01562v-18.70161c-0.02494,-2.49108 1.93136,-4.55249 4.42033,-4.65785zM155.02991,41.50272c-0.64434,-0.00918 -1.25423,0.29028 -1.64098,0.80573l-8.75865,11.69089c-0.32082,0.42764 -0.4586,0.96521 -0.38305,1.49444c0.07555,0.52923 0.35826,1.00678 0.78591,1.32756c0.42772,0.32075 0.96534,0.45843 1.49458,0.38275c0.52924,-0.07568 1.00673,-0.35851 1.32742,-0.78627l8.75865,-11.69023c0.45503,-0.60665 0.53105,-1.41736 0.19674,-2.09803c-0.33431,-0.68067 -1.02237,-1.1161 -1.78063,-1.12684zM100.56735,47.30354c-0.24557,0.01099 -0.48707,0.0668 -0.71255,0.16469l-1.4776,0.62135c-0.67076,0.27435 -1.1426,0.88767 -1.23581,1.60634c-0.09321,0.71867 0.20655,1.43207 0.78512,1.86846c0.57857,0.43639 1.34687,0.5286 2.01227,0.2415l1.47826,-0.62201c0.90821,-0.36996 1.41835,-1.33988 1.20858,-2.29784c-0.20977,-0.95797 -1.07856,-1.62594 -2.05827,-1.5825zM92.31589,50.76987c-0.2407,0.0116 -0.47737,0.06627 -0.69878,0.16141l-23.90143,10.04466c-1.02623,0.4314 -1.50843,1.61304 -1.07703,2.63927c0.4314,1.02623 1.61304,1.50843 2.63927,1.07703l23.90077,-10.04466c0.90737,-0.37277 1.41462,-1.34466 1.20156,-2.3022c-0.21306,-0.95754 -1.08454,-1.62266 -2.06437,-1.57552zM25.71103,60.80469h26.02335v35.27344h-26.02335c-1.21675,0.02345 -2.39029,-0.45107 -3.24877,-1.31364c-0.85848,-0.86257 -1.32743,-2.03835 -1.29819,-3.25498v-25.86719c0,-2.5931 1.95353,-4.83763 4.54697,-4.83763zM130.00781,67.38893c6.02701,0.21042 10.80419,5.15728 10.80419,11.18797c0,6.03068 -4.77717,10.97755 -10.80419,11.18797zM16.37761,68.19531h0.7552v20.49219h-0.7552c-2.29515,0.01971 -4.50245,-0.88125 -6.12826,-2.50138c-1.62581,-1.62014 -2.53448,-3.82428 -2.52279,-6.11948v-2.97882c0,-4.816 3.83505,-8.8925 8.65105,-8.8925zM151.84375,76.25781c-1.1132,0 -2.01562,0.90243 -2.01562,2.01563c0,1.1132 0.90243,2.01563 2.01563,2.01563h14.44531c1.1132,0 2.01563,-0.90243 2.01563,-2.01562c0,-1.1132 -0.90243,-2.01562 -2.01562,-2.01562zM146.29816,99.0143c-0.45499,-0.01261 -0.90085,0.12915 -1.26502,0.40221c-0.42766,0.32079 -0.71036,0.79833 -0.78591,1.32756c-0.07555,0.52923 0.06224,1.0668 0.38305,1.49444l8.75865,11.69023c0.42501,0.59485 1.1388,0.91293 1.8653,0.83122c0.7265,-0.08171 1.3518,-0.5504 1.63406,-1.2248c0.28226,-0.6744 0.17722,-1.44876 -0.2745,-2.02359l-8.75865,-11.69023c-0.36864,-0.49253 -0.94203,-0.78973 -1.55699,-0.80704zM29.5625,100.10938h19.82031v4.03125h-6.64067c-3.35262,-0.00438 -6.08414,2.69057 -6.12495,6.04294v20.27698c0,3.33418 2.79077,5.93008 6.12495,5.93008h6.64067v5.22015c0,1.11128 -0.74982,2.17047 -1.86144,2.17047h-16.00558c-1.11128,0 -1.95329,-1.05919 -1.95329,-2.17047zM42.74214,108.17188h6.64067v24.1875h-6.64067c-1.11162,0 -2.0937,-0.78722 -2.0937,-1.89883v-20.27698c0.03848,-1.12668 0.96639,-2.01824 2.0937,-2.01169z"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>

                        <div class="">Manage <strong>Announcements</strong></div>
                    </div>

                </td>
                <td>
                    <a class="button pt5 pr10 pb5 pl10 mr10 mt10" href="{% url 'app_smart_attendance:announcement_view' %}">View</a>
                    {% if role == "admin" or role == "staff" or role == "school_admin" or role == "teacher" %}
                    <button class="button js_create_announcement pt5 pr10 pb5 pl10 mr10 mt10"
                            data-url="{% url 'app_smart_attendance:announcement_create' %}" data-action_type="create"
                            type="button">Add
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endif %}

            {% if request.user.is_superuser %}
            <!--School-->
            <tr>
                <td>
                    <div class="flx a-i-c">
                        <div class="flx mr10">
                            <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                   stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                   stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                   text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#bababa">
                                        <path d="M65.84375,1.34375c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125v161.25c0,2.28438 1.74687,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74687 4.03125,-4.03125v-157.21875h86v157.21875c0,2.28438 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74687 4.03125,-4.03125v-161.25c0,-2.28438 -1.74687,-4.03125 -4.03125,-4.03125zM90.03125,25.53125c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM112.875,25.53125c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM135.71875,25.53125c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74687,-4.03125 -4.03125,-4.03125zM48.50885,44.34637c-0.5291,-0.0189 -1.07395,0.06351 -1.61145,0.26508l-34.9375,13.4375c-1.47813,0.5375 -2.55365,2.15105 -2.55365,3.76355v104.8125c0,2.28438 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74687 4.03125,-4.03125v-101.99115l32.38385,-12.4953c2.01563,-0.80625 3.0922,-3.09115 2.28595,-5.24115c-0.60469,-1.51172 -2.0424,-2.49434 -3.6297,-2.55103zM90.03125,52.40625c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM112.875,52.40625c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125zM135.71875,52.40625c-2.28438,0 -4.03125,1.74687 -4.03125,4.03125v5.375c0,2.28437 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28438 -1.74687,-4.03125 -4.03125,-4.03125zM40.3125,79.28125c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM90.03125,79.28125c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM112.875,79.28125c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM135.71875,79.28125c-2.28438,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74687,-4.03125 -4.03125,-4.03125zM40.3125,106.15625c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM90.03125,106.15625c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM112.875,106.15625c-2.28437,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74688,4.03125 4.03125,4.03125c2.28437,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74688,-4.03125 -4.03125,-4.03125zM135.71875,106.15625c-2.28438,0 -4.03125,1.74688 -4.03125,4.03125v5.375c0,2.28437 1.74687,4.03125 4.03125,4.03125c2.28438,0 4.03125,-1.74688 4.03125,-4.03125v-5.375c0,-2.28437 -1.74687,-4.03125 -4.03125,-4.03125zM36.28125,138.40625c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v24.1875c0,2.28438 1.74688,4.03125 4.03125,4.03125h8.0625c2.28438,0 4.03125,-1.74687 4.03125,-4.03125v-24.1875c0,-2.28438 -1.74687,-4.03125 -4.03125,-4.03125zM108.84375,138.40625c-2.28437,0 -4.03125,1.74687 -4.03125,4.03125v24.1875c0,2.28438 1.74688,4.03125 4.03125,4.03125h8.0625c2.28437,0 4.03125,-1.74687 4.03125,-4.03125v-24.1875c0,-2.28438 -1.74688,-4.03125 -4.03125,-4.03125z"></path>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="">Manage <strong>Organisation</strong></div>
                    </div>

                </td>
                <td>
                    <a class="button pt5 pr10 pb5 pl10 mr5"
                       href="{% url 'app_root:school_list' %}">
                        View
                    </a>
                    <button class="button js_create_school pt5 pr10 pb5 pl10 mr2"
                            data-url="{% url 'app_root:school_create' %}" data-action_type="create"
                            type="button">Add
                    </button>
                </td>
            </tr>

            <!--Training-->
            <tr>
                <td>
                    <div class="flx a-i-c">
                        <div class="flx mr10">
                            <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                   stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray=""
                                   stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none"
                                   text-anchor="none" style="mix-blend-mode: normal">
                                    <path d="M0,172v-172h172v172z" fill="none"></path>
                                    <g fill="#bababa">
                                        <path d="M80.55333,114.64158c-0.9245,0 -1.71283,-0.71308 -1.7845,-1.65192c-0.24367,-3.14258 -1.16458,-6.13467 -2.7305,-8.89742c-0.4085,-0.71667 -0.26875,-1.61967 0.32967,-2.18583c0.92092,-0.86717 2.46533,-2.66958 2.46533,-4.99158v-20.52533c0,-2.24675 -1.85617,-4.07425 -4.13517,-4.07425c-0.989,0 -1.79167,-0.80267 -1.79167,-1.79167c0,-0.989 0.80267,-1.79167 1.79167,-1.79167c2.279,0 4.13517,-1.8275 4.13517,-4.07067v-20.52533c0,-2.99208 -2.28617,-5.80858 -5.43592,-6.69725c-0.69158,-0.19708 -1.19683,-0.78475 -1.29,-1.49783c-0.08958,-0.7095 0.25083,-1.40825 0.87075,-1.77017c5.14567,-3.02433 5.85517,-7.01617 5.85517,-10.879c0,-6.91583 -5.62583,-12.54167 -12.54167,-12.54167c-4.02408,0 -7.71133,1.892 -10.11217,5.18867c-0.42642,0.58767 -1.16458,0.84925 -1.86692,0.688c-11.65658,-2.78425 -22.06258,6.18483 -22.06258,17.415l0.02508,0.516c0,0.01433 0.0215,0.36192 0.0215,0.37267c0.03942,0.79192 -0.44792,1.51575 -1.19325,1.77733c-5.74408,2.021 -9.60333,7.42825 -9.60333,13.459c0,2.39367 0.63783,4.74075 1.89558,6.97675c0.24008,0.42642 0.29383,0.93525 0.1505,1.40467c-0.14333,0.46942 -0.473,0.85642 -0.91017,1.07858c-7.3315,3.67292 -11.88592,11.03667 -11.88592,19.20667c0,6.10242 2.63017,11.94683 7.21683,16.039c0.6235,0.55542 0.78117,1.46917 0.37625,2.20017c-1.45125,2.63733 -2.21808,5.62225 -2.21808,8.63583c0,2.193 0.39058,4.33225 1.161,6.35683c0.35117,0.9245 -0.11467,1.96008 -1.03917,2.31483c-0.92808,0.34758 -1.96008,-0.11467 -2.31125,-1.03917c-0.9245,-2.43667 -1.39392,-5.00233 -1.39392,-7.6325c0,-3.14975 0.69875,-6.27083 2.02817,-9.116c-4.71925,-4.70133 -7.40317,-11.09758 -7.40317,-17.759c0,-8.93683 4.6655,-17.04233 12.28725,-21.55375c-1.02125,-2.28975 -1.53725,-4.67625 -1.53725,-7.11292c0,-7.10217 4.26775,-13.51275 10.75,-16.35075c0.13617,-13.0075 11.98983,-23.35617 25.34133,-20.91233c3.06017,-3.612 7.568,-5.73692 12.28367,-5.73692c8.89025,0 16.125,7.23475 16.125,16.125c0,3.75533 -0.62708,8.35275 -4.96292,12.083c3.02792,1.94217 4.96292,5.21733 4.96292,8.76483v20.52533c0,2.35067 -1.075,4.45767 -2.76275,5.86233c1.68775,1.40467 2.76275,3.51167 2.76275,5.86233v20.52533c0,2.31483 -0.9245,4.61892 -2.62658,6.59692c1.44408,2.88817 2.3005,5.977 2.55133,9.19842c0.07525,0.98542 -0.65933,1.849 -1.64475,1.92425c-0.05017,0.00717 -0.09675,0.00717 -0.14333,0.00717z"></path>
                                        <path d="M15.54092,100.69525c-0.20783,0 -0.41567,-0.03583 -0.61992,-0.1075c-0.92808,-0.344 -1.40467,-1.37242 -1.06067,-2.30408c1.37242,-3.73383 3.7625,-7.01258 6.90508,-9.48508c0.78117,-0.60917 1.90275,-0.47658 2.5155,0.30458c0.61275,0.77758 0.47658,1.90275 -0.301,2.5155c-2.623,2.05683 -4.61533,4.7945 -5.75842,7.90483c-0.26517,0.72383 -0.94958,1.17175 -1.68058,1.17175z"></path>
                                        <path d="M28.59142,66.3705c-0.27233,0 -0.54467,-0.06092 -0.80625,-0.1935c-5.42158,-2.7305 -9.06583,-7.94783 -9.75383,-13.96067c-0.11467,-0.98183 0.59483,-1.8705 1.57667,-1.98517c0.97108,-0.11467 1.8705,0.59483 1.98158,1.57667c0.55183,4.80883 3.46867,8.97983 7.80808,11.16567c0.88508,0.44433 1.23983,1.52292 0.7955,2.40442c-0.31175,0.63425 -0.94242,0.99258 -1.60175,0.99258z"></path>
                                        <path d="M52.10883,23.02292c-0.08242,0 -0.172,-0.00717 -0.258,-0.01792c-0.97825,-0.14333 -1.65908,-1.04992 -1.51933,-2.02817c0.54825,-3.8055 2.45458,-7.29567 5.36425,-9.83625c0.74533,-0.645 1.87408,-0.57692 2.52625,0.172c0.65217,0.74533 0.57333,1.87767 -0.172,2.52983c-2.26108,1.97442 -3.74458,4.69417 -4.171,7.64683c-0.129,0.88867 -0.89583,1.53367 -1.77017,1.53367z"></path>
                                        <path d="M52.10525,82.56717c-0.87075,0 -1.634,-0.63425 -1.77017,-1.51933c-0.11108,-0.72025 -0.16842,-1.45842 -0.16842,-2.2145c0,-5.25317 2.86667,-10.07633 7.482,-12.59542c0.86358,-0.46942 1.9565,-0.15408 2.4295,0.71667c0.473,0.86717 0.15408,1.9565 -0.71667,2.43308c-3.4615,1.88842 -5.6115,5.504 -5.6115,9.44567c0,0.56617 0.043,1.12158 0.129,1.66983c0.1505,0.97467 -0.51958,1.892 -1.49425,2.0425c-0.09675,0.01433 -0.18992,0.0215 -0.2795,0.0215z"></path>
                                        <path d="M51.99775,79.60017c-0.60917,0 -1.20758,-0.31175 -1.54083,-0.87433c-1.90275,-3.2035 -5.25675,-5.16717 -8.96908,-5.26392c-0.989,-0.02508 -1.77017,-0.84567 -1.74508,-1.83825c0.02508,-0.98542 0.80983,-1.849 1.83825,-1.74508c4.95217,0.12542 9.42058,2.74842 11.95758,7.01258c0.50525,0.84925 0.22575,1.95292 -0.6235,2.45817c-0.29025,0.16842 -0.60558,0.25083 -0.91733,0.25083z"></path>
                                        <path d="M50.16667,44.79167c-3.12108,0 -6.149,-0.89225 -8.76125,-2.58358c-0.82775,-0.5375 -1.06783,-1.64833 -0.53033,-2.47608c0.5375,-0.83133 1.64833,-1.06425 2.47967,-0.53033c2.02817,1.31508 4.38242,2.00667 6.81192,2.00667c6.91583,0 12.54167,-5.62583 12.54167,-12.54167c-0.01433,-0.989 0.774,-1.97083 1.763,-1.98517c0.89583,-0.04658 1.79883,0.60917 1.81675,1.59458l0.00358,0.39058c0,8.89025 -7.23475,16.125 -16.125,16.125z"></path>
                                        <path d="M59.56933,53.87183c-0.28308,0 -0.57333,-0.06808 -0.8385,-0.21142c-3.72308,-1.98158 -6.48583,-5.27467 -7.77942,-9.27367c-0.30458,-0.94242 0.21142,-1.95292 1.15383,-2.2575c0.94242,-0.301 1.95292,0.215 2.25392,1.15025c0.99258,3.06375 3.19992,5.6975 6.05583,7.21683c0.87433,0.46583 1.204,1.55158 0.74175,2.42233c-0.32608,0.60917 -0.946,0.95317 -1.58742,0.95317z"></path>
                                        <g>
                                            <path d="M156.33367,114.63442c-0.21858,0 -0.43717,-0.03942 -0.64858,-0.12183c-0.92092,-0.35833 -1.37958,-1.3975 -1.02125,-2.31483c0.80267,-2.06758 1.21117,-4.25342 1.21117,-6.48942c0,-3.01358 -0.76683,-5.9985 -2.22167,-8.63583c-0.40133,-0.731 -0.24725,-1.64475 0.37625,-2.20017c4.59025,-4.09217 7.22042,-9.93658 7.22042,-16.039c0,-8.17 -4.55442,-15.53375 -11.88592,-19.20667c-0.43717,-0.22217 -0.76683,-0.60917 -0.91017,-1.07858c-0.14333,-0.46942 -0.08958,-0.97467 0.1505,-1.40467c1.25775,-2.236 1.89558,-4.58308 1.89558,-6.97675c0,-6.03075 -3.85925,-11.438 -9.60333,-13.46258c-0.74533,-0.26158 -1.23267,-0.98542 -1.19325,-1.77733c0,-0.01075 0.0215,-0.35833 0.0215,-0.37267l0.02508,-0.51242c0,-11.23017 -10.38808,-20.20642 -22.06617,-17.41142c-0.69517,0.16125 -1.43692,-0.10033 -1.86333,-0.688c-2.40083,-3.30025 -6.08808,-5.19225 -10.11217,-5.19225c-6.91583,0 -12.54167,5.62583 -12.54167,12.54167c0,3.86283 0.7095,7.85467 5.85517,10.88258c0.61992,0.3655 0.96033,1.06067 0.87075,1.77017c-0.09317,0.71308 -0.59842,1.30075 -1.29,1.49783c-3.14975,0.88867 -5.43592,3.70517 -5.43592,6.69725v20.52533c0,2.24317 1.85617,4.07067 4.13517,4.07067c0.989,0 1.79167,0.80267 1.79167,1.79167c0,0.989 -0.80267,1.79167 -1.79167,1.79167c-2.279,0 -4.13517,1.8275 -4.13517,4.07425v20.52533c0,2.322 1.54442,4.12442 2.46533,4.99158c0.602,0.56617 0.73817,1.46917 0.32967,2.18583c-1.548,2.73408 -2.46533,5.69033 -2.71975,8.78992c-0.08242,0.98542 -0.92092,1.71642 -1.935,1.63758c-0.98542,-0.07883 -1.71642,-0.946 -1.63758,-1.93142c0.26158,-3.182 1.118,-6.22425 2.54058,-9.07658c-1.70208,-1.98158 -2.62658,-4.28567 -2.62658,-6.6005v-20.52533c0,-2.35067 1.075,-4.45767 2.76275,-5.86592c-1.68775,-1.40108 -2.76275,-3.50808 -2.76275,-5.85875v-20.52533c0,-3.5475 1.935,-6.82267 4.96292,-8.76483c-4.33583,-3.73025 -4.96292,-8.32767 -4.96292,-12.083c0,-8.89025 7.23475,-16.125 16.125,-16.125c4.71567,0 9.2235,2.12492 12.28008,5.73692c13.39092,-2.44383 25.20875,7.90483 25.34492,20.91233c6.48225,2.838 10.75,9.24858 10.75,16.35075c0,2.43667 -0.516,4.82317 -1.53725,7.11292c7.62175,4.51142 12.28725,12.61692 12.28725,21.55375c0,6.66142 -2.68392,13.05767 -7.40317,17.759c1.32942,2.84517 2.02817,5.96625 2.02817,9.116c0,2.68392 -0.48733,5.29975 -1.45125,7.783c-0.27592,0.7095 -0.95317,1.14308 -1.67342,1.14308z"></path>
                                            <path d="M156.45908,100.69525c-0.731,0 -1.41542,-0.44792 -1.68058,-1.17175c-1.14308,-3.11033 -3.13542,-5.848 -5.75842,-7.90483c-0.77758,-0.61275 -0.91375,-1.73792 -0.301,-2.5155c0.60917,-0.78117 1.73433,-0.91375 2.5155,-0.30458c3.14258,2.4725 5.53267,5.75125 6.90508,9.48508c0.34042,0.93167 -0.13617,1.96008 -1.06067,2.30408c-0.20425,0.07167 -0.41208,0.1075 -0.61992,0.1075z"></path>
                                            <path d="M143.40858,66.3705c-0.65575,0 -1.28642,-0.36192 -1.60175,-0.98542c-0.44433,-0.8815 -0.08958,-1.96008 0.7955,-2.40442c4.33583,-2.18583 7.25625,-6.35683 7.80808,-11.16567c0.11108,-0.98183 0.99258,-1.6985 1.98158,-1.57667c0.98183,0.11108 1.69133,0.99975 1.57667,1.98517c-0.688,6.01283 -4.33225,11.23017 -9.75383,13.96067c-0.26158,0.12542 -0.5375,0.18633 -0.80625,0.18633z"></path>
                                            <path d="M119.89117,23.02292c-0.87792,0 -1.64117,-0.645 -1.77375,-1.53725c-0.42642,-2.95267 -1.90633,-5.67242 -4.171,-7.64683c-0.74533,-0.65217 -0.82058,-1.7845 -0.172,-2.52983c0.64858,-0.74533 1.7845,-0.81342 2.52625,-0.172c2.90967,2.54058 4.81242,6.03433 5.36425,9.83625c0.13975,0.97825 -0.5375,1.88483 -1.51933,2.02817c-0.08242,0.01433 -0.16842,0.0215 -0.25442,0.0215z"></path>
                                            <path d="M119.92342,82.35575c-0.08242,0 -0.16483,-0.00717 -0.24725,-0.01792c-0.97825,-0.13617 -1.66267,-1.03917 -1.5265,-2.01742c0.0645,-0.48733 0.10033,-0.98183 0.10033,-1.48708c0,-3.94167 -2.15,-7.55725 -5.6115,-9.44567c-0.87075,-0.47658 -1.18967,-1.56592 -0.71667,-2.43308c0.473,-0.87075 1.5695,-1.18608 2.4295,-0.71667c4.61533,2.51908 7.482,7.34225 7.482,12.59542c0,0.67367 -0.04658,1.32942 -0.13617,1.978c-0.12542,0.89942 -0.89225,1.54442 -1.77375,1.54442z"></path>
                                            <path d="M120.00225,79.60017c-0.31175,0 -0.62708,-0.07883 -0.91375,-0.25083c-0.84925,-0.50525 -1.12875,-1.60533 -0.6235,-2.45817c2.537,-4.26417 7.009,-6.88717 11.95758,-7.01258c0.91733,-0.09675 1.81317,0.75967 1.83825,1.74508c0.02508,0.989 -0.75608,1.81317 -1.74508,1.83825c-3.71233,0.09317 -7.06633,2.06042 -8.96908,5.26392c-0.33683,0.56258 -0.93167,0.87433 -1.54442,0.87433z"></path>
                                            <path d="M112.43067,53.87183c-0.64142,0 -1.26133,-0.344 -1.58383,-0.95317c-0.46583,-0.87075 -0.13258,-1.9565 0.74175,-2.42233c2.85592,-1.51933 5.06325,-4.1495 6.05583,-7.21683c0.30458,-0.93883 1.32225,-1.45125 2.25392,-1.15025c0.94242,0.30458 1.45842,1.31508 1.15383,2.2575c-1.29358,3.999 -4.05633,7.29208 -7.77942,9.27367c-0.26875,0.14692 -0.559,0.21142 -0.84208,0.21142z"></path>
                                            <path d="M121.83333,44.79167c-8.89025,0 -16.125,-7.23475 -16.125,-16.125l0.00358,-0.387c0.01433,-0.98542 0.74533,-1.63758 1.81675,-1.763c0.989,0.01433 1.78092,0.82775 1.76658,1.82033l-0.00358,0.32967c0,6.91583 5.62583,12.54167 12.54167,12.54167c2.4295,0 4.78375,-0.69158 6.81192,-2.01025c0.83133,-0.53033 1.94217,-0.301 2.47967,0.53033c0.5375,0.82775 0.29742,1.93858 -0.53033,2.47608c-2.61225,1.69492 -5.64017,2.58717 -8.76125,2.58717z"></path>
                                        </g>
                                        <g>
                                            <path d="M159.45833,132.58333h-3.35758c-0.989,0 -1.79167,-0.80267 -1.79167,-1.79167c0,-0.989 0.80267,-1.79167 1.79167,-1.79167h3.35758c0.989,0 1.79167,-0.80625 1.79167,-1.79167v-3.58333c0,-0.98542 -0.80267,-1.79167 -1.79167,-1.79167h-3.483c-0.989,0 -1.79167,-0.80267 -1.79167,-1.79167c0,-0.989 0.80267,-1.79167 1.79167,-1.79167h3.483c2.96342,0 5.375,2.41158 5.375,5.375v3.58333c0,2.96342 -2.41158,5.375 -5.375,5.375z"></path>
                                            <path d="M101.8455,132.58333h-31.24308c-0.989,0 -1.79167,-0.80267 -1.79167,-1.79167c0,-0.989 0.80267,-1.79167 1.79167,-1.79167h31.24308c0.989,0 1.79167,0.80267 1.79167,1.79167c0,0.989 -0.80267,1.79167 -1.79167,1.79167z"></path>
                                            <path d="M16.32567,132.58333h-3.784c-2.96342,0 -5.375,-2.41158 -5.375,-5.375v-3.58333c0,-2.96342 2.41158,-5.375 5.375,-5.375h3.40417c0.989,0 1.79167,0.80267 1.79167,1.79167c0,0.989 -0.80267,1.79167 -1.79167,1.79167h-3.40417c-0.989,0 -1.79167,0.80625 -1.79167,1.79167v3.58333c0,0.98542 0.80267,1.79167 1.79167,1.79167h3.784c0.989,0 1.79167,0.80267 1.79167,1.79167c0,0.989 -0.79908,1.79167 -1.79167,1.79167z"></path>
                                            <path d="M102.22533,121.83333h-32.25c-0.989,0 -1.79167,-0.80267 -1.79167,-1.79167c0,-0.989 0.80267,-1.79167 1.79167,-1.79167h32.25c0.989,0 1.79167,0.80267 1.79167,1.79167c0,0.989 -0.80267,1.79167 -1.79167,1.79167z"></path>
                                            <path d="M30.61242,150.5h-0.15408c-4.93783,0 -8.95833,-4.01692 -8.95833,-8.95833v-32.25c0,-4.91275 3.99542,-8.93325 8.90817,-8.95833c0,0 0.00358,0 0.00717,0c0.98542,0 1.78808,0.7955 1.79167,1.78092c0.00717,0.989 -0.79192,1.79525 -1.78092,1.80242c-2.9455,0.01433 -5.34275,2.4295 -5.34275,5.375v32.25c0,2.96342 2.41158,5.375 5.375,5.375c0.989,0 1.86692,0.80267 1.86692,1.79167c0,0.989 -0.72025,1.79167 -1.71283,1.79167z"></path>
                                            <path d="M55.54167,164.83333h-10.75c-4.93783,0 -8.95833,-4.01692 -8.95833,-8.95833v-60.91667c0,-4.94142 4.0205,-8.95833 8.95833,-8.95833h10.75c4.93783,0 8.95833,4.01692 8.95833,8.95833v60.91667c0,4.94142 -4.0205,8.95833 -8.95833,8.95833zM44.79167,89.58333c-2.96342,0 -5.375,2.41158 -5.375,5.375v60.91667c0,2.96342 2.41158,5.375 5.375,5.375h10.75c2.96342,0 5.375,-2.41158 5.375,-5.375v-60.91667c0,-2.96342 -2.41158,-5.375 -5.375,-5.375z"></path>
                                            <path d="M141.54167,150.5c-0.989,0 -1.79167,-0.80267 -1.79167,-1.79167c0,-0.989 0.80267,-1.79167 1.79167,-1.79167c2.96342,0 5.375,-2.41158 5.375,-5.375v-32.25c0,-2.96342 -2.44742,-5.375 -5.45025,-5.375c-0.989,0 -1.79167,-0.80267 -1.79167,-1.79167c0,-0.989 0.80267,-1.79167 1.79167,-1.79167c4.98083,0 9.03358,4.01692 9.03358,8.95833v32.25c0,4.94142 -4.0205,8.95833 -8.95833,8.95833z"></path>
                                            <path d="M127.20833,164.83333h-10.75c-4.93783,0 -8.95833,-4.01692 -8.95833,-8.95833v-60.91667c0,-4.94142 4.0205,-8.95833 8.95833,-8.95833h10.75c4.93783,0 8.95833,4.01692 8.95833,8.95833v60.91667c0,4.94142 -4.0205,8.95833 -8.95833,8.95833zM116.45833,89.58333c-2.96342,0 -5.375,2.41158 -5.375,5.375v60.91667c0,2.96342 2.41158,5.375 5.375,5.375h10.75c2.96342,0 5.375,-2.41158 5.375,-5.375v-60.91667c0,-2.96342 -2.41158,-5.375 -5.375,-5.375z"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class=""><strong>Train</strong> your current student data:</div>
                    </div>
                </td>
                <td>
                    <button class="train button  pt5 pr10 pb5 pl10 mr2" id="btn-train-model">Train Student Data</button>
                    <button class="train button  pt5 pr10 pb5 pl10 mr2" id="btn-retrain-model">Re-Train Student Data
                    </button>
                </td>
            </tr>
            {% endif %}

            <tr>
                <td>
                    <div class="flx a-i-c">
                        <div class="flx mr10 r180">
                            <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0,0,256,256"><g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(10.66667,10.66667)"><path d="M16,0c-4.41113,0 -8,3.58887 -8,8c0,0.52539 0.05713,1.06445 0.16992,1.60596l-0.89355,0.44678c-0.14355,0.07178 -0.24414,0.2085 -0.27002,0.36719c-0.02588,0.15869 0.02637,0.31982 0.14014,0.43359l0.64648,0.64648l-0.5,0.5h-0.79297c-0.27637,0 -0.5,0.22363 -0.5,0.5v0.79297l-0.70703,0.70703h-0.79297c-0.27637,0 -0.5,0.22363 -0.5,0.5v0.79297l-0.70703,0.70703h-0.79297c-0.27637,0 -0.5,0.22363 -0.5,0.5v0.79297l-1.85352,1.85352c-0.09375,0.09375 -0.14648,0.2207 -0.14648,0.35352v4c0,0.27637 0.22363,0.5 0.5,0.5h4c0.13281,0 0.25977,-0.05273 0.35352,-0.14648l7.64648,-7.64648l0.64648,0.64648c0.11328,0.11377 0.2749,0.16699 0.43359,0.14014c0.15869,-0.02588 0.29541,-0.12646 0.36719,-0.27002l0.44678,-0.89355c5.0874,1.06055 9.60596,-2.89355 9.60596,-7.83008c0,-4.41113 -3.58887,-8 -8,-8zM14.24756,14.76953c-0.22656,-0.05762 -0.46631,0.0498 -0.57178,0.26074l-0.31299,0.62549l-0.50928,-0.50928c-0.19531,-0.19531 -0.51172,-0.19531 -0.70703,0l-7.85352,7.85352h-3.29297v-3.29297l1.85352,-1.85352c0.09375,-0.09375 0.14648,-0.2207 0.14648,-0.35352v-0.5h0.5c0.13281,0 0.25977,-0.05273 0.35352,-0.14648l1,-1c0.09375,-0.09375 0.14648,-0.2207 0.14648,-0.35352v-0.5h0.5c0.13281,0 0.25977,-0.05273 0.35352,-0.14648l1,-1c0.09375,-0.09375 0.14648,-0.2207 0.14648,-0.35352v-0.5h0.5c0.13281,0 0.25977,-0.05273 0.35352,-0.14648l1,-1c0.19531,-0.19531 0.19531,-0.51172 0,-0.70703l-0.50928,-0.50928l0.62549,-0.31299c0.21094,-0.10547 0.31934,-0.34375 0.26074,-0.57178c-0.15283,-0.59375 -0.23047,-1.18311 -0.23047,-1.75244c0,-3.85986 3.14014,-7 7,-7c3.85986,0 7,3.14014 7,7c0,4.4292 -4.1333,7.95898 -8.75244,6.76953z"></path><path d="M18.5,3c-1.37842,0 -2.5,1.12158 -2.5,2.5c0,1.37842 1.12158,2.5 2.5,2.5c1.37842,0 2.5,-1.12158 2.5,-2.5c0,-1.37842 -1.12158,-2.5 -2.5,-2.5zM18.5,7c-0.82715,0 -1.5,-0.67285 -1.5,-1.5c0,-0.82715 0.67285,-1.5 1.5,-1.5c0.82715,0 1.5,0.67285 1.5,1.5c0,0.82715 -0.67285,1.5 -1.5,1.5z"></path><path d="M10.14648,13.14648l-7,7c-0.19531,0.19531 -0.19531,0.51172 0,0.70703c0.09766,0.09766 0.22559,0.14648 0.35352,0.14648c0.12793,0 0.25586,-0.04883 0.35352,-0.14648l7,-7c0.19531,-0.19531 0.19531,-0.51172 0,-0.70703c-0.19531,-0.19531 -0.51172,-0.19531 -0.70703,0z"></path></g></g></svg>
                        </div>
                        <div class="">Change <strong>password</strong>:</div>
                    </div>
                </td>
                <td>
                    <a class="button pt5 pr10 pb5 pl10 mr10" href="{% url 'app_smart_attendance:change_password' %}">Edit</a>
                </td>
            </tr>


            {% endwith %}


            </tbody>
        </table>
    </div>
</div>

<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>

{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/js/settings.js' %}</script>
<script>{% include 'app_smart_attendance/module/announcement/js/announcement_list_fill_modal.js' %}</script>
<script>{% include 'app_smart_attendance/js/period_list_fill_modal.js' %}</script>
<script>{% include 'app_smart_attendance/module/camera/js/camera_list_fill_modal.js' %}</script>
<script>{% include 'app_smart_attendance/js/teacher_list_fill_modal.js' %}</script>

{% if request.user.is_superuser %}
<script>{% include 'app_root/js/school_list.js' %}</script>
<script>{% include 'app_root/js/school_list_fill_modal.js' %}</script>
{% endif %}

{% endblock %}



