{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/student_register.css' %}</style>
<!--<style>{% include 'snippets/connectivity_test/bootstrap.4.4.1.css' %}</style>-->

{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Registration</li>
        </ul>
    </div>

    <div class="no_data w90 ma"></div>

    <div class="flx w90 flxc ma all_content_container">

        <div class="flx w90 ma  pl10 p5 flxw j-c-s-a">
            <a class="take_attendance_btn js_create_register_user pt5 pr10 pb5 pl10 mr2 mt10 mb10 flx a-i-s-e"
                    tabindex="0"
                    data-url="{% url 'app_smart_attendance:register_user_view' %}" data-action_type="create"
                    type="button">
                <div class="take_attendance_btn_fafa_div flx mr5">
                    <svg width="128px" height="128px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                        <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                           font-family="none" font-weight="none" font-size="none" text-anchor="none"
                           style="mix-blend-mode: normal">
                            <g transform="scale(2,2)">
                                <path d="M79.9,83.8c-5.1,-1.8 -10.4,-2.8 -15.9,-2.8v0v0c-16.4,0 -31.6,8.9 -39.7,23.1c-0.8,1.4 -0.3,3.3 1.1,4.1c0.5,0.3 1,0.4 1.5,0.4c1,0 2.1,-0.5 2.6,-1.5c7.1,-12.4 20.3,-20.1 34.5,-20.1v0v0c4.7,0 9.4,0.8 13.8,2.5c0.3,0.1 0.7,0.2 1,0.2c1.2,0 2.4,-0.7 2.8,-2c0.6,-1.6 -0.2,-3.3 -1.7,-3.9zM64,27c-12.7,0 -23,10.3 -23,23c0,12.7 10.3,23 23,23c12.7,0 23,-10.3 23,-23c0,-12.7 -10.3,-23 -23,-23zM64,67c-9.4,0 -17,-7.6 -17,-17c0,-9.4 7.6,-17 17,-17c9.4,0 17,7.6 17,17c0,9.4 -7.6,17 -17,17zM91.9,91.9c-7.8,7.8 -7.8,20.5 0,28.3c7.8,7.8 20.5,7.8 28.3,0c7.8,-7.8 7.8,-20.5 0,-28.3c-7.9,-7.9 -20.5,-7.9 -28.3,0zM112.9,109h-4v4c0,1.7 -1.3,3 -3,3c-1.7,0 -3,-1.3 -3,-3v-4h-4c-1.7,0 -3,-1.3 -3,-3c0,-1.7 1.3,-3 3,-3h4v-4c0,-1.7 1.3,-3 3,-3c1.7,0 3,1.3 3,3v4h4c1.7,0 3,1.3 3,3c0,1.7 -1.3,3 -3,3z"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="take_attendance_btn_text flx">Register User</div>
            </a>

            <a class="take_attendance_btn cp js_create_register_face pt5 pr10 pb5 pl10 mr2 mt10 mb10  flx"
               tabindex="0"
               data-url="{% url 'app_smart_attendance:register_face_view' %}" data-action_type="create"
               type="button">
                <div class="take_attendance_btn_fafa_div flx mr5">
                    <svg width="128px" height="128px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                        <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                           font-family="none" font-weight="none" font-size="none" text-anchor="none"
                           style="mix-blend-mode: normal">
                            <g transform="scale(5.12,5.12)">
                                <path d="M26.10156,4c-0.301,0 -7.5,-0.39822 -12.5,4.30078c-3.102,2.898 -4.60156,7.00022 -4.60156,12.19922v5.10156c-0.398,0.5 -1,1.699 -1,3.5c0,2.898 2.49956,4.29688 3.60156,4.79688c0.898,2.402 5.09744,13.10156 13.39844,13.10156c8.301,0 12.50044,-10.69856 13.39844,-13.10156c1.102,-0.5 3.60156,-1.89888 3.60156,-4.79688c0,-1.801 -0.602,-2.903 -1,-3.5v-5.10156c0,-1.5 -0.10178,-2.801 -0.30078,-4v-0.10156c-2.597,-8.898 -9.09722,-10.00044 -12.19922,-10.39844l-2,-2zM28,14c2,4 6.602,5.5 8,6l1,6.19922c0.102,0.5 0.5,0.80078 1,0.80078h1.5c0.199,0.398 0.5,0.99956 0.5,2.10156c0,2.097 -2.69922,3 -2.69922,3l-0.5,0.19922l-0.19922,0.5c0,0.097 -3.99956,12.19922 -11.60156,12.19922c-7.699,0 -11.60156,-12.10222 -11.60156,-12.19922l-0.19922,-0.5l-0.5,-0.19922c0,0 -2.69922,-0.902 -2.69922,-3c0,-1.102 0.301,-1.70356 0.5,-2.10156h1.89844c0.301,-0.102 0.60156,-0.39778 0.60156,-0.80078l1,-6.19922c2.301,-0.301 10,-1 14,-6zM19.5,26c-0.828,0 -1.5,0.672 -1.5,1.5c0,0.828 0.672,1.5 1.5,1.5c0.828,0 1.5,-0.672 1.5,-1.5c0,-0.828 -0.672,-1.5 -1.5,-1.5zM30.5,26c-0.828,0 -1.5,0.672 -1.5,1.5c0,0.828 0.672,1.5 1.5,1.5c0.828,0 1.5,-0.672 1.5,-1.5c0,-0.828 -0.672,-1.5 -1.5,-1.5zM22,36c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h6c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587z"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="take_attendance_btn_text flx">Register Face</div>
            </a>
        </div>


        <!--        <div class="flx w90 ma bdr student_register_frm_container">-->
        <!--            {% include 'app_smart_attendance/html/student_register_form.html' %}-->
        <!--        </div>-->

        <div class="flx w100 bdr a-i-c j-c-c flxc dn student_register_video_container">
            <div class="flx flxw " id="recordVideoContainer">
                <div id="cnd-vr-record-container-div">
                    <video class="mirror" autoplay id="cnd-vr-record" playsinline width="70%"></video>
                </div>
                <div class="flx" id="vr-record-btn-container">
                    <div class="flx w100 j-c-c a-i-c flxc">
                        <div class="input-group  cam_dropdown_div">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle cam-list-btn" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cams
                                </button>
                                <div class="cam-list dropdown-menu"></div>
                            </div>
                            <input type="text" class="cam-input form-control"
                                   aria-label="Text input with dropdown button"
                                   readonly>
                        </div>
                        <div class="all_btn_container">
                            <button type="submit" class="ct_luein-modal-button finish ">Start</button>
                            <button type="cancel" class="ct_luein-modal-button cancel ">Back</button>
                            <button class="vrrbtn dn" id="btn-start-recording">Start</button>
                            <button class="vrrbtn dn" disabled id="btn-stop-recording">Stop</button>
                            <button class="vrrbtn dn" disabled id="btn-upload-recording">Submit</button>
                            <button class="vrrbtn dn" disabled id="btn-cancel-recording">Cancel</button>
                            <button class="button dn" id="toggle">
                                <span class="icon">
                                    <i class="fas fa-sync-alt"></i>
                                </span>
                                <span>Switch camera</span>
                            </button>
                        </div>
                        <!--                        <button class="button" id="btnChangeCamera">-->
                        <!--                            <span class="icon">-->
                        <!--                              <i class="fas fa-sync-alt"></i>-->
                        <!--                            </span>-->
                        <!--                            <span>Switch camera</span>-->
                        <!--                        </button>-->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p30"></div>

</div>

<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>

{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/js/student_register.js' %}</script>
<script>{% include 'app_smart_attendance/js/register_user_list_fill_modal.js' %}</script>
<script>{% include 'app_smart_attendance/js/register_face_list_fill_modal.js' %}</script>

{% endblock %}



