<form class="w100 p10" action="javascript:void(0);" id="student_register_frm">


    <div class="flx  partitioned_form">
        <div class="form-left">

            <div class="partitioned_form_field">
                <label class="" for="id_register_select_role">Select User Group:</label>
                <select name="select_role" id="id_register_select_role" data-id="id_select_role">
                    <option value="">---------</option>
                    <option value="teacher">Staff: Teacher</option>
                    <option value="non_teacher">Staff: Non teacher</option>
                    <option value="student">Student</option>
                </select>
            </div>

            <div class="partitioned_form_field">
                <label class="" for="id_register_select_task">Select Action:</label>
                <select name="select_task" id="id_register_select_task" data-id="id_select_task">
                    <option value="">---------</option>
                    <option value="new">Create new</option>
                    <option value="old">Update existing entry</option>
                </select>
            </div>

            <div class="old_dropdown_div dn">
                {% if old_students_qs %}
                <div class="partitioned_form_field">
                    <label class="" for="id_register_profile">Update Old Student data:</label>
                    <select name="profile_id" id="id_register_profile" data-id="id_profile">
                        <option value="">---Select student---</option>
                        {% for item in old_students_qs %}
                        <option value="{{item.profile_id}}">
                            (Class:{{item.class_name}}{{item.section}}) -
                            {{item.user.first_name}} {{item.user.last_name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="fwb t-a-c p10 dn">OR</div>
                {% else %}
                <div class="red p10 bdr mb20">No student registered yet...!!!</div>
                {% endif %}
            </div>
        </div>
        <div class="form-right dn">
            <div class="partitioned_form_field">
                <label class="required" for="id_register_first_name">First name:</label>
                <input type="text" name="first_name" required="" maxlength="100" id="id_register_first_name"
                       data-id="id_first_name">
            </div>
            <div class="partitioned_form_field">
                <label class="" for="id_register_last_name">Last name:</label>
                <input type="text" name="last_name" maxlength="100" id="id_register_last_name" data-id="id_last_name">
            </div>
            <div class="partitioned_form_field">
                <label class="required" for="id_register_gender">Gender:</label>
                <select name="gender" id="id_register_gender" required="" data-id="id_gender">
                    <option value="">---Select---</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="partitioned_form_field">
                <label class="required" for="id_register_class_name">Class:</label>
                <select name="class_name" id="id_register_class_name" required="" data-id="id_class_name">
                    <option value="">---Select---</option>
                </select>
            </div>
            <div class="partitioned_form_field">
                <label class="required" for="id_register_section">Section:</label>
                <select name="section" id="id_register_section" required="" data-id="id_section">
                    <option value="">---Select---</option>
                </select>
            </div>
            <div class="partitioned_form_field">
                <label class="required" for="id_register_email">Email:</label>
                <input type="email" name="email" required="" maxlength="512" id="id_register_email" data-id="id_email">
            </div>
            <div class="partitioned_form_field">
                <label class="" for="id_register_blood_group">Blood group:</label>
                <select name="blood_group" id="id_register_blood_group" data-id="id_blood_group">
                    <option value="">---Select---</option>
                    <option value="ab+">AB+</option>
                    <option value="ab-">AB-</option>
                    <option value="a+">A+</option>
                    <option value="a-">A-</option>
                    <option value="b+">B+</option>
                    <option value="b-">B-</option>
                    <option value="o+">O+</option>
                    <option value="o-">O-</option>
                </select>
            </div>
            <div class="flx mt20">
                <button type="reset" class="button cancel disable mla flx a-i-c " form="student_register_frm">Clear
                </button>
                <button type="submit" class="button submit ml5 flx  a-i-c" form="student_register_frm">Next</button>
            </div>
        </div>
    </div>

</form>