{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/students_detail.css' %}</style>

{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'app_smart_attendance:people' %}">People</a></li>
            <li><a href="{% url 'app_smart_attendance:students' %}">Students</a></li>
            <li>Student Details</li>
        </ul>
    </div>

    <div class="w90 ma fwb p10">Student details</div>
    <div class="oa w90 ma bsj">
        <table class="table405">
            <tbody>
            {% if object %}
            <tr>
                <th>Media ID</th>
                <td>
                    {% if object.media_id %}
                    {% if object.media_id.media_file %}
                    <video controls controlsList="nodownload" class="student_media_video"
                           src="{{object.media_id.media_file.url}}"></video>
                    {% else %}
                    "No file found"
                    {% endif %}

                    {% else %}
                    "No media found"
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <td class="t-t-c">{{object.user.first_name}}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{object.user.username}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{object.user.email}}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{object.class_name}}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{object.section}}</td>
            </tr>
            <tr>
                <th>Blood group</th>
                <td class="t-t-u">{{object.blood_group}}</td>
            </tr>
            <tr>
                <th>Profile ID</th>
                <td>{{object.profile_id}}</td>
            </tr>
            <tr>
                <th>School ID</th>
                <td>
                    <a class="flx wfc" href="{% url 'app_root:school_detail' object.school_id.school_id %}">
                        <div class="bdr t-a-c wfc p5">{{object.school_id.name}}, {{object.school_id.branch}}</div>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Profile Picture</th>
                <td>{{object.profile_picture}}</td>
            </tr>

            <tr>
                <th>Contact Number</th>
                <td>{{object.contact_number}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{object.gender}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{object.address}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{object.city}}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{object.state}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{object.country}}</td>
            </tr>
            <tr>
                <th>Postal Code</th>
                <td>{{object.postal_code}}</td>
            </tr>
            <tr>
                <th>View Count</th>
                <td>{{object.view_count}}</td>
            </tr>
            <tr>
                <th>Registered on</th>
                <td>{{object.date_time}}</td>
            </tr>
            <tr>
                <th>Updated on</th>
                <td>{{object.update_time}}</td>
            </tr>
            {% else %}
            "No data found"
            {% endif %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/js/students_detail.js' %}</script>
{% endblock %}



