{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/student_list.css' %}</style>
<style>{% include 'app_smart_attendance/css/timesheet_overview.css' %}</style>

{% endblock %}

{% block content %}
{% load template_tags %}

<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'app_smart_attendance:people' %}">People</a></li>
            <li>Students</li>
        </ul>
    </div>

    <div class="oa w90 ma bsj">
        <table class="table405 students_table wsn t-a-c" id="student_list_table">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>Is face registered</th>
                <th>Class</th>
                <th>Section</th>
                <th>Blood group</th>
                <th>Contact number</th>
                <th>Registered on</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% include 'app_smart_attendance/html/partial_student_list.html' %}
            </tbody>
        </table>
    </div>
</div>

<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>


{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/js/student_list.js' %}</script>
<script>{% include 'app_smart_attendance/js/student_list_fill_modal.js' %}</script>

{% endblock %}



