{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/take_attendance.css' %}</style>
<style>{% include 'app_smart_attendance/css/class_attendance_manual_entry_form_with_ajax.css' %}</style>

{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Mark attendance</li>
        </ul>
    </div>

    <div class="no_data w90 ma"></div>
    <div class="w90 ma all_content_container">

        <div class="action_btn_div">
            {% if request.organisation_type == "school" %}
                <!--old-->
                <a class=" cp js_create_take_attendance_class pt5 pr10 pb5 pl10 mr2 mt10 mb10 flx a-i-c dn"
                   data-url="{% url 'app_smart_attendance:take_attendance_class_view' %}"
                   data-action_type="create"
                   type="button"
                   data-action_class="js_create_take_attendance_class"
                   onclick="showaddassignee.bind(this)('Attendance taker')">
                    <div class="flx mr5">
                        <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                            <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                               style="mix-blend-mode: normal">
                                <g transform="scale(10.66667,10.66667)">
                                    <path d="M23.5,1h-23c-0.276,0 -0.5,0.224 -0.5,0.5v13c0,0.276 0.224,0.5 0.5,0.5h1.699c0.426,1.165 1.516,2 2.801,2c1.285,0 2.375,-0.835 2.801,-2h1.398c0.427,1.165 1.516,2 2.801,2c1.285,0 2.375,-0.835 2.801,-2h1.398c0.427,1.165 1.516,2 2.801,2c1.285,0 2.375,-0.835 2.801,-2h1.699c0.276,0 0.5,-0.224 0.5,-0.5v-13c0,-0.276 -0.224,-0.5 -0.5,-0.5zM5,16c-1.103,0 -2,-0.929 -2,-2.071c0,-1.143 0.897,-2.072 2,-2.072c1.103,0 2,0.929 2,2.072c0,1.142 -0.897,2.071 -2,2.071zM12,16c-1.103,0 -2,-0.929 -2,-2.071c0,-1.143 0.897,-2.072 2,-2.072c1.103,0 2,0.929 2,2.072c0,1.142 -0.897,2.071 -2,2.071zM19,16c-1.103,0 -2,-0.929 -2,-2.071c0,-1.143 0.897,-2.072 2,-2.072c1.103,0 2,0.929 2,2.072c0,1.142 -0.897,2.071 -2,2.071zM23,14h-1.007c0.001,-0.024 0.007,-0.047 0.007,-0.071c0,-1.694 -1.346,-3.072 -3,-3.072c-1.654,0 -3,1.378 -3,3.072c0,0.024 0.006,0.047 0.007,0.071h-1.014c0.001,-0.024 0.007,-0.047 0.007,-0.071c0,-1.694 -1.346,-3.072 -3,-3.072c-1.654,0 -3,1.378 -3,3.072c0,0.024 0.006,0.047 0.007,0.071h-1.014c0.001,-0.024 0.007,-0.047 0.007,-0.071c0,-1.694 -1.346,-3.072 -3,-3.072c-1.654,0 -3,1.378 -3,3.072c0,0.024 0.006,0.047 0.007,0.071h-1.007v-12h22z"></path>
                                    <path d="M15.5,18.015c-0.456,-0.612 -1.179,-1.015 -2,-1.015h-1.5h-1.5c-0.821,0 -1.544,0.403 -2,1.015c-0.456,-0.612 -1.179,-1.015 -2,-1.015h-1.5h-1.5c-1.378,0 -2.5,1.122 -2.5,2.5v3c0,0.276 0.224,0.5 0.5,0.5h7h7h7c0.276,0 0.5,-0.224 0.5,-0.5v-3c0,-1.378 -1.122,-2.5 -2.5,-2.5h-1.5h-1.5c-0.821,0 -1.544,0.403 -2,1.015zM2,19.5c0,-0.827 0.673,-1.5 1.5,-1.5h3c0.827,0 1.5,0.673 1.5,1.5v2.5h-6zM9,19.5c0,-0.827 0.673,-1.5 1.5,-1.5h3c0.827,0 1.5,0.673 1.5,1.5v2.5h-6zM20.5,18c0.827,0 1.5,0.673 1.5,1.5v2.5h-6v-2.5c0,-0.827 0.673,-1.5 1.5,-1.5z"></path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="flx">Class attendance</div>
                </a>
                <!--new-->
                <a class="take_attendance_btn js_create_take_attendance_class_"
               data-url="{% url 'app_smart_attendance:take_attendance_class_preselected' %}"
               data-action_type="create"
               type="button"
               data-action_class="js_create_take_attendance_class"
               onclick="showaddassignee.bind(this)('Attendance taker')">
                <div class="take_attendance_btn_fafa_div flx mr5">
                    <svg width="128" height="128" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                        <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                           font-family="none" font-weight="none" font-size="none" text-anchor="none"
                           style="mix-blend-mode: normal">
                            <g transform="scale(10.66667,10.66667)">
                                <path d="M23.5,1h-23c-0.276,0 -0.5,0.224 -0.5,0.5v13c0,0.276 0.224,0.5 0.5,0.5h1.699c0.426,1.165 1.516,2 2.801,2c1.285,0 2.375,-0.835 2.801,-2h1.398c0.427,1.165 1.516,2 2.801,2c1.285,0 2.375,-0.835 2.801,-2h1.398c0.427,1.165 1.516,2 2.801,2c1.285,0 2.375,-0.835 2.801,-2h1.699c0.276,0 0.5,-0.224 0.5,-0.5v-13c0,-0.276 -0.224,-0.5 -0.5,-0.5zM5,16c-1.103,0 -2,-0.929 -2,-2.071c0,-1.143 0.897,-2.072 2,-2.072c1.103,0 2,0.929 2,2.072c0,1.142 -0.897,2.071 -2,2.071zM12,16c-1.103,0 -2,-0.929 -2,-2.071c0,-1.143 0.897,-2.072 2,-2.072c1.103,0 2,0.929 2,2.072c0,1.142 -0.897,2.071 -2,2.071zM19,16c-1.103,0 -2,-0.929 -2,-2.071c0,-1.143 0.897,-2.072 2,-2.072c1.103,0 2,0.929 2,2.072c0,1.142 -0.897,2.071 -2,2.071zM23,14h-1.007c0.001,-0.024 0.007,-0.047 0.007,-0.071c0,-1.694 -1.346,-3.072 -3,-3.072c-1.654,0 -3,1.378 -3,3.072c0,0.024 0.006,0.047 0.007,0.071h-1.014c0.001,-0.024 0.007,-0.047 0.007,-0.071c0,-1.694 -1.346,-3.072 -3,-3.072c-1.654,0 -3,1.378 -3,3.072c0,0.024 0.006,0.047 0.007,0.071h-1.014c0.001,-0.024 0.007,-0.047 0.007,-0.071c0,-1.694 -1.346,-3.072 -3,-3.072c-1.654,0 -3,1.378 -3,3.072c0,0.024 0.006,0.047 0.007,0.071h-1.007v-12h22z"></path>
                                <path d="M15.5,18.015c-0.456,-0.612 -1.179,-1.015 -2,-1.015h-1.5h-1.5c-0.821,0 -1.544,0.403 -2,1.015c-0.456,-0.612 -1.179,-1.015 -2,-1.015h-1.5h-1.5c-1.378,0 -2.5,1.122 -2.5,2.5v3c0,0.276 0.224,0.5 0.5,0.5h7h7h7c0.276,0 0.5,-0.224 0.5,-0.5v-3c0,-1.378 -1.122,-2.5 -2.5,-2.5h-1.5h-1.5c-0.821,0 -1.544,0.403 -2,1.015zM2,19.5c0,-0.827 0.673,-1.5 1.5,-1.5h3c0.827,0 1.5,0.673 1.5,1.5v2.5h-6zM9,19.5c0,-0.827 0.673,-1.5 1.5,-1.5h3c0.827,0 1.5,0.673 1.5,1.5v2.5h-6zM20.5,18c0.827,0 1.5,0.673 1.5,1.5v2.5h-6v-2.5c0,-0.827 0.673,-1.5 1.5,-1.5z"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="take_attendance_btn_text flx">Class attendance</div>
            </a>
            {% endif %}

            <a class="take_attendance_btn js_create_take_attendance_self"
               data-url="{% url 'app_smart_attendance:take_attendance_self_view' %}" data-action_type="create"
               type="button">
                <div class="take_attendance_btn_fafa_div flx mr5">
                    <svg width="128" height="128" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                        <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                           font-family="none" font-weight="none" font-size="none" text-anchor="none"
                           style="mix-blend-mode: normal">
                            <g transform="scale(0.53329,0.53329)">
                                <path d="M361.78711,0.00781c-9.11677,-0.03136 -9.9145,0.00517 -11.59375,0.79492c-1.575,0.738 -2.82114,1.94463 -3.61914,3.39063c-1.349,2.444 4.98828,-8.97508 -14.26172,25.66992c-2.115,3.807 -6.13423,6.17188 -10.49023,6.17188h-81.61133c-4.418,0 -8,3.582 -8,8c0,4.418 3.582,8 8,8h81.61133c10.163,0 19.54256,-5.51739 24.47656,-14.40039l12,-21.59961h15.71875c13.233,0 24,10.767 24,24v400c0,13.233 -10.767,24 -24,24h-188c-4.964,0 -9.72653,-1.49889 -13.76953,-4.33789c-3.616,-2.537 -8.60458,-1.66483 -11.14258,1.95117c-2.539,3.616 -1.66583,8.60453 1.95117,11.14453c6.75,4.738 14.68994,7.24219 22.96094,7.24219h188c22.056,0 40,-17.944 40,-40v-400c0.001,-22.056 -17.944,-40 -40,-40c-5.228,0 -9.19155,-0.01689 -12.23047,-0.02734zM186.01758,0.03516c-22.056,0 -40,17.944 -40,40v144.04296l-26.92969,16.66407c-32.884,20.346 -53.07031,56.35319 -53.07031,95.24219v176.05078c0,4.418 3.582,8 8,8c4.418,0 8,-3.582 8,-8v-176.05078c0,-33.493 17.00528,-64.01172 45.48828,-81.63672l18.51172,-11.45508v122.64258c0,5.201 4.91628,9.053 9.98828,7.75c1.524,-0.389 -2.00416,1.37403 46.96484,-25.54297c3.872,-2.128 5.28621,-6.99128 3.15821,-10.86328c-2.126,-3.87 -6.99129,-5.28621 -10.86329,-3.15821l-33.24804,18.28516v-271.9707c0,-13.233 10.766,-24 24,-24h118.0332c4.418,0 8,-3.582 8,-8c0,-4.418 -3.582,-8 -8,-8zM224.01758,119.03516c-17.645,0 -32,14.355 -32,32v4c0,4.418 3.582,8 8,8c4.418,0 8,-3.582 8,-8v-4c0,-8.822 7.178,-16 16,-16h7c4.418,0 8,-3.582 8,-8c0,-4.418 -3.582,-8 -8,-8zM329.01758,119.03516c-4.418,0 -8,3.582 -8,8c0,4.418 3.582,8 8,8h7c8.822,0 16,7.178 16,16v4c0,4.418 3.581,8 8,8c4.418,0 8,-3.582 8,-8v-4c0,-17.645 -14.355,-32 -32,-32zM260.01758,185.03516c-4.418,0 -8,3.582 -8,8v4c0,4.418 3.582,8 8,8c4.418,0 8,-3.582 8,-8v-4c0,-4.418 -3.582,-8 -8,-8zM300.01758,185.03516c-4.418,0 -8,3.582 -8,8v4c0,4.418 3.582,8 8,8c4.418,0 8,-3.582 8,-8v-4c0,-4.418 -3.582,-8 -8,-8zM250.27734,242.03906c-2.04612,-0.06637 -4.11651,0.64771 -5.72851,2.15821c-3.224,3.021 -3.38819,8.08554 -0.36719,11.31054c3.414,3.643 16.08594,15.52735 35.83594,15.52735c19.75,0 32.42489,-11.88535 35.83789,-15.52735c3.021,-3.225 2.85681,-8.28854 -0.36719,-11.31054c-3.224,-3.021 -8.28659,-2.85582 -11.30859,0.36718c-2.302,2.457 -10.84511,10.47071 -24.16211,10.47071c-13.317,0 -21.86206,-8.01371 -24.16406,-10.47071c-1.5095,-1.612 -3.53005,-2.45901 -5.57618,-2.52539zM239.97461,302.52539c-1.54083,0.00558 -3.09572,0.45447 -4.46484,1.38672c-3.652,2.487 -4.59833,7.46423 -2.11133,11.11523c6.79,9.973 4.90523,23.29619 -4.38477,30.99219l-80.09961,66.35547c-5.782,4.79 -2.33562,14.16016 5.10938,14.16016c1.798,0 3.60465,-0.60285 5.09765,-1.83985l80.09961,-66.35351c15.682,-12.992 18.86335,-35.48436 7.40235,-52.31836c-1.55438,-2.28313 -4.08039,-3.50736 -6.64844,-3.49805zM360.01758,307.03516c-4.418,0 -8,3.582 -8,8v4c0,8.822 -7.178,16 -16,16h-7c-4.418,0 -8,3.582 -8,8c0,4.418 3.581,8 8,8h7c17.645,0 32,-14.355 32,-32v-4c0,-4.418 -3.582,-8 -8,-8zM280.01758,368.03516c-4.418,0 -8,3.582 -8,8c0,4.418 3.582,8 8,8c11.028,0 20,8.972 20,20c0,11.028 -8.972,20 -20,20c-11.028,0 -20,-8.972 -20,-20c0,-4.418 -3.582,-8 -8,-8c-4.418,0 -8,3.582 -8,8c0,19.851 16.149,36 36,36c19.851,0 36,-16.149 36,-36c0,-19.851 -16.149,-36 -36,-36z"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="take_attendance_btn_text flx">Self</div>
            </a>

            <!--old-->
            <a class=" cp js_create_take_attendance_other pt5 pr10 pb5 pl10 mr2 mt10 mb10 flx a-i-c dn"
               data-url="{% url 'app_smart_attendance:take_attendance_other_view' %}"
               data-action_type="create"
               data-action_class="js_create_take_attendance_other"
               type="button"
              >
                <div class="flx mr5">
                    <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                        <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                           font-family="none" font-weight="none" font-size="none" text-anchor="none"
                           style="mix-blend-mode: normal">
                            <g transform="scale(5.12,5.12)">
                                <path d="M9,4c-2.74952,0 -5,2.25048 -5,5v32c0,2.74952 2.25048,5 5,5h3h26h3c2.74952,0 5,-2.25048 5,-5v-32c0,-2.74952 -2.25048,-5 -5,-5zM9,6h32c1.66848,0 3,1.33152 3,3v32c0,1.66848 -1.33152,3 -3,3h-2.05078c-0.51626,-7.25291 -6.56713,-13 -13.94922,-13c-7.38209,0 -13.43296,5.74709 -13.94922,13h-2.05078c-1.66848,0 -3,-1.33152 -3,-3v-32c0,-1.66848 1.33152,-3 3,-3zM25,11c-4.95852,0 -9,4.04148 -9,9c0,4.95852 4.04148,9 9,9c4.95852,0 9,-4.04148 9,-9c0,-4.95852 -4.04148,-9 -9,-9zM25,13c3.87748,0 7,3.12252 7,7c0,3.87748 -3.12252,7 -7,7c-3.87748,0 -7,-3.12252 -7,-7c0,-3.87748 3.12252,-7 7,-7zM25,33c6.28352,0 11.26722,4.85677 11.79883,11h-23.59766c0.53161,-6.14323 5.51531,-11 11.79883,-11z"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="flx">Other</div>
            </a>
            <!--new-->
            <a class="take_attendance_btn js_create_take_attendance_other_"
               data-url="{% url 'app_smart_attendance:take_attendance_other_preselected' %}"
               data-action_type="create"
               data-action_class="js_create_take_attendance_other"
               type="button"
               onclick="showaddassignee.bind(this)('Attendance for')">
                <div class="take_attendance_btn_fafa_div flx mr5">
                    <svg width="128" height="128" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                        <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                           stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                           font-family="none" font-weight="none" font-size="none" text-anchor="none"
                           style="mix-blend-mode: normal">
                            <g transform="scale(5.12,5.12)">
                                <path d="M9,4c-2.74952,0 -5,2.25048 -5,5v32c0,2.74952 2.25048,5 5,5h3h26h3c2.74952,0 5,-2.25048 5,-5v-32c0,-2.74952 -2.25048,-5 -5,-5zM9,6h32c1.66848,0 3,1.33152 3,3v32c0,1.66848 -1.33152,3 -3,3h-2.05078c-0.51626,-7.25291 -6.56713,-13 -13.94922,-13c-7.38209,0 -13.43296,5.74709 -13.94922,13h-2.05078c-1.66848,0 -3,-1.33152 -3,-3v-32c0,-1.66848 1.33152,-3 3,-3zM25,11c-4.95852,0 -9,4.04148 -9,9c0,4.95852 4.04148,9 9,9c4.95852,0 9,-4.04148 9,-9c0,-4.95852 -4.04148,-9 -9,-9zM25,13c3.87748,0 7,3.12252 7,7c0,3.87748 -3.12252,7 -7,7c-3.87748,0 -7,-3.12252 -7,-7c0,-3.87748 3.12252,-7 7,-7zM25,33c6.28352,0 11.26722,4.85677 11.79883,11h-23.59766c0.53161,-6.14323 5.51531,-11 11.79883,-11z"></path>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="take_attendance_btn_text flx">Other</div>
            </a>

            <!--cctv-->
            {% comment %}
            <a class="take_attendance_btn js_create_take_attendance_class dn"
               data-url="{% url 'app_smart_attendance:take_attendance_cctv' %}"
               data-action_type="create"
               type="button"
               data-action_class="js_create_take_attendance_class">
                <div class="take_attendance_btn_fafa_div flx mr5">
                    <svg width="128" height="128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0,0,256,256"><g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(4,4)"><path d="M17.64844,0.00781c-2.18763,-0.09608 -4.18412,1.23993 -4.92969,3.29883c-1.7531,4.8683 -0.59922,1.66339 -5.41992,15.05469c-0.44925,1.24786 -0.38432,2.62308 0.1805,3.82306c0.56482,1.19998 1.58326,2.12639 2.83122,2.57538l14.54883,5.23633l-1.24023,3.83594c-0.16582,0.51278 0.10454,1.06473 0.61133,1.24805l0.9707,0.34961l-5.37891,16.57031h-7.82227v-1c0,-0.55228 -0.44772,-1 -1,-1h-4v-3c0,-0.55228 -0.44772,-1 -1,-1h-5c-0.55228,0 -1,0.44772 -1,1v16c0,0.55228 0.44772,1 1,1h5c0.55228,0 1,-0.44772 1,-1v-3h4c0.55228,0 1,-0.44772 1,-1v-1h11.44922c0.43333,-0.00017 0.8173,-0.27927 0.95117,-0.69141l6.45117,-19.8457l0.9082,0.32617c0.25468,0.09211 0.53583,0.07699 0.77916,-0.04191c0.24333,-0.1189 0.42803,-0.33142 0.51185,-0.58895l1.22266,-3.77148l15.55469,5.59961c0.2494,0.09021 0.52445,0.07749 0.76445,-0.03537c0.24,-0.11286 0.42524,-0.31657 0.51485,-0.56619l1.01563,-2.82227l4.70508,1.69336c0.10833,0.03918 0.2227,0.05901 0.33789,0.05859c0.42149,0.00009 0.79789,-0.26385 0.94141,-0.66016l2.70898,-7.52734c0.08993,-0.24941 0.07707,-0.52434 -0.03575,-0.76427c-0.11282,-0.23993 -0.31636,-0.4252 -0.56581,-0.51502l-4.70508,-1.69531l0.91992,-2.55273l7.18945,-5.65625c0.28486,-0.22476 0.42553,-0.58625 0.36752,-0.94444c-0.05801,-0.35819 -0.30558,-0.6568 -0.64682,-0.78017l-44.22266,-15.92187c-0.47234,-0.16938 -0.96745,-0.26682 -1.46875,-0.28906zM17.35547,2.00195c0.36906,-0.00848 0.73652,0.05111 1.08398,0.17578l42.52344,15.31055l-5.56055,4.37305l-41.81641,-15.05469l1.01562,-2.82031c0.42082,-1.16615 1.51452,-1.95424 2.75391,-1.98437zM12.90625,8.68945l41.40039,14.9043c-2.5557,7.0998 -2.18159,6.05807 -4.74219,13.17188l-38.57812,-13.88867c-1.5577,-0.56196 -2.36546,-2.27977 -1.80469,-3.83789zM14.66211,11.51953c-0.48582,0.01285 -0.89206,0.37313 -0.96288,0.85393c-0.07082,0.4808 0.21429,0.94291 0.67577,1.09529l7.52734,2.71094c0.10832,0.03919 0.2227,0.05903 0.33789,0.05859c0.48463,-0.00137 0.89852,-0.35004 0.98217,-0.8274c0.08365,-0.47736 -0.18704,-0.94599 -0.64233,-1.11205l-7.52734,-2.71094c-0.12434,-0.04863 -0.25716,-0.07188 -0.39062,-0.06836zM25.01172,15.24414c-0.48582,0.01286 -0.89205,0.37313 -0.96287,0.85393c-0.07082,0.4808 0.21429,0.9429 0.67576,1.09529l1.88086,0.67969c0.10894,0.0394 0.22399,0.05924 0.33984,0.05859c0.48463,-0.00137 0.89852,-0.35004 0.98217,-0.8274c0.08365,-0.47736 -0.18704,-0.94599 -0.64233,-1.11205v-0.00195l-1.88281,-0.67578c-0.1242,-0.0493 -0.25703,-0.07321 -0.39062,-0.07031zM54.83203,28.03516l3.76367,1.35547l-2.03125,5.64453l-3.76367,-1.35547zM26.74219,30.67383c3.9622,1.4266 2.70624,0.97491 5.64844,2.03711l-0.92187,2.8457l-5.65039,-2.0293zM27.08398,36.10938c1.4075,0.5036 0.88477,0.31588 1.88477,0.67578l-6.24609,19.21484h-10.72266v-2h8.55078c0.43333,-0.00017 0.8173,-0.27927 0.95117,-0.69141zM2,48h3v14h-3zM7,52h3v6h-3z"></path></g></g></svg>
                </div>
                <div class="take_attendance_btn_text flx">CCTV attendance</div>
            </a>
            {% endcomment %}

            <div class="take_attendance_btn disable">
                <div class="take_attendance_btn_fafa_div flx mr5">
                    <svg width="128" height="128" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0,0,256,256"><g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(4,4)"><path d="M17.64844,0.00781c-2.18763,-0.09608 -4.18412,1.23993 -4.92969,3.29883c-1.7531,4.8683 -0.59922,1.66339 -5.41992,15.05469c-0.44925,1.24786 -0.38432,2.62308 0.1805,3.82306c0.56482,1.19998 1.58326,2.12639 2.83122,2.57538l14.54883,5.23633l-1.24023,3.83594c-0.16582,0.51278 0.10454,1.06473 0.61133,1.24805l0.9707,0.34961l-5.37891,16.57031h-7.82227v-1c0,-0.55228 -0.44772,-1 -1,-1h-4v-3c0,-0.55228 -0.44772,-1 -1,-1h-5c-0.55228,0 -1,0.44772 -1,1v16c0,0.55228 0.44772,1 1,1h5c0.55228,0 1,-0.44772 1,-1v-3h4c0.55228,0 1,-0.44772 1,-1v-1h11.44922c0.43333,-0.00017 0.8173,-0.27927 0.95117,-0.69141l6.45117,-19.8457l0.9082,0.32617c0.25468,0.09211 0.53583,0.07699 0.77916,-0.04191c0.24333,-0.1189 0.42803,-0.33142 0.51185,-0.58895l1.22266,-3.77148l15.55469,5.59961c0.2494,0.09021 0.52445,0.07749 0.76445,-0.03537c0.24,-0.11286 0.42524,-0.31657 0.51485,-0.56619l1.01563,-2.82227l4.70508,1.69336c0.10833,0.03918 0.2227,0.05901 0.33789,0.05859c0.42149,0.00009 0.79789,-0.26385 0.94141,-0.66016l2.70898,-7.52734c0.08993,-0.24941 0.07707,-0.52434 -0.03575,-0.76427c-0.11282,-0.23993 -0.31636,-0.4252 -0.56581,-0.51502l-4.70508,-1.69531l0.91992,-2.55273l7.18945,-5.65625c0.28486,-0.22476 0.42553,-0.58625 0.36752,-0.94444c-0.05801,-0.35819 -0.30558,-0.6568 -0.64682,-0.78017l-44.22266,-15.92187c-0.47234,-0.16938 -0.96745,-0.26682 -1.46875,-0.28906zM17.35547,2.00195c0.36906,-0.00848 0.73652,0.05111 1.08398,0.17578l42.52344,15.31055l-5.56055,4.37305l-41.81641,-15.05469l1.01562,-2.82031c0.42082,-1.16615 1.51452,-1.95424 2.75391,-1.98437zM12.90625,8.68945l41.40039,14.9043c-2.5557,7.0998 -2.18159,6.05807 -4.74219,13.17188l-38.57812,-13.88867c-1.5577,-0.56196 -2.36546,-2.27977 -1.80469,-3.83789zM14.66211,11.51953c-0.48582,0.01285 -0.89206,0.37313 -0.96288,0.85393c-0.07082,0.4808 0.21429,0.94291 0.67577,1.09529l7.52734,2.71094c0.10832,0.03919 0.2227,0.05903 0.33789,0.05859c0.48463,-0.00137 0.89852,-0.35004 0.98217,-0.8274c0.08365,-0.47736 -0.18704,-0.94599 -0.64233,-1.11205l-7.52734,-2.71094c-0.12434,-0.04863 -0.25716,-0.07188 -0.39062,-0.06836zM25.01172,15.24414c-0.48582,0.01286 -0.89205,0.37313 -0.96287,0.85393c-0.07082,0.4808 0.21429,0.9429 0.67576,1.09529l1.88086,0.67969c0.10894,0.0394 0.22399,0.05924 0.33984,0.05859c0.48463,-0.00137 0.89852,-0.35004 0.98217,-0.8274c0.08365,-0.47736 -0.18704,-0.94599 -0.64233,-1.11205v-0.00195l-1.88281,-0.67578c-0.1242,-0.0493 -0.25703,-0.07321 -0.39062,-0.07031zM54.83203,28.03516l3.76367,1.35547l-2.03125,5.64453l-3.76367,-1.35547zM26.74219,30.67383c3.9622,1.4266 2.70624,0.97491 5.64844,2.03711l-0.92187,2.8457l-5.65039,-2.0293zM27.08398,36.10938c1.4075,0.5036 0.88477,0.31588 1.88477,0.67578l-6.24609,19.21484h-10.72266v-2h8.55078c0.43333,-0.00017 0.8173,-0.27927 0.95117,-0.69141zM2,48h3v14h-3zM7,52h3v6h-3z"></path></g></g></svg>
                </div>
                <div class="take_attendance_btn_text flx">CCTV attendance</div>
            </div>


<!---->
            <div class="flx a-i-c cp assignee-a-hover dn" title="Add new assignee">
                <div class="ppcontainer a-i-c j-c-c">
                    <div class="ppint profilepicintcndcndadd"
                         id="profilepicintcndcndadd"
                         onclick="showaddassignee('Attendance for')">+
                    </div>
                </div>
            </div>

            <div class="add-assignee-input-div a-s-c flx flxc zi102 dn" id="add-assignee-input-div-">
                <div class="add-assignee-wrapper">
                    <div class="flx p10 bdrb a-i-c">
                        <div class="add-assignee-header">Add assignee</div>
                        <div class="mla cp close-add-assignee" tabindex="0"
                             onclick="hideaddassignee()">&times;
                        </div>
                    </div>
                    <div class="flx p10" title="Add assignee by username" id="add-assignee-input-div-inner">
                        <div class="a-s-c w100 bdr p5 flx">
                            <input autocomplete="off"
                                   class="add-assignee-input p5 w100 input-no-focus input-box-no-border"
                                   data-counter=""
                                   id="add-assignee--input"
                                   name="username"
                                   placeholder="Type a Username"
                                   type="text">
                            <div class="add-assignee-clear dn" data-counter="">×</div>
                        </div>
                    </div>
                    <div class="flx p-c-c">
                        <div style="display: none;" class="add-assignee-drop-down-div" id="usernames"></div>
                    </div>
                    <div class="add-assignee-selected-div" id="assignee-selected"></div>
                    <div class="flx bdrt p10 j-c-f-e">
                        <button class="a-d-btn btn-danger bdrn cp e-u-p-detail add-assignee-btn"
                                data-counter=""
                                data-job_id="{{ item.job_id }}"
                                id="add-assignee-"
                                tabindex="0">
                            Next
                        </button>
                    </div>
                </div>
            </div>
<!---->



        </div>


        <!--        <div class="flx w90 ma bdr student_attendance_frm_container">-->
        <!--            {% include 'app_smart_attendance/html/take_attendance_form.html' %}-->
        <!--        </div>-->

        <div class="take_attendance p10 bdr cp wfc w80 dn">Take attendance</div>

        <!--camera overlay container start-->
        <div class="flx w100 bdr a-i-c j-c-c flxc dn student_register_video_container">
            <div class="flx flxw " id="recordVideoContainer">
                <div id="cnd-vr-record-container-div">
                    <video class="mirror" autoplay id="cnd-vr-record" playsinline width="70%"></video>
                </div>
                <div class="flx" id="vr-record-btn-container">
                    <div class="flx w100 j-c-c a-i-c flxc">
                        <div class="input-group  cam_dropdown_div">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle cam-list-btn" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cams
                                </button>
                                <div class="cam-list dropdown-menu"></div>
                            </div>
                            <input type="text" class="cam-input form-control"
                                   aria-label="Text input with dropdown button"
                                   readonly>
                        </div>
                        <div class="all_btn_container">
                            <button type="submit" class="ct_luein-modal-button finish ">Start</button>
                            <button type="cancel" class="ct_luein-modal-button cancel ">Back</button>

                            <button class="vrrbtn dn" id="btn-start-recording">Start</button>
                            <button class="vrrbtn dn" disabled id="btn-stop-recording">Stop</button>
                            <button class="vrrbtn dn" disabled id="btn-upload-recording">Submit</button>
                            <button class="vrrbtn dn" disabled id="btn-cancel-recording">Cancel</button>
                            <button class="button dn" id="toggle">
                                <span class="icon">
                                    <i class="fas fa-sync-alt"></i>
                                </span>
                                <span>Switch camera</span>
                            </button>
                        </div>
                        <!--                        <button class="button" id="btnChangeCamera">-->
                        <!--                            <span class="icon">-->
                        <!--                              <i class="fas fa-sync-alt"></i>-->
                        <!--                            </span>-->
                        <!--                            <span>Switch camera</span>-->
                        <!--                        </button>-->

                    </div>
                </div>
            </div>
        </div>
        <!--camera overlay container end-->

    </div>

</div>


<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>


{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/js/take_attendance.js' %}</script>

<!--<script>{% include 'app_smart_attendance/js/student_register.js' %}</script>-->
<script>{% include 'app_smart_attendance/js/take_attendance_class_list_fill_modal.js' %}</script>
<script>{% include 'app_smart_attendance/module/take_attendance_cctv/js/take_attendance_cctv_list_fill_modal.js' %}</script>


<!--geolocation start-->
<script>{% include 'snippets/js_files/geo_location_sample.js' %}</script>
<style>{% include 'snippets/js_files/geo_location_sample.css' %}</style>
<!--load dynamic google location js-->
{% include 'app_smart_attendance/module/geolocation/html/google_geolocation.html' %}
<!--geolocation end-->


<script>{% include 'snippets/js_files/utility/subtractTwoArrays.js' %}</script>

<style>{% include 'snippets/js_files/add_assignee/add_assignee.css' %}</style>
<script>{% include 'snippets/js_files/add_assignee/add_assignee.js' %}</script>


{% endblock %}



