<form class="w100 p10" action="javascript:void(0);" id="take_attendance_frm">
    <div class="flx flxc partitioned_form">
        <div class="form-left">
            <div class="flx flxc">



                On Class attendance selection
                <h4>Attendance taker</h4>
                <select class="mb10">
                    <option>teacher1</option>
                    <option>teacher2</option>
                </select>

                On Staff attendance selection
                <select class="mb10">
                    <option>Teaching staff</option>
                    <option>Non Teaching staff</option>
                </select>

                On teaching staff selection
                <select class="mb10">
                    <option>teacher1</option>
                    <option>teacher2</option>
                </select>

                On Non teaching staff selection
                <select class="mb10">
                    <option>non teacher1</option>
                    <option>non teacher2</option>
                </select>

                On other option then class selection
                <select class="mb10">
                    <option>IN</option>
                    <option>OUT</option>
                </select>

                <input type="time">


            </div>


            <div class="partitioned_form_field">
                <label class="required" for="id_role_0">User group:</label>
                <ul id="id_role">
                    <li><label for="id_role_0">
                        <input type="radio"
                               name="role"
                               value="school_admin"
                               required=""
                               id="id_role_0">
                        School Admin</label>

                    </li>
                    <li><label for="id_role_1"><input type="radio" name="role" value="teacher" required=""
                                                      id="id_role_1">
                        Teacher</label>

                    </li>
                    <li><label for="id_role_2"><input type="radio" name="role" value="non_teacher" required=""
                                                      id="id_role_2">
                        Non Teacher</label>

                    </li>
                    <li><label for="id_role_3"><input type="radio" name="role" value="student" required=""
                                                      id="id_role_3">
                        Student</label>

                    </li>
                </ul>

            </div>
            <div class="class_details dn all_detail">

                <div class="partitioned_form_field">
                    <label class="required" for="id_class">Class:</label>
                    <select name="class_name" id="id_class" required="">
                        <option value="">---Select---</option>
                    </select>
                </div>
                <div class="partitioned_form_field">
                    <label class="required" for="id_section">Section:</label>
                    <select name="section" id="id_section" required="">
                        <option value="">---Select---</option>
                    </select>
                </div>
                <div class="partitioned_form_field">
                    <label class="required" for="id_date">Date:</label>
                    <input name="date" type="date" id="id_date">
                </div>
                <div class="partitioned_form_field">
                    <label class="required" for="id_period">Period:</label>
                    <select name="period" id="id_period" required="">
                        <option value="">---Select---</option>
                    </select>
                </div>
            </div>

            <div class="flx mt20">
                <button type="reset" class="button cancel disable mla flx a-i-c " form="take_attendance_frm">Clear
                </button>
                <button type="submit" class="button submit ml5 flx  a-i-c" form="take_attendance_frm">Next</button>
            </div>
        </div>
        <div class="form-right">
        </div>
    </div>

</form>

<script>{% include 'app_smart_attendance/js/get_profiles_by_role_ajax.js' %}</script>
<script>{% include 'app_smart_attendance/js/take_attendance_form.js' %}</script>
