{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/teacher_list.css' %}</style>
<style>{% include 'app_smart_attendance/css/timesheet_overview.css' %}</style>

{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'app_smart_attendance:people' %}">People</a></li>
            <li>Staff</li>
        </ul>
    </div>


    <div class="w90 ma oa bsj br5">
        <table class="table405 teacher_list_table wsn t-a-c bcw" id="teacher_list_table">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>Staff group</th>
                <th>Is face registered</th>
                <th>Blood group</th>
                <th>Contact number</th>
                <th>Registered on</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% include 'app_smart_attendance/html/partial_teacher_list.html' %}
            </tbody>
        </table>

    </div>

</div>

<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>

{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/js/student_register.js' %}</script>

<script>{% include 'app_smart_attendance/js/teacher_list.js' %}</script>
<script>{% include 'app_smart_attendance/js/teacher_list_fill_modal.js' %}</script>

{% endblock %}



