{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_smart_attendance/css/teacher_detail.css' %}</style>

{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'app_smart_attendance:people' %}">People</a></li>
            <li><a href="{% url 'app_smart_attendance:teacher_list' %}">Staff</a></li>
            <li>Staff details</li>
        </ul>
    </div>

    <div class="oa w90 ma bsj">
        <table class="table405">
            <tbody>
            {% if object %}
            <tr>
                <th>Media ID</th>
                <td>
                    {% if object.media_id %}
                    {% if object.media_id.media_file %}
                    <video controls controlsList="nodownload" class="teacher_media_video" src="{{object.media_id.media_file.url}}"></video>
                    {% else %}
                    "No file found"
                    {% endif %}

                    {% else %}
                    "No media found"
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Staff group</th>
                <td>
                    {% if object.role == "teacher" %}
                    <div class="flx" title="Teacher">
                        <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172">
                                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                               stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                                               font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                               style="mix-blend-mode: normal">
                                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                                <g fill="#bababa">
                                                    <path d="M13.76,17.2v6.88h141.04v110.08h-89.44v6.88h92.88c1.9437,0 3.44,1.4963 3.44,3.44v3.44h-96.32v6.88h99.76c1.89978,-0.00019 3.43981,-1.54022 3.44,-3.44v-6.88c0,-4.32278 -3.07297,-7.3636 -6.88,-8.8889v-114.9511c-0.00019,-1.89978 -1.54022,-3.43981 -3.44,-3.44zM30.96,37.84c-13.25828,0 -24.08,10.82173 -24.08,24.08c0,13.25827 10.82172,24.08 24.08,24.08c13.25828,0 24.08,-10.82173 24.08,-24.08c0,-13.25827 -10.82172,-24.08 -24.08,-24.08zM68.8,37.84v6.88h3.44h34.4h3.44v-6.88h-3.44h-34.4zM120.4,37.84v6.88h3.44h17.2h3.44v-6.88h-3.44h-17.2zM30.96,44.72c9.54005,0 17.2,7.65995 17.2,17.2c0,9.54005 -7.65995,17.2 -17.2,17.2c-9.54005,0 -17.2,-7.65995 -17.2,-17.2c0,-9.54005 7.65995,-17.2 17.2,-17.2zM68.8,55.04v6.88h3.44h68.8h3.44v-6.88h-3.44h-68.8zM97.56297,74.79313c-0.76668,-0.01314 -1.53116,0.04872 -2.28437,0.1814c-3.01286,0.53075 -5.82575,2.21465 -7.68625,4.9114l-13.27625,19.23578l-12.49016,-4.16562c-4.12584,-1.37654 -8.44686,-2.0761 -12.7925,-2.0761h-24.95344c-11.35759,0 -20.64,9.28241 -20.64,20.64v41.28h6.88v-41.28c0,-7.63809 6.12191,-13.76 13.76,-13.76h24.95344c3.60764,0 7.19411,0.57845 10.61563,1.72l14.9425,4.98531c1.45175,0.48282 3.04791,-0.05106 3.91703,-1.31016l14.74765,-21.36562c1.59037,-2.30521 4.64885,-2.8445 6.92703,-1.22281c0,0.00224 0,0.00448 0,0.00672c2.22509,1.58201 2.75714,4.56675 1.20937,6.81953l-19.51125,28.40688c-0.84764,1.22806 -2.35408,1.77148 -3.78937,1.35719l-22.09797,-6.38281c-1.03877,-0.29971 -2.158,-0.09369 -3.02196,0.55626c-0.86396,0.64995 -1.37214,1.66822 -1.3721,2.74936v38.72015h6.88v-34.14469l17.7039,5.11297c4.25909,1.22937 8.85758,-0.41893 11.36813,-4.07156c0.00224,0 0.00448,0 0.00672,0l19.50453,-28.40687v-0.00672c3.62837,-5.28729 2.33514,-12.6055 -2.88906,-16.31985c-2.00174,-1.42491 -4.31122,-2.13074 -6.61125,-2.17015z"></path>
                                                </g>
                                            </g>
                                        </svg>
                    </div>
                    {% elif object.role == "non_teacher" %}
                    <div class="flx" title="Non-Teacher">
                        <svg width="32" height="32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 172 172"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#bababa"><path d="M115.5625,104.8125h-1.87391l-7.38525,-4.9235c-0.44356,-0.28732 -0.9624,-0.43658 -1.49084,-0.42887v-6.79894c4.65998,-3.85951 8.02603,-9.05373 9.64525,-14.88378c6.74256,-0.78741 11.83329,-6.48906 11.85475,-13.27741v-2.6875c-0.00958,-3.07715 -1.77308,-5.87945 -4.54319,-7.21938c1.22553,-3.74246 1.85182,-7.65511 1.85569,-11.59312v-5.375c-0.01989,-17.80294 -14.44706,-32.23011 -32.25,-32.25h-10.75c-17.80294,0.01989 -32.23011,14.44706 -32.25,32.25v5.375c0.00387,3.93801 0.63017,7.85066 1.85569,11.59312c-2.77011,1.33993 -4.53362,4.14223 -4.54319,7.21938v2.6875c0.02146,6.78835 5.11219,12.49 11.85475,13.27741c1.61922,5.83004 4.98527,11.02427 9.64525,14.88378v6.79937c-0.52822,-0.00682 -1.04674,0.14221 -1.49073,0.42847l-7.38536,4.92347h-1.87391c-22.2539,0.02431 -40.28819,18.0586 -40.3125,40.3125v18.8125c-0.00041,0.71289 0.28261,1.39671 0.7867,1.9008c0.50409,0.50409 1.1879,0.78711 1.9008,0.7867h134.375c0.71289,0.00041 1.39671,-0.28261 1.9008,-0.7867c0.50409,-0.50409 0.78711,-1.1879 0.7867,-1.9008v-18.8125c-0.02431,-22.2539 -18.0586,-40.28819 -40.3125,-40.3125zM109.88569,108.73878l-4.1835,20.92786l-15.40849,-11.55574l14.72089,-12.62114zM85.24858,134.375h1.50285l8.95851,26.875h-19.41987zM89.85277,129h-7.70555l-1.86308,-3.10514l5.71586,-4.2868l5.71586,4.2868zM120.9375,64.5c-0.01151,3.44819 -2.21868,6.50581 -5.48788,7.6024c0.05544,-0.73783 0.11288,-1.47565 0.11288,-2.2274v-10.75h2.6875c1.48365,0.00148 2.68602,1.20385 2.6875,2.6875zM53.75,37.625c0.01697,-14.83562 12.03938,-26.85803 26.875,-26.875h10.75c14.83562,0.01697 26.85803,12.03938 26.875,26.875v5.375c-0.00799,3.66477 -0.64528,7.30095 -1.88407,10.75h-2.68667c-3.29876,-2.99721 -5.50216,-7.01018 -6.26061,-11.4022c-0.17256,-0.69123 -0.61268,-1.28559 -1.22351,-1.65228c-0.61083,-0.36669 -1.34233,-0.47567 -2.03352,-0.30296c-5.95339,1.4643 -12.03673,2.33768 -18.16161,2.60744c-6.12489,-0.26976 -12.20822,-1.14314 -18.16161,-2.60744c-1.43903,-0.3575 -2.89595,0.5171 -3.25704,1.95524c-0.75772,4.39031 -2.95769,8.40263 -6.25185,11.4022h-2.69543c-1.23879,-3.44905 -1.87608,-7.08523 -1.88407,-10.75zM51.0625,64.5v-2.6875c0.00148,-1.48365 1.20385,-2.68602 2.6875,-2.6875h2.6875v10.75c0,0.75175 0.05741,1.48957 0.11288,2.2274c-3.26923,-1.09655 -5.47642,-4.15419 -5.48788,-7.6024zM61.8125,69.875v-12.01896c3.52569,-3.08047 6.05386,-7.14135 7.26203,-11.66464c5.55836,1.27109 11.2265,2.00235 16.92547,2.18359c5.69897,-0.18124 11.36711,-0.9125 16.92547,-2.18359c1.20817,4.52329 3.73634,8.58417 7.26203,11.66464v12.01896c0,13.35839 -10.82911,24.1875 -24.1875,24.1875c-13.35839,0 -24.1875,-10.82911 -24.1875,-24.1875zM86,99.4375c4.67518,-0.00183 9.28225,-1.12069 13.4375,-3.2634v7.02053l-13.4375,11.51785l-13.4375,-11.51785v-7.02056c4.15525,2.14272 8.76232,3.26159 13.4375,3.26343zM66.9854,105.48975l14.72089,12.62128l-15.40835,11.55561l-4.18363,-20.92786zM21.5,145.125c0.02229,-19.28621 15.65129,-34.91521 34.9375,-34.9375h0.48456l4.94293,24.71503c0.18067,0.90503 0.81336,1.6539 1.6755,1.9832c0.86214,0.32929 1.83296,0.19288 2.57096,-0.36126l9.84969,-7.38716l2.35963,3.93332c0.31008,0.50395 0.77876,0.89065 1.33244,1.09935l-9.02678,27.08003h-27.62642v-13.4375c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875v13.4375h-16.125zM150.5,161.25h-16.125v-13.4375c0,-1.48427 -1.20323,-2.6875 -2.6875,-2.6875c-1.48427,0 -2.6875,1.20323 -2.6875,2.6875v13.4375h-27.62643l-9.02669,-27.08003c0.55368,-0.2087 1.02236,-0.59539 1.33244,-1.09935l2.35962,-3.93332l9.84969,7.38716c0.73795,0.55434 1.70886,0.69087 2.57107,0.36155c0.86221,-0.32932 1.49489,-1.07834 1.67539,-1.98348l4.94285,-24.71503h0.48456c19.28621,0.02229 34.91521,15.65129 34.9375,34.9375z"></path></g></g></svg>
                    </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <td class="t-t-c">{{object.user.first_name}}</td>
            </tr>
            <tr>
                <th>Blood group</th>
                <td class="t-t-u">{{object.blood_group}}</td>
            </tr>
            <tr>
                <th>Profile ID</th>
                <td>{{object.profile_id}}</td>
            </tr>
            <tr>
                <th>School ID</th>
                <td>
                    <a class="flx wfc" href="{% url 'app_root:school_detail' object.school_id.school_id %}">
                        <div class="bdr t-a-c wfc p5">{{object.school_id.name}}, {{object.school_id.branch}}</div>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Profile Picture</th>
                <td>{{object.profile_picture}}</td>
            </tr>

            <tr>
                <th>Contact Number</th>
                <td>{{object.contact_number}}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{object.gender}}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{object.address}}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{object.city}}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{object.state}}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{object.country}}</td>
            </tr>
            <tr>
                <th>Postal Code</th>
                <td>{{object.postal_code}}</td>
            </tr>
            <tr>
                <th>View Count</th>
                <td>{{object.view_count}}</td>
            </tr>
            {% else %}
            "No data found"
            {% endif %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block javascript %}
<script>{% include 'app_smart_attendance/js/teacher_detail.js' %}</script>
{% endblock %}



