{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}
{% load template_tags %}

{% block head %}
<!--<style>{% include 'snippets/js_files/luein-datepicker/dist/css/datepicker.min.css' %}</style>-->
<!--&lt;!&ndash;Include to fix datepicker css&ndash;&gt;-->
<!--<style>{% include 'snippets/js_files/luein-datepicker/luein-datepicker-sam-fix.css' %}</style>-->


<style>{% include 'app_smart_attendance/css/timesheet_overview.css' %}</style>
{% endblock %}

{% block content %}
<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'app_smart_attendance:attendance' %}">Timesheet</a></li>
            <li>Other</li>
        </ul>
    </div>

    <div class="control_container">
        <div class="flx a-i-c p5 date_range_type_div">
            <select class="date_range_type p5">
                <option value="day" data-url="{{day_url}}">Daily Timesheet</option>
                <option value="week" data-url="{{week_url}}">Weekly Timesheet</option>
                <option value="month" data-url="{{month_url}}">Monthly Timesheet</option>
            </select>
        </div>

        <div class="flx calendar_div">
            <button class="left_btn" type="button">
                <a class="flx" href="{{previous_url}}">
                    <svg width="24px" height="24px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                        <g fill="#bababa"
                           fill-rule="nonzero"
                           stroke="none"
                           stroke-width="1"
                           stroke-linecap="butt"
                           stroke-linejoin="miter"
                           stroke-miterlimit="10"
                           stroke-dasharray=""
                           stroke-dashoffset="0"
                           font-family="none"
                           font-weight="none"
                           font-size="none"
                           text-anchor="none"
                           style="mix-blend-mode: normal">
                            <g
                                    transform="scale(5.12,5.12)">
                                <path d="M34,5l-22,21l22,21z"></path>
                            </g>
                        </g>
                    </svg>
                </a>
            </button>

            <button class="calendar_text" type="button">
                <span class="flx a-i-c">
                    <span class="mr5"> {{start_date|date:'d M'}} - {{end_date|date:'d M'}} </span>
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"> <path
                                fill-rule="evenodd" clip-rule="evenodd"
                                d="M3 5.56447C3 5.01218 3.44772 4.56447 4 4.56447H20.0001C20.5524 4.56447 21.0001 5.01218 21.0001 5.56447V19.9994C21.0001 20.5516 20.5524 20.9994 20.0001 20.9994H4C3.44772 20.9994 3 20.5516 3 19.9994V5.56447Z"
                                stroke="#808080" class="icon-jibble-stroke" stroke-linecap="round"
                                stroke-linejoin="round"/>
                            <path class="icon-jibble-stroke" d="M6.91333 3V6.91307"
                                  stroke="#808080" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <path
                                    class="icon-jibble-stroke" d="M17.0868 3V6.91307" stroke="#808080"
                                    stroke-linecap="round" stroke-linejoin="round"/>
                            <path class="icon-jibble-stroke"
                                  d="M3 8.47855H21.0001"
                                  stroke="#808080"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </span>
                </span>
                <input class="dn" type='date' id='weeklyDatePicker' placeholder="Select Week"/>
            </button>

            {% if is_next_url_valid %}
            <button class="right_btn" type="button">
                <a class="flx" href="{{next_url}}">
                    <svg width="24px" height="24px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                        <g fill="#bababa"
                           fill-rule="nonzero"
                           stroke="none"
                           stroke-width="1"
                           stroke-linecap="butt"
                           stroke-linejoin="miter"
                           stroke-miterlimit="10"
                           stroke-dasharray=""
                           stroke-dashoffset="0"
                           font-family="none"
                           font-weight="none"
                           font-size="none"
                           text-anchor="none"
                           style="mix-blend-mode: normal">
                            <g
                                    transform="scale(5.12,5.12)">
                                <path d="M16,5v42l22,-21z"></path>
                            </g>
                        </g>
                    </svg>
                </a>
            </button>
            {% else %}
            <button class="right_btn c-n-a" type="button" disabled="disabled">
                <svg width="24px" height="24px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                    <g fill="#bababa"
                       fill-rule="nonzero"
                       stroke="none"
                       stroke-width="1"
                       stroke-linecap="butt"
                       stroke-linejoin="miter"
                       stroke-miterlimit="10"
                       stroke-dasharray=""
                       stroke-dashoffset="0"
                       font-family="none"
                       font-weight="none"
                       font-size="none"
                       text-anchor="none"
                       style="mix-blend-mode: normal">
                        <g
                                transform="scale(5.12,5.12)">
                            <path d="M16,5v42l22,-21z"></path>
                        </g>
                    </g>
                </svg>
            </button>
            {% endif %}


        </div>

        <button class="export_btn" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
                <path d="M3 15V21H21L21 15" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"
                      class="icon-jibble-stroke"/>
                <path d="M12 14.9997L12 3" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"
                      class="icon-jibble-stroke"/>
                <path d="M8 11L11.7269 14.887C11.7959 14.9588 11.8953 15 11.9996 15C12.104 15 12.2033 14.9588 12.2724 14.887L16 11"
                      stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round" class="icon-jibble-stroke"/>
            </svg>
            <span> Export </span>
        </button>
    </div>
    <div class="oa pb20 ">
        <div class="v-application">
            <table class="table406">
                <thead>
                <tr>
                    <th class=" secondary lighten-5 ">
                        <div class="table_search">
                            <div class="table_search_btn_div">
                                <button class="table_search_btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"
                                         fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M8.82609 16.6522C13.1483 16.6522 16.6522 13.1483 16.6522 8.82609C16.6522 4.50386 13.1483 1 8.82609 1C4.50386 1 1 4.50386 1 8.82609C1 13.1483 4.50386 16.6522 8.82609 16.6522Z"
                                              stroke="grey" stroke-linecap="round" stroke-linejoin="round"
                                              class="icon-jibble-stroke"/>
                                        <path d="M18.9999 19.0004L14.3599 14.3604" stroke="grey" stroke-linecap="round"
                                              stroke-linejoin="round" class="icon-jibble-stroke"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="table_search_input_div">
                                <input class="table_search_input" type="text" placeholder="Search...">
                            </div>
                        </div>
                    </th>
                    {% for item in date_range %}
                    <th class="secondary lighten-5 caption py-3 text-center">
                        <div>{{item.day}}</div>
                        <div>{{item.date}}</div>
                    </th>
                    {% endfor %}
                    <th class="secondary lighten-5 font-weight-regular body-2 text-center dn">
                        Total
                    </th>
                </tr>

                </thead>
                <tbody>
                {% for p in people %}
                <tr>
                    <td>
                        <div class="table_user_detail" data-id="{{p.profile_id}}">
                            <div class="table_user_avatar">
                                {% if p.profile_picture %}
                                <div class="at_img_div">
                                    <img class="at_img" src="{{p.profile_picture}}">
                                </div>
                                {% else %}
                                <div class="at_fafa_div">
                                    <svg width="50" height="50" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256">
                                        <g fill="#bababa" fill-rule="nonzero" stroke="none" stroke-width="1"
                                           stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                           stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                           font-weight="none"
                                           font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                                            <g transform="scale(2,2)">
                                                <path d="M64,1c-34.74,0 -63,28.26 -63,63c0,12.01 3.39055,23.68953 9.81055,33.76953c0.89,1.4 2.73867,1.80992 4.13867,0.91992c1.4,-0.89 1.80992,-2.73867 0.91992,-4.13867c-5.8,-9.12 -8.86914,-19.69078 -8.86914,-30.55078c0,-31.43 25.57,-57 57,-57c31.43,0 57,25.57 57,57c0,10.96 -3.11953,21.60906 -9.01953,30.78906c-0.9,1.39 -0.48961,3.25039 0.90039,4.15039c0.5,0.32 1.05914,0.48047 1.61914,0.48047c0.99,0 1.9493,-0.49086 2.5293,-1.38086c6.52,-10.15 9.9707,-21.91906 9.9707,-34.03906c0,-34.74 -28.26,-63 -63,-63zM64,31c-12.68,0 -23,10.32 -23,23c0,12.68 10.32,23 23,23c12.68,0 23,-10.32 23,-23c0,-12.68 -10.32,-23 -23,-23zM64,37c9.37,0 17,7.63 17,17c0,9.37 -7.63,17 -17,17c-9.37,0 -17,-7.63 -17,-17c0,-9.37 7.63,-17 17,-17zM64,88.59766c-15.255,0 -30.50914,5.80688 -42.11914,17.42187c-0.04,0.04 -0.07156,0.07133 -0.10156,0.11133l-0.28906,0.31836c-1.11,1.23 -1.02102,3.12023 0.20898,4.24023c11.6,10.52 26.62078,16.31055 42.30078,16.31055c15.68,0 30.70078,-5.79031 42.30078,-16.32031c1.23,-1.11 1.31899,-3.01024 0.20899,-4.24024l-0.15039,-0.15039c-0.07,-0.09 -0.16024,-0.18953 -0.24024,-0.26953c-11.61,-11.615 -26.86414,-17.42187 -42.11914,-17.42187zM64,94.59766c12.8425,0 25.68484,4.57742 35.83984,13.73242c-10.12,8.19 -22.72984,12.66992 -35.83984,12.66992c-13.11,0 -25.71984,-4.47992 -35.83984,-12.66992c10.155,-9.155 22.99734,-13.73242 35.83984,-13.73242z"></path>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                {% endif %}
                                {% if p.username == request.user.username %}
                                <div class="small flx t-a-l">(You)</div>
                                {% endif %}
                            </div>
                            <div class="table_user_info">
                                <div class="table_user_name t-t-c">
                                    {{p.first_name}} {{p.last_name}}
                                </div>
                                <div class="table_user_name_caption t-t-c">
                                    {% if p.father_name %}
                                    {{p.father_name}}
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </td>
                    {% for item in p.data %}
                    <td>
                        <div class="in_out_div">
                            {% if item.is_continuous %}
                            <div class="flx a-i-c j-c-s-b a-s-c mb5">
                                <div class="green" title="Checked-in since {{item.previous_last_check_in_date}}">O</div>
                            </div>
                            {% endif %}
                            {% if item.first_check_in or item.last_check_out %}

                            <div class="flx a-i-c j-c-s-b" title="First check-in: {{item.first_check_in}}">
                                {% if item.first_check_in %}
                                <span class="check_in_span small flx wfc">(IN)</span>
                                <span class="pl5 pr5">{{item.first_check_in}}</span>
                                {% endif %}
                            </div>
                            <div class="flx a-i-c mt5 j-c-s-b" title="Last check-out: {{item.last_check_out}}">
                                {% if item.last_check_out %}
                                <span class="check_out_span small flx wfc">(OUT)</span>
                                <span class="pl5 pr5">{{item.last_check_out}}</span>
                                {% endif %}
                            </div>
                            {% else %}
                            {% if not item.is_continuous %}
                            <div class="ma">-</div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </td>
                    {% endfor %}
                    <td class="dn"></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</div>


<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>


{% endblock %}

{% block javascript %}
<!--<script>{% include 'snippets/js_files/luein-datepicker/dist/js/datepicker.min.b.js' %}</script>-->
<!--&lt;!&ndash; Include English language &ndash;&gt;-->
<!--<script>{% include 'snippets/js_files/luein-datepicker/dist/js/i18n/datepicker.en.js' %}</script>-->
<!--&lt;!&ndash;Include to fix datepicker js&ndash;&gt;-->
<!--<script>{% include 'snippets/js_files/luein-datepicker/luein-datepicker-sam-fix.js' %}</script>-->


<script>{% include 'app_smart_attendance/js/timesheet_overview.js' %}</script>
{% endblock %}



