{% load static %}

/* login mobile css start */
.modal-body{
    padding: 20px 20px;
}
.login_container{
    height: calc(100vh - 50px);
}
.login_head{
    position: absolute;
 display:flex;
 padding:5px;
 color:#666;
 font-size:22px;
 left:20px;
 top:10px;
}

.login_container .modal-content{
    box-shadow: none;
    width:100%;
}
.login_container .modal{
    background-color: #fff0;
    position:inherit;
    overflow: inherit;
    height: 100%;
    display: flex!important;
    align-self: center;
    padding: 0 0 20px 0;
}
.login_container .modal-header{
    background-color: #fff0;
    color: #405;
}
.login_container .modal-footer{
    background-color: #fff0;
}

.login_image_container{
    place-items: center;
    position:relative;
    padding: 20px 0 20px 20px;
    /*
    background-image:url("{% static 'website/images/login_image.png' %}");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    */
}
.login_image_container img{
   max-height:100%;
}
.p-p-container{
    height:100%;
    transition: all 500ms ease-out;
}
.arrow_div{
    padding:20px;
    cursor:pointer;
}
.left_arrow{
    left:10px;
}
.right_arrow{
    right:10px;
}
.image_slide_dot_container{
    display:flex;
    align-items: center;
}
.image_slide_dot{
    display:flex;
    width: 10px;
    height: 10px;
    margin: 20px 5px;
    padding: 5px;
    border-radius: 50%;
    background: #d8cced;
    cursor: pointer;
    transition: all 300ms ease-out;
}
.image_slide_dot.active{
    background: #405;
}


@media screen and (max-width: 1024px) {
    .modal-content{
        width:100%;
    }
}

@media screen and (max-width: 875px) {
    .modal-content{
        width:100%;
    }
}

@media screen and (max-width: 768px) {
    .modal-content{
        width:95%
    }
}

@media screen and (max-width: 425px) {
    .login_image_container{
        display:none;
    }
    .login_container .modal{
        width:100%;
    }
}

/* login mobile css end */
