
/* login mobile css start */
.modal-body{
    padding: 20px 20px;
}

@media screen and (max-width: 1024px) {
    .modal-content{
        width:50%
    }
}

@media screen and (max-width: 875px) {
    .modal-content{
        width:70%
    }
}

@media screen and (max-width: 768px) {
    .modal-content{
        width:95%
    }
}
/* login mobile css end */
