{% extends "base.html" %}


{% block title %}

    {% load static %}
    {% if user.is_authenticated %}
        {% if user.groups.all.0.name == "teacher" %}
            Teacher Home - Manage Profile, Associated Students - {{ block.super }}
        {% endif %}
    {% else %}
        {{ block.super }} - Smart Attendance
    {% endif %}

{% endblock %}


{% block head %}

<style>{% include 'app_root/css/home-page.css' %}</style>

{% endblock %}


{% block content %}

{% if user.is_authenticated %}

<!--If User is in LH Admin-->
{% if request.user.is_superuser %}
<meta content="0;url={% url 'app_root:school_list' %}" http-equiv="REFRESH">
{% endif %}

<!--If User is in admin Group-->
{% if user.groups.all.0.name == "admin" or user.profile.role == "admin" %}
<meta content="0;url={% url 'app_root:school_list' %}" http-equiv="REFRESH">
{% endif %}

<!--If User is in school admin Group-->
{% if user.groups.all.0.name == "school_admin" or user.profile.role == "school_admin" %}
    <meta content="0;url={% url 'app_root:dashboard_view' %}" http-equiv="REFRESH">

{% endif %}

<!--If User is in teacher Group-->
{% if user.groups.all.0.name == "teacher" or user.profile.role == "teacher" %}
<meta content="0;url={% url 'app_smart_attendance:student_register' %}" http-equiv="REFRESH">
{% endif %}

<!--If User is in non teacher Group-->
{% if user.groups.all.0.name == "non_teacher" or user.profile.role == "non_teacher" %}
<meta content="0;url={% url 'app_smart_attendance:student_register' %}" http-equiv="REFRESH">
{% endif %}

<!--If User is in student Group-->
{% if user.groups.all.0.name == "student" or user.profile.role == "student" %}
<meta content="0;url={% url 'app_smart_attendance:attendance' %}" http-equiv="REFRESH">
{% endif %}

<!--If user is not logged in-->
{% else %}
<div class="home-page-container w80-100" id="home-page-container">
    <div class="w80 ma t-a-c mh70vh flx flxc j-c-c">

        <div class="flx flxc">
            <div class="p10 head_text">
                SMART Attendance Management System
            </div>
            <div class="c6 p10 fs16">
                Face Recognition, Geo-Location and A.I. Assisted
            </div>
        </div>
        <div class="flx flxc">

            <a class="pwa_btn" id="installApp" style="display:none;" title="Add to home screen">
              <div id="title">Add to home screen</div>
            </a>
            <a class="pwa_btn" id="openApp" style="display:none;" href="{{request.api_url}}" target="_blank" title="Open in App">
                Open in app
            </a>

            <a class="pwa_btn " id="openApp" style="display:none;" href="{{request.api_url}}" target="_blank" title="Open in App">
                Open in app
            </a>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    {% include 'app_root/js/home.js'%}
</script>
{% endblock %}