<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Update school
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body">
    <form method="post" action="{% url 'app_root:school_update' form.instance.school_id %}" class="js_school_update_form" id="school_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10">
            {% include 'app_root/html/partial_school_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <!-- Use buttons as per need-->
    <button type="submit" class="luein-modal-button submit" form="school_crud_form">Update</button>
    <button class="luein-modal-button cancel">Close</button>
</div>
<script>{% include 'app_root/js/school_list_submit.js' %}</script>
<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>