
<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        {% if object.organisation_type == "company" or object.organisation_type == "anganwadi" %}
        Register Admin
        {% elif object.organisation_type == "school" %}
        Register School Admin
        {% endif %}
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form method="post" action="{% url 'app_root:register_school_admin_view' school_id %}" class="js_register_user_create_form" id="register_user_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10 w100">
            {% include 'app_root/html/partial_register_school_admin_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="register_user_crud_form">Create</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>
<script>{% include 'app_root/js/register_school_admin_list_submit.js' %}</script>
<script>{% include 'snippets/luein-modal/luein-modal-close.js' %}</script>


