{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx partitioned_form">
    <div class="form-left">
        <div class="partitioned_form_field">
            {{ form.organisation_type.label_tag }}
            {{ form.organisation_type }}
            {% if form.organisation_type.errors %}
            <span class="errorspan">{{ form.organisation_type.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.name.label_tag }}
            {{ form.name }}
            {% if form.name.errors %}
            <span class="errorspan">{{ form.name.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ form.branch.label_tag }}
            {{ form.branch }}
            {% if form.branch.errors %}
            <span class="errorspan">{{ form.branch.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.address.label_tag }}
            {{ form.address }}
            {% if form.address.errors %}
            <span class="errorspan">{{ form.address.errors }}</span>
            {% endif %}
        </div>

    </div>

    <div class="form-right">

        <div class="partitioned_form_field">
            {{ form.city.label_tag }}
            {{ form.city }}
            {% if form.city.errors %}
            <span class="errorspan">{{ form.city.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.state.label_tag }}
            {{ form.state }}
            {% if form.state.errors %}
            <span class="errorspan">{{ form.state.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.country.label_tag }}
            {{ form.country }}
            {% if form.country.errors %}
            <span class="errorspan">{{ form.country.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.postal_code.label_tag }}
            {{ form.postal_code }}
            {% if form.postal_code.errors %}
            <span class="errorspan">{{ form.postal_code.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ form.school_logo.label_tag }}
            {{ form.school_logo }}
            {% if form.school_logo.errors %}
            <span class="errorspan">{{ form.school_logo.errors }}</span>
            {% endif %}
        </div>

    </div>

</div>



