<style>{% include 'app_smart_attendance/css/partial_teacher_form.css' %}</style>


{% if user_form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ user_form.non_field_errors }}
    </div>
</div>
{% endif %}

{% if profile_form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ profile_form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx partitioned_form">
    <div class="form-left">
        <div class="partitioned_form_field">
            {{ profile_form.role.label_tag }}
            {{ profile_form.role }}
            {% if profile_form.role.errors %}
            <span class="errorspan">{{ profile_form.role.errors }}</span>
            {% endif %}
        </div>


        <div class="partitioned_form_field">
            {{ user_form.username.label_tag }}
            {{ user_form.username }}
             <ul class="errorlist usernamecheck uierror dnone" id="username-check-ul">
                <li class="username-len dnone"></li>
                <li class="username-spcl dnone"></li>
                <li class="username-valid-avl dnone"></li>
            </ul>
            {% if user_form.username.errors %}
            <span class="errorspan">{{ user_form.username.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ user_form.email.label_tag }}
            {{ user_form.email }}
            <ul class="errorlist emailcheck uierror dnone" id="email-check-ul">
                <li class="email-val dnone"></li>
                <li class="email-valid-avl dnone"></li>
            </ul>
            {% if user_form.email.errors %}
            <span class="errorspan">{{ user_form.email.errors }}</span>
            {% endif %}
        </div>


        <div class="partitioned_form_field">
            {{ user_form.first_name.label_tag }}
            {{ user_form.first_name }}
            {% if user_form.first_name.errors %}
            <span class="errorspan">{{ user_form.first_name.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ user_form.last_name.label_tag }}
            {{ user_form.last_name }}
            {% if user_form.last_name.errors %}
            <span class="errorspan">{{ user_form.last_name.errors }}</span>
            {% endif %}
        </div>

        {% if is_ask_password %}
        <div class="partitioned_form_field">
            {{ user_form.password1.label_tag }}
            {{ user_form.password1 }}
            {% if user_form.password1.errors %}
            <span class="errorspan">{{ user_form.password1.errors }}</span>
            {% endif %}
        </div>
        <div class="partitioned_form_field">
            {{ user_form.password2.label_tag }}
            {{ user_form.password2 }}
            {% if user_form.password2.errors %}
            <span class="errorspan">{{ user_form.password2.errors }}</span>
            {% endif %}
        </div>
        {% endif %}

    </div>
    <div class="form-right">


        <div class="partitioned_form_field">
            {{ profile_form.gender.label_tag }}
            {{ profile_form.gender }}
            {% if profile_form.gender.errors %}
            <span class="errorspan">{{ profile_form.gender.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ profile_form.blood_group.label_tag }}
            {{ profile_form.blood_group }}
            {% if profile_form.blood_group.errors %}
            <span class="errorspan">{{ profile_form.blood_group.errors }}</span>
            {% endif %}
        </div>

        {% if profile_form.class_name.field.widget.attrs.class == 'dn' %}
        <div class="partitioned_form_field dn">
            {{ profile_form.class_name.label_tag }}
            {{ profile_form.class_name }}
            {% if profile_form.class_name.errors %}
            <span class="errorspan">{{ profile_form.class_name.errors }}</span>
            {% endif %}
        </div>
        {% else %}
        <div class="partitioned_form_field">
            {{ profile_form.class_name.label_tag }}
            {{ profile_form.class_name }}
            {% if profile_form.class_name.errors %}
            <span class="errorspan">{{ profile_form.class_name.errors }}</span>
            {% endif %}
        </div>
        {% endif %}


        {% if profile_form.section.field.widget.attrs.class == 'dn' %}
        <div class="partitioned_form_field dn">
            {{ profile_form.section.label_tag }}
            {{ profile_form.section }}
            {% if profile_form.section.errors %}
            <span class="errorspan">{{ profile_form.section.errors }}</span>
            {% endif %}
        </div>
        {% else %}
        <div class="partitioned_form_field">
            {{ profile_form.section.label_tag }}
            {{ profile_form.section }}
            {% if profile_form.section.errors %}
            <span class="errorspan">{{ profile_form.section.errors }}</span>
            {% endif %}
        </div>
        {% endif %}


    </div>

</div>

<script>{% include 'app_smart_attendance/js/get_profiles_by_role_ajax.js' %}</script>
<script>{% include 'app_root/js/partial_register_school_admin_form.js' %}</script>

<script>{% include 'snippets/js_files/utility/validate_username_email.js' %}</script>
