{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_root/css/school_list.css' %}</style>
{% endblock %}

{% block content %}
{% load template_tags %}

<div class="all-container">

    <div class="brdcrmb">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Organisation list</li>
        </ul>
    </div>


    <div class="w90 ma">
        <div class="flx a-i-c">
            <div class="flx fwb">
                Organisation list
            </div>

            <div class="flx mla">
                <button class="button js_create_school pt5 pr10 pb5 pl10 mr2"
                        data-url="{% url 'app_root:school_create' %}" data-action_type="create"
                        type="button">Add
                </button>
            </div>

        </div>
        <div class="oa mt10 bsj">

            <table class="table405 school_table" id="school_list_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>logo</th>
                    <th>organisation_type</th>
                    <th>name</th>
                    <th>branch</th>
                    <th>school_id</th>
                    <th>address</th>
                    <th>city</th>
                    <th>state</th>
                    <th>country</th>
                    <th>postal_code</th>
                    <th>is_verified</th>
                    <th>school_geolocation</th>
                    <th>date_time</th>
                    <th>updated_at</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% include 'app_root/html/partial_school_list.html' %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>


{% endblock %}

{% block javascript %}
<script>{% include 'app_root/js/school_list.js' %}</script>
<script>{% include 'app_root/js/school_list_fill_modal.js' %}</script>

{% endblock %}



