{% extends "base.html" %}

{% block title %}Home - {{block.super}}{% endblock %}

{% load static %}

{% block head %}
<style>{% include 'app_root/css/teacher_list.css' %}</style>

{% endblock %}

{% block content %}
{% load template_tags %}

<div class="all_container">
    <div class="oa w80 ma bsj">
        <table class="table405 students_table" id="student_list_table">
            <thead>
            <tr>
                <th>#</th>
                <th>teacher_id</th>
                <th>branch</th>
                <th>name</th>
                <th>address</th>
                <th>city</th>
                <th>state</th>
                <th>country</th>
                <th>postal_code</th>
                <th>is_verified</th>
                <th>date_time</th>
                <th>updated_at</th>
            </tr>
            </thead>
            <tbody>
                {% include 'app_root/html/partial_teacher_list.html' %}
            </tbody>
        </table>
    </div>
</div>

<!-- The Modal -->
<div class="luein-modal-container">
    <!-- Modal content -->
    <div class="luein-modal-content w80"></div>
</div>


{% endblock %}

{% block javascript %}
<script>{% include 'app_root/js/teacher_list.js' %}</script>

{% endblock %}



