.home-page-container{
    margin:auto;
}
.pwa_btn{
    padding: 10px;
    border-radius: 6px;
    width: fit-content;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 0px 10px 0 rgb(0 0 0 / 10%);
    cursor:pointer;
}
.wrapper {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
}
.cover .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding-top: 70px;
}
<!--.cover .wrapper .cover__section cover__section&#45;&#45;welcome {-->
    <!--padding: 0 60px 0 0;-->
<!--}-->
.cards_container{
/*
    color:#1e306e;
    */
    color:#405;
    display: table-cell;
    vertical-align: middle;
}
.cards {
    position: relative;
    margin: 0 auto;
    height: 270px;
}
.card {
    min-width: 330px;
    max-width: 515px;
    padding: 20px 30px 30px;
    position: absolute;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 5px;
    transition: top ease 0.5s,  opacity ease 0.5s,  -webkit-transform ease 0.5s;
    transition: top ease 0.5s,  opacity ease 0.5s,  transform ease 0.5s;
    transition: top ease 0.5s,  opacity ease 0.5s,  transform ease 0.5s,  -webkit-transform ease 0.5s;
    opacity: 0;
    top: 100px;
    cursor: pointer;
}
.card__title {
    font-size: 20px;
    font-weight: bold;
    color: #403e3ecf;
}
.card__description {
    color: #9aabb5;
    font-size: 14px;
    line-height: 1.3em;
    margin: 10px 0;
    width: 100%;
}
.card__colors {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.card__color {
    text-align: center;
}
.card__color-block {
    width: 90px;
    height: 60px;
    border-radius: 5px;
    display: inline-block;
}
.card__color-value {
    font-weight: bold;
    color: #fafafa;
    font-size: 12px;
    margin-top: 7px;
    max-width: 120px;
}
.card-1 {
    z-index: 1;
    opacity: 1;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    top: -115px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    height:330px;
}
.card-2 {
    z-index: 2;
    opacity: 1;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    top: -59px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    height:330px;
}
.card-3 {
    z-index: 3;
    opacity: 1;
    top: 0;
    height:330px;
}
.moving {
    z-index: 100;
}
.cover__section--welcome {
    width: 41%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #644ca2;
    padding: 0 60px 0 0;
}
@media screen and (max-width: 1100px) {
    .cards {
        width: 500px;
        height: 250px;
        margin-top: 100px;
    }
    .card {
        width: 500px;
    }
    .card__color-block {
        width: 77px;
        height: 55px;
    }
    .slider-div-container .lnd-col{
        width:100%;
    }
    .slider-div-container{
        flex-direction: column-reverse;
    }
    .cards_container{
        display: block;
    }
}
@media screen and (max-width: 840px) {
    /*
    .cards {
        height: 250px;
        margin-top: 100px;
    }
    */
}
@media screen and (max-width: 500px) {
    .w80-100{
        width:100%important;
    }

    .cards {
        width: 100%
    }
    .card {
        width: 100%;
        padding: 20px;
        min-width:auto;
    }
    .card__colors {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .card__color {
        margin-right: 13px;
        margin-bottom: 13px;
    }
}


/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.price-feature-container {
    margin: 0;
}

.price-feature-container h2 {
    text-align: left;
    margin-bottom: 20px;
}

.price-feature-container-inner {
overflow: hidden;
margin: 0 auto;
}

.price-feature-container-inner > ul {
    text-align: left;
    /* width: 100%; */
    float: left;
    display: inline-block;
    margin: 10px;
    list-style-type: none;
}

.price-feature-container-inner > ul li {
    font-size: 18px;
    margin-bottom: 8px;
    padding-left: 25px;
    box-sizing: border-box;
    position: relative;
    padding: 5px 5px 5px 20px;
    line-height: 20px;
    color: #464646;
}
.price-feature-container-inner > ul li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    height: 10px;
    width: 10px;
    text-indent: initial;
    background: purple;

}
@media screen and (max-width: 830px)
.cover .wrapper {
    flex-direction: column;
    height: auto;
    padding-top: 150px;
}
@media screen and (max-height: 470px)
.cover .wrapper {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media screen and (max-width: 830px)
.cover__section--welcome {
    padding: 30px;
}
@media screen and (max-width: 1100px)
.cover__section--welcome {
    padding: 0 5%;
}
@media screen and (max-width: 830px)
.cover__section--image {
    padding: 20px 0 50px;
}
@media screen and (max-width: 830px)
.cover__section {
    width: 100% !important;
}

@media screen and (max-width: 500px)
.cards {
    width: 100%;

}
@media screen and (max-width: 840px)
.cards {
    height: 250px;
    margin-top: 100px;
}
@media screen and (max-width: 1100px)
.cards {
    width: 500px;
}

@media screen and (max-width: 500px)
.card {
    width: 100%;
    padding-right: 0;
    padding-bottom: 20px;
}

/* home-page.css start*/

/* There is more block */
.lnd-row{
    display: flex;
    flex-wrap: wrap;
}
.lnd-col{
    display: flex;
    width:50%;
}
.lnd-list{
    line-height:25px;
    list-style: none;
    list-style-image: none;



}
.c7de8{
    color: #7d7d7de8;
}
.c1e306e{
    color: #1e306e;
}
.there-is-more-container-inner{
    display:flex;
    align-self: center;
    flex-wrap: wrap;
}
.there-is-more-container-inner > ul {
    text-align: left;
    width: 50%;
    margin: auto;
    list-style-type: none;
}
.there-is-more-container-inner > ul li {
    font-size: 18px;
    margin-bottom: 8px;
    padding-left: 25px;
    box-sizing: border-box;
    position: relative;
    padding: 5px 5px 5px 20px;
    line-height: 20px;
    color: #464646;
}
.there-is-more-container-inner > ul li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    height: 10px;
    width: 10px;
    text-indent: initial;
    background: purple;
}
.banner-container{
    margin: 100px auto;
    background-color: #f5f5f5;
    color: #405;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    overflow: hidden;
}
.banner-div{
    display: flex;
    flex-wrap: wrap;
    /*
    border: 1px solid #dedede87;
    */
    width:100%;
}
.banner-card{
    width:50%;
}
.emp-banner{
    border-right: 1px solid #405;
    padding:20px;
}
.cnd-banner{
    padding:20px;
}
.video_div{
    width:60%;
}
.video_head{
    width:40%;
}



.banner-inner-card-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    list-style: none;
    list-style-image: none;
    padding:10px 0;
}
.banner-inner-card{
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 0 10px 10px 0;
}
.banner-inner-card-img-div{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    background-color:#f5f5f5;
    align-items: center;
    justify-content: center;
}
.banner-inner-card-caption{
    font-weight: bold;
    color: #405;
    font-size: 12px;
    padding: 5px 0;
    text-align:center;
}
.header_img_div{
    width: 438px;
    max-width:100%;
    height: 220px;
}
.home-benefits-header-div{
    padding: 50px;
    margin:0 50px 50px 50px;
}
.hb-card{
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin: 0 50px 50px 50px;
}
.screening-header-div{
    padding: 50px;
    margin:0 50px 50px 50px;
}
.plans-that-header-div{
    padding: 50px;
    margin:0 50px 0px 50px;
}

@media screen and (max-width: 768px) {
    .lnd-row{
        margin:0;
    }
    .lnd-row.hb-card{
        margin: 0 20px 50px 20px;
    }
    .home-benefits-header-div{
        margin: 50px 0 50px 0;
        padding: 50px 20px 50px 20px;
    }
    .screening-header-div{
        margin: 50px 0 50px 0;
        padding: 50px 20px 50px 20px;
    }
    .plans-that-header-div{
        margin: 50px 0 50px 0;
        padding: 50px 20px 50px 20px;
    }
    .lnd-col{
        width:100%;
    }
    .there-is-more-container-inner > ul {
        width: 100%;
    }
    .slider-div-container .lnd-col-inner{
        padding:20px 0!important;
    }
    .slider-div-container .lnd-col{
        padding:20px 0!important;
    }
    .banner-card{
        width:100%;
    }
    .emp-banner{
        border-right: 0;
        border-bottom: 1px solid #405;
    }
}



/*home_plan_table start*/
.home_plan_table{
    width:100%;

}
.home_plan_table th{
    padding:5px;
    border-bottom: 1px solid #eaeaea;
    color:#666;
}
.home_plan_table tr{
    color:#666;
}
.home_plan_table td{
    padding:5px;
    border-bottom: 1px solid #eaeaea;
}
/*home_plan_table end*/


/* home-page.css end*/













