.students_table tr th{
    text-align:left;
}
.js_update_student:hover > .job-edit-fafa-div svg g g g{
    fill: blue;
}

.school_logo_div{
    display:flex;
    justify-content: center;
}
.school_logo_div .school_logo{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #fff;
}

.school_logo_div svg{
    width: 50px;
    height: 50px;
    padding:5px;
}

.actions .detail:hover g{
    fill:#405;
}
.js_update_school:hover svg g{
    fill:#405;
}
.js_delete_school:hover svg g{
    fill:red;
}

.organisation_type{
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #eaeaea;
    width:fit-content;
    padding:5px;
    border-radius: 4px;
    align-self: center;
    display: flex;
}
.organisation_type.school{
    background-color:blue;
    color:#fff;
}
.organisation_type.company{
    background-color:orange;
    color:#fff;
}
.organisation_type.anganwadi{
    background-color:brown;
    color:#fff;
}

