<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta content="utf-8" http-equiv="encoding">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}File manager{% endblock %}</title>

    <link href="{% static 'website/favicon/lueinanalytics_favicon.jpg' %}" rel="icon" sizes="16x16" type="image/gif">


    <link rel="stylesheet" href="{% static 'luein_css/normalise.css' %}">
    <style>{% include 'snippets/css/base.css' %}</style>
    <style>{% include 'snippets/css/style.css' %}</style>

    <link rel="stylesheet" href="{% static 'luein_css/employer.css' %}">
    <link rel="stylesheet" href="{% static 'luein_modal/luein-modal.css' %}">
    <link rel="stylesheet" href="{% static 'dynamic_loader/dynamic-loader.css' %}">
    <link rel="stylesheet" href="{% static 'dynamic-confirmation/dynamic-confirmation.css' %}">
    <link rel="stylesheet" href="{% static 'alerts/alert.css' %}">

    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
<!--    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">-->
    <link rel="stylesheet" href="{% static 'rest_framework/css/bootstrap.min.css' %}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!--    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>-->


    <script type="text/javascript">{% include 'snippets/js_files/jquery-3.4.0.js' %}</script>

    <script src="{% static 'jquery/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.js' %}"></script>
    <script src="{% static 'fontawesome/js/solid.js' %}"></script>

    <!--Tree-->
    <style>{% include 'snippets/tree/dist/themes/default/style.css' %}</style>
    <script>{% include 'snippets/tree/dist/jstree.min.js' %}</script>

    <style>{% include 'base_file_manager.css' %}</style>

    {% block css %}{% endblock %}

</head>
<body>

<div id="alert-div"></div>
<div id="body-div">

    {% include 'snippets/top_nav_bar/top_nav.html' %}
    <div class="main-class-div">
        <div class="main">
            <main id="main-tag">
                {% if user.is_authenticated %}
                    {% include 'snippets/top_nav_bar/sub_nav_nav.html' %}
                {% endif %}

                <div class="wrapper ">

                    <div class="sidebar_tree" id="sidebar_tree"></div>

                    <!-- Sidebar -->
                    <nav class="dn" id="sidebar">
                        <div class="text-center brand">
                            <a class="large-font text-white" href="/">
                                File Manager
                            </a>
                        </div>
                        <hr/>

                        <ul class="list-unstyled components text-white">
                            <li class="">
                                <a class="text-white" href="/">Home</a>
                            </li>

                            <li class="">
                                <a class="text-white" href="{{ add_folder }}">
                                    <i class="fas fa-folder-plus mr15 lightgray"></i>Add Folder</a>
                            </li>

                            <li class="">
                                <a class="text-white" href="{{ add_file }}">
                                    <i class="fas fa-file-upload ml-1 mr15 lightgray"></i>File Upload</a>
                            </li>


                            <li class="">
                                <a class="text-white" href="{{ upload_folder }}">
                                    <i class="fas fa-folder-plus mr15 lightgray"></i>Folder Upload</a>
                            </li>

                        </ul>
                        <div class="text-center bottom mb55">
                            <span>Sort by</span>
                            <a class="text-white" id="time_sort" href="/">
                                time</a>
                            |
                            <a class="text-white" id="name_sort" href="/">
                                name</a>
                        </div>
                    </nav>
                    <!-- Page Content -->
                    <div id="content" class="oa">
                        <div class="mb60">

                            <!-- Breadcrumb 1 -->
                            <div class="mt-3 dn">
                                {% if parent_folder %}
                                    <a href="{% url 'app_file_manager:old_folder_list' %}"><span class="text-info">Home3</span></a>
                                    <span class="mlr2 text-info">/</span>
                                    {% for link in parent_folder %}
                                        {% if not forloop.last %}
                                            <a href="{{ link.link }}"><span class="text-info">{{ link.text }}</span></a>
                                            <span class="mlr2 text-info">/</span>
                                        {% else %}
                                            <span class="">{{ link.text }}</span>
                                        {% endif %}
                                    {% endfor %}

                                {% endif %}
                            </div>

                            <!-- Breadcrumb 2 -->
                            <div class="mt-3 pl20">
                                {% if new_list.breadcrumb_list %}
                                <a class="" href="{% url 'app_file_manager:old_folder_list' %}"><span class="text-info">Root</span></a>
                                <span class="mlr2 text-info">/</span>
                                {% for link in new_list.breadcrumb_list %}
                                {% if not forloop.last %}
                                <a href="{% url 'app_file_manager:old_folder_list' %}{{ link.link }}"><span class="text-info">{{ link.text }}</span></a>
                                <span class="mlr2 text-info">/</span>
                                {% else %}
                                <span class="">{{ link.text }}</span>
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                    <a href="{% url 'app_file_manager:old_folder_list' %}"><span class="text-info">Root</span></a>
                                {% endif %}
                            </div>

                            <div class="flx w100">
                                <div class="flx mla">



                                    <div class="action_container">
                                        <div class="action_btn add js_add_folder cp flx" data-action_type="add"
                                             data-url="{% url 'app_file_manager:folder_add' %}?parent={{parent_name}}" title="Add">
                                            <div class="folder-add-fafa-div flx mr10">
                                                <svg class="m5" width="16" height="16" aria-hidden="true" focusable="false" data-prefix="fas"
                                             data-icon="folder-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                             data-fa-i2svg="">
                                            <path fill="currentColor"
                                                  d="M464 128H272l-64-64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V176c0-26.51-21.49-48-48-48zm-96 168c0 8.84-7.16 16-16 16h-72v72c0 8.84-7.16 16-16 16h-16c-8.84 0-16-7.16-16-16v-72h-72c-8.84 0-16-7.16-16-16v-16c0-8.84 7.16-16 16-16h72v-72c0-8.84 7.16-16 16-16h16c8.84 0 16 7.16 16 16v72h72c8.84 0 16 7.16 16 16v16z"></path>
                                        </svg>
                                            </div>
                                            <div class="flx">Add folder</div>
                                        </div>
                                    </div>

                                    <div class="action_container">
                                        <div class="action_btn upload js_upload_file cp flx" data-action_type="upload"
                                             data-url="{% url 'app_file_manager:file_upload' %}?parent={{parent_name}}" title="Upload">
                                            <div class="file-upload-fafa-div flx mr10">
                                                <svg class="m5" width="16" height="16" aria-hidden="true" focusable="false" data-prefix="fas"
                                             data-icon="file-upload" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"
                                             data-fa-i2svg="">
                                            <path fill="currentColor"
                                                  d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm65.18 216.01H224v80c0 8.84-7.16 16-16 16h-32c-8.84 0-16-7.16-16-16v-80H94.82c-14.28 0-21.41-17.29-11.27-27.36l96.42-95.7c6.65-6.61 17.39-6.61 24.04 0l96.42 95.7c10.15 10.07 3.03 27.36-11.25 27.36zM377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9z"></path>
                                        </svg>
                                            </div>
                                            <div class="flx">File upload</div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div class="luein-modal-container">
                        <!-- Modal content -->
                        <div class="luein-modal-content w80"></div>
                    </div>
                </div>


            </main>
        </div>
        {% if user.is_authenticated %}
            {% include 'snippets/footer/luein-footer-small.html' %}
        {% else %}
            {% if 'login' in request.path or 'contact-us' in request.path or 'signup' in request.path%}

            {% else %}
                {% include 'snippets/footer/luein-footer-big.html' %}
            {% endif %}
        {% endif %}
    </div>

    {% block javascript %}{% endblock %}
</div>

<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>


<script>
      $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
             theme: "minimal"
        });
      });

      $("#time_sort").click(function(event){
          event.preventDefault();
          var main_url = window.location.href;
          var split_url = main_url.split('&'), url;

          if (split_url[0].includes('?')){
              url = split_url[0] + '&sort=time';
          }
          else{
              url = split_url[0] + '?sort=time';
          }

          window.location.replace(url);
      });

      $("#name_sort").click(function(event){
          event.preventDefault();
          var main_url = window.location.href;
          var split_url = main_url.split('&'), url;

          if (split_url[0].includes('?')){
              url = split_url[0] + '&sort=name';
          }
          else{
              url = split_url[0] + '?sort=name';
          }

          window.location.replace(url);

      });








</script>

<script src="{% static 'dynamic_loader/dynamic-loader.js' %}"></script>
<script src="{% static 'dynamic-confirmation/dynamic-confirmation.js' %}"></script>
<script src="{% static 'alerts/alert.js' %}"></script>
<script src="{% static 'luein_modal/luein-modal-functions.js' %}"></script>

<script>{% include 'app_file_manager/base.js' %}</script>

{% block js %}{% endblock %}
</body>
</html>
