.announcement_card{
    border:1px solid #eaeaea;
    display:flex;
    flex-direction:column;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    background-color:#fff;
     border-radius:5px;
}


/*
.announcement_card.True{
    background-color: #69c05012;
}
*/
.announcement_card.False{
    /*
    background-color:#c4144612;
    opacity: 0.5;
    */
}
.announcement_card.False:hover{
    opacity: 0.8;
}
.hidden svg g{
    fill:red;
}
.expired svg g{
    fill:orange;
}

.announcement_title{
    font-weight:bold;
    color:#333;
    padding:5px 0;
}
.announcement_content{
    color:#333;
    padding:5px 0;
}
.announcement_outer_container{
    padding: 0 15px;
}
.announcement_head{
    display:flex;
    font-size: 80%;
    font-weight: 400;
    color:#666;
}
.announcement_by{
    margin-right:10px;
}
.announcement_date{
    display:flex;
}
.announcement_expire{
    margin-left:auto;
    display:flex;
}
.announcement_footer{
    display:flex;
    justify-content: flex-end;
}

.info_fafa_div{
    display:flex;
    padding:10px 10px;
    align-items: center;
}
.action_fafa_div{
    display:flex;
    cursor:pointer;
    padding:10px 10px;
    margin:0 10px;
    align-items: center;
}
.edit:hover svg g{
    fill:#405;
}
.delete:hover svg g{
    fill:red;
}




/* SET checkbox_toggle_btn COLOR START */
.checkbox_toggle_btn label {
    background-color: #fcebeb;
    color:#fff;

}
.checkbox_toggle_btn label:after {
	 background-color: #f44336;
}
.checkbox_toggle_btn input:checked + label {
    background: #eaf7c3;
}
.checkbox_toggle_btn input:checked + label:after {
    background: #66B032;
}
/* SET checkbox_toggle_btn COLOR END */