#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}
.gm-style-iw > button {
    display: none !important;
}
.popup_div{
    color: #333;
}
.popup_name{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}
.popup_add{
    line-height: 18px;
    font-size: 14px;
}
.add_address_div{

}
.add_address{

}

.address_html{
    margin-top:10px;
}

.address_container{
    margin: 35px 0 25px 0;
}
.radius_info_fafa_div{
    display:flex;
    align-items: center;
    cursor:pointer;
}
.radius_info_fafa_div svg{
    width:24px;
    height:24px;
}
.radius_info_fafa_div svg path{
    stroke:#999;
}
.radius_input_div{
    display:flex;
    align-items: center;
}
.radius_input_div input[type="radio"], .radius_input_div input[type="checkbox"]{
    width:fit-content;
    margin:10px;
    cursor:pointer;
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
}
.radius_input_div label{
    margin:10px 0;
}
.recommended{
    display: flex;
    margin-left: 20px;
    align-items: center;
    text-transform: uppercase;
    color: #69c050;
    font-weight: 700;
    background-color: #e8f5e9;
    border-color: #e8f5e9;
    border-radius: 8px;
    font-size: 10px;
    padding: 3px 10px;
    font-family: system-ui;
}
.custom_radius_info{
    border: 1px solid #eaeaea;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #fafafa;
    color: #333;

    display:none;
}
#id_radius_custom{

}
