.attendance_table_date{
    margin:20px 0 0 0;
}
.attendance_table{
    text-transform: capitalize;
}
.at_st{
   font-weight: bold;
    text-transform: uppercase;
    padding: 3px 10px;
    display: inline-block;
    font-size: 90%;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 25px;
}
.at_st.present{
        color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.at_st.absent{
       color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.at_st.leave{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.info-fafa-info-status{
    width:135px;
}

.action_btn_div{
    display:flex;
    width:90%;
    margin:auto;
    padding: 5px 5px 5px 10px;
    flex-wrap:wrap;
    justify-content: space-around;
}
.action_btn_div a{
    min-width:190px;
}
.cctv_attendance_table_date{
    margin-top:10px;
}

/* attendance filter start */
.js_view_attendance{
    border:1px solid #fff0;
}
.js_view_attendance.active{
    border:1px solid #333;
}
/* attendance filter end */






/* button start */
.take_attendance_btn{
     cursor:pointer;
     padding:10px;
     margin:10px 2px;
     display:flex;
     /*
     flex-wrap:wrap;
     flex-direction:column;
     width:100px;
     height: 120px;
     */
     align-items: center;
     justify-content: center;
     box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 0px 10px 0 rgb(0 0 0 / 10%);
     border-radius:8px;
     background-color: #fff;

}
.take_attendance_btn.disable{
     cursor:not-allowed;
     color:#bababa;
}
.take_attendance_btn:not(.disable):hover svg g{
    fill:#405;
}
.take_attendance_btn:not(.disable):hover{
    background-color: #dfdfdf;
}

.take_attendance_btn_fafa_div{

}

.take_attendance_btn_fafa_div svg{
    width:40px !important;
    height:40px !important;
}

.take_attendance_btn_text{
    padding:5px;
}
/* button end */






@media screen and (max-width: 768px) {
    .partitioned_form{
        flex-direction:column;
    }
}