.student_profile_pic{
     max-width:50px;
     width:100%;
     height:50px;
}

.profile_pic_div{

}
.attendance_status_card_container{
    display:flex;
    justify-content: center;
}
.attendance_status_card_item{
    background-color:#e5e5e5;
    margin: 0 5px;
}
.attendance_status_card_item input[type="radio"][value="P"]:checked + .attendance_flag{
    background-color:green;
    color: #fff;
}
.attendance_status_card_item input[type="radio"][value="A"]:checked + .attendance_flag{
    background-color:red;
    color: #fff;
}
.attendance_status_card_item input[type="radio"][value="L"]:checked + .attendance_flag{
    background-color:yellow;
}

.attendance_status_card_item input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
  display: none;
}

.transition{
  transition: all .3s ease-out;
}

input[type="radio"]:checked + label{
  background-color: #58ba83;
}

.attendance_flag{
    padding:10px;
    cursor:pointer;
}
.student_name{
    font-weight: bold;
    text-transform: uppercase;
}
.