.user_details{
    justify-content: space-between;
    align-content: center;
    background-color:#e5edfad6;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    padding:20px;
    display:flex;
    width:90%;
    margin:auto;
}
.at_img_div{
    display:flex;
}
.at_img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.clock_div{
    justify-content: center;
}
.time_div{
    align-self:center;
    font-weight: bold;
    color: #333;
    font-size: 32px;
}
.time_inner_div{
    text-align:right;
}
.time_ampm_div{
    font-size: 14px;
    display: flex;
    padding: 5px;
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}
.date_div{
    color: #666;
    font-size: 12px;
    align-self: flex-end;
    line-height: 26px;
}
.last_entry{
    color: #333;
    font-size: 12px;
    border-top: 1px solid #eaeaea;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    flex-direction:column;
}
.next_btn_outer_div{
    min-width: 200px;
    display: flex;
    padding: 20px;
    justify-content: center;
}
.next_btn_text{
    display:flex;
    margin-top:15px;
    color:#666;
}


/*/////////////////////////////////////////*/
.lsa_container{

}
/* button start */
.take_attendance_btn{
     cursor:pointer;
     padding:10px;
     margin:10px 2px;
     display:flex;
     flex-wrap:wrap;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 0px 10px 0 rgb(0 0 0 / 10%);
     border-radius:8px;
     background-color: #fff;
     width:260px;
     height: 160px;
}
.take_attendance_btn:hover svg g{
    fill:#405;
}
.take_attendance_btn:hover{
    background-color: #dfdfdf;
}
.take_attendance_btn_fafa_div{

}
.take_attendance_btn_fafa_div svg{
    width:80px !important;
    height:80px !important;
}

.take_attendance_btn_text{
    padding:5px;
}
/* button end */

.lsa_card_container{
    width:90%;
    margin:auto;
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
}
.lsa_card{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    display:flex;
    min-width:24%;
    margin:auto;
    margin-top:30px;
    padding:15px;
    background-color:#fff;
    border-radius:10px;
    max-width: 160px;
    width: 160px;
    justify-content: center;
    min-height:130px;
    justify-content: space-around;
    position:relative;
}
.fafa_div{
    opacity: 0.2;
    align-items: center;
    display: flex;
    padding: 0 10px 0 0;
}
.content_div{
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    color:#333;
}
.content_div .counter{
    font-weight:bold;
    font-size:32px;
    color:#333;
}
.content_note{
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #666;
    font-size: 80%;
    font-weight: 400;
    width:100%;
    padding:0 0 5px 0;
}
.content_note span{

}
.sdl_container{

}
.sdl_card_container{
    width:100%;
    display:flex;
    flex-direction:column;
}
.sdl_card{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    display:flex;
    margin:auto;
    margin-top:5px;
    padding:30px;
    background-color:#fff;
    border-radius:10px;
    width: 100%;
    justify-content: center;
}
.request_card_container{
    width:100%;
    display:flex;
    flex-direction:column;
}
.request_card{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    display:flex;
    margin:auto;
    margin-top:5px;
    padding:30px;
    background-color:#fff;
    border-radius:10px;
    width: 100%;
    justify-content: center;
}

.approval_card_container{
    width:100%;
    display:flex;
    flex-direction:column;
}
.approval_card{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    display:flex;
    margin:auto;
    margin-top:5px;
    padding:30px;
    background-color:#fff;
    border-radius:10px;
    width: 100%;
    justify-content: center;
}





/***************/
/* loader start */
/***************/

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
    overflow: hidden;
}
.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: gray;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* loader end */










@media screen and (max-width: 768px) {
    .user_details{
        flex-direction:column;
        background-color:#fff;
        box-shadow: none;
        align-items: center;
        padding:0px;
    }
    .clock_div{
        margin:20px 0   ;
    }
    .next_btn_outer_div{
        width: 100%;
        background-color: #e5edfad6;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    }
    .lsa_schedule_container{
        flex-direction:column;
    }
    .request_approval_container{
        flex-direction:column;
    }
    .lsa_container{
        width:100%;
    }
    .sdl_container{
        width:100%;
    }
    .request_container{
        width:100%;
    }
    .approval_container{
        width:100%;
    }
}


@media screen and (max-width: 425px) {
    .lsa_card_container{
        width: 100%;
    }

}




