#id_radius_unit{
    display:flex;
    list-style-type: none;
}
#id_radius_unit label{
    cursor:pointer;
    display: flex!important;
    align-items: center;
    color:#333;
    padding:10px;

    border:1px solid;
    border-color: #ccc;
    background-color: #fafafa;
    color: #b2b2b2;
}
#id_radius_unit li:first-child label{
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
}
#id_radius_unit li:last-child label{
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}


#id_radius_unit label:hover svg g{
    fill:#666;
}
#id_radius_unit input[type="radio"]{
    width:fit-content;
    margin-right:10px;

  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;


}
/*
#id_radius_unit input[type="radio"]:checked + svg {
  outline: 2px solid #405;
}
*/
#id_radius_unit input[type="radio"]:checked + svg g{
  fill: #405;
}
#id_radius_unit label:has(> input[type="radio"]:checked) {
    border-color: #405;
    background-color: #4400550d;
    color: #405;
}
#id_radius_unit label svg{
    margin-right:10px;
    height:50px;
    width:50px;
}

