#id_role{
    display:flex;
    flex-wrap:wrap;
    list-style-type: none;
}
#id_role label{
    cursor:pointer;
    display: flex!important;
    align-items: center;
    color:#333;
    padding:5px;
}
#id_role label:hover svg g{
    fill:#666;
}
#id_role input[type="radio"]{
    width:fit-content;
    margin-right:10px;

  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/*
#id_role input[type="radio"]:checked + svg {
  outline: 2px solid #405;
}
*/
#id_role input[type="radio"]:checked + svg g{
  fill: #405;
}
#id_role label:has(> input[type="radio"]:checked) {
    color:#405;
    outline: 2px solid #405;
}
#id_role label svg{
    margin-right:10px;
    height:50px;
    width:50px;
}



/*****************************/
#id_check_in input[type="radio"],
#id_check_out input[type="radio"]{
    width:fit-content;
    margin-right:10px;

  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#id_check_in,
#id_check_out{
    display:flex;
    flex-wrap:wrap;
    list-style-type: none;
}
#id_check_in label,
#id_check_out label{
    cursor:pointer;
    display: flex!important;
    align-items: center;
    color:#333;
    padding:5px;
}
#id_check_in label svg,
#id_check_out label svg{
    margin-right:10px;
    height:100px;
    width:100px;
}

/**************/
/* CHECKED IN */
/**************/
{% if is_check_in %}
    #id_check_in label:has(> input[type="radio"]:checked){
        cursor: not-allowed;
    }
{% else %}
    #id_check_in label:hover svg g{
        fill:#666;
    }
    #id_check_in label:has(> input[type="radio"]:checked){
        outline: 2px solid #405;
    }
{% endif %}

/**************/
/* CHECKED OUT */
/**************/
{% if is_check_out %}
    #id_check_out label:has(> input[type="radio"]:checked){
        cursor: not-allowed;
    }
{% else %}
    #id_check_out label:hover svg g{
        fill:#666;
    }
    #id_check_out label:has(> input[type="radio"]:checked) {
        outline: 2px solid #405;
    }
{% endif %}

.at_img_div{
    display:flex;
}
.at_img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.display_person_data{
    padding:10px;
}
.display_person_data svg g{
    fill:#405;
}




@media screen and (max-width: 768px) {
    .partitioned_form{
        flex-direction:column;
    }
}

/*
.luein-modal-content{
    max-width:400px;
}
*/





/*
#id_check_in input[type="radio"]:checked + svg g{
  fill: #bababa;
}
#id_check_out input[type="radio"]:checked + svg g{
  fill: #bababa;
}
*/
/*
#id_check_in input[type="radio"]:checked + svg path,
#id_check_out input[type="radio"]:checked + svg path{
  fill: red;
}
*/
































