



/* form css start*/
.luein-modal-body{
   padding: unset;
}
.at_img{
    width:28px!important;
    height:28px!important;
}
.at_fafa_div{
    width:28px;
    height:28px;
    display:flex;
    margin-right:10px;
}
.map_div{
    height: 100%;
}
.map_div_inner{

}

#take_attendance_crud_form{
    height:100%;
}
.user_time_div{
    position:absolute;
    top:55px;
    display:flex;
    z-index:1;
    width:100%;
    justify-content: center;
}
.user_time_inner_div{
    border-radius: 4px;
    padding: 5px;
    justify-content: center;
    background-color:#f6f8fb;
    display:flex;
    flex-direction:column;
    width: 80%;
    align-items: center;
    max-width:450px;
}
/*
.take_attendance_self_user_details{
    position:absolute;
    display:flex;
    flex-direction:column;
    background-color:#f6f8fb;
    z-index:1;
    border-radius: 4px;
    padding: 5px 10px;
}
.attendance_clock_div{
    display:flex;
    position:absolute;
    right:0;
    background-color:#f6f8fb;
    z-index:1;
    border-radius: 4px;
    padding: 0 10px;
}
*/
.take_attendance_self_user_details{
    padding: 5px 50px;
}
.attendance_clock_div{
    border-top:1px solid #eaeaea;
    display:flex;
    padding: 5px 50px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.distance_div{
/*
    position:absolute;
    left: 0;
    bottom: 50px;
    */
    display:flex;
    z-index:1;
    width: 100%;
}
.distance_div_inner{
    background-color: #f6f8fb;
    display: flex;
    padding: 20px!important;
    border-radius: 22px 22px 0 0;
    text-align: center;
}

.time_div{
    align-self: center;
    font-weight: bold;
    color: #333;
    font-size: 14px;
}
.time_inner_div{
    font-size: 24px;
    display: flex;
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: bold;
}
.time_ampm_div{
    font-size: 14px;
    display: flex;
    padding: 5px 0 5px 5px;
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 500;
}
.date_div{
    color: #666;
    font-size: 12px;
    display:flex;
    padding: 5px;
    align-items:flex-end;
    white-space:nowrap;
}
.your_location_cls{
    position: absolute;
    bottom: calc(100% + 80px);
    margin-right: 5px;
}
.luein-modal-header{
    z-index:1;
}
.luein-modal-button.submit{
    position: absolute;
    bottom: calc(100% + 20px);
    border-radius: 50px;
    padding: 0px;
    margin-right: 10px;
    background-color: #fff0;
}
.luein-modal-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#fff0;
    padding:0;
    z-index:1;
}
.last_entry{
    color: #333;
    font-size: 12px;
    border-top: 1px solid #eaeaea;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

/* form css end*/


/* pulse start*/
body {
  height: 100vh;
  overflow: hidden;
}


.next_btn_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.next_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(105, 192, 80, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(105, 192, 80, 0);
  }
}
/* pulse end */



























