
.action_btn_div{
    display:flex;
    width:90%;
    margin:auto;
    padding: 5px 5px 5px 10px;
    flex-wrap:wrap;
    justify-content: space-around;
}
.action_btn_div a{
    min-width:190px;
}

/* button start */
.take_attendance_btn{
     cursor:pointer;
     padding:10px;
     margin:10px 2px;
     display:flex;
     flex-wrap:wrap;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 0px 10px 0 rgb(0 0 0 / 10%);
     border-radius:8px;
     background-color: #fff;
     width:260px;
     height: 160px;
}
.take_attendance_btn:hover svg g{
    fill:#405;
}
.take_attendance_btn:hover{
    background-color: #dfdfdf;
}
.take_attendance_btn_fafa_div{

}
.take_attendance_btn_fafa_div svg{
    width:80px !important;
    height:80px !important;
}

.take_attendance_btn_text{
    padding:5px;
}
/* button end */