.profile_details{
    flex-flow: wrap;
    justify-content: space-between;
    background-color:#fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    padding:20px;
    display:flex;
    margin:auto;
    flex-direction:column;
    position:relative;
}
.at_img_div{
    display:flex;
}
.at_img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.edit_profile{
    display:flex;
    position:absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.edit_profile:hover svg g{
    fill:#405;
}
