#chart-container{
    height:400px;
}
.count_card_container{
    display: flex;
    padding: 0px 0px 10px 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}
.count_card{
    /*
    min-width: 120px;
    width: 130px;
    */
    width:fit-content;

    background-color:#eaeaea;
    border:1px solid #eaeaea;
    padding:10px;
    display:flex;
    align-items:center;
    color:#666;
    margin-top: 10px;
    margin-right: 10px;
    min-width: 145px;
}
.count_card_no{
    font-weight:bold;
    margin-right:10px;
    font-size:24px;
}
.count_card_name{
    font-size: 80%;
    font-weight: 400;
    margin-top:10px;
}


/* calendar */
.dp-note, .nav {
    position: absolute;
}
.dp-note {
    background: #ccc;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 50%;
    bottom: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/*
.announcement_container{
    display:flex;
    flex-direction:column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004d;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
*/
.announcement_card{
    border:1px solid #eaeaea;
    display:flex;
    flex-direction:column;
    margin-bottom: 10px;
    padding: 10px;
    border-radius:5px;
}
.announcement_title{
    font-weight:bold;
}
.announcement_content{

}
.announcement_outer_container{
    padding: 0 15px;
}
.dcc-content{
    height:100%;
    max-height: none;
}

@media screen and (max-width: 768px) {
    .content_container{
        flex-wrap:wrap;
    }
    .count_card_container{
        width:100%;
    }
    .card_container{
        width:100%;
    }
    .r_container{
        flex-direction: column-reverse;
        width:100%;
    }
    #custom-cells{
        margin-top:0!important;
    }
    .announcement_outer_container{
        width:100%;
        padding: 0 15px;
        margin-top:20px;
    }
}