.school_logo_div{
    display:flex;
}
.school_logo_div .school_logo{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #fff;
}

.school_logo_div svg{
    width: 100px;
    height: 100px;
    padding:10px;
}

.at_img_div{
    display:flex;
}
.at_img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.organisation_type{
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #eaeaea;
    width:fit-content;
    padding:5px;
    border-radius: 4px;
    align-self: center;
    display: flex;
}
.organisation_type.school{
    background-color:blue;
    color:#fff;
}
.organisation_type.company{
    background-color:orange;
    color:#fff;
}
.organisation_type.anganwadi{
    background-color:brown;
    color:#fff;
}