
.setting_table tbody tr td:nth-child(2){
    text-align:center;
    padding: 0 10px 10px 10px;
}
.setting_table tbody tr td{
    padding:10px;
}
.setting_table tbody tr:hover td svg g {
    fill: #405;
}

.setting_table tbody tr td svg{
    height:40px;
    width:40px;
}

