.input-single{
    position: fixed;
    width: 100%;
    margin-left: auto;
    background-color: #ffffff00;
    top: 55px;
}
#note-textarea{
    width: 90%;
    margin: auto;
    background-color: #a5a5a559;
}


.dropdown-menu{
    bottom: 100%;
    top: auto;
}
.old_students_div{

}
.js_create_register_face{
    background-color: #eaeaea;
    border-radius: 4px;
}
.js_create_register_face:hover{
    background-color: #dfdfdf;
}
.js_create_register_face:hover svg g{
    fill:#405;
}


.js_create_register_user:hover{
    background-color: #440055db;
}


.js_create_register_face:focus{
    outline: 2px solid blue !important;
}
.js_create_register_user:focus{
    outline: 2px solid blue !important;
}

/* button start */
.take_attendance_btn{
     cursor:pointer;
     padding:10px;
     margin:10px 2px;
     display:flex;
     flex-wrap:wrap;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 0px 10px 0 rgb(0 0 0 / 10%);
     border-radius:8px;
     background-color: #fff;
     width:260px;
     height: 160px;
}
.take_attendance_btn:hover svg g{
    fill:#405;
}
.take_attendance_btn:hover{
    background-color: #dfdfdf;
}
.take_attendance_btn_fafa_div{

}
.take_attendance_btn_fafa_div svg{
    width:80px !important;
    height:80px !important;
}

.take_attendance_btn_text{
    padding:5px;
}
/* button end */

@media screen and (max-width: 768px) {
    .partitioned_form{
         flex-wrap: wrap;
    }
}