.dropdown-menu{
    bottom: 100%;
    top: auto;
}
.action_btn_div{
    display:flex;
    width:90%;
    margin:auto;
    padding: 5px 5px 5px 10px;
    flex-wrap:wrap;
    justify-content: space-around;
}
.action_btn_div a{
    min-width:190px;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}


/* button start */
.take_attendance_btn{
     cursor:pointer;
     padding:10px;
     margin:10px 2px;
     display:flex;
     flex-wrap:wrap;
     flex-direction:column;
     align-items: center;
     justify-content: center;
     box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%), 0 0px 10px 0 rgb(0 0 0 / 10%);
     border-radius:8px;
     background-color: #fff;
     width:260px;
     height: 160px;
}
.take_attendance_btn.disable{
     cursor:not-allowed;
     color:#bababa;
}
.take_attendance_btn:not(.disable):hover svg g{
    fill:#405;
}
.take_attendance_btn:not(.disable):hover{
    background-color: #dfdfdf;
}

.take_attendance_btn_fafa_div{

}
.take_attendance_btn_fafa_div svg{
    width:80px !important;
    height:80px !important;
}

.take_attendance_btn_text{
    padding:5px;
}
/* button end */






/***************/
/* loader start */
/***************/

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
    overflow: hidden;
}
.lds-ellipsis div {
  position: absolute;
  top: 15px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: gray;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* loader end */




