.actions .detail:hover g{
    fill:#405;
}
.js_update_teacher:hover svg g{
    fill:#405;
}

.teacher_list_table tbody tr:hover td .staff svg g {
    fill: #405;
}
.staff{
    justify-content: center;
}