.at_img_div{
    display:flex;
}
.at_img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


/* TABLE 405 START */

.table406{
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 16px;
    font-family: Nunito Sans,sans-serif;
    line-height: 1.5;
    max-width: 100%;
    color: rgba(0,0,0,.87);
    width: 100%;
    border-spacing: 0;
}
.table406 tbody tr:hover:not(first-child){
    background: #fff!important;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}
.table406 th{
    color: rgba(0,0,0,.6);
    text-align: left;
    background: #fff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 12%), inset 0 1px 0 rgb(0 0 0 / 12%);

    padding-bottom: 0;
    padding-top: 0;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 0!important;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: height .2s cubic-bezier(.4,0,.6,1);
    height: 54px!important;
    min-width:30px;
}
.table406 td{

    text-align: center;
    /*
    padding: 0 16px;
    */
    transition: height .2s cubic-bezier(.4,0,.6,1);

    font-size: 13px;
    height: 48px;

    padding-bottom: 16px;
    padding-top: 16px;

    border-bottom: thin solid rgba(0,0,0,.12);

    white-space: nowrap;
}
.table406 td:nth-child(1){
    padding: 0 16px;
}


.table_user_detail{
    text-align: start!important;

    align-items: center;
    display: flex;
    flex: 1 1 100%;
    letter-spacing: normal;
    min-height: 48px;
    outline: none;
    padding: 0 16px;
    position: relative;
    text-decoration: none;

    margin-top: -4px!important;
    margin-bottom: -4px!important;

    padding: 0!important;
    color: rgba(0,0,0,.87);
}


.table_user_avatar{

    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    position: relative;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;

    overflow: visible!important;

    align-self: center!important;

    margin-top: 0!important;
    margin-bottom: 0!important;

    border-radius: 50%!important;

    margin-right: 16px;

    height: 48px;
    min-width: 48px;
    width: 48px;

}

.table_user_info{
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    overflow: hidden;
    padding: 12px 0;

    align-self: center!important;

    padding: 0!important;
}
.table_user_name{
    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    align-self: center;
    font-size: 1rem;

    font-family: Nunito Sans,sans-serif!important;

    font-size: .875rem!important;
    letter-spacing: .0178571429em!important;
    line-height: 1.25rem;

    font-weight: 700!important;

    letter-spacing: 0!important;

    margin-bottom: 2px;

    line-height: 1.2;
}
.table_user_name_caption{

    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-weight: 400;
    font-family: Nunito Sans,sans-serif!important;

    font-size: .75rem!important;
    letter-spacing: .0333333333em!important;
    line-height: 1.25rem;

    line-height: 1.2;

    color: rgba(0,0,0,.6);

}






.v-application{
    overflow:visible;
}

.v-application .secondary.lighten-5{
    background-color: #f6f8fb !important;
    border-color: #f6f8fb !important;
}

.v-application .text-center {
    text-align: center!important;
}
.v-application .py-3 {
    padding-top: 12px!important;
    padding-bottom: 12px!important;
}

.v-application .caption {
    font-size: .75rem!important;
    letter-spacing: .0333333333em!important;
    line-height: 1.25rem;
}
.v-application .body-1, .v-application .caption {
    font-weight: 400;
    font-family: Nunito Sans,sans-serif!important;
}
.table_search{
    width: 200px;
    display:flex;
}
.table_search_btn_div{
        display: flex;
}
.table_search_btn{
    text-transform: none;

    background-color: transparent;
    border-style: none;

-webkit-appearance: button;

    margin-right: 4px!important;

    color: #b3b3b3;

cursor: pointer;
    outline: none;

    font-size: 18px;
    height: 18px;
    width: 18px;


    align-items: center;
    display: inline-flex;
    font-feature-settings: "liga";
    font-size: 24px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    text-indent: 0;
    transition: .3s cubic-bezier(.25,.8,.5,1),visibility 0s;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.table_search_input_div{
    align-items: center;

    display: flex;
    flex: 1 1 auto;
    position: relative;

}
.table_search_input{
    background-color: transparent;
    border-style: none;

-webkit-appearance: textfield;
    outline-offset: -2px;

    flex: 1 1 auto;
    line-height: 14px;
    padding: 14px 0 0;
    max-width: 100%;
    min-width: 0;
    width: 100%;

    max-height: 32px;
    color: rgba(0,0,0,.87);

    padding-top: 0;


}
.table_search_input:focus{
    outline: none;
}
/*
.table406 td, .table406 th {
  border-bottom: thin solid rgba(0,0,0,.12);
}
.table406 tr:first-child th {
  border-top: 0;
}
.table406 tr:last-child td {
  border-bottom: 0;
}
.table406 tr td:first-child,
.table406 tr th:first-child {
  border-left: 0;
}
.table406 tr td:last-child,
.table406 tr th:last-child {
  border-right: 0;
}



.table406 tr:nth-child(even) {
    background-color: #f7f7f7;
}

.table406 tbody tr:hover {

    background: #fff;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}

.table406 td{
    padding:15px 5px;
}
.table406 a{
    text-decoration:none;
}
#video-tag-container{
    display:none;
}
.table406 select{
    border: none;
    text-transform: uppercase;
    padding: 7px 8px;
    font-size: 75%;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.table406-actions-div{
    padding: 0 10px 0 10px;
    width: fit-content;
}
*/
/* TABLE 405 END */


.control_container{
    display:flex;
    padding:10px;
    box-shadow: inset 0 1px 0 rgb(0 0 0 / 12%);
    line-height: 1.25rem;
    flex-wrap: wrap;
}
.left_btn{
    display:flex;
    margin:0 5px 0 5px;
    /*
    background-color:#eaeaea;
    border:1px solid #bababa;
    color:#333;
    */
    align-items: center;
}
.calendar_text{
    display:flex;
    align-items: center;
}
.right_btn{
   display:flex;
    margin:0 5px 0 5px ;

    /*
    background-color:#eaeaea;
    border:1px solid #bababa;
    color:#333;
    */
    align-items: center;
}
.export_btn{
    display:flex;
    margin-left:auto;
    padding:5px 10px;
    cursor:not-allowed;
    background-color:#eaeaea;
    border:1px solid #bababa;
    color:#333;
    align-items: center;
}

.-current-week-{
background-color:red;
}

.calendar_div{
    align-self: center;
}





/* attendance flags start */
.at_st{
   font-weight: bold;
    text-transform: uppercase;
    padding: 10px 8px;
    display: inline-block;
    font-size: 90%;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    min-width:25px;
}
.at_st.present{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.at_st.absent{
       color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.at_st.leave{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.at_st.empty{
    color: #333;
    background-color: #eaeaea;
    border-color: #eaeaea;
}
/* attendance flags end */


@media screen and (max-width: 425px) {
    .control_container{
        flex-direction:column;
    }
    .export_btn{
        margin:auto;
        margin-top:5px;
    }
    .date_range_type_div{
        display: flex;
        align-self: center;
    }
}