<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        Move {{file_type}}
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form method="post" action="{% url 'app_file_manager:file_move' file %}?parent={{parent_name}}" class="js_file_update_form"
          id="file_crud_form" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="ma pl10 pr10 w100">
            <div class="flx flxc partitioned_form">

                <div class="partitioned_form_field">
                    <label class="required">{{file_type}} name:</label>
                    <div class="flx">{{file}}</div>
                </div>

                <div class="partitioned_form_field">
                    <label class="required">Move from:</label>
                    <div class="flx">{% if parent_name %}
                        {{parent_name}}
                        {% else %}
                        /
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>


        <div class="ma p10 w100">
            {% include 'app_file_manager/app_file/html//partial_file_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="file_crud_form">Move</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>
<script>{% include 'app_file_manager/app_file/js/file_list_submit.js' %}</script>
<script src="/luein_modal/luein-modal-close.js"></script>

