{% if form.non_field_errors %}
<div class="flx non_field_errors">
    <div class="non_field_errors_div">
        {{ form.non_field_errors }}
    </div>
</div>
{% endif %}

<div class="flx partitioned_form">
    <div class="form-left">
        <div class="partitioned_form_field">
            {{ form.old_name.label_tag }}
            {{ form.old_name }}
            {% if form.old_name.errors %}
            <span class="errorspan">{{ form.old_name.errors }}</span>
            {% endif %}
        </div>

        <div class="partitioned_form_field">
            {{ form.new_name.label_tag }}
            {{ form.new_name }}
            {% if form.new_name.errors %}
            <span class="errorspan">{{ form.new_name.errors }}</span>
            {% endif %}
        </div>

<!--upload file-->
        <div class="partitioned_form_field">
            {{ form.file.label_tag }}
            {{ form.file }}
            {% if form.file.errors %}
            <span class="errorspan">{{ form.file.errors }}</span>
            {% endif %}
        </div>

        {% if form.all_possible_root %}
        <div class="partitioned_form_field">
        {% if form.all_possible_root in form.visible_fields %}
            {{ form.all_possible_root.label_tag }}
        {% endif %}
            {{ form.all_possible_root }}
            {% if form.all_possible_root.errors %}
            <span class="errorspan">{{ form.all_possible_root.errors }}</span>
            {% endif %}
        </div>
        {% endif %}


    </div>
    <div class="form-right">


    </div>

</div>



