{% load static %}

<!--Modal header-->
<div class="luein-modal-header">
    <div class="luein-modal-header-text">
        File Upload
    </div>
    <span class="luein-modal-close">&times;</span>
</div>

<!--Modal body-->
<div class="luein-modal-body" id="luein-modal-body">
    <form method="post" action="{% url 'app_file_manager:file_upload' %}?parent={{parent_name}}" class="js_file_upload_form" id="file_crud_form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="ma p10 w100">
            {% include 'app_file_manager/app_file/html/partial_file_form.html' %}
        </div>
    </form>
</div>
<!--Modal footer-->
<div class="luein-modal-footer">
    <button type="submit" class="luein-modal-button submit" form="file_crud_form">Upload</button>
    <button class="luein-modal-button cancel">Cancel</button>
</div>
<script>{% include 'app_file_manager/app_file/js/file_list_submit.js' %}</script>
<script src="{% static 'luein_modal/luein-modal-close.js' %}"></script>

