
<form method="post" action="{% url 'app_file_manager:file_delete' file.file_name %}?parent={{parent_name}}" class="js_file_delete_form" id="file_crud_form" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="">Are you sure you want to Delete this file <strong>{{ file.file_name }}</strong> ?</p>
</form>

