
/* login mobile css start */
.modal-body{
    padding: 20px 20px;
}

@media screen and (max-width: 1024px) {
    .modal-content{
        width:50%
    }
}

@media screen and (max-width: 875px) {
    .modal-content{
        width:70%
    }
}

@media screen and (max-width: 768px) {
    .modal-content{
        width:95%
    }
}
/* login mobile css end */



/**/
.display_message{
    width:100%;
    margin:auto;
    padding: 10px 0;
}
.display_message li{
    padding: 5px 5px;
    list-style-type: none;
}

.display_message li.error{
    color: red;
    background-color: #ffe5e5;
}
.display_message li.success{
    color: green;
    background-color: #d8ebd8;
}
/**/

